/* CSS Document */

.ui_custom_dialog_trigger{
cursor:pointer;
}

.ui-dialog{
width:500px;
}
.ui-dialog-buttonset{
display:none;
}

.ui-slideshow-slide {
margin: 0px !important;
}

  .copyright {
font-size: 13px;
line-height: 31px;
width: 260px;
}
.map
{
text-align:center;
}

#area1{
height: 139px;
width: 178px;
position: absolute;
top: 76px;
left: 11px;}

#area2
{
height: 97px;
width: 165px;
position: absolute;
top: 272px;
left: 2px;}


#area3
{height: 101px;
width: 179px;
position: absolute;
top: 275px;
left: 224px;}


#area4{
height: 80px;
width: 39px;
position: absolute;
top: 239px;
left: 516px;
}

#area5
{
height: 28px;
width: 16px;
position: absolute;
top: 238px;
left: 555px;}

#area6{
height: 97px;
width: 111px;
position: absolute;
top: 274px;
left: 562px;}


 
.captionWth 
{
margin-left: 100px;
margin-top: 14px;
}
.topZero
{
    top: 0px !important;
  
    }
.topZero2
{
    color: #984842;
    position:relative;
    
    }

.img
{
 position: absolute;
margin-left: 4px;
margin-top: -8px;
}
.customPopDiv
{
position: absolute;
top: 39px;
left: 256px;
padding: 10px;
width: 398px;
border: 1px solid #000000;
background-color: #EFEFEF;
display: none;
height: 156px;
}

.customPopDiv > .head1
{
 font-weight: bolder;
margin-bottom: 2px;
width: 287px;
position: relative;
top: -10px;
}
.customPopDiv > .content1
{
width: 399px;
float: right;
font-size: 14px;
position: relative;
top: -9px;
}
.customPopDiv > .copyrights
{
    width: 332px;
    float: right;
    font-size: 13px;
}
.clickarea
{
    cursor:pointer;
}

 .close1
{
width: 26px;
height: 25px;
/ background: #939393; /
position: absolute;
margin-left: 392px;
margin-top: -19px;
z-index: 11;
background-image: url("../imgs/02_05_07_btnClose.png");
cursor:pointer;
}


.close2
{
    background-position: -309px 2px;
}

.copyrights
{
position: absolute;
margin-top: 243px;
margin-left: 34px;
   
}
.rights
{
position: absolute;
margin-top: 420px;
margin-left: 309px;
}