﻿.topZero {
	top: 0px !important;
/*	position: relative !important; 
	float: left; */
	margin-left: 10px;
	margin-right: 10px;
	position: absolute;
}
.topZero2 {
	color: #984842;
	padding: 0 0 20px 50px;
}
.jTimeline .timelineInfo .item {
	height: 460px !important;
}
.jTimeline .jcarousel-skin {
	height: 12%;
	bottom: 12px!important;
}
.jTimeline .jspPane {
	top: 0px !important;
}
.jTimeline .jspPane {
/*	position: static !important; */
}
.jTimeline {
	height: 480px !important;
	margin-top: -99px;
}
.img1 {
	float: left;
	margin-top: 82px;
	text-align: center;
}
.title1 {
	margin-top: 101px;
	font-size: 15px;
}
.content2 {
	font-size: 14px;
	width: 520px;
	margin-top: 12px;
}
.right1x {
	float: left;
	margin-left: 282px;
	margin-top: -236px;
}
.sub_main {
	font-size: 14px;
	margin-top: 4px;
}
.toggleSwitch {
	margin-bottom: 1px !important;
}
.txt_scroll {
	height: 169px;
	overflow-y: scroll;
}
