﻿.topZero {
	top: 0px !important;
	position: relative !important;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.topZero2 {
	color: #984842;
}
.DropsC {
	width: 610px !important;
	float: left;
	margin: 0px 0px 0px 0px;
}
.DragC {
	width: 700px;
	float: left;
	margin-top: 10px;
	margin-left: -7px;
}
.DragC>.draggable {
	width: 125px;
	height: 24px;
	text-align: center;
	padding: 3px;
	cursor: pointer;
	opacity: 1 !important;
	margin: 2px;
}
.droppables {
	width: 150px;
	min-height: 30px;
	margin: 4px 12px 2px -10px;
	padding: 0px;
	float: left;
	background-color: #4F81BD;
	color: #FFF;
	text-align: center;
	line-height: 28px;
	font-weight: bold;
}
.drop_txt {
	width: 136px;
	min-height: 25px;
	float: left;
	margin-left: -10px;
	border: medium none;
	font-size: 12px;
	line-height: 1.4em;
	padding: 28px 4px 0px 9px;
	background-color: #D0D8E8;
	font-weight: bold;
}
.drop_txts {
	width: 385px;
	min-height: 40px;
	margin: 4px 5px 5px -1px;
	padding: 0px;
	background-color: #4F81BD;
	color: #FFF;
	text-align: center;
	line-height: 37px;
	float: left;
}
.ui_interactive .bin {
	background-color: #F8F8F8;
	padding: 1px;
}
.DropsC ul {
	list-style-type: none;
	line-height: 18px;
	text-align: center;
	padding: 0px !important;
	margin: 0px;
}
.ui_interactive .draggable {
	opacity: 1 !important;
	cursor: pointer;
}
.wid {
	min-height: 51px;
	width: 147.4px;
	margin: 0px 0px 2px 3px;
	float: left;
	box-shadow: none !important;
}
.top {
	position: absolute !important;
	top: 0px !important;
	left: 0px !important;
}
.ui_interactive .assignment {
	margin-bottom: 0px;
	height: 50px;
}
.ui_interactive hr {
	display: none;
}
.ui_reset {
	display: none !important;
}
.copyrightact {
	margin-top: -30px;
	position: absolute;
	text-align: center;
	width: 650px;
	color: #000;
	font-size: 10px;
}
.ui_interactive .draggable p {
	padding-right: 0px !important;
	line-height: 12px;
	font-size: 12px;
}
.ui_interactive .ui-dialog {
	top: 200px !important;
}
.disableDiv {
	background-color: #d0d8e8;
}
.ui_interactive .ui-state-highlight {
	background: #F8F8F8 !important;
	border: 1px solid #CCC !important;
}
.ui_interactive .bin ul li {
	line-height: 16px;
}
.displa {
	display: none !important;
}

/*********** Text Version *************/
.row { border-bottom: black solid thin; margin-bottom: 0px;}
.row_1 { height:30px;}
.row_1 .col4 {height: 30px;}
.row_2 { height:50px;}
.row_2 .col4 {height: 50px;}
.row_3 { height:70px;}
.row_3 .col4 {height: 70px;}

.col4 > h3 { margin-bottom: 0;}
.col4 { margin-right: 1%; border-right: black solid thin;}
.col4_1 { width:24%;}
.col4_2 { width:23%;}
.col4_3 { width:23%;}
.col4_4 { width:23%;  margin-right: 0 !important;}

