﻿
.topZero
{
top: 0px !important;
position: relative !important;
float: left;
margin-left: 10px;
margin-right: 10px;
}
.topZero2
{
color: #984842;height: 55px;
}
#head
{
display:none;    
}

.ui_interactive .jTimeline .timelineInfo
{
height: 531px;
}

.ui_interactive .jTimeline .jcarousel-skin 
{ height: 77px;z-index: 1222;
}

.ui_interactive .jTimeline .jspPane 
{
top: 0px !important;
    
}
.txt
{
text-align: left;
}

.ui_interactive .jTimeline {
height: 560px !important;   
}
.title1
{
margin-top: 0px;
font-weight: bold;
font-size: 15px;
text-align: center;
}
 
.content1
{
text-align: center;
font-size: 14px;
margin-top: 3px;
margin-left: 9px;
line-height: 18px;
}
.ui_interactive .copyright
{
line-height:10px;  }
.hiddentool1
{
width: 310px;
min-height: 70px;
position: absolute;
top: 352px;
left: 179px;
z-index: 106;
padding: 10px;
background: #6d4672;
border-radius: 9px;
}
.aud
{
color: #003366;
font-weight: bold;
cursor: pointer;
line-height: 1.3em;
border-bottom: 1px dotted #003366;
}
.hiddencontent
{
color:#fff;
}
.close2{position: absolute;right: -9px;background-image: url("../images/08_03_03b_btnclose.png");background-repeat: no-repeat;top: -11px;z-index: 103;height: 26px;width: 25px;cursor:pointer;}
.a1
{
color:#000 !important;
}
.ui_interactive .jTimeline .jcarousel-skin .jcarousel-item-horizontal {
margin: 0;
width: 91px !important;
font-size:14px;
line-height:18px;
top:447px!important;
}

ui_interactive .item
{
height:444px !important;
}
ui_interactive .jcarousel-item-active
{
font-size:12px !important;
}
.jTimeline .jspContainer {
overflow: hidden;
position: relative;
height: 445px !important;
}
.item .item0 .jspScrollable
{
height:427px;
}
.ui_interactive
{
height:615px !important;
}
