﻿.topZero {

	top: 0px !important;

	position: relative !important;

	float: left;

	margin-left: 10px;

	margin-right: 10px;

}

.topZero {

	color: #984842;

	font-size: 14px;

	font-style: italic;

}

.topZero1 {

	color: #984842;

}

div.block {

	margin-top: 22px;

}

.copyrights {

	position: absolute;

	margin-top: -40px;

	font-size: 12px;

	margin-left: 260px;

	color: #ffffff;

}

.resize {

	text-align: center !important;

	font-weight: bold !important;

}

.down_copy {

	position: absolute;

	margin-top: -15px;

	font-size: 12px;

	margin-left: 237px;

	color: black;

}

.Text_top {

	font-size: 14px;

	line-height: 18px;

	margin-left: 4px;

	width: 615px;

}

.Text_left {

	width: 325px;

	font-size: 14px;

	line-height: 18px;

}

.Text_btm {

	font-size: 14px;

	line-height: 18px;

	width: 606px;

}

.Img {

	margin-top: -466px;

	margin-left: 348px;

	position: absolute;

	font-size: 12px;

	text-align: center;

}

.Img_txt {

	font-style: italic;

	font-size: 12px;

	line-height: 18px;

	margin-top: -236px;

	position: absolute;

	width: 268px;

	margin-left: 351px;

}

.left_txt2 {

	width: 312px;

	font-size: 14px;

	line-height: 18px;

	margin-top: 3px;

}

.right_img2 {

	margin-top: -392px;

	position: absolute;

	margin-left: 335px;

	text-align: center;

	font-size: 12px;

}

.Img_txttwo {

	font-style: italic;

	font-size: 12px;

	line-height: 18px;

	margin-top: -182px;

	position: absolute;

	width: 268px;

	margin-left: 339px;

}

.img_righttwo {

	text-align: center;

	font-size: 12px;

	margin-left: -297px;

	margin-top: 10px;

}

.right_txt2 {

	margin-top: -201px;

	position: absolute;

	margin-left: 337px;

	width: 283px;

}

.img_txt22 {

	position: absolute;

	font-style: italic;

	font-size: 12px;

	line-height: 18px;

	width: 269px;

	margin-left: 36px;

}

.tabs div.paneltab2 {

	height: 1200px !important;

}

.tabs div.paneltab4 {

	height: 674px !important;

}

.left_txt2two {

	width: 261px;

	font-size: 14px;

	line-height: 18px;

	margin-top: 157px;

	margin-left: 7px;

}

.imgthree {

	font-size: 12px;

	text-align: center;

	margin-top: -301px;

	position: absolute;

	margin-left: 337px;

}

.img_txtthree {

	position: absolute;

	font-style: italic;

	font-size: 12px;

	line-height: 18px;

	margin-top: 71px;

	margin-left: 325px;

	width: 279px;

}

.tab_threetxt {

	font-size: 14px;

	line-height: 18px;

	margin-left: 10px;

}

.copy {

	text-align: center;

	font-size: 12px;

	line-height: 0.4em;

	margin-top: -9px;

}

.htmltext_version_a toggleSwitch {

	display: none;

}

.last_txt {

	margin-left: 17px;

}

.MainFrame {

    background-color: white;

    border: 1px solid;

    height: 500px;

    margin: 16px auto 0;

    width: 700px;

}

.Boxes {

 	height: 45px;

 	margin-top: 19px;

}

#box1, #box2, #box3, #box4, #box5 {

    background-color: #f79646;

    border: 1px solid black;

    cursor: pointer;

    float: left;

    font-weight: bold;

    height: 40px;

    line-height: 2.4em;

    margin-top: 2px;

    text-align: center;

    width: 139px;

}

#box11, #box22, #box33, #box44, #box55 {

    border: 1px solid;
float: left;
font-size: 12px;
height: 300px;
line-height: 1.4em;
margin-top: -2px;
/* margin-left: 5px; */
width: 139px;

}





.li {

	line-height: 14px;

	margin-left: -3px;

	margin-top: 5px;

}

.txt_pop {

	font-size: 12px;

	line-height: 18px;

}

.copyrights {

	text-align: center;

	position: absolute;

	font-size: 14px;

	color: black;

	bottom: 13px;

	width: 650px;

	margin-left: -10px;

	margin-bottom: 12px;

}

.txt_pop ul {

	margin-left: -11px;

	margin-top: 20px;

	display: block;

	width: 97px;

}

.txt_pop ul li {

   line-height: 16px;
    margin-bottom: 8px;
    margin-left: 0;
}

.copyact {
	color: #003366;
	line-height: 14px;
}

.tabs {
	width: 825px;
}

.devideo { text-align:center; }

.width610 { width:610px !important; }

div.assignment {
margin: 40px 0px 20px 20px!important;
}

div.assignment img
{
    margin-top:10px;
}

div.mainVersion {
padding: 0;
width: 800px;
}

#box11 ul, #box22 ul, #box33 ul, #box44 ul, #box55 ul {

	display: none;
	margin-left:0px;

}

div#box11 ul,div#box22 ul,div#box33 ul,div#box44 ul,div#box55 ul
{
    margin-left:0px;
}