﻿


.nxt{
	 background:url(../intmedia/next.png) no-repeat;
	 width:37px; 
	 height:24px;
	 border:0px;
	 cursor:pointer;
}
.prev{
	 background:url(../intmedia/previous.png) no-repeat;
	 width:37px; 
	 height:24px;
	 border:0px;
	 filter: alpha(opacity = 30);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	 /*cursor:pointer;*/
}
.fl{float:left;}
.fr{ float:right;} 
.clr{clear:both;}
.btnpos {
	margin:6px 0px 0 0px;
	float:right;
}

.MCHead
{
    height:45px;
    padding:0px 10px 0px 20px;
}

.MCInstruction
{
    font-family:Arial;
    font-size:13px;
    font-style:italic;
    color:#984842;
    margin-left:55px;
	padding-top:0px;
	width:618px;
}

.pageNo {
    color: #025286;
    position: absolute;
	 margin: 10px 0 0 38px;
}
.contentTopBg2{
	background:url(../intmedia/content_topbg.png) no-repeat;
	 width:745px; 
	 height:28px;
}
.contentMiddleBg2{
	background:url(../intmedia/content_middlebg.png) repeat-y;
	 width:745px; height:auto; 
}
.contentBottomBg2{
	background:url(../intmedia/content_botbg.png) no-repeat;
	 width:715px; 
	 height:53px;
	 padding:0 30px 0 0px;

}
.rightContent{
	padding:5px;
	margin-left:20px;
	width:375px;
	height:auto;
}
.rightContent p{margin:0px; padding:0px;}

.rightContent h2{
	 color: #003366;
    font-size: 16px;
	padding:0px;
	margin:0px;
}
.caption{font-size:11px; }
.captionWth{width:270px; text-align:center; }
.pdTop10{padding-top:10px;}

[disabled] {
	opacity:0.4;
}
.hide{display:none;}
.set{padding:0px 33px;}

.navi_txt{ position:absolute; color: #569AC9;  margin: 10px 0 0 355px;}


.slide1Div{border:0px;}

.slide1Div{width:620px; height:210px;}
.leftDiv{width:200px; height:200px; border:1px solid; background:#CCCCCC; float:left; margin-left:100px; padding:3px 0 0 12px;}

.rightDiv{width:200px; height:200px; border:1px solid; background:#CCCCCC; float:left; padding:3px 0 0 12px; border-left:none; 	}

.slide2Div{width:620px; height:210px;}
.leftDiv2{width:130px; height:140px; border:1px solid; background:#CCCCCC; float:left; margin-left:100px; padding:3px 0 0 12px;}

.rightDiv2{width:130px; height:140px; border:1px solid; background:#CCCCCC; float:left; padding:3px 0 0 12px; border-left:none; 	}
.rightDiv2a{width:130px; height:140px; border:1px solid; background:#CCCCCC; float:left; padding:3px 0 0 12px; border-left:none; 	}

.slide3Div{width:620px; height:210px;}
.leftDiv3{width:145px; height:245px; border:1px solid; float:left; margin-left:265px; padding:3px 0 0 12px;}

.rightDiv3{width:145px; height:245px; border:1px solid; float:left; margin-left:265px; padding:3px 0 0 12px;}

.slide4Div{width:720px; height:210px;}
.leftDiv4{width:380px; height:180px; border:1px solid; background:#CCCCCC; float:left; padding:3px 0 0 12px; margin-left:160px;}


.slide4Tab{ border:0px !important; width:330px;}

.slide4Tab td{ border:0px !important; vertical-align:middle;}

.magClassWH {float:right;width:306px;height:300px;}

.cpy_right {
    color: #0A0B0C;
    font-size: 11px;
    margin: 10px 0 0 216px;
	position:absolute;
}

.rightContent_big{width:490px !important;}

.s_heading{  color: #C50219;
    font-size: 15px;
    font-weight: bold;
    height: 35px;
    text-align: center;}
	
.map1{ position:absolute; margin:418px 0 0 139px; top:0px; left:0px;}
.map2{ position:absolute; margin:227px 0 0 234px; top:0px; left:0px;}
.map3{ position:absolute; margin:258px 0 0 179px; top:0px; left:0px;}
.map3a{ position:absolute; margin:477px 0 0 59px; top:0px; left:0px;}
.map2a{ position:absolute; margin:382px 0 0 261px; top:0px; left:0px;}
.map2b{ position:absolute; margin:404px 0 0 150px; top:0px; left:0px;}
.map2c{ position:absolute; margin:168px 0 0 282px; top:0px; left:0px;}
.map2d{ position:absolute; margin:285px 0 0 426px; top:0px; left:0px;}
.map2e{ position:absolute; margin:128px 0 0 234px; top:0px; left:0px;}

.map4{ position:absolute; margin:179px 0 0 261px; top:0px; left:0px;}
.map4a{ position:absolute; margin:452px 0 0 70px; top:0px; left:0px;}
.map4b{ position:absolute; margin:498px 0 0 70px; top:0px; left:0px;}
.map4c{ position:absolute; margin:346px 0 0 81px; top:0px; left:0px; cursor:pointer;}
.img2{ margin:0px 0 0 65px;}

.clk1_1{  cursor: pointer;
    height: 38px;
    margin: 394px 0 0 114px;
    position: absolute;
    top: 0;
    width: 65px;
	 filter: alpha(opacity = 0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	background:#FFFFFF;
	opacity:0;	
	left:0px;
	 }
.clk1_2{ cursor:pointer;  
    height: 24px;
    margin: 469px 0 0 216px;
    position: absolute;
    top: 0;
    width: 6px; 
	left:0px;
	 }
.clk1_3{ cursor:pointer; 
    height: 24px;
    margin: 458px 0 0 213px;
    position: absolute;
    top: 0;
    width: 6px; left:0px;
	 }
.clk2_1{  
    cursor: pointer;
    height: 26px;
    margin: 272px 0 0 417px;
    position: absolute;
    top: 0;
    width: 34px;
	 filter: alpha(opacity = 0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	background:#FFFFFF;
	opacity:0;
	 left:0px;
	 }
.clk2_2{   
    cursor: pointer;
    height: 25px;
    margin: 111px 0 0 188px;
    position: absolute;
    top: 0;
    width: 71px;
	 filter: alpha(opacity = 0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	background:#FFFFFF;
	opacity:0;
	left:0px;
	 }
.clk2_3{   
    cursor: pointer;
    height: 37px;
    margin: 145px 0 0 258px;
    position: absolute;
    top: 0;
    width: 53px;
	 filter: alpha(opacity = 0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	background:#FFFFFF;
	opacity:0;
	 left:0px;
	 }
.clk2_4{    
    cursor: pointer;
    height: 27px;
    margin: 364px 0 0 229px;
    position: absolute;
    top: 0;
    width: 75px;
	 filter: alpha(opacity = 0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	background:#FFFFFF;
	opacity:0;
	left:0px;
	 }
.clk2_5{     
    cursor: pointer;
    height: 40px;
    margin: 391px 0 0 104px;
    position: absolute;
    top: 0;
    width: 59px;	 filter: alpha(opacity = 0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	background:#FFFFFF;
	opacity:0;
left:0px;
	 }
.clk2_6{   
    cursor: pointer;
    height: 97px;
    margin: 361px 0 0 190px;
    position: absolute;
    top: 0;
    width: 37px;	 filter: alpha(opacity = 0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	background:#FFFFFF;
	opacity:0;
left:0px;
	 }
.clk2_7{    
    cursor: pointer;
    height: 61px;
    margin: 397px 0 0 107px;
    position: absolute;
    top: 0;
    width: 22px;	 filter: alpha(opacity = 0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	background:#FFFFFF;
	opacity:0;
left:0px;
	 }
.clk2_8{     
    cursor: pointer;
    height: 169px;
    margin: 191px 0 0 217px;
    position: absolute;
    top: 0;
    width: 22px;	 filter: alpha(opacity = 0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	background:#FFFFFF;
	opacity:0;
left:0px;
	 }
.clk2_9{   
    cursor: pointer;
    height: 30px;
    margin: 429px 0 0 129px;
    position: absolute;
    top: 0;
    width: 17px;	 filter: alpha(opacity = 0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	background:#FFFFFF;
	opacity:0;
left:0px;
	 }
.clk2_10{   
    cursor: pointer;
    height: 30px;
    margin: 336px 0 0 200px;
    position: absolute;
    top: 0;
    width: 17px;	 filter: alpha(opacity = 0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	background:#FFFFFF;
	opacity:0;
left:0px;
	 }
.clk2_11{    
    cursor: pointer;
    height: 42px;
    margin: 212px 0 0 203px;
    position: absolute;
    top: 0;
    width: 45px;	 filter: alpha(opacity = 0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	background:#FFFFFF;
	opacity:0;
left:0px;
	 }
.clk2_12{     
    cursor: pointer;
    height: 30px;
    margin: 251px 0 0 223px;
    position: absolute;
    top: 0;
    width: 17px;	 filter: alpha(opacity = 0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	background:#FFFFFF;
	opacity:0;
left:0px;
	 }
.clk2_13{    
    cursor: pointer;
    height: 17px;
    margin: 278px 0 0 207px;
    position: absolute;
    top: 0;
    width: 17px;	 filter: alpha(opacity = 0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	background:#FFFFFF;
	opacity:0;
left:0px;
	 }
.clk2_14{  
    cursor: pointer;
    height: 18px;
    margin: 279px 0 0 199px;
    position: absolute;
    top: 0;
    width: 17px;	 filter: alpha(opacity = 0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	background:#FFFFFF;
	opacity:0;
left:0px;
	 }

.page1_c1, .page2_c1, .page2_c2, .page2_c3, .page3_c1, .page4_c1, .page4_c2, .page4_c3{display:none;}

.clk3_1{      
    cursor: pointer;
    height: 57px;
    margin: 235px 0 0 158px;
    position: absolute;
    top: 0;
    width: 64px;	 filter: alpha(opacity = 0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	background:#FFFFFF;
	opacity:0;
left:0px;
	 }
.clk3_2{      
    cursor: pointer;
    height: 43px;
    margin: 447px 0 0 41px;
    position: absolute;
    top: 0;
    width: 64px;	 filter: alpha(opacity = 0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	background:#FFFFFF;
	opacity:0;
left:0px;
	 }
.clk3_3{    
    cursor: pointer;
    height: 28px;
    margin: 294px 0 0 188px;
    position: absolute;
    top: 0;
    width: 17px;	 filter: alpha(opacity = 0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	background:#FFFFFF;
	opacity:0;
left:0px;
	 }
.clk3_4{    
    cursor: pointer;
    height: 18px;
    margin: 320px 0 0 156px;
    position: absolute;
    top: 0;
    width: 27px;	 filter: alpha(opacity = 0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	background:#FFFFFF;
	opacity:0;
left:0px;
	 }
.clk3_5{      
    cursor: pointer;
    height: 167px;
    margin: 370px 0 0 6px;
    position: absolute;
    top: 0;
    width: 44px;	 filter: alpha(opacity = 0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	background:#FFFFFF;
	opacity:0;
left:0px;
	 }
.clk3_6{    
    cursor: pointer;
    height: 116px;
    margin: 421px 0 0 50px;
    position: absolute;
    top: 0;
    width: 22px;	 filter: alpha(opacity = 0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	background:#FFFFFF;
	opacity:0;
left:0px;
	 }
.clk3_7{   
    cursor: pointer;
    height: 80px;
    margin: 456px 0 0 69px;
    position: absolute;
    top: 0;
    width: 17px;	 filter: alpha(opacity = 0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	background:#FFFFFF;
	opacity:0;
left:0px;
	 }

.clk3_8{   
    cursor: pointer;
    height: 38px;
    margin: 499px 0 0 83px;
    position: absolute;
    top: 0;
    width: 17px;	 filter: alpha(opacity = 0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	background:#FFFFFF;
	opacity:0;
left:0px;
	 }

.clk4_1{      
    cursor: pointer;
    height: 27px;
    margin: 434px 0 0 41px;
    position: absolute;
    top: 0;
    width: 64px;	 filter: alpha(opacity = 0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	background:#FFFFFF;
	opacity:0;
left:0px;
	 }
.clk4_2{  
    cursor: pointer;
    height: 43px;
    margin: 151px 0 0 246px;
    position: absolute;
    top: 0;
    width: 49px;  
    	 filter: alpha(opacity = 0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	background:#FFFFFF;
	opacity:0;
left:0px;
	 }
.clk4_3{   
    cursor: pointer;
    height: 25px;
    margin: 482px 0 0 42px;
    position: absolute;
    top: 0;
    width: 64px;	 filter: alpha(opacity = 0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	background:#FFFFFF;
	opacity:0;
left:0px;
	 }

.clk4_4{   
    cursor: pointer;
    height: 21px;
    margin: 304px 0 0 52px;
    position: absolute;
    top: 0;
    width: 51px;	 filter: alpha(opacity = 0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	background:#FFFFFF;
	opacity:0;
left:0px;
	 }
.clk4_5{    
    cursor: pointer;
    height: 105px;
    margin: 114px 0 0 273px;
    position: absolute;
    top: 0;
    width: 21px;	 filter: alpha(opacity = 0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	background:#FFFFFF;
	opacity:0;
left:0px;
	 }

.clk4_6{       
    cursor: pointer;
    height: 62px;
    margin: 138px 0 0 247px;
    position: absolute;
    top: 0;
    width: 28px;	 filter: alpha(opacity = 0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	background:#FFFFFF;
	opacity:0;
left:0px;
	 }
.clk4_7{   
    cursor: pointer;
    height: 88px;
    margin: 115px 0 0 220px;
    position: absolute;
    top: 0;
    width: 17px;	 filter: alpha(opacity = 0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	background:#FFFFFF;
	opacity:0;
left:0px;
	 }

.clk4_8{   
    cursor: pointer;
    height: 8px;
    margin: 327px 0 0 68px;
    position: absolute;
    top: 0;
    width: 7px;	 filter: alpha(opacity = 0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	background:#FFFFFF;
	opacity:0;
left:0px;
	 }
.clk4_9{    
    cursor: pointer;
    height: 8px;
    margin: 349px 0 0 47px;
    position: absolute;
    top: 0;
    width: 7px;	 filter: alpha(opacity = 0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	background:#FFFFFF;
	opacity:0;
left:0px;
	 }
.clk4_10{  
    cursor: pointer;
    height: 8px;
    margin: 340px 0 0 55px;
    position: absolute;
    top: 0;
    width: 7px;	 filter: alpha(opacity = 0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	background:#FFFFFF;
	opacity:0;
left:0px;
	 }
.clk4_11{   
    cursor: pointer;
    height: 8px;
    margin: 332px 0 0 61px;
    position: absolute;
    top: 0;
    width: 7px;	 filter: alpha(opacity = 0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	background:#FFFFFF;
	opacity:0;
left:0px;
	 }
	

.width665{ width:665px !important;}

.mtop-60{margin-top:-60px;}
.mtop-100{margin-top:-100px;}

.mleft-100{margin-left:-100px;}


/*flvs*/
.contentBottomBg2 input[type=button] {
  width: 38px;
}

.audioTip {
  visibility: visible;
}