﻿
.fl{float:left;}
.fr{ float:right;} 
.clr{clear:both;}
.btnpos {
    bottom: 23px;
    position: absolute;
    right: 30px;
}
.pageNo {
    bottom: 27px;
    color: #025286;
    left: 40px;
    position: absolute;
}
.contentTopBg{
	background:url(../imgs/content_topbg.png) no-repeat;
	 width:745px; 
	 height:28px;
}
.contentMiddleBg{
	background:url(../imgs/content_middlebg.png) repeat-y; height:465px;
	 width:745px; 
}
.contentBottomBg1{
	background:url(../imgs/content_botbg1.png) no-repeat;
	 width:745px; 
	 height:28px;
}
.popup{
	position:absolute;
	top:70px;
	left:40px;
	padding:10px;
	width:640px;
	border:1px solid #000000;
	background-color:#EEEEEE;
	display:none;
	z-index:500;
}

.num1{
    cursor: pointer;
    height: 39px;
    left: 0;
    margin: 247px 0 0 80px;
    position: absolute;
    top: 0;
    width: 109px;
    z-index: 100;}
.num2{
    cursor: pointer;
    height: 39px;
    left: 0;
    margin: 141px 0 0 587px;
    position: absolute;
    top: 0;
    width: 109px;
    z-index: 100;}
.num3{
    cursor: pointer;
    height: 39px;
    left: 0;
    margin: 208px 0 0 206px;
    position: absolute;
    top: 0;
    width: 108px;
    z-index: 100;}
.num4{
    cursor: pointer;
    height: 39px;
    left: 0;
    margin: 107px 0 0 234px;
    position: absolute;
    top: 0;
    width: 109px;
    z-index: 100;}
.num5{cursor: pointer;
    height: 39px;
    left: 0;
    margin: 316px 0 0 459px;
    position: absolute;
    top: 0;
    width: 108px;
    z-index: 100;}
.num6{
    cursor: pointer;
    height: 39px;
    left: 0;
    margin: 244px 0 0 321px;
    position: absolute;
    top: 0;
    width: 109px;
    z-index: 100;}
.num7{
    cursor: pointer;
    height: 39px;
    left: 0;
    margin: 147px 0 0 116px;
    position: absolute;
    top: 0;
    width: 109px;
    z-index: 100;}
.num8{
    cursor: pointer;
    height: 39px;
    left: 0;
    margin: 125px 0 0 423px;
    position: absolute;
    top: 0;
    width: 108px;
    z-index: 100;}
.num9{
    cursor: pointer;
    height: 39px;
    left: 0;
    margin: 74px 0 0 350px;
    position: absolute;
    top: 0;
    width: 109px;
    z-index: 100;}
.num10{
    cursor: pointer;
    height: 39px;
    left: 0;
    margin: 182px 0 0 460px;
    position: absolute;
    top: 0;
    width: 109px;
    z-index: 100;}
.num11{
    cursor: pointer;
    height: 39px;
    left: 0;
    margin: 245px 0 0 560px;
    position: absolute;
    top: 0;
    width: 109px;
    z-index: 100;}

.popup h2{
	color: #000000;
    font-size: 14px;
	padding:0px;
	margin:0px 0 0 5px;;
}
.caption{font-size:11px; }
.captionWth{ padding:5px 25px 0px 25px; }
.pdTop10{padding-top:10px;}

[disabled] {
	opacity:0.4;
	filter: alpha(opacity = 0);
 -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

}
.hide{display:none;}
.MCHead {
    height: 25px;
    padding: 0px 10px 10px 24px;
}
.MCInstruction {
    color: #984842;
    font-family: Arial;
    font-size: 13px;
    font-style: italic;
    margin-left: 10px;
}

.overlay{width:745px;; height:513px; top:0px; display:none; position:absolute; z-index:101; background:black; opacity:0.4;filter: alpha(opacity = 40);
 -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";}

.imgDiv{ width:212px; float:left; padding:10px;}
.rightContent{ float:left; width:375px; padding:10px 0 0 25px;}

.copyright{ float:left; width:212px; text-align:center; font-size:12px;}

.m8l7_755width{ width: 755px !important;}
.imgDiv1{ width:346px; float:left; padding:10px;}
.rightContent1{ float:left; width:231px; padding:10px 0 0 25px;}

.copy_right1{ float:left; width:346px; text-align:center; font-size:12px;}

.rightContent2{ float:left; width:610px; padding:0px 0 0 20px;}

.marginleft_153{   margin-left: -153px; }

.activeInteractive {  margin-top:20px!important;}