﻿body {
}
img{ border:0px;}
.SlideShow
{
    display:block;
    width:757px; 
}
.center {
  text-align: center;
}
p{
	margin-left:20px;
}
.SlideShow .InterBody
{
    font-family:Arial;
    font-size:12px;
    color:#000000;
    width:736px; 
    height:611px;
    position:relative;
    background-color:#eff8ff;
    line-height:14px;
}
.hide{ display:none;}
.contentMiddleBg{	background:url(../imgs/content_middlebg.png) repeat-y;height:550px;	 width:745px; }

.contentTopBg{	background:url(../imgs/content_topbg.png) no-repeat;	 width:745px; 	 height:28px; }

.contentBottomBg{	background:url(../imgs/content_botbg.png) no-repeat;	 width:745px; 	 height:53px; position:absolute;}

.mouse_icon{ float:left; display:inline;  margin:5px 0 0 24px;}

.instr_txt{ font-size:12px; font-style:italic; color:#881401; float:left; display:inline; width:635px; margin:11px 0 0 10px!important;}

.con_div{ float:left; display:inline; width:737px; margin:15px 0 0 0;}

.footer_div{  position: absolute; display:inline;  height:50px;}

.cpy_right{ position:absolute;  display:inline; font-size:11px; color:#0A0B0C; margin:11px 0 0 355px; width:358px;}

#submit{ background:url(../imgs/submit_btn.png) no-repeat; height:24px; width:116px; margin:7px 13px 0 0; opacity:0.6; float:right;}

#restart{ background:url(../imgs/restart_btn.png) no-repeat; height:24px; width:116px; margin:7px 13px 0 0; float:right; display:none; cursor:pointer;}

.width{width:100%; float:left;}
.flt{float:left;}

.slide_prev{ float:left; margin:123px 0 0 39px;}

.slide_next{ float:left; margin:123px 0 0 23px; cursor:pointer;}

.slide_con{ float:left;width:569px; margin:0px 0 0 20px; overflow:hidden;}

.slide_img{ float:left; display:inline; margin:10px 0 0 150px; height:253px; width:281px;}

.slide_caption{ float:left; clear:left;font-size:13px; margin:5px 0 0 20px !important; width:540px; }

.slide_copyright{ float:left; clear:left; font-size: 12px;  text-align: center; width:569px; margin-top:5px;}

.slide_con1{ width:5500px; height: 550px;}

.slide1, .slide2, .slide3, .slide4, .slide5, .slide6, .slide7, .slide8, .slide9{ float:left; display:inline;  height: 372px;
    width: 570px; border:0px solid;}

.pageNo { background-image: url("../imgs/counter_btn.png");
    color: #025286;
    font-size: 14px;
    height: 20px;
    margin: 6px 0 0 33px;
    padding: 5px 8px 0 11px;
    position: absolute;
    width: 24px;
}

.MCFoot
{
     order-top:dashed 1px #025286;
   
     background-color:#bce4fe;
}

.MCOption
{
    margin:10px 0px 0px 20px;
	float:left;
	width:365px;
	clear:both;
}

.head_img{ float:left; display:inline; width:570px;}