﻿.img {
	float: left;
	margin-left: 131px;
}
.copyright1 {
	text-align: center;
	font-size: 11px;
}
.slide_txt {
	position: absolute;
	margin-top: 288px;
	width: 450px;
	margin-left: 15px;
	font-style: italic;
}
.copyright {
	font-size: 12px !important;
	line-height: 16px !important;
	text-align: center;
}
.carousel .cslider .card {
	background-color: #F7F7F7;
	border: solid 1px #e8e8e8;
	width: 500px;
	height: 428px !important;
	padding: 10px;
	float: left;
	margin-right: 10px;
}

.carousel a:hover {
color: #6d4672;
color: #333333 !important;
}

.icon {
margin: 20px;
}

.ui_interactive .content {
	margin-left: 71px;
/* width: 300px; */
/* display: Block; */
}
.htmltext_version {
	width:650px !important;	
}

.ui_interactive {
	height: 586px !important;	
}

.ui_interactive .copyright {
margin-top: -59px;
}

.carousel .carousel-prev {
display: block;
position: absolute;
left: -40px;
top: 150px;
font-size: 40px;
width: 48px;
height: 48px;
}

 .carousel-prev {
display: block;
position: absolute;
left: -40px;
top: 150px;
font-size: 40px;
width: 48px;
height: 48px;
}

.carousel-prev {
text-decoration: none;
}

.carousel .carousel-next {
display: block;
position: absolute;
right: -45px;
top: 150px;
font-size: 40px;
width: 48px;
height: 48px;
}

.carousel-next {
display: block;
position: absolute;
right: -45px;
top: 150px;
font-size: 40px;
width: 48px;
height: 48px;
}

.carousel .container {
/*width: 100%;
height: 100%;*/
overflow: hidden;
position: absolute;
top: 0;
left: 0;
}

.container {
padding-top: 0px;
margin-left:54px;
}

.carousel {
width: 700px;
height: 300px;
margin: 0 auto;
margin-bottom: 20px;
position: relative;
padding: 0;
}
.carousel {
line-height: 1;
}

.container {
width: auto;
width: 520px;
}

   .carousel-control.right {
display: block;
position: absolute;
right: 0px;
top: 150px;
font-size: 48px;
width: 48px;
height: 48px;

}

.carousel-control
{
    background: rgba(34, 34, 34, 0);
color:#08c;
opacity: 1.5;
border: 3px solid rgba(255, 255, 255, 0);
font-size: 48px;
}
.slide_copyright {
  float: left;
  clear: left;
  font-size: 12px;
  text-align: center;
  width: 240px;
  margin-top: 0px;
}