﻿.img
{
    text-align: center;
    position: absolute;
    margin-left: -9px;
    margin-top: -12px;
    font-size: 12px;
}

.img2
{
    text-align: center;
    position: absolute;
    margin-left: -3px;
    margin-top: -12px;
    font-size: 12px;
}

.txt_bottom
{
    position: absolute;
    margin-top: 354px;
    margin-left: -11px;
    width: 615px;
    font-style: italic;
}

.txt_right
{
    position: absolute;
    margin-left: 277px;
    margin-top: -5px;
    width: 360px;
}
.topZero
{
    top: 0px !important;
    position: relative !important;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}
.topZero2
{
    color: #984842;
}

/*flvs*/
.img, .txt_right
{
    margin-top: 10px;
}

.txt_bottom {
  margin-top: 375px;
}