﻿
.fl{float:left;}
.fr{ float:right;} 
.clr{clear:both;}
.btnpos {
    bottom: 23px;
    position: absolute;
    right: 30px;
}
.pageNo {
    bottom: 27px;
    color: #025286;
    left: 40px;
    position: absolute;
}
.contentTopBg{
	background:url(../imgs/content_topbg.png) no-repeat;
	 width:745px; 
	 height:28px;
}
.contentMiddleBg{
	background:url(../imgs/content_middlebg.png) repeat-y; height:auto;
	 width:745px; 
}
.contentBottomBg1{
	background:url(../imgs/content_botbg1.png) no-repeat;
	 width:745px; 
	 height:28px;
}
.popup{
	position:absolute;
	top:160px;
	left:140px;
	padding:10px;
	width:450px;
	border:1px solid #000000;
	background-color:#EEEEEE;
	display:none;
	z-index:500;
}

 
.popup h2{
	color: #000000;
    font-size: 14px;
	padding:0px;
	margin:0px;
}
.caption{font-size:11px; } 
.pdTop10{padding-top:10px;}

[disabled] {
	opacity:0.4;
}
.hide{display:none;}
.MCHead {
    height: 25px;
    padding: 0px 10px 10px 24px;
}
.MCInstruction {
    color: #984842;
    font-family: Arial;
    font-size: 13px;
    font-style: italic; 
    padding:0 0 20px 10px;
    width: 640px;
	float:left;
}

.overlay{width:100%; height:100%; top:0px; display:none; position:absolute; z-index:101;background:#ffffff; opacity:0; 	  filter: alpha(opacity=0);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.toolTipClose {
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  top: -8px;
  right: -8px;
  background: url(../imgs/btnClose.png) no-repeat;
}
.center {
  text-align: center;
}