﻿.topZero{top: 0px !important;position: relative !important;float: left;margin-left: 10px;margin-right: 10px;}
.topZero2{color: #984842;height: 45px;} 
.top_margin
{
margin-top: -20px;
}
.ui_interactive .ui_custom_dialog_trigger{
cursor:pointer;
}
.ui_interactive .ui-dialog-buttonset
{
display:none;
}
.ui_interactive .ui-dialog{
width: 600px;
height:500px;
top: -1px !important;
left: 1px !important;
}
.sub_txt
{
font-size: 14px;
line-height: 1.4em;
width: 182px;
margin-left: 371px;
}
.main
{
font-weight: bold;
margin-left: 370px;
margin-top: 40px;
}
.main1{
font-weight: bold;
margin-left: 266px;
margin-top: 40px;
}
.sub_txt1
{
font-size: 14px;
line-height: 1.4em;
width: 255px;
margin-left: 271px;
}
.img1
{
width: 200px;
margin-left: 54px;
}
.img2
{
float: left;
margin-left: 322px;
margin-top: -173px;
} 
.pop_img
{
text-align:center;
float: left;
margin-top: 24px;
}
#chinese
{
margin-left: 0px;
margin-top: 16px;
position: absolute;
}
#imperialism{
margin-top: 18px;
position: absolute;
}
.sub_txt2{
font-size: 14px;
line-height: 1.4em;
width: 241px;
margin-left: 336px;
}
.main2
{
font-weight: bold;
margin-left: 342px;
margin-top: 40px;
}
.copyrights
{
position: absolute;
margin-top: 431px;
font-size: 15px;
margin-left: 273px;
color: #000000;
}