@charset "utf-8";
body,ul,ol,h1,h2,h3,h4,p,dl,dt,dd{
margin:0px;
padding:0px;
}
body{
min-width:792px;
background-repeat:no-repeat;
background-position:left 50px;
background-attachment:fixed;
}
div#header, div#header h1, div#page, div#footer{
margin:0px auto;
width:790px;
}
div#header h1, div#page{

}
div#header{

height:153px;
position:relative;
z-index:999;
}
div#banner{
margin:0px auto;
margin-left:-1px;
width:792px;
height:153px;
background-position:center top;
background-repeat:no-repeat;

}
div#logo{
height:60px;
}
div#header ul#nav, div#header ul#nav ul{
list-style-type:none;
}
div#header ul#nav ul{
position:absolute;
}
div#header ul#nav{
padding-left:8px;
height:26px;
}
div#header ul#nav li.tab, div#header ul#nav li.smallTab{
margin-right:2px;
float:left;
}
div#header ul#nav li.tab ul, div#header ul#nav li.smallTab ul{
text-align:left;
display:none;
}
div#header ul#nav li.tab:hover ul, div#header ul#nav li.smallTab:hover ul{
width:150px;
display:block;
background-color:#FFF;
border:1px solid #FFF;
z-index:1000;
}
div#header ul#nav li#lesson:hover ul{
width:250px;
}
div#header ul#nav li.tab:hover ul li a, div#header ul#nav li.smallTab:hover ul li a{
padding-left:7px;
font-size:11px;
font-family:Arial, Helvetica, sans-serif;
border-bottom:1px solid #EFEFEF;
}
div#header ul#nav li.tab:hover ul li a:hover, div#header ul#nav li.smallTab:hover ul li a:hover{
background-color:#EFEFEF;
}
div#header ul#nav li.tab:hover ul li dl dt{
padding-left:7px;
color:#000;
font-size:12px;
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
}
div#header ul#nav li, div#header ul#nav li a{
color:#666;
display:block;
text-decoration:none;
}
div#header ul#nav li.tab{
width:105px;
line-height:26px;
text-align:center;
font-size:14px;
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
background-image:url("../images/global/btnTab.png");
background-position:left -26px;
}
div#header ul#nav li.tab:hover{
background-position:left 0px;
cursor:pointer;
}
div#header ul#nav li.active{
background-position:left 0px;
}
div#header ul#nav li#prev{
margin-left:20px;
background-image:url("../images/global/btnPrevOn.png");
}
div#header ul#nav li#prev a{
background-image:url("../images/global/btnPrevOff.png");
}
div#header ul#nav li#prev a:hover{
background:none;
}
div#header ul#nav li#home{
background-image:url("../images/global/btnHomeOn.png");
}
div#header ul#nav li#home a{
background-image:url("../images/global/btnHomeOff.png");
}
div#header ul#nav li#home a:hover{
background:none;
}
div#header ul#nav li#next{
background-image:url("../images/global/btnNextOn.png");
}
div#header ul#nav li#next a{
background-image:url("../images/global/btnNextOff.png");
}
div#header ul#nav li#next a:hover{
background:none;
}
div#header ul#nav li#gloss{
background-image:url("../images/global/btnGlossOn.png");
}
div#header ul#nav li#gloss a{
background-image:url("../images/global/btnGlossOff.png");
}
div#header ul#nav li#gloss a:hover{
background:none;
}
div#header ul#nav li#notes{
background-image:url("../images/global/btnNotesOn.png");
}
div#header ul#nav li#notes a{
background-image:url("../images/global/btnNotesOff.png");
}
div#header ul#nav li#notes a:hover{
background:none;
}
div#header ul#nav li#next, div#header ul#nav li#notes{
margin-right:20px;
}
div#header ul#nav li.smallTab, div#header ul#nav li.smallTab a{
width:35px;
height:26px;
}
div#header ul#nav li.smallTab a{
display:block;
}
div#header ul#nav li span{
display:none;
}
div#header h1{

padding-left:20px;
width:770px;
line-height:66px;
color:#1873b8;
font-size:18px;
font-family:Arial, Helvetica, sans-serif;
font-weight:normal;
border-bottom:1px solid #FFF;
}
div#header div#crumbs{
font-size:12px;
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
position:absolute;
top:112px;
right:20px;
}
div#page{
background-color:#e9e5e5;
}
div#content{
padding-top:20px;
padding-bottom:20px;
}
div#content p{
padding:10px;
padding-left:40px;
padding-right:40px;
font-size:12px;
line-height:18px;
font-family:Arial, Helvetica, sans-serif;
}
div#content span.glossary{
color:#1f6e9d;
font-weight:bold;
}
div#content h2{
margin-top:20px;
margin-bottom:20px;
color:#FFF;
text-align:center;
line-height:31px;
font-size:18px;
font-family:Arial, Helvetica, sans-serif;
background-color:#5c7424;
background-image:url("../images/global/bgH2.png");
}
div#content h3{
margin:40px;
margin-top:20px;
margin-bottom:20px;
color:#5d7425;
font-family:Arial, Helvetica, sans-serif;
clear:both;
}
div#content h4{
margin:40px;
margin-top:20px;
margin-bottom:20px;
font-family:Arial, Helvetica, sans-serif;
}
div#content ul, div#content ol{
margin-left:70px;
margin-right:40px;
margin-top:20px;
margin-bottom:20px;
font-size:12px;
font-family:Arial, Helvetica, sans-serif;
}
div#content ul li, div#content ol li{
line-height:20px;
}
div#content div.whiteBox{
margin:40px;
margin-top:20px;
margin-bottom:20px;
padding:0px;
background-color:#FFF;
border-top:2px solid #CCC;
border-bottom:2px solid #CCC;
}
div#content div p{
margin:20px;
margin-top:10px !important;
margin-bottom:10px !important;
padding:0px !important;
}
/*
span.tooltip{
color:#1f6e9d;
font-weight:bold;
white-space:nowrap;
text-decoration:underline;
}
span.tooltip span{
display:none;
white-space:normal;
}
span.tooltip:hover{
cursor:pointer;
position:relative;
text-decoration:none;
}
span.tooltip:hover span{
padding:10px;
width:250px;
color:#000;
display:block;
position:absolute;
left:0px;
top:20px;
font-weight:normal;
background-color:#FFF;
border:1px solid #1f6e9d;
text-decoration:none !important;
z-index:1000;
}
*/

/*Tooltips*/
div#content span.tooltip{color:#d6244e;font-weight:bold;white-space:nowrap;border-bottom:1px dotted #990000;position:relative;}
div#content span.tooltip:hover{cursor:pointer;}
div#content span.tooltip{text-decoration:none;}
div#content span.tooltip span{padding:10px;padding-right:30px;width:220px;color:#FFF;display:block;position:absolute;white-space:normal;left:0px;top:20px;font-weight:normal;background-color:#000;text-decoration:none;z-index:1000;}
div#content span.tooltip span.tipRight{left:auto;right:0px;}
/*Close Button*/
button.close{padding:0px;margin:0px auto;padding-right:30px;width:30px;height:30px;line-height:30px;color:#FFF;font-weight:bold;text-align:left;background:none;border:none;background-repeat:no-repeat;background-position:right center;background-image:url("../images/global/icon_deleteSmall.png");position:absolute;right:2px;top:0px;}
button.close:hover{cursor:pointer;}
/*Properly Hide Items with this Class*/
.notVisible, button.close span{width:0px;height:0px !important;overflow:hidden !important;visibility:hidden;position:absolute;}

span.rollover{
	color:#0C6;
	font-weight:bold;
	white-space:nowrap;
	text-decoration:underline;
}
span.rollover span{
display:none;
white-space:normal;
}
span.rollover:hover{
cursor:pointer;
position:relative;
text-decoration:none;
}
span.rollover:hover span{
padding:10px;
width:250px;
color:#000;
display:block;
position:absolute;
left:0px;
top:20px;
font-weight:normal;
background-color:#FFF;
border:1px solid #1f6e9d;
text-decoration:none !important;
z-index:1000;
}

div.swfObject{
margin:0px auto;
text-align:center;
}
div.swfObject object{
margin:0px auto;
}
dl.clickReveal{
margin:40px;
margin-top:10px;
margin-bottom:30px;
padding:0px;
display:block;
position:relative;
}
dl.clickReveal dt, dl.clickReveal dd{
margin:0px;
padding:0px;
}
dl.clickReveal dt{
padding-left:30px;
color:#1f6e9d;
font-family:Arial, Helvetica, sans-serif;
text-decoration:underline;
line-height:22px;
background-position:left top;
background-repeat:no-repeat;
background-image:url("../images/global/clickReveal.png");
}
dl.clickReveal dt:hover{
cursor:pointer;
}
dl.clickReveal dd{
margin-top:20px;
display:none;
font-size:12px;
line-height:18px;
font-family:Arial, Helvetica, sans-serif;
position:relative;
}
div.tabs ul{
margin:20px 40px 0px 40px !important;
padding:0px;
height:30px;
list-style-type:none;
}
div.tabs ul li{
margin-right:1px;
display:block;
float:left;
}
div.tabs ul li a{
padding-left:10px;
padding-right:10px;
line-height:30px;
display:block;
font-weight:bold;
text-decoration:none;
outline:none;
}
div.tabs ul li a.tabOn{
color:#5c7424 !important;
height:32px;
background-color:#FFF;
}

div.tabs ul li a.tabOff{
color:#666 !important;
background-color:#CCC;
}
div.tabs ul li a.tabOff:hover{
color:#666;
background-color:#FFF;
}
div.tabs div.tab{
margin:40px;
margin-top:0px;
margin-bottom:20px;
padding:10px;
background-color:#FFF;
border-top:2px solid #CCC;
border-bottom:2px solid #CCC;
}
div.tabs div.tab p{
padding:20px !important;
display:block;
}
div#content a{
color:#4e7692;
}
div#content a:hover{
color:#365265;
}
div#content div.textVersion{
margin:0px auto;
margin-bottom:20px;
text-align:center;
font-size:12px;
font-family:Arial, Helvetica, sans-serif;
width: 140px;
padding: 0px;
border:0px
}
div#content div.textVersion a{
color:#1f6e9d;
}
div.learn{
	margin:20px;
	padding-left:60px;
	padding-top:10px;
	min-height:50px;
	font-size:12px;
font-family:Arial, Helvetica, sans-serif;
background-repeat:no-repeat;
	background-image:url("../images/global/i_weblink.png");
}
div.learn a{
color:#1f6e9d;
}
table.checklist{
margin:40px auto;
margin-top:20px;
margin-bottom:20px;
font-family:Arial, Helvetica, sans-serif;
border-collapse:collapse;
}
table.checklist caption{
	margin-bottom:10px;
	color:#5c7424;
	font-size:14px;
}
table.checklist th, table.checklist td{
	padding:7px;
vertical-align:top;
border:1px solid #206eb7;
}
table.checklist thead tr th{
	color:#FFF;
		font-size:14px;
	background-color:#206eb7;
}

table.checklist tbody td{
	font-size:12px;
border:1px solid #206eb7;
}
table.checklist tbody tr.odd td{
	background-color:#FFF;
}

div.tabs div.tab h3, div.tabs div.tab h4{margin:20px !important;}
span.dLink{
color:#666;
font-size:9px;
font-family:Verdana, Geneva, sans-serif;
position:relative;
}
span.dLink a{
margin-left:7px;
width:10px;
height:15px;
display:block;
background-repeat:no-repeat;
float:right;
background-image:url("../images/global/dlink.png");
position:absolute;
right:-15px;
top:0px;
}
span.dLink a span{
display:none;
}
div.tabs div.tab div.img{
	margin:0px auto;
	display:inline-block;
	text-align:center;
	}
div.tabs div.tab div.img img{
	margin:0px auto;
	display:block;
	border:1px solid #CCC;
}
div.showcase{
text-align:center;
}
.left, .right{
margin:20px;
margin-top:0px;
margin-bottom:10px;
text-align:center;
}
.left{
float:left;
}
.right{
float:right;
}
.left span, .right span{
display:block;
}
.clearAll{clear:both;}
div.tab dl.clickReveal{
margin-left:20px;	
}
dl.assignment, dl.video{
margin:20px;
padding-left:65px;
min-height:58px;
font-family:Arial, Helvetica, sans-serif;
background-repeat:no-repeat;
}
dl.assignment dt, dl.video dt{
color:#206eb7;
font-size:14px;
font-weight:bold;
line-height:20px;
}
dl.assignment dd, dl.video dd{
font-size:12px;
line-height:30px;
}
dl.assignment{
background-image:url("../images/global/i_assignment.png");
}

dl.video{
background-image:url("../images/global/i_video2.png");
}
h4.tool{
	padding-left:60px;
	line-height:61px;
	background-repeat:no-repeat;
	font-size:20px;
background-image:url("../images/global/i_tools.png");
}
.collab{
padding-left:65px;
min-height:52px;
background-repeat:no-repeat;
background-image:url("../images/global/i_collaboration.gif");
}

div.exclamation{
	margin-left:20px;

padding-left:65px;
line-height:52px;
font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
background-repeat:no-repeat;
font-weight:bold;
background-image:url("../images/global/i_exclamation.png");
}
div.puzzle{
	margin-left:20px;

padding-left:65px;
line-height:52px;
font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
background-repeat:no-repeat;
font-weight:bold;
background-image:url("../images/global/i_activity.png");
}

div.video{
	margin-left:20px;

padding-left:65px;
padding-top:10px;
min-height:56px;
font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
background-repeat:no-repeat;
font-weight:bold;
background-image:url("../images/global/i_video2.png");
clear:both;
}
div.video a{
color:#4e7692;
}
div.polldaddy{
margin:20px auto;
z-index:1;
}
div.vertical{
width:268px;
}
div.infoBox{
	margin:0px auto;
	padding-bottom:10px;
	width:400px;
	background-color:#FFF;
border:1px solid #4e7692;	
}
div.applicationBox{
	margin:0px auto;
	padding-bottom:10px;
	width:500px;
	background-color:#FFF;
border:1px solid #4e7692;	
}
.inlineMenu{
	margin:20px !important;
	padding:0px !important;
	text-align:center;
	}
.inlineMenu li{
display:inline;
}
a.labBtn{
	margin-left:10px;
	margin-right:10px;
	width:150px;
	line-height:30px;
	color:#FFF !important;
text-decoration:none;
text-align:center;
display:inline-block;
font-size:14px;
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
}
a.green{
	background-image:url("../images/global/labBtn1.png");
}
a.blue{
	background-image:url("../images/global/labBtn2.png");
}
a.labBtn:hover{
color:#FFF !important;
}
div.infoBox h5{
margin:20px;
margin-bottom:0px;
padding-left:55px;
color:#529748;
line-height:50px;
font-size:20px;
font-family:Arial, Helvetica, sans-serif;
background-repeat:no-repeat;
background-image:url("../images/global/i_questionmark.png");
}
h5.obj{
margin:20px;
margin-bottom:0px;
padding-left:55px;
color:#529748;
line-height:50px;
font-size:20px;
font-family:Arial, Helvetica, sans-serif;
background-repeat:no-repeat;
background-image:url("../images/global/i_objectives.png");
}
.highlight{
background-color:#ffcc66;
}
ol.alpha{
list-style-type:upper-alpha;
}
dl.descript{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}
dl.descript dt, dl.descript dl{
padding-left:40px;
}
div.misconceptions{
	margin:20px;
	padding-bottom:20px;
border:2px dashed #1873b8;
}
div.tabs div.tab ul{
	margin:20px !important;
	height:auto;
}
div.tabs div.tab ul li{

	padding-left:25px;
		background-repeat:no-repeat;
	background-image:url("../images/global/bulletArrow.png");
	float:none;
}
div.tabs div.tab ul li a{
color:#5d7425 !important;
text-decoration:underline;
padding:0px !important;
margin:0px !important;
background:none;
display:inline !important;
top:0px !important;
line-height:normal !important;
}
div.misconceptions h4{
	padding-left:60px;
line-height:50px;
color:#1873b8;
background-repeat:no-repeat;
background-image:url("../images/global/i_redalert.png");
}
div.popUp{
	margin:20px;
padding-left:70px;
padding-top:10px;
min-height:50px;
font-size:12px;
font-family:Arial, Helvetica, sans-serif;
background-repeat:no-repeat;
background-image:url("../images/global/i_popup.png");
}
div.popUp a{
	color:#1873b8;
}
div.misconceptions h5{
margin:20px;
line-height:20px;
font-size:18px;
font-family:Arial, Helvetica, sans-serif;
}
div#bottomTab{
margin:0px auto;
width:790px;
height:6px;
background-repeat:no-repeat;
background-position:left bottom;
background-image:url("../images/global/bgTab.png");
}
div#footer{
margin-top:25px;
margin-bottom:25px;
padding-left:20px;
width:770px;
line-height:38px;
color:#FFF;
font-size:11px;
font-family:Arial, Helvetica, sans-serif;
background-image:url("../images/global/bgFooter.png");
}



#jquery-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 500px;
	z-index:2000;
}
#jquery-lightbox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 2000;
	text-align: center;
	line-height: 0;
}
#jquery-lightbox a img { border: none; }
#lightbox-container-image-box {
	position: relative;
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin: 0 auto;
}
#lightbox-container-image { padding: 10px; }
#lightbox-loading {
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}
#lightbox-nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}
#lightbox-container-image-box > #lightbox-nav { left: 0; }
#lightbox-nav a { outline: none;}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
	width: 49%;
	height: 100%;
	zoom: 1;
	display: block;
}
#lightbox-nav-btnPrev { 
	left: 0; 
	float: left;
}
#lightbox-nav-btnNext { 
	right: 0; 
	float: right;
}
#lightbox-container-image-data-box {
	font: 10px Verdana, Helvetica, sans-serif;
	background-color: #fff;
	margin: 0 auto;
	line-height: 1.4em;
	overflow: auto;
	width: 100%;
	padding: 0 10px 0;
}
#lightbox-container-image-data {
	padding: 0 10px; 
	color: #666; 
}
#lightbox-container-image-data #lightbox-image-details { 
	width: 70%; 
	float: left; 
	text-align: left; 
}	
#lightbox-image-details-caption { font-weight: bold; }
#lightbox-image-details-currentNumber {
	display: block; 
	clear: left; 
	padding-bottom: 1.0em;	
}			
#lightbox-secNav-btnClose {
	width: 66px; 
	float: right;
	padding-bottom: 0.7em;	
}



div#content ol li ul{
padding:0px;
margin:0px;
margin-left:30px;
margin-bottom:20px;
}

blockquote {
	margin:5px;
	color:#a0861c;
	background-color:#f5f5f5;
	line-height:20px;
padding:17px;
font-style:italic;
font-weight:bold;
border-left:1px solid #CCC;
border-right:1px solid #CCC;
border-top:1px solid #dedede;
border-bottom:1px solid #ACACAC;
}
blockquote span.quote1, blockquote span.quote2{
	width:19px;
	height:13px;
	line-height:0px;
font-size:24px;
font-style:italic;
font-family:Verdana, Geneva, sans-serif;
}
blockquote span.quote1{
	margin-right:5px;
	float:left;
background-image:url("../images/global/quote1.png");
}
blockquote span.quote2{
	margin-left:5px;
display:inline-block;
background-image:url("../images/global/quote2.png");
}
blockquote span.quote1 span, blockquote span.quote2 span {
display:none;
}


dl.assignment dd ul{
	margin:13px !important;
	padding:0px !important;
}

dl.mimicTableRow{
	margin:0px auto;
	width:605px;
	border:1px solid #000;
}
dl.mimicTableRow dd{
	padding:20px;
	height:120px;
	display:table-cell;
	background-color:#EFEFEF;
	border:1px solid #CCC;
	vertical-align:middle;
float:left;
}
dl.mimicTableRow dd a{

}
	
	