@charset "utf-8";
body{
background:none;
background-color:#1873b8;
background-repeat:no-repeat;
background-position:center center;
background-image:url("../images/global/logo.png");
overflow:hidden;
}
div#header, div#page, div#content{
display:none;
}
div{
line-height:20px;
font-size:12px;
text-align:center;
font-family:Arial, Helvetica, sans-serif;
background-color:#ffffe1;
border-bottom:1px solid #696969;
}