@charset "utf-8";
 @media screen {
img {
	border:0px;
}
h1 {
	font-size: 25px;
	text-shadow: 1px 1px #FFF;
	z-index:20000;/*margin:0px;



margin-left:-340px;



padding:0px;



line-height:40px;



text-align:center;



color:#CCC;



font-size:18px;



font-family:Arial, Helvetica, sans-serif;



position:fixed;



text-shadow:1px 1px #333;



left:50%;



top:0px;



text-align:left;*/



}
.videobtn {
	margin-top:-10px;
}
h2 {
	color: #003366;
	margin:0px;
	padding:0px;
	font-size:23px;
	margin:0 0 50px 20px;
}
h2 span {
	font-size:22px;
}
h3 {
	color:#003366;
	font-size:20px;
	font-family:Arial, Helvetica, sans-serif;
}
h4 {
	color:#003366;/*955216*/
	font-size:18px;
	font-family:Arial, Helvetica, sans-serif;
}
h5 {
	color:#003366;
	font-size:16px;
}
hr {
	height:1px;
	/*background-image:url("../imgs/hr.png");*/
	border:none;
}
#window {
	width:850px;
	margin:0px auto;
	height:auto;
}
/*Flash Interactives*/



div#pageContent div.activeInteractive, div#pageContent div.video {
	margin:65px 0px 20px 0px;
	position:relative;
	padding: 0px;
}
div#pageContent div.activeInteractive button.toggleSwitch, div#pageContent div.video button.toggleSwitch {
	margin-left:-50px;
	width:100px;
	color:#666;
	height:30px;
	text-align:center;
	text-decoration:none;
	background-color:#FFF;
	border:1px solid #CCC;
	border-bottom:none;
	position:absolute;
	left:50%;
	top:-30px;
}
div#pageContent div.activeInteractive button.toggleSwitch:hover, div#pageContent div.video button toggleSwitch:hover {
	cursor:pointer;
}
div#pageContent div.activeInteractive button.toggleSwitch:active, div#pageContent div.activeInteractive button.toggleSwitch:focus, div#pageContent div.video button.toggleSwitch:active, div#pageContent div.video button.toggleSwitch:focus {
	outline:0;
}
div#pageContent div.activeInteractive div.swfObject, div.activeInteractive div.textVersion, div#pageContent div.video div.swfObject, div.video div.textVersion {
	margin:50px 0px 0px 0px;
	padding:20px;
	border:1px solid #d0d0d0;
	zoom:1;
}
div#pageContent div.activeInteractive div.swfObject object, div#pageContent div.video div.swfObject object {
	margin:0px auto;
	display:block;
	padding: 0px;
}
div#pageContent div.activeInteractive div.swfObject, div#pageContent div.video div.swfObject {
	margin:0px auto;
	display:block;
	padding: 0px;
	zoom:1;
}
div#pageContent div.activeInteractive iframe {
	margin:0px auto;
	padding:0px;
	display:block;
	overflow:hidden;
	border:none;
	max-width:100%;
	min-height:200px;
}
div#pageContent button.printText {
	margin:0px auto;
}
div#pageContent .activeInteractive .textVersion p, div#pageContent .activeInteractive .textVersion ul, div#pageContent .activeInteractive .textVersion .clickReveal {
	text-align: left;
}
/*Tabs*/



div#pageContent div.tabs {
	margin-top:40px;
	position:relative;
	zoom:1;
}
div#pageContent div.tabs h3 {
	margin:0px;
	padding-left:10px;
	padding-right:10px;
	line-height:30px;
	font-size:16px;
	display:block;
	font-weight:bold;
	text-decoration:none;
	outline:none;
	position:absolute;
	top:-30px;
}
div#pageContent div.tabs h3.tabOn {
	color:#FFF;
	height:32px;
	background-color:#003366;
}
div#pageContent div.tabs h3.tabOff {
	color:#FFF;
	background-color:#09F;
}
div#pageContent div.tabs h3.tabOff:hover {
	color:#FFF;
	background-color:#000;
	cursor:pointer;
}
div#pageContent div.tabs div.tab {
	padding:10px;
	background-color:#FFF;
	border:3px solid #003366;
}
div#pageContent div.tabs div.tab p {
	margin:20px;
}
/*Accordians*/



div#pageContent dl.accordian dt {
	margin-bottom:2px;
	padding-left:10px;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	line-height:35px;
	background-position:5px 3px;
	background-repeat:no-repeat;
	-webkit-user-select:"none";
	-moz-user-select:"none";
	background-color:#003366;
}/*88a0bf*/
div#pageContent dl.accordian dt:hover {
	cursor:pointer;
	background-color:#5799cd;/*3d526c*/
}
div#pageContent dl.accordian dd {
	margin:0px;
	margin-bottom:2px;
	padding:20px;
	background-color:#FFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #5799cd;
	border-right-color: #5799cd;
	border-bottom-color: #5799cd;
	border-left-color: #5799cd;
	display:none;
}
/*Tooltips*/



div#pageContent span.tooltip {
	color:#003366;
	font-weight:bold;
	white-space:nowrap;
	border-bottom:1px dotted #003366;
	position:relative;
	cursor:pointer;
}
div#pageContent span.tooltip:hover {
	cursor:pointer;
}
div#pageContent span.tooltip {
	text-decoration:none;
}
div#pageContent span.tooltip span {
	padding:10px;
	width:250px;
	color:#FFF;
	display:none;
	position:absolute;
	white-space:normal;
	left:0px;
	top:20px;
	font-weight:normal;
	background-color:#000;
	text-decoration:none;
	z-index:1000;
	font-size:14px;
	line-height:18px;
	cursor:text!important;
}
div#pageContent span.tooltip span.tipRight {
	left:auto;
	right:0px;
}
/*Click to Reveals*/



div#pageContent dl.clickReveal {
	/*margin:0px;



	margin-top:10px;



	margin-bottom:10px;*/



	padding:0px;
	min-height:25px;
}
div#pageContent dl.clickReveal dt, dl.clickReveal dd {
	margin:0px;
	padding:0px;
}
div#pageContent dl.clickReveal dt {
	/*padding-left:30px;*/



		line-height:24px;
	color:#003366;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	background-position:0px center;
	background-repeat:no-repeat;
	-webkit-user-select:none;
	-moz-user-select:none;
	background-repeat:no-repeat;
	background-image:url("../imgs/iconLibrary/clickRevealDown.png");
}
div#pageContent dl.clickReveal dt.open {
	background-image:url("../imgs/iconLibrary/clickRevealUp.png");
}
div#pageContent dl.clickReveal dt:hover {
	cursor:pointer;
}
/*Lightbox*/


/*
div#pageContent .lightbox{border:1px solid #8c8c8c;position:relative;}



div#pageContent .lightbox img{display:block;border:none;}



.magGlass{width:32px;height:31px;background-image:url("../imgs/enlarge.png");position:absolute;bottom:3px;right:0px;}



div#pageContent .lightbox div.magGlass{width:32px;height:31px;background-image:url("../imgs/enlarge.png");position:absolute;bottom:0px;right:0px;}



div#pageContent #jquery-overlay {position: absolute;top: 0;left: 0;z-index: 1000;width: 100%;height: 500px;z-index:2000;}



div#pageContent #jquery-lightbox {position: absolute;top: 0;left: 0;width: 100%;z-index: 2000;text-align: center;line-height: 0;}



div#pageContent #jquery-lightbox a img { border: none; }



div#pageContent #lightbox-container-image-box {position: relative;background-color: #fff;width: 250px;height: 250px;margin: 0 auto;}



div#pageContent #lightbox-container-image { padding: 10px; }



div#pageContent #lightbox-loading {position: absolute;top: 40%;left: 0%;height: 25%;width: 100%;text-align: center;line-height: 0;}



div#pageContent #lightbox-nav {position: absolute;top: 0;left: 0;height: 100%;width: 100%;z-index: 10;}



div#pageContent #lightbox-container-image-box > #lightbox-nav { left: 0; }



div#pageContent #lightbox-nav a { outline: none;}



div#pageContent #lightbox-nav-btnPrev, #lightbox-nav-btnNext {width: 49%;height: 100%;zoom: 1;display: block;}



div#pageContent #lightbox-nav-btnPrev { left: 0; float: left;}



div#pageContent #lightbox-nav-btnNext { right: 0; float: right;}



div#pageContent #lightbox-container-image-data-box {font: 10px Verdana, Helvetica, sans-serif;background-color: #fff;margin: 0 auto;line-height: 1.4em;overflow: auto;width: 100%;padding: 0 10px 0;}



div#pageContent #lightbox-container-image-data {padding: 0 10px; color: #666; }



div#pageContent #lightbox-container-image-data #lightbox-image-details { width: 70%; float: left; text-align: left; }	



div#pageContent #lightbox-image-details-caption { font-weight: bold; }



div#pageContent #lightbox-image-details-currentNumber {display: block; clear: left; padding-bottom: 1.0em;	}			



div#pageContent #lightbox-secNav-btnClose {width: 66px; float: right;padding-bottom: 0.7em;	}*/











/*Generic Slideshow*/



div#pageContent div.slider {
	margin:0px auto;
	border:1px solid #000;
	background-color: #FFFFFF;
	position:relative;
	overflow:hidden;
}
div#pageContent div.slider button.arrows {
	width:50px;
	height:50px;
}
div#pageContent div.slider button.left, div.slider button.right {
	margin:0px;
	padding:0px;
	position:absolute;
	bottom:0px;
	z-index:2;
}
div#pageContent div.slider button.arrows:hover {
	cursor:pointer;
}
/*  Slideshow Buttons (adding arrows)  */



div#pageContent div.slider button.left {
	left:0px;
	background-image: url(../imgs/slideshow_left.png);
}
div#pageContent div.slider button.right {
	right:0px;
	background-image: url(../imgs/slideshow_right.png);
}
/*div#pageContent div.slider button.left{left:0px;}



div#pageContent div.slider button.right{right:0px;}*/



div#pageContent div.slider dt, div#pageContent div.slider dd {
	margin:0px;
	padding:0px;
	float:left;
}
div#pageContent div.slider dl {
	margin:0px;
	padding:0px;
	position:absolute;
	z-index:1;
}
div#pageContent div.slider div.slideshowCrumbs {
	padding-left:10px;
	width:50px;
	line-height:20px;
	color:#FFF;
	text-align:left;
	position:absolute;
	right:0px;
	top:15px;
	background-color:#003366;
	z-index:2;
}
div#pageContent div.iframePrint {
	display:none;
}
div#pageContent code {
	margin:20px;
	padding:10px;
	color:#333;
	white-space:pre;
	word-wrap:break-word;
	font-size:14px;
	font-family:"Courier New", Courier, monospace;
	display:block;
	background-color:#EFEFEF;
	border:1px solid #666;
	overflow:scroll;
}
div#overlay {
	width:100%;
	height:100%;
	background-image:url("../imgs/bgFade.png");
	position:absolute;
	left:0px;
	top:0px;
	z-index:5;
	display:none;
}
div#printBox {
	margin-left:-300px;
	padding:20px;
	width:600px;
	font-size:14px;
	color:#FFF;
	line-height:18px;
	font-family:Arial, Helvetica, sans-serif;
	background-color:#60738d;
	border:1px solid #FFF;
	position:absolute;
	left:50%;
	top:10px;
	-moz-box-shadow: 0px 0px 4px #000;
	-webkit-box-shadow: 0px 0px 4px #000;
	box-shadow: 0px 0px 4px #000;
	display:none;
}
div#printBox h4 {
	font-size:16px;
}
div#printBox .close {
	padding:0px;
	margin:0px auto;
	width:30px;
	height:30px;
	line-height:30px;
	color:#FFF;
	font-weight:bold;
	text-align:left;
	background:none;
	border:none;
	background-repeat:no-repeat;
	background-position:right center;
	background-image:url("../imgs/iconLibrary/icon_deleteSmall.png");
	position:absolute;
	right:7px;
	top:5px;
	cursor: pointer;
}
/*div#printBox button.close{padding:0px;margin:0px auto;padding-right:30px;width:30px;height:30px;line-height:30px;color:#FFF;font-weight:bold;text-align:left;background:none;border:none;background-repeat:no-repeat;background-position:right center;background-image:url("../imgs/iconLibrary/icon_deleteSmall.png");position:absolute;right:2px;top:0px;}



*/div#printBox button.close {
	margin:5px 5px 0 0;
}
/*Close Button*/



button.close {
	padding:0px;
	margin:0px auto;
	padding-right:30px;
	width:30px;
	height:30px;
	line-height:30px;
	color:#FFF;
	font-weight:bold;
	text-align:left;
	background:none;
	border:none;
	background-repeat:no-repeat;
	background-position:right center;
	background-image:url("../imgs/iconLibrary/icon_close.png");
	position:absolute;
	right:2px;
	top:0px;
}
button.close:hover {
	cursor:pointer;
}
/*Properly Hide Items with this Class*/



html body .notVisible, button.close span {
	width:0px;
	height:0px !important;
	overflow:hidden !important;
	visibility:hidden;
	position:absolute;
}
/*Aligment Classes*/



.left, .right {
	margin-bottom:5px;
}
.left {
	margin-right:10px;
	float:left;
}
.right {
	margin-left:10px;
	float:right;
}
.imgcenter {
	float:left;
	width:700px;
	text-align:center;
}
.addd {
	margin-top:-35px;
	margin-right:60px;
}
.showcase {
	margin:0px auto;
	clear:both;
	display:block;
}
p#palette span {
	display:block;
	float:left;
	width:100px;
	line-height:100px;
	text-align:center;
}
div.box, div.obj, div.overview, div.assignment {
	background-color:#FFF;
	border:2px solid #003366;
	-moz-border-radius:10px;
	border-radius:10px;
}
span.copyright {
	display:block;
	text-align:center;
	font-size:12px;
}
span.copyright1 {
	display:block;
	text-align:center;
	font-size:12px;
}
span.copyright41 {
	display:block;
	text-align:center;
	margin-left:90px;
	font-size:12px;
}
.text_right {
	width:268px;
	float:right;
}
div#pageContent div.box h4, div#pageContent div.obj h4, div.overview h4, div.assignment h4 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
}/*color:#881401;*/
div#pageContent div.box h4 span, div#pageContent div.obj h4 span, div.overview h4 span, div.assignment h4 span {
	color:#5799cd;
}
div#pageContent div.obj h4 {
	padding-left:50px;
	line-height:48px;
	background-repeat:no-repeat;
	background-image:url("../imgs/iconLibrary/i_objectives.png");
}
div#pageContent div.assignment h4 {
	padding-left:50px;
	line-height:48px;
	background-repeat:no-repeat;
	background-image:url("../imgs/iconLibrary/i_assignment.png");
}
div#pageContent h3, div#pageContent h4, div#pageContent h5, div#pageContent h6, div#pageContent ul, div#pageContent dl, div#pageContent table, div#pageContent p, div.box, div.obj, div.tabs, div.overview, div.assignment {
	margin:20px;
}
div#pageContent ul, div#pageContent ol {
/*margin-left:40px;*/



}
div#pageContent ul li, div#pageContent ol li {
	margin-bottom:7px;
}
.debugNote {
	padding:10px;
	color:#990000;
	font-weight:bold;
	background-color:#fff000;
}
dl#access dt {
	visibility:hidden;
}
li#settings, span#courseCrumbs {
	display:none;
}
div#crumbs {
	position:relative;
}
span#pageCrumbs {
	position:absolute;
	right:-5px;
	top:-5px;
}
div#pageContent {
	font-size:14px;
	line-height:18px;
}
dl.kb {
	margin:0px;
	padding:0px;
}
dl.kb dt {
	margin-bottom:5px;
	font-weight:bold;
}
dl.kb dd {
	margin:3px;
	padding: 8px;
	/*padding-left:30px;



	padding-top: 10px;



	padding-bottom: 10px;*/



	background-color:#FFF;
}
dl.kb dd ul {
/*margin-left:0px !important;*/



}
.tableWidth {
	width:300px;
}
table {
	margin:0px auto;
	width:95%;
	border:1px solid #5799cd;
}
table caption {
	color:#434343;
	font-size:14px;
	line-height:35px;
}
table thead th {
	color:#FFF;
	line-height:30px;
	text-align:center;
	background-color:#003366;
}
table tbody tr td {
	padding:5px 10px;
	border:1px solid #5799cd;
	vertical-align:top;
}
table tbody tr.odd td {
	background-color:#EFEFEF;
}
table tbody tr.even td {
	background-color:#CCC;
}
table tbody tr.evenJudaisam td {
	background-color:#CCC;
}
table tfoot tr td {
	color:#FFF;
	font-weight:bold;
	text-align:center;
	line-height:30px;
	background-color:#5799cd;
}
#jquery-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	width: 100%;
	height: 500px;
}
#jquery-lightbox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	text-align: center;
	line-height: 0;
}
#jquery-lightbox a img {
	border: none;
}
#lightbox-container-image-box {
	position: relative;
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin: 0 auto;
}
#lightbox-container-image {
	padding: 10px;
}
#lightbox-loading {
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}
#lightbox-nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}
#lightbox-container-image-box > #lightbox-nav {
	left: 0;
}
#lightbox-nav a {
	outline: none;
}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
	width: 49%;
	height: 100%;
	zoom: 1;
	display: block;
}
#lightbox-nav-btnPrev {
	left: 0;
	float: left;
}
#lightbox-nav-btnNext {
	right: 0;
	float: right;
}
#lightbox-container-image-data-box {
	font: 10px Verdana, Helvetica, sans-serif;
	background-color: #fff;
	margin: 0 auto;
	line-height: 1.4em;
	overflow: auto;
	width: 100%;
	padding: 0 10px 0;
}
#lightbox-container-image-data {
	padding: 0 10px;
	color: #666;
}
#lightbox-container-image-data #lightbox-image-details {
	width: 70%;
	float: left;
	text-align: left;
}
#lightbox-image-details-caption {
	font-weight: bold;
}
#lightbox-image-details-currentNumber {
	display: block;
	clear: left;
	padding-bottom: 1.0em;
}
#lightbox-secNav-btnClose {
	width: 66px;
	float: right;
	padding-bottom: 0.7em;
}
blockquote {
	padding:1px;
	background-color:#FFF;
	background-repeat:no-repeat;
	background-position:10px 10px;
	background-image:url("../imgs/quoteLeft.png");
	border:1px solid #CCC;
}
blockquote p {
	padding-left:40px !important;
	padding-right:40px !important;
	background-repeat:no-repeat;
	background-position:right bottom;
	background-image:url("../imgs/quoteRight.png");
}
.blockquotecolor {
	background-color:#ECF9FF;
}
.copyright {
	color:#003366;
	margin-left:3px;
	border:0px;
}
.journalPop {
	text-decoration:none;
	color:#000000;
}
.video {
	margin:0px auto;
	position:relative;
	text-align:center;
	position:relative;
}
.video .swfObject {
	width:500px;
	height:400px;
}
.video video {
	margin:0px auto;
	display:block;
	background-color:#000;
	z-index:1;
	border:1px solid #000;
}
.ccBtn {
	position:absolute;
	top:0px;
	right:0px;
	width:50px;
	height:33px;
	color:#FFF;
	font-weight:bold;
	background:none;
	border:none;
	background-image:url("cc.png");
	z-index:2;
}
.ccBtn:hover {
	cursor:pointer;
}
.script {
	position:absolute;
	top:20px;
	right:-35px;
}
.vidCaption {
	width:100%;
	line-height:40px;
	height:40px;
	color:#FFF;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	background-color:#333;
	clear:both;
}
div.quiz {
	margin:20px;
	background-color:#e3f2fe;
	border:1px solid #000;
	position:relative;
}
div.quiz button:hover {
	cursor:pointer;
}
div.quiz dl {
	margin:20px;
	padding:0px;
}
div.quiz dt {
	margin-bottom:1px;
	padding:10px;
	font-weight:bold;
	background-color:#FFF;
}
div.quiz dd {
	margin:0px;
	margin-bottom:1px;
	padding:10px;
	background-color:#FFF;
}
div.quiz dd:hover {
	color:#FFF;
	cursor:pointer;
	background-color:#003366;/*666*/
}
div.quiz dd.selected {
	margin:0px;
	margin-bottom:1px;
	color:#FFF;
	background-color:#000;
	border:1px solid #CCC;
}
div.quiz table {
	margin:5%;
	margin-top:0px;
	width:90%;
	background-color:#FFF;
	border:1px solid #000;
}
div.quiz table th, div.quiz table td {
	padding:5px;
	width:30%;
	vertical-align:top;
	border:1px solid #000;
}
div.quiz table td {
	font-size:13px;
}
.incorrect td {
	color:#FFF;
	background-color:#990000;
}
.correct td {
	color:#FFF;
	background-color:#336600;
}
div.directions {
	margin:20px;
	padding:1px;
	padding-bottom:40px;
	background-color:#FFF;
}
div.quiz h3 {
	text-align:center;
}
div.directions p {
	margin:20px;
}
div.directions button {
	margin-right:20px;
	float:right;
}
div.progressBar {
	width:100%;
	height:10px;
	border:1px solid #000;
	position:absolute;
	left:-1px;
	bottom:-12px;
}
div.progressBar .incOff, div.progressBar .incOn {
	height:100%;
	float:left;
}
div.progressBar .incOff {
	background-color:#003366;/*003366*/
}
div.progressBar .incOn {
	background-color:#FFF;/*69acff*/
}
.video {
	margin:0px auto !important;
	margin-bottom:40px !important;
	position:relative;
	text-align:center;
	position:relative;
	clear:both;
}
.video .swfObject {
	width:500px;
	height:400px;
}
.video video {
	margin:0px auto;
	display:block;
	background-color:#000;
	z-index:1;
	border:1px solid #000;
}
.ccBtn {
	position:absolute;
	top:0px;
	right:0px;
	width:50px;
	height:33px;
	color:#FFF;
	font-weight:bold;
	background:none;
	border:none;
	background-image:url("../imgs/cc.png");
	z-index:2;
}
.ccBtn:hover {
	cursor:pointer;
}
.vidCaption {
	width:100%;
	line-height:40px;
	height:40px;
	color:#FFF;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	background-color:#333;
	clear:both;
}
.video .textVersion {
	text-align:left !important;
}
.clearAll {
	clear:both;
	height:0px;
}
.alignMiddle {
	text-align:center;
}
.absmiddle {
	text-align:center;
	vertical-align:middle;
}
.absmiddle1 {
	text-align:center;
	vertical-align:middle;
	float:left;
}
/* Discovery Video */







.discoveryVideo1 {
	width:696px;
	height:142px;
	border:1px solid #b2ccdd;
	background-color:#ebf7ff;
	margin:0 auto;
	padding:5px 6px 5px 6px;
	position:relative;
}
.discoveryVideo {
	width:730px;
	height:142px;
	border:1px solid #b2ccdd;
	background-color:#ebf7ff;
	margin:0 auto;
	padding:5px 6px 5px 6px;
	position:relative;
}
.discoveryLogo {
	float:left;
	width:94px;
	height:57px;
}
.dicoverTopLeft, .dicoverTopRight, .dicoverBotLeft, .dicoverBotRight {
	width:8px;
	height:8px;
	position:absolute;
}
.dicoverTopLeft {
	top:-1px;
	left:-1px;
	background:url(../imgs/discvideo_topleft.jpg) no-repeat;
}
.dicoverTopRight {
	top:-1px;
	right:-1px;
	background:url(../imgs/discvideo_topright.jpg) no-repeat;
}
.dicoverBotLeft {
	bottom:-1px;
	left:-1px;
	background:url(../imgs/discvideo_botleft.jpg) no-repeat;
}
.dicoverBotRight {
	bottom:-1px;
	right:-1px;
	background:url(../imgs/discvideo_botright.jpg) no-repeat;
}
.discoveryButton {
	position:relative;
	background:#FFFFFF;
	float:left;
	width:590px;
	height:46px;
	margin: -57px 0 0 107px;
	text-align:center;
	padding-top:10px;
}
.dicoverBtnTopLeft, .dicoverBtnTopRight, .dicoverBtnBotLeft, .dicoverBtnBotRight {
	width:8px;
	height:8px;
	position:absolute;
}
.dicoverBtnTopLeft {
	top:0px;
	left:0px;
	background:url(../imgs/discbtn_topleft.jpg) no-repeat;
}
.dicoverBtnTopRight {
	top:0px;
	right:0px;
	background:url(../imgs/discbtn_topright.jpg) no-repeat;
}
.dicoverBtnBotLeft {
	bottom:0px;
	left:0px;
	background:url(../imgs/discbtn_botleft.jpg) no-repeat;
}
.dicoverBtnBotRight {
	bottom:0px;
	right:0px;
	background:url(../imgs/discbtn_botright.jpg) no-repeat;
}
/* Discovery Video */







/* Discovery Video */







.travelJournal {
	width:710px;
	height:66px;
	margin:0 auto;
	padding:5px 6px 5px 6px;
	position:relative;
	background:#91b1d0 url(../imgs/journal_arrow.png) no-repeat 698px 31px;
}
.journalIcon {
	float:left;
	width:60px;
	height:58px;
	margin-left:4px;
}
.journalTopLeft, .journalTopRight, .journalBotLeft, .journalBotRight {
	width:8px;
	height:8px;
	position:absolute;
}
.journalTopLeft {
	top:0px;
	left:0px;
	background:url(../imgs/journal_topleft.jpg) no-repeat;
}
.journalTopRight {
	top:0px;
	right:0px;
	background:url(../imgs/journal_topright.jpg) no-repeat;
}
.journalBotLeft {
	bottom:0px;
	left:0px;
	background:url(../imgs/journal_botleft.jpg) no-repeat;
}
.journalBotRight {
	bottom:0px;
	right:0px;
	background:url(../imgs/journal_botright.jpg) no-repeat;
}
.discoveryButton {
	position:relative;
	background:#FFFFFF;
	float:left;
	width:590px;
	height:130px;
	margin: -57px 0 0 107px;
	text-align:center;
	padding-top:10px;
}
.journalBtnTopLeft, .journalBtnTopRight, .journalBtnBotLeft, .journalBtnBotRight {
	width:8px;
	height:8px;
	position:absolute;
}
.journalBtnTopLeft {
	top:0px;
	left:0px;
	background:url(../imgs/journalbtn_topleft.jpg) no-repeat;
}
.journalBtnTopRight {
	top:0px;
	right:0px;
	background:url(../imgs/journalbtn_topright.jpg) no-repeat;
}
.journalBtnBotLeft {
	bottom:0px;
	left:0px;
	background:url(../imgs/journalbtn_botleft.jpg) no-repeat;
}
.journalBtnBotRight {
	bottom:0px;
	right:0px;
	background:url(../imgs/journalbtn_botright.jpg) no-repeat;
}
.journalButton {
	position:relative;
	background:#FFFFFF;
	float:left;
	width:617px;
	height:55px !important;
	margin:0 0 0 5px;
	text-align:left;
	padding: 10px;
}
.journalButton1 {
	height:80px !important;
}
.JournalText {
	float:left;
	width:555px;
}
/*.journalIcon{



	float:left;



	width:60px;



	height:58px;



	margin-left:-4px;



}



.travelJournal {



    background: url(../imgs/journal_arrow.png) no-repeat 698px 31px #91B1D0;



    float: left;



    height: 60px;



    margin: 0 0 40px 20px;



    padding: 5px 6px;



    width: 698px;



}







.journalTopLeft, .journalTopRight, .journalBotLeft, .journalBotRight{



	width:8px;



	height:8px;



	position:absolute;



}







.journalTopLeft {



    background: url(../imgs/journal_topleft.jpg) no-repeat;



    float: left; width:8px;



	height:8px;



    margin: -5px 0 0 -6px;



}







.journalTopRight {



    background: url("../imgs/journal_topright.jpg") no-repeat;



    float: right;width:8px;



	height:8px;



    margin: -5px 0 0 -2px; 



}







.journalBotLeft {



    background: url("../imgs/journal_botleft.jpg") no-repeat;



    float: left; 



    margin: 57px 0 0 -6px;



}



.journalBotRight {



    background: url("../imgs/journal_botright.jpg") no-repeat;



    float: right;width:8px;



	height:8px;



    margin: 57px 0 0 -2px;



}



*/



 



 







.blueLink, .blueLink:link, .blueLink:visited {
	color:#003366;
	font-size:14px;
	text-decoration:none;
}
.blueLink:hover {
	text-decoration:underline;
}
.toolTipClose {
	display:block;
	width:25px;
	height:25px;
	position:absolute;
	top:-8px;
	right:-8px;
	background:url(../imgs/btnClose.png) no-repeat;
}
.slideImages {
	width:300px;
	height:200px;
}
.Slideshow {
	position:relative;
	width:300px;
	height:200px;
}
.Slideshow .slide {
	position: absolute;
	opacity:0;
	z-index:9;
}
.Slideshow .slide.active {
	opacity:1;
	z-index: 11;
}
.Slideshow .slide.last-active {
	z-index: 10;
}
.img {
	border: 1px solid #D0D0D0;
	margin-left: 0;
	margin-right: 0;
}
.infoBox {
	background:url(../imgs/info_icon.jpg) no-repeat;
	color:#984842;
	min-height:30px;
	margin:10px 0px 0px 20px;
	padding:4px 0 0 36px;
}
/*



.infoBox{



	background:url(../imgs/info_icon.jpg) no-repeat;



	color:#984842;



	min-height:30px;



	margin:0px 0px 0px 20px;



	padding:4px 0 0 36px;



	float:left;



}*/ 







.infoBox1 {
	background:url(../imgs/info_icon.jpg) no-repeat;
	color:#984842;
	min-height:30px;
	margin:460px 0px 0px 20px;
	padding:4px 0 0 36px;
}
.infoBox2 {
	background:url(../imgs/info_icon.jpg) no-repeat;
	color:#984842;
	min-height:30px;
	margin:20px 0 0 0;
	padding:4px 0 0 36px;
}
.infoBox3 {
	background:url(../imgs/info_icon.jpg) no-repeat;
	color:#984842;
	min-height:30px;
	margin:60px 0px 0px 20px;
	padding:4px 0 0 36px;
}
.infoBox4 {
	background:url(../imgs/info_icon.jpg) no-repeat;
	color:#984842;
	min-height:30px;
	margin:850px 0px 0px 20px;
	padding:4px 0 0 36px;
}
.clearBoth {
	clear:both;
}
.caption {
	font-size:16px;
}
.subbull {
	padding-left:70px;
}
.popUpPage {
	background-color:#003366 !important;
	position:relative;
}
.popUpContent {
	background-color:#FFFFFF;
	height:100%;
}
/*.popUpIconBg{



	background-color:#91b1d0;



	padding:2px;



}*/



.popUpClose {
	width:32px;
	height:32px;
	border:1px solid #b2ccdd;
	margin:1px;
	padding:10px;
	float:right;
	cursor:pointer;
	background:url(../imgs/icons/close.png) no-repeat 10px 10px;
}
/*.popUpPrint{



	float:left;



	padding:2px;



	cursor:pointer;



	background:url(../imgs/icons/i_print.png) no-repeat 2px 2px;



	width:48px; height:48px;



}*/



.pd10 {
	padding:10px;
}
h6 {
	display:none;
}
.center {
	text-align:center;
}
.question {
	display:inline;
}
.checkAnswer {
	color:#d00000;
	font-size:12px;
	font-weight:bold;
	cursor:pointer;
	width:115px;
	display:inline;
	text-decoration:underline;
}
.checkAnswer:hover {
	text-decoration:none;
}
.answerPage {
	display:none;
	min-height:400px;
}
.previousPage {
	display:none;
}
.previousPage {
	color:#d00000;
	font-size:12px;
	font-weight:bold;
	cursor:pointer;
	margin:0 0 20px 0;
	text-decoration:underline;
	height:15px;
	width:50px;
	padding-bottom:10px;
}
.previousPage:hover {
	text-decoration:none;
}
.tryit {
	vertical-align:middle;
	padding-right:10px;
}
.tryinfoBox {
	color:#984842;
	min-height:30px;
	margin:0px 0px 0px 20px;
	padding:4px 0 0 36px;
}
div {
	outline:none;
}
.hideToolTip {
	display:none;
}
.p20 {
	padding:0 0 0 50px;
}
.copyrights {
	float:left;
	width:700px;
	padding:0 0 0 30px;
	text-align:center;
	font-size:11px;
}
.israel {
	float:left;
	width:700px;
	padding:5px 0 0 30px;
}
.copyrights1 {
	font-size:11px;
}
.paddingLeft30 {
	padding-left:30px;
}
.textleft {
	text-align:left;
}
.textright {
	text-align:right;
}
.textcenter {
	text-align:center;
}
.marginbot50 {
	margin-bottom:50px;
}
.marginbot40 {
	margin-bottom:40px;
}
.marginbot30 {
	margin-bottom:30px;
}
.marginbot20 {
	margin-bottom:20px;
}
.marginbot10 {
	margin-bottom:10px;
}
.space {
	margin-top:20px;
}
.widtharea {
	width:740px;
	float:left;
}
.widthareaa {
	float:left;
}
.widtharea1 {
	width:700px;
	float:left;
}
.widtharea2 {
	width:1000px;
	float:left;
}
.rightarea2 {
	float:left;
	width:380px;
	margin:0px 0 0 0;
}
/*.rightarea{float:right; width:277px; margin:0px 0px 0 0;}*/



.rightarea1 {
	float:right;
	width:280px;
	margin:0px 0 0 0;
}
.rightarea2a {
	float:right;
	width:360px;
	margin:0px 0 0 10px
}
.rightarea3a {
	float:right;
	width:360px;
	margin:0px 35px 0 10px
}
.rightarea3_a {
	float:right;
	width:360px;
	margin:0px 35px 0 30px
}
.leftarea {
	float:left;
	width:450px;
	margin:-20px 0 0 0;
}
.leftarea1 {
	float:left;
	width:320px;
	margin:0px 20px 0 0;
}
.leftarea2 {
	float:left;
	width:719px;
	margin:0px 20px 0 0;
}
.boxWithcolor {
	border: 1px solid #003366;
	width:680px;
	height:230px;
	margin:0 0 20px 20px;
	padding:10px 10px 10px 10px;
	background-color:#ECF5FF;
}
.widthimg {
	float:left;
	width:310px;
	text-align:center;
}
.margin0 {
	margin:0px;
}
.margintop5 {
	margin-top:5px;
}
.margintop20 {
	margin-top:20px;
}
.margintop20-0-20-0 {
	margin:20px 0px 20px 0px;
}
.marginleft0 {
	margin-left:0px;
}
.marginleft5 {
	margin-left:5px;
}
.marginleft10 {
	margin-left:10px;
}
.marginleft101 {
	margin-left:40px;
}
.marginleft20 {
	margin-left:20px;
}
.marginleft30 {
	margin-left:30px;
}
.marginleft50 {
	margin-left:50px;
}
.marginleft100 {
	margin-left:100px;
}
.margintop40 {
	margin-top:40px !important;
}
.margintop30 {
	margin-top:30px !important;
}
.margintop120 {
	margin-top:120px;
}
.margintop10 {
	margin-top:10px;
}
.margintop50 {
	margin-top:50px !important;
}
.margintop60 {
	margin-top:60px !important;
}
.textleft {
	text-align:left;
}
.widthleft {
	width:333px;
	float:left;
}
.widthright {
	width:450px;
	float:left;
}
.widthleft1 {
	width:300px;
	float:left;
}
.widthright1 {
	width:400px;
	float:left;
}
.width200 {
	width:165px;
}
.marginright20 {
	margin-right:20px;
}
.marginbl {
	margin:0 0 40px -10px;
}
.Scroll {
	background-image: url("../module02/imgmod02/Scroll.png");
	height:505px;
	line-height:18px;
	width:365px;
	padding:75px 55px 0 70px;
	font-size:13px;
	float:left;
	margin:0 0 20px 130px;
}
.page4 {
	background-image: url(../module02/imgmod02/Scroll.png);
	height: 548px;
	width: 486px;
	padding:102px 0 0 83px;
	font-size:12px;
}
.parg {
	background-image: url("../module02/imgmod02/Scroll 2.png");
	font-size:13px;
	height: 450px;
	padding: 45px 65px 0 35px;
	float:left;
	width: 395px;
	margin:20px 0 20px 120px;
}
.parg1 {
	background-image: url("../module02/imgmod02/Scroll2.png");
	font-size: 11px;
	height: 418px;
	padding: 78px 0 0 74px;
	width: 423px;
}
.imgTopBg {
	background:url(../module02/imgmod02/content_topbg.png) no-repeat;
	width:745px;
	height:28px;
}
.imgMiddleBg {
	background:url(../module02/imgmod02/content_middlebg.png) repeat-y;
	min-height:350px;
	padding:10px 20px 0 20px;
	width:705px;
}
.imgBottomBg1 {
	background:url(../module02/imgmod02/content_botbg1.png) no-repeat;
	width:745px;
	height:28px;
}
.pop, .pop:visited {
	color:blue;
}
table tbody tr.bg1 td {
	background-color:#eef4e4;
}
table tbody tr.bg2 td {
	background-color:#ebe5f0;
}
table tbody tr.bg3 td {
	background-color:#e2f1f5;
}
table tbody tr.bg4 td {
	background-color:#e3e1cf;
}
.showTbl {
	position:absolute;
	background-color:#d0f4ff;
	z-index:999;
	top:80px;
	left:140px;
	display:none;
}
.showTblDiv {
	cursor:pointer;
}
.infoBox_video {
	color:#984842;
	min-height:30px;
	padding:4px 0 0 36px;
	text-align:left;
	margin:-8px 0 5px -20px;
}
.holly_box {
	float:left;
	padding:10px!important;
	border:2px solid #569AC9;
	background:#EAF7FF;
	margin:10px 0 20px 20px!important;
	width: 710px;
}
.mag-Glass {
	background-image: url("../imgs/enlarge.png");
	height:31px;
	margin:315px 0 0 445px;
	width: 32px;
	z-index:1000;
	position:absolute;
	left:0px;
	top:0px;
}
.mag-Glass_01 {
	background-image: url("../imgs/enlarge.png");
	height:31px;
	margin:824px 0 0 566px;
	width: 32px;
	z-index:1000;
	position:absolute;
	left:0px;
	top:0px;
}
.pos_rel {
	position:relative;
}
.img_center {
	display:block;
	margin:0 auto;
}
.disp_inline {
	display:inline;
}
.cpation_font {
	font-size:12px;
	margin-top:0px;
	color: #003366;
}
.colorRED {
	color:#FF0000;
}
.margin_top {
	margin-top:0px;
}
.margin_top-20 {
	margin-top:-20px;
}
.margin_top-10 {
	margin-top:-10px;
}
.video_infoBox {
	color:#984842;
	min-height:30px;
	margin:0px 0px 0px 20px;
}
.margin_left-50 {
	margin-left:-50px;
}
.margin_left-120 {
	margin-left:-120px;
}
.margin_left-150 {
	margin-left:-150px;
}
.margin_left-170 {
	margin-left:-170px;
}
.heifgt150 {
	height:160px;
}
.heifgt160 {
	height:180px;
}
.heifgt198 {
	height:198px;
}
.block {
	display:block;
}
.min_height150 {
	min-height:150px;
}
.min_height600 {
	min-height:600px;
}
.width55 {
	width:55px;
}
.marginleft60 {
	margin-left:60px;
}
.grading_space {
	min-height:60px;
}
.grading_space1 {
	min-height:80px;
}
.height70 {
	height:70px;
}
.height50 {
	height:50px;
}
.width275 {
	width:275px;
}
.width620 {
	width:620px;
}
.width720 {
	width:720px;
}
.m3l4acc {
	float:right;
	width:400px;
	height:400px;
}
.m3l4acc_txt {
	float:left;
	width:300px;
}
.tabHeight1 {
	height:180px;
}
.width180 {
	width:180px;
}
.height575 {
	height:575px;
}
.height468 {
	height:468px;
}
.width420 {
	width:420px;
}
.height310 {
	height:310px;
}
.width220 {
	width:220px;
}
.position-absolute {
	position:absolute;
}
.position-relative {
	position:relative;
}
.cursor {
	cursor:pointer;
}
.width_690 {
	width:690px;
}
/* ------------------------------------ Module 01 ------------------------------------- */







.TextVersionH200 {
	min-height:200px;
}
.imgBorderNone {
	border:none;
}
.h2Head1 span {
	color: #003366;
	font-size: 23px;
	margin: 0 0 50px 20px;
	padding: 0;
}
.h3HeadLineHeight span {
	line-height:26px;
}
.h4MarginLeft0 span {
	margin-left:1px;
}
.GlossaryNone {
	display:none;
}
.glossary_left40 {
	left:-40px;
	width:175px
}
.glossaryMargin {
	margin:0 0 0 -90px;
}
.ansPageHeight {
	min-height:221px;
}
.swfMarginTextVersion-1 {
	margin:0px 0 0 266px;
}
.swfMarginTextVersion-2 {
	margin:0 0 0 571px;
}
.swfMargin5 {
	margin:5px 0 0 0!important;
}
.swfMargin20 {
	margin:20px 0 0 0!important;
}
.swfMarginTop30 {
	margin-top:30px;
}
.swfMarginTop40 {
	margin-top:40px;
}
.swfMarginTop45 {
	margin-top:45px;
}
.swfW745Hauto {
	width:745px;
	height:auto;
}
.swfW745H200 {
	width:745px;
	min-height:200px;
}
.swfW744H418 {
	width:744px;
	height:418px;
}
.swfW745H591 {
	width:745px;
	height:591px;
	margin-left:5px;
}
.swfW757H450 {
	width:757px;
	height:450px;
}
.swfW757H382 {
	width:757px;
	height:382px;
}
.swfW745H565 {
	width:745px;
	height:565px;
}
.swfW745H586 {
	width:745px;
	height:586px;
}
.swfW745H306 {
	width:745px;
	height:306px;
}
.swfW745H360 {
	width:745px;
	height:360px;
}
.swfW745H380 {
	width:745px;
	height:380px;
}
.swfW745H393 {
	width:745px;
	height:393px;
}
.swfW745H400 {
	width:745px;
	height:400px;
}
.swfW745H421 {
	width:745px;
	height:421px;
}
.swfW745H461 {
	width:745px;
	height:461px;
}
.swfW745H468 {
	width:745px;
	height:468px;
}
.swfW745H474 {
	width:745px;
	height:474px;
}
.swfW745H491 {
	width:745px;
	height:491px;
}
.swfW745H496 {
	width:745px;
	height:496px;
}
.swfW745H501 {
	width:745px;
	height:501px;
}
.swfW745H596 {
	width:745px;
	height:596px;
}
.swfW745H604 {
	width:745px;
	height:604px;
}
.swfW745H605 {
	width:745px;
	height:605px;
}
.swfW745H618 {
	width:745px;
	height:618px;
}
.swfW745H621-631 {
	width:745px;
	height:621px;
*:height:631px;
}
.swfW745H783 {
	width:745px;
	height:783px;
}
.swfW745H812 {
	width:745px;
	height:812px;
}
.swfW712H488 {
	width:712px;
	height:488px;
}
.swfW758H480 {
	width:758px;
	height:480px;
}
.swfW710H506 {
	width:710px;
	height:506px;
	margin-left:30px;
}
.colorBlue-1 {
	color:#0000FF;
}
.tdBGcolor {
	background-color:#BFBFBF;
}
.tdBGcolor-1 th {
	background-color:#7F7F7F;
}
.tdBGcolor-2 {
	background-color:#FCD5B5;
}
.tdBGcolor-3 {
	background-color:#B7DEE8;
}
.tdBGcolor-4 {
	background-color:#92D050;
}
.tdBGcolor-5 {
	background-color:#95B3D7;
}
.tdBGcolor-6 {
	background-color:#D9D9D9;
}
.tdBGcolor-7 {
	background-color:#CCCCCC;
}
.videoCaption {
	font-size:11px;
	margin:5px 0 0 350px;
	text-align:center;
}
.videoUIText {
	text-align: left;
}
.videoOutHeight165 {
	height:165px;
}
.videoInHeight155 {
	height:155px;
}
.videoOutHeight166 {
	height:166px;
}
.videoInHeight156 {
	height:156px;
}
.videoOutHeight182 {
	height:182px;
}
.videoOutHeight200 {
	height:200px;
}
.videoInHeight172 {
	height:172px;
}
.borderZero {
	border:0px;
}
.videoOutH165W660 {
	width:660px;
	height:165px;
}
.videoInH155W552 {
	width:552px;
	height:155px;
}
.headAlign {
	float:none;
	color: #003366;
	font-size:23px;
	margin:0 0 50px 20px;
	padding:0;
}
.pTextAlign1 {
	text-align:right;
	margin-left:180px;
}
.pTextAlign2 span {
	margin-top:-25px;
	margin-left:30px;
}
.pTextPadding1 p {
	margin-left:50px;
	text-indent:23px;
}
.pTextPadding1 p span {
	margin-left:23px;
}
.pTextMarginL p {
	margin-left:43px;
}
.blkquot span {
	float:right;
	margin-top:-30px;
	margin-right:15px;
}
.bulletList1 li {
	margin-left:45px;
}
/* Lesson0 */



.width400ta {
	width:425px;
	float:left;
	margin-top:-20px;
}
.width_230 {
	width:230px;
}
.width_320 {
	width:320px;
}
.int_height481 {
	width:745px;
	height:481px;
}
/* Lesson1 */



.width_330 {
	width:330px;
}
.width_341 {
	width:341px;
}
.width_364 {
	width:364px;
}
.lineheight25 {
	line-height:25px;
}
.int_height549 {
	width:745px;
	height:549px
}
.int_height511 {
	width:745px;
	height:511px;
}
.int_height458 {
	width:745px;
	height:458px;
}
.int_height400 {
	width:745px;
	height:400px;
}
.int_height424 {
	width:745px;
	height:424px;
}
.margin_left-165 {
	margin-left:-165px;
}
.margin52-20 {
	margin:20px 52px;
}
/* Lesson2 */



.int_height200 {
	width:745px;
	height:auto;
	min-height:200px;
}
.int_height366 {
	width:745px;
	height:366px;
}
.width_434 {
	width:434px;
}
.int_height370 {
	width:745px;
	height:370px;
}
/* Lesson3 */



.width_385 {
	width:385px;
}
.int_height402 {
	width:745px;
	height:402px;
}
.list_style {
	list-style:none;
}
.list_style ul {
	list-style:disc;
}
.img_down {
	padding:170px 0px 0px 0px;
}
.glos_textleft {
	text-align:left!important;
}
/* Lesson4 */



.int_height446 {
	width:745px;
	height:446px;
}
.width_470 {
	width:470px;
}
.width_470 {
	width:470px;
}
.width_215r {
	float:right;
	width:215px;
}
.width_240r {
	float:right;
	width:240px;
}
.width_415r {
	float:right;
	width:350px;
}
.int_height501 {
	width:745px;
	height:501px;
}
.int_height450 {
	width:745px;
	height:450px;
}
.margin_left12 {
	margin-left:12px;
}
.margin_left24 {
	margin-left:24px;
}
.margin_left36 {
	margin-left:36px;
}
.width_45l {
	width:45px;
	border-bottom:1px solid;
	text-align:center;
	margin-top:-20px;
	float:left;
}
.width_120 {
	width:120px;
}
.width_50 {
	width:50px;
}
div .table1 table {
	float:left;
	padding:0px;
	margin:0px;
	border:1px solid #5799cd;
	background:#5799cd;
	outline-style:none;
	border:0px;
}
div .table1 table tr {
	outline-style:none;
}
div .table1 table tr td {
	padding:3px 5px;
	margin:0px;
	background:#fff;
	outline-style:none;
	list-style:none;
	border:1px;
	color:#000;
}
.img_sapce {
	width:150px;
}
.img_sapce_200 {
	width:200px;
	margin-left:20px;
}
.les_head1 {
	margin-top: -15px;
	margin-bottom: 35px;
}
.les_head1 span {
	margin-left:64px;
	margin-top:5px;
	line-height: 38px;
}
/* Lesson5 */



.int_height420 {
	width:744px;
	height:420px;
}
ul {
	margin:0px;
	padding:0 0 0 30px;
}
/* ------------------------------------ Module 01 END ------------------------------------- */











/* ------------------------------------ Module 02 ------------------------------------- */







/* Lesson0 */







.int_height481 {
	width:745px;
	height:481px;
}
/* Lesson1 */



.width_330 {
	width:330px;
}
.width_341 {
	width:341px;
}
.width_364 {
	width:364px;
}
.lineheight25 {
	line-height:25px;
}
.int_height549 {
	width:745px;
	height:549px
}
.int_height511 {
	width:745px;
	height:511px;
}
.int_height458 {
	width:745px;
	height:458px;
}
.margin_left-165 {
	margin-left:-165px;
}
.margin52-20 {
	margin:20px 52px;
}
/* Lesson2 */



.int_height200 {
	width:745px;
	height:auto;
	min-height:200px;
}
.int_height366 {
	width:745px;
	height:366px;
}
.width_434 {
	width:434px;
}
.int_height370 {
	width:745px;
	height:370px;
}
/* Lesson3 */



.width_385 {
	width:385px;
}
.int_height402 {
	width:745px;
	height:402px;
}
.list_style {
	list-style:none;
}
.list_style ul {
	list-style:disc;
}
.img_down {
	padding:170px 0px 0px 0px;
}
/* Lesson4 */



.int_height446 {
	width:745px;
	height:446px;
}
.width_470 {
	width:470px;
}
.width_215r {
	float:right;
	width:215px;
}
.int_height501 {
	width:745px;
	height:501px;
}
.margin_left12 {
	margin-left:12px;
}
.margin_left24 {
	margin-left:24px;
}
.margin_left36 {
	margin-left:36px;
}
.width_45l {
	width:45px;
	border-bottom:1px solid;
	text-align:center;
	margin-top:-20px;
	float:left;
}
.width_120 {
	width:120px;
}
.width_50 {
	width:50px;
}
.img_sapce {
	width:350px;
}
.les_head1 {
	margin-top: -15px;
	margin-bottom: 35px;
}
.les_head1 span {
	margin-left:64px;
	margin-top:5px;
	line-height: 38px;
}
.mar50 {
	margin:150px 0 0 0;
	border:1px solid red;
}
.width_250 {
	width:250px;
}
.block0auto {
	display:block;
	margin:0 auto;
}
.margin0W245 {
	margin:0px;
	width:245px;
}
.swfW745H442 {
	width:745px;
	height:442px;
}
.swfW745H566 {
	width:745px;
	height:566px;
}
.TVmarginBottom0 {
	margin-bottom:0px;
}
.TVmarginTop0 {
	margin-bottom:0px;
}
.ansPageHeight200 {
	min-height:200px;
}
.cTextLeft-0-W400 {
	text-align:left;
	width:400px;
	margin-top:-20px;
}
.cTextLeft-30-W240 {
	text-align:left;
	margin:0px 0 0 30px;
	width:240px;
}
.cTextLeft-20-W300 {
	text-align:left;
	margin:0px 20px;
	width:300px;
}
.cTextLeft-16-W245 {
	margin:0px;
	margin-top:-16px;
	width:245px;
}
.cTextLeft-0-W251 {
	width:251px;
	margin:0px;
}
.margin0-block {
	margin:0 auto;
	display:block;
}
.margin-0-20-10-20 {
	margin:0 20px 10px 20px;
}
.margin-20-20-50-20 {
	margin:20px 20px 50px 20px;
}
.swfObject00 {
	width:745px;
	height:451px;
}
.swfObject01 {
	width:745px;
	height:auto;
	min-height:100px;
}
.width_250 {
	width:250px;
	border:0px solid red;
}
.width_240 {
	width:240px;
	float:left;
}
.width_480 {
	width:480px;
	float:left;
}
.disnone {
	display:none;
}
.left_100 {
	left:-100px;
}
.mar_20 {
	margin-left:20px;
}
.h_165 {
	height:185px;
}
.h_155 {
	height:155px;
}
.mr_7 {
	margin:7px 0;
	float:left;
}
.mr_720 {
	margin:7px 0 20px 0;
	float:left;
}
.wd_532 {
	width:745px;
	height:532px;
}
.wd_250 {
	width:250px;
}
.wd_300 {
	width:300px;
}
.wd_350 {
	width:350px;
}
.wd_375 {
	width:375px;
}
.ml_10 {
	margin-left:10px;
}
.wdl_240 {
	width:240px;
	float:left;
}
.blockl {
	display: block;
	left:-150px;
}
.wdl_690 {
	width:690px;
	text-align:left;
}
.mh {
	min-height:221px;
}
.mrg_0 {
	margin:0 auto;
	display:block;
}
.wd_430_0 {
	width:430px;
	margin:0px;
}
.ml40 {
	margin-left:40px;
}
.m_120 {
	margin:0px 0 0 20px;
	float:left;
}
.m_7002 {
	width:745px;
	height:400px;
	border:0px solid;
}
.m_70022 {
	width:700px;
	margin:0 0 0 22px;
}
.mt_50 {
	margin-top:50px;
}
.mh_526 {
	width:745px;
	height:526px;
}
.mh_524 {
	width:745px;
	height:524px;
}
.mh_549 {
	width:745px;
	height:549px;
}
.mh_410 {
	width:745px;
	height:410px;
}
.mh_696 {
	width:745px;
	height:696px;
}
.mh_696 {
	min-height:221px;
}
.mt_10 {
	margin-top:10px;
}
.mt_745 {
	width:745px;
	height:auto;
	border:0px solid;
	min-height:100px;
}
.mt10 {
	margin-top:10px;
}
.mta {
	margin-top:0px;
	text-align:left;
}
.mauto {
	display:block;
	margin:0 auto;
}
.text1 {
	text-align:left;
	margin:0px;
	width:250px;
}
.text2 {
	margin:5px 20px 0 20px;
}
.text3 {
	margin-top:20px;
}
.text4 {
	width:745px;
	height:341px;
}
.text5 {
	margin-top:30px;
}
.mar20 {
	margin:20px;
}
.mf20 {
	margin-left:0px;
}
.mfg {
	min-height:150px;
}
.ml0 {
	margin-left:0px;
}
.w55 {
	width:55px;
}
.w270 {
	width:270px;
	margin-top:0px;
}
.m050 {
	margin:0 0px 0 50px;
}
.m0500 {
	margin:0 50px 0 0;
}
.w300 {
	width:300px;
	margin-top:0px;
}
.w321 {
	width:321px;
	margin-top:0px;
}
.wt5 {
	margin-top:5px;
}
.mmm20 {
	display: none;
	margin-left:-180px;
}
.w377 {
	width:360px;
	margin:0px;
}
.mar10 {
	margin-top:10px;
}
.w745a {
	width:745px;
	height:443px;
	margin-top:30px;
}
.w745aa {
	width:745px;
	height:443px;
}
.marg30 {
	margin-top:30px;
}
.mar20px {
	margin:20px;
}
div#docLoader, div#appLoader {
	left: 50%;
	margin-left: -32px;
	margin-top: -32px;
	position: absolute;
	top: 30%;
}
.w362 {
	width:362px
}
.w341 {
	width:341px;
	font-size:14px;
}
.w300 {
	width:300px;
}
.mt15 {
	margin-top:15px;
}
.w745mt30 {
	width:745px;
	height:590px;
	margin-top:30px;
}
.mt30 {
	margin-top:30px;
}
.m020 {
	margin:20px 0 20px 20px;
}
.m0200 {
	margin:0px 20px;
}
.w254 {
	width:254px;
}
.w625 {
	width:745px;
	height:625px;
}
.w606 {
	width:745px;
	height:606px;
}
.minh150 {
	min-height:150px;
}
.w55px {
	width:55px;
}
.progress_audio {
	border:0px solid;
	margin:0px 0 0 20px!important;
}
.progress_audio .jp-interface {
	background:none;
}
.h403 {
	width:745px;
	height:403px;
}
.mar2020 {
	margin:0 0 20px 20px;
}
.mar15m420 {
	margin:15px 0px 20px 20px;
	width:420px;
}
.mar20202 {
	margin:20px 0px 20px 20px;
}
.mdh200 {
	min-height:200px;
}
.wd54 {
	width:54px;
}
.wds279 {
	width:279px;
	font-size:14px;
	margin-top:0px;
}
.wid745 {
	width:745px;
	height:590px;
}
.mrg0201 {
	margin:0px 20px 20px 20px
}
.margin43 {
	margin:0px 43px 0 0px;
}
.dis130 {
	display: none;
	margin-left:-130px;
}
.margin20 {
	margin:20px 0 0 132px;
}
.margin113 {
	margin:20px 113px;
}
.widht343px {
	width:343px;
	margin-top:0px!important;
}
.mar20100 {
	margin:20px 0 0 100px;
}
.mar90 {
	margin:20px 90px;
}
.wi341 {
	width:341px;
	font-size:14px;
	margin-top:0px!important;
}
.wid707 {
	width:707px;
}
.marg2011 {
	margin:20px 113px;
}
.width364 {
	width:364px;
}
.mar2055 {
	margin:20px 55px;
}
.width341 {
	width:341px;
	font-size:14px;
}
.magt13 {
	margin-top:-13px;
}
.disn84 {
	display: none;
	margin-left:-84px;
}
.mar00002 {
	margin:0 20px 20px 20px
}
.mart12 {
	margin-top:12px;
}
.coupoint {
	cursor:pointer;
}
.w745336 {
	width:745px;
	height:336px;
}
.mar02010 {
	margin:0px 0px 0px 0px;
}
.mar40 {
	margin:40px 0 0 0;
}
.width17486 {
	width:745px;
	height:862px;
}
.het185 {
	height:185px;
}
.mar0010 {
	margin:0 0 10px 0;
}
.width2610px {
	width:261px;
	margin:0px;
}
.h175 {
	height:175px;
}
.wi1745 {
	width:745px;
	height:575px;
}
.wi1746 {
	width:745px;
	height:660px;
}
.mar0px {
	margin-bottom:0px;
}
.min_height00 {
	min-height:100px;
}
.text555 {
	float:left;
	background-color:#E5B8B7;
	font-size:11px;
	text-align:center;
	width:200px;
}
.obj223 {
	margin:0px;
	width:150px;
}
.mer01000 {
	margin:0 10px 0 0;
}
.wi19855 {
	width:198px;
}
.m0w198 {
	margin:0px;
	width:198px;
}
/* ------------------------------------ Module 02 END ------------------------------------- */



 







/* ------------------------------------ Module 03 ------------------------------------- */



/* Lesson0 */



.width400t {
	width:400px;
	float:left;
	margin-top:-20px;
}
.width400 {
	width:400px;
}
.width_300 {
	width:300px;
}
.width_201 {
	width:300px;
}
.width_420 {
	width:420px;
}
.int_height481 {
	width:745px;
	height:481px;
}
/* Lesson1 */



.width_330 {
	width:330px;
}
.width_341 {
	width:341px;
}
.width_700 {
	width:700px;
}
.width_364 {
	width:364px;
}
.width_375 {
	width:375px;
}
.topHeight {
	margin-top:20px;
}
.widthandheight {
	width:364px;
	margin-left:25px;
	margin-top:20px;
}
.lineheight25 {
	line-height:25px;
}
.int_height549 {
	width:745px;
	height:549px
}
.int_height511 {
	width:745px;
	height:511px;
}
.int_height458 {
	width:745px;
	height:458px;
}
.margin_left-165 {
	margin-left:-165px;
}
.margin52-20 {
	margin:20px 52px;
}
/* Lesson2 */



.int_height200 {
	width:745px;
	height:auto;
	min-height:200px;
}
.int_height366 {
	width:745px;
	height:366px;
}
.width_434 {
	width:434px;
}
.width_415 {
	width:415px;
}
.int_height370 {
	width:745px;
	height:370px;
}
/* Lesson3 */



.width_385 {
	width:385px;
}
.int_height402 {
	width:745px;
	height:402px;
}
.list_style {
	list-style:none;
}
.list_style ul {
	list-style:disc;
}
.img_down {
	padding:170px 0px 0px 0px;
}
/* Lesson4 */



.int_height446 {
	width:745px;
	height:446px;
}
.width_470 {
	width:470px;
}
.width_215r {
	float:right;
	width:215px;
}
.int_height501 {
	width:745px;
	height:501px;
}
.margin_left12 {
	margin-left:12px;
}
.margin_left24 {
	margin-left:24px;
}
.margin_left36 {
	margin-left:36px;
}
.width_45l {
	width:45px;
	border-bottom:1px solid;
	text-align:center;
	margin-top:-20px;
	float:left;
}
.width_120 {
	width:120px;
}
.width_50 {
	width:50px;
}
/* Lesson5 */



.font_13 {
	font-size:13px;
}
.width_180 {
	width:180px;
}
.clear_left {
	clear:left;
}
.bg_color {
	background:#D6E3BC;
}
.lineheight_30 {
	line-height:30px;
}
.les_head1 {
	margin-top: -15px;
	margin-bottom: 35px;
}
.les_head1 span {
	margin-left:64px;
	margin-top:5px;
	line-height: 38px;
}
.career {
	display:block;
	float:left;
	width:668px;
}
.career1 {
	width:350px;
	float:left;
	display:block;
}
.career2 {
	width:300px;
	float:left;
	margin:0 0 0 10px;
	display:block;
}
/* ------------------------------------ Module 03 END ------------------------------------- */











/* ------------------------------------ Module 04 ------------------------------------- */



div.assignment1 {
	background-color:#FFF;
	border:2px solid #003366;
	-moz-border-radius:10px;
	border-radius:10px;
	width:738px;
}
div.assignment1 h4 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
}
div.assignment1 h4 span {
	color:#5799cd;
}
div.assignment1 h4 {
	padding-left:50px;
	line-height:48px;
	background-repeat:no-repeat;
	background-image:url(../../imgs/iconLibrary/i_assignment.png);
}
div.assignment1 {
	margin:20px;
}
/* Lesson8 */







.obj_span {
	float:left;
	margin-top:-20px;
}
.clr_left {
	clear:left;
}
.obj_swf {
	width:745px;
	height:436px;
}
.mar_top {
	margin-top:0px!important;
}
.les_head {
	margin-top: -15px;
	margin-bottom: 35px;
}
.les_head span {
	margin-left:71px;
	margin-top:5px;
	line-height: 38px;
}
.les_head1 {
	margin-top: -15px;
	margin-bottom: 35px;
}
.les_head1 span {
	margin-left:64px;
	margin-top:5px;
	line-height: 38px;
}
.cross_swf {
	width:745px;
	height:806px;
}
.l81a_swf {
	width:745px;
	height:466px;
}
.ans_minheight {
	min-height:100px;
}
.clickcard_swf {
	width:745px;
}
.cross_ques {
	float:left;
	width:475px;
}
.assignment_head {
	line-height:30px!important;
}
.f_l {
	float:left;
}
.height604 {
	height:604px;
}
/* Lesson 07 */







.obj_swf7e {
	width:745px;
	height:607px;
}
.leftm4l7_2a {
	margin-left: 70px;
	float:left;
}
.rightm4l7_2a {
	margin-right: 54px;
	float:right;
}
.rightarea {
	float:right;
	width:277px;
	margin:10px 0 0 0px;
}
.rightarea12 {
	float:right;
	width:450px;
	margin:10px 0 0 0px;
}
.rightarea13 {
	float:right;
	width:350px;
	margin:10px 0 0 0px;
}
.activeinteractivem4l7_a {
	margin-top:40px;
}
.swfobjectm4l7_a {
	width:745px;
	height:501px;
}
.activeinteractivem4l7_b {
	margin-top:40px;
}
.swfobjectm4l7_b {
	width:745px;
	height:501px;
}
.l7_capcenter {
	text-align:center;
	display:block;
}
/* Lesson 06 */











.pg0Txt1 {
	width:400px;
	float:left;
	margin-top:-20px;
}
.wd325 {
	width:325px;
}
.assesTxt1 {
	margin-left:30px;
	width:780px;
}
.mtop30 {
	margin-top:30px!important;
}
.mtop40 {
	margin-top:40px!important;
}
.mtop50 {
	margin-top:50px!important;
}
.obj_swf6 {
	width:745px;
	height:276px;
}
.hide {
	display:none;
}
.ht160 {
	height:175px;
}
.ht145 {
	height:145px;
}
.lHt30 {
	line-height:30px;
}
.obj_swf6a {
	width:745px;
	height:400px;
}
.obj_swf6c {
	width:745px;
	height:784px;
}
.anspage_height {
	min-height:200px!important;
}
.m_top0 {
	margin-top:0px!important;
}
/* Lesson 09 */







.obj_swf9a {
	width:745px !important;
	height:531px;
}
.marginleft80 {
	margin-left:80px;
}
/* Lesson 01 */







.left_Adjust {
	margin-left:-90px;
}
.height4-0a {
	height:481px;
	width:745px;
}
.height4-1e {
	width:745px;
	height:674px;
}
.height4-1a {
	height:150px;
}
.height4-21a {
	height:160px;
}
.height4-21f {
	width:745px;
	height:296px;
	float:left;
	margin-bottom:40px;
}
.margin-lm {
	margin-left:-40px;
}
/* Lesson 02 */



.m4l2rightarea1 {
	float:right;
	width:280px;
	margin:0px 0 0 0;
}
/* Lesson 03 */







.m4l3para1 {
	text-align:left;
	font-size:12px;
	margin-left:20px;
}
.para04_05_a {
	font-size:12px;
	text-align:left;
	margin-left:20px;
}
.m4l3para2 {
	margin-left:20px;
	font-size:12px;
}
.m4l3para3 {
	text-align:left;
	font-size:12px;
	margin-left:20px;
}
.m4l3width_310 {
	width:708;
	height:auto;
}
.m4l3height320 {
	height:260px;
}
.m4l3min_width338px {
	min-width:338px;
}
.m4l3swfObject {
	width:745px;
	height:395px;
}
.swfobjectm4l3_f {
	width:745px;
	height:549px;
}
.swfobjectm4l3_g {
	width:745px;
	height:549px;
}
/* Lesson 04 */







.swfHW {
	width:745px;
	height:634px;
}
.mTop40 {
	margin-top:40px !important;
}
.displayHide {
	display:hide;
}
.displayShow {
	display:show;
}
.font12 {
	font-size:12px;
}
.margin_top_20 {
	margin-top:-20px;
}
.margin_bot10 {
	margin-bottom:10px;
}
.width_330 {
	width:330px;
	height:auto;
}
.width_310 {
	width:310px;
	height:auto;
}
.fl {
	float:left;
}
.fr {
	float:right;
}
.height320 {
	height:320px;
}
.activeinteractivem4l4_b {
	margin-top:90px;
}
.swobjectm4l4_b {
	width:745px;
	height:549px;
}
.txtm4l4_b {
	margin-top:90px;
}
.swobjectm4l4_c {
	width:745px;
	height:370px;
}
.prevpgm4l4_c {
	width: 55px;
}
.marginleft10 {
	margin-left: 10px;
}
.travelJournalm4l4 {
	background: url("../imgs/journal_arrow.png") no-repeat scroll 698px 31px #91B1D0;
	height: 83px;
	margin: 0 auto;
	padding: 5px 6px;
	position: relative;
	width: 695px;
}
.journalButtonm4l4 {
	background: none repeat scroll 0 0 #FFFFFF;
	float: left;
	height: 64px;
	margin: 0 0 0 5px;
	padding: 10px;
	position: relative;
	text-align: left;
	width: 596px;
}
/* Lesson 05 */







.para04_05_a {
	font-size:12px;
	text-align:left;
	margin-left:20px;
}
.para04_05_a1 {
	font-size:12px;
	text-align:left;
	margin-left:20px;
}
.para04_05_b {
	font-size:12px;
	text-align:left;
	margin-left:20px;
}
.cpation_font {
	font-size:12px;
	margin-top:0px;
}
.swobjectm4l5_b {
	width:745px;
	height:515px;
}
.swobjectm4l5_a {
	width:745px;
	height:716px;
}
.activeinteractivem4l5_a {
	margin-top:40px;
}
.txtm4l5_a {
	margin-top:40px;
}
.activeinteractivem4l5_b {
	margin-top:40px;
}
.txtm4l5_b {
	margin-top:40px;
}
.disvidm4l4_b {
	height:165px;
}
.btnm4l5_a {
	height:155px;
}
.infoboxm4l5_a {
	text-align:left
}
.video_infoBox {
	color:#984842;
	min-height:30px;
	margin:0px 0px 0px 20px;
}
.para1 {
	font-size: 13px;
	height: 450px;
	padding: 45px 65px 0 35px;
	float: left;
	width: 395px;
	margin: 20px 0 20px 120px;
}
.activeinteractivem4l5_c {
	margin-top:40px;
}
.swobjectm4l5_c {
	width:745px;
	height:549px;
}
.txtm4l5_c {
	margin-top:40px;
}
.swobjectm4l5_d {
	width:745px;
	height:643px;
}
.anspgm4l5_d {
	min-height:450px !important;
}
.prevpgm4l5_d {
	width: 55px;
}
/* Lesson 10 */







.obj_swf10b {
	width:745px;
	height:930px;
}
.obj_swf10c {
	width:745px;
	height:405px;
}
.obj_swf10c_2 {
	width:745px;
	height:812px;
}
.obj_swf10d {
	width:745px;
	height:703px !important;
}
.obj_swf10d_2 {
	width:745px;
	height:436px !important;
}
.flash_font {
	font-size:17px;
}
.wt_dot {
	float:left;
	height:1px;
	width:750px;
	border:1px solid red;
}
/* ------------------------------------ Module 04 ------------------------------------- */







/* ------------------------------------ Module 05 ------------------------------------- */







.width_24p {
	width:24%;
}
.width_76p {
	width:76%;
}
.height75 {
	height:75px;
}
.height95 {
	height:95px;
}
.height55 {
	height:55px;
}
.height170 {
	height:170px;
}
.height198 {
	height:198px;
}
div.assignment1 {
	background-color:#FFF;
	border:2px solid #003366;
	-moz-border-radius:10px;
	border-radius:10px;
	width:738px;
}
div.assignment1 h4 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
}
div.assignment1 h4 span {
	color:#5799cd;
}
div.assignment1 h4 {
	padding-left:50px;
	line-height:48px;
	background-repeat:no-repeat;
	background-image:url(../../imgs/iconLibrary/i_assignment.png);
}
div.assignment1 {
	margin:20px;
}
/* Lesson 00 */



.m5l0_e_img {
	margin-left: 12px;
}
.m5_l0_extlink, .m5_l0_extlink:visited {
	color:blue;
}
.m5l0_right_0 {
	width: 283px;
}
.m5_l0_pag5objhead {
	margin:20px 0px 20px 20px!important;
}
div.assignment {
	margin:20px 0px 20px 20px!important;
}
/* Lesson 01 */











.m5l1margin_left-150 {
	margin-left:-120px;
}
.m5l1_a_marginleft {
	margin-left:30px;
}
/* Lesson 02*/



.m5l2para1 {
	text-align:left;
	margin-left:20px;
	font-size:12px;
}
.m5l2height {
	height:172px;
}
.m5l2interactive1 {
	margin-top:40px;
}
.m5l2traveljur_a {
	height:75px;
}
.m5l2jurbtn_a {
	height:55px;
}
.m5l2_disbtn {
	height:162px;
}
.m5l2_info {
	text-align: left;
}
.m5l2swobjecta {
	width:745px;
	height:490px;
}
.box1 {
	border: 1px solid black;
	height: 96px;
	margin: 28px 13px;
	text-align: center;
	width: 593px;
}
.mag_txt {
	font-size:26px;
}
.mag_txt1 {
	margin-left: 116px;
}
.mag_txt2 {
	margin-left: 24px;
}
.mag_txt_marleft {
	margin-left:40px;
}
.box2 {
	border: 1px solid black;
	height: 300px;
	margin: 28px 115px;
	text-align: center;
	width: 340px;
}
.box3 {
	border: 1px solid black;
	height: 96px;
	margin: 28px 22px;
	text-align: center;
	width: 272px;
}
.box4 {
	border: 1px solid black;
	height: 96px;
	margin: 0 307px;
	text-align: center;
	width: 272px;
}
.box5 {
	border: 1px solid black;
	height: 96px;
	margin: 28px 171px;
	text-align: center;
	width: 263px;
}
/* Lesson 03 */



.m5l3swfObject1 {
	width:745px;
	height:501px;
}
.m5l3activeint1 {
	margin-top:40px;
}
/* Lesson 04 */



.m5l4img1 {
	margin-left:30px;
}
.m5l4swobject {
	width:745px;
	height:481px;
}
.m5l4swobject_b {
	width:745px;
	height:481px;
}
.m5l4down {
	margin-top:35px;
}
.m5l4right_0a {
	width: 235px;
}
.m5l4_swobjecta {
	width:745px;
	height:481px;
}
/* Lesson 05 */



.m5l5_para {
	float: left;
	margin-left: 47px;
	width: 327px;
}
.m5l5marginleft_b_1 {
	margin-left:-68px;
}
.m5l4right_0a {
	width: 235px;
}
.m5l5leftarea_c {
	width: 375px;
	margin-left: 34px;
}
.m5l5_img_c {
	margin-left:20px;
}
.m5l5_img_c1 {
	margin-left: 40px;
}
.m5l5_img_c2 {
	display:block;
	width:250px;
	margin:0 auto;
}
.leftarea1 {
	float: left;
	margin: 0 11px;
	width: 440px;
}
.m5l5_width_0 {
	width:282px;
}
.m5l5_c1 {
	text-align: left;
	width:250px;
}
.m5l5img {
	margin-left:60px;
}
.m5l5img1 {
	margin-left:63px;
}
.m5l5_c {
	text-align: left;
	width: 342px;
}
.cpation_font {
	font-size:12px;
	margin-top:0px;
}
.m5l5_d {
	width: 245px;
}
.m5l5_d1 {
	margin-left: 23px;
	text-align: left;
	width: 722px;
}
.m5l5right_c {
	width: 240px;
	margin-top: -18px;
	margin-right:45px;
}
.m5l5_img_c {
	display:block;
	width:250px;
	margin:0 auto;
}
.m5l5swfObjecte {
	width:745px;
	height:451px;
}
.m5l5width_b {
	width:300px;
}
.m5l5marginleft_d {
	margin-left:40px;
}
/* Lesson 06 */



.m5l6font {
	font-size:19px;
}
.m4l6font {
	font-size:16px;
}
.m5l6_a {
	width:250px;
	margin:0px;
}
.m5l6_a1 {
	margin-left:20px;
}
.m5l6_info_c {
	text-align: left;
}
.travelJournalm5l6 {
	background: url("../imgs/journal_arrow.png") no-repeat scroll 698px 31px #91B1D0;
	height: 83px;
	margin: 0 auto;
	padding: 5px 6px;
	position: relative;
	width: 695px;
}
.journalButtonm5l6 {
	background: none repeat scroll 0 0 #FFFFFF;
	float: left;
	height: 64px;
	margin: 0 0 0 5px;
	padding: 10px;
	position: relative;
	text-align: left;
	width: 596px;
}
.m5l6img_b {
	border: 1px solid #D0D0D0;
	margin-left: 28px;
	margin-right: 0;
}
.m5l6right_b {
	width:280px;
}
.m5l6c1 {
	margin-left:20px;
}
.m5l6disvideo {
	height:172px;
}
.m5l6disbtn {
	height:162px;
}
.m5l6_widtharea_c {
	border:2px solid #569AC9;
	background:#EAF7FF;
	margin:10px 0 10px 20px;
	width: 710px;
}
.m5l6_widtharea_ca {
	border:2px solid #569AC9;
	background:#EAF7FF;
	margin:10px 0 10px 20px;
}
.m5l6swobject_d {
	width:745px;
	height:590px;
}
.m5l6swobject_e {
	width:745px;
	height:600px;
}
.m5l6swobject_b {
	width:745px;
	height:490px;
}
.m5l6_margin_left {
	margin-left:40px;
}
/* Lesson 07 */



.m5l7swobject_0 {
	height:650px;
	width:745px;
}
.m5l7font {
	font-size:22px;
}
.m5l7marginleft {
	margin-left:57px;
}
.les_head1 {
	margin-top: -15px;
	margin-bottom: 35px;
}
.les_head1 span {
	margin-left:64px;
	margin-top:5px;
	line-height: 38px;
}
.m05_07_obj_head {
	line-height:33px!important;
}
.m5_l7_imgcon {
	float: right;
	margin: 10px 0 0 16px;
	width: 200px;
}
.m5_l88_imgcon {
	float: right;
	margin: 10px 0 0 16px;
	width: 133px;
}
.m5_l89_imgcon {
	float: right;
	margin: 10px 0 0 16px;
	width: 260px;
}
.mag-Glass_pos {
	margin:-36px 0 0 516px !important;
}
.assesment_subhead {
	font-size:16px;
	color:#003366;
}
.margina1 {
	width:180px;
}
.obj1 h4 span {
	font-size:18px;
}
.width710 {
	width:710px !important;
}
/* ------------------------------------ Module 06 ------------------------------------- */



.m6l2_left_b {
	float: left;
	margin-left: 70px;
}
.m6l2_cpation_font_2b {
	float: left;
	font-size: 12px;
	width: 199px;
}
.m6l2_cpation_font_2b_1 {
	margin-left: 17px;
	font-size: 12px;
	width: 199px;
}
.m6l2_box1 {
	background: none repeat scroll 0 0 #9DBBD3;
	color: black;
	height: 198px;
	margin-left: 100px;
	width: 581px;
}
.m6l2_box11 {
	background: none repeat scroll 0 0 #9DBBD3;
	color: black;
	height: 198px;
	margin-left: 270px;
	width: 581px;
}
.m6l2_para {
	padding:20px 30px;
	font-size:14px;
}
.m6l2_img_2b {
	margin-left:30px;
}
.m6_l3_img_0 {
	margin-left:20px;
	margin-top: 20px;
}
.m6l3_cpation_font_c {
	float: left;
	font-size: 12px;
	width: 255px;
}
.m6l3_cpation_font_c1 {
	font-size: 12px;
	margin-left: 26px;
	width: 284px;
}
.m6l3_margin_f {
	margin-left:50px;
}
.m6l3_cpation_font_d {
	font-size: 12px;
	width: 194px;
	float: left;
}
.m6l3_img_d {
	margin-left:24px;
}
.m4l3_right_d1 {
	float: right;
}
.m6l3_cpation_font_d1 {
	font-size: 12px;
	width: 284px;
}
.m6l2_img_d2 {
	margin-left:25px;
}
.m6l3d2_span {
	margin: 0 0 0 26px;
	width: 302px;
}
.m6l2_img_d2_first {
	margin-left:60px;
}
.m6l3_infoBox1 {
	background: url("../imgs/info_icon.jpg") no-repeat scroll 0 0 transparent;
	color: #984842;
	margin: 0 0 0 250px;
	min-height: 30px;
	padding:6px 0 0 37px;
}
.mag-Glass1 {
	background-image: url("../imgs/enlarge.png");
	height: 31px;
	position:absolute;
	width: 32px;
	top:0px;
	left:0px;
	z-index: 1000;
	margin: 194px 0 0 103px;
}
.img-position {
	position:relative;
	width:120px;
	height:240px;
	top:0px;
left;
	margin:0 0 0 30px;
}
.mag-Glass2 {
	background-image: url("../imgs/enlarge.png");
	height: 31px;
	margin:131px 0 0 186px;
	position: absolute;
	width: 32px;
	z-index: 1000;
}
.m6l2_down_g {
	margin: 150px 69px;
	top: -34px;
	width: 117px;
}
.m6l2_g1 {
	position:absolute;
	width:200px;
}
.m6l3_cpation_font_d3 {
	font-size: 12px;
	width: 284px;
	margin-left: 27px;
}
.m6l3_marginleft-163 {
	margin-left:-163px;
}
.marginbot-11 {
	margin-bottom:-11px;
}
.text-normal {
	font-style:normal;
}
.width713 {
	width: 713px;
}
.marginbot-20 {
	margin-bottom:-20px;
}
.marginbot-30 {
	margin-bottom:-30px;
}
.marginbot-40 {
	margin-bottom:-40px;
}
.marginbot-50 {
	margin-bottom:-50px;
}
.marginbot-60 {
	margin-bottom:-60px;
}
.marginleft-top-100 {
	margin:-80px 0 0 50px;
}
.m6l4_cpation_font_0 {
	margin-left: 65px;
}
.m6l5_img_0a {
	float: right;
	margin-right: 167px;
}
.m6l5_cpation_font_0 {
	float: left;
	font-size: 12px;
}
.m6l5_img_01 {
	float:right;
}
.m6l5_marginleft-30 {
	margin-left: 82px;
}
.instr_txt {
	color:#984842;
}
.swf_width745 {
	width:745px;
	min-height: 567px;
}
.width745 {
	width:745px;
}
.m5l4disvideo {
	height:152px;
}
.m5l4disbtn {
	height:142px;
}
.m6l5_img_1a {
	float: right;
	margin-right: 18px;
}
.m6l5_left_b_c {
	float: left;
	margin-left: 96px;
}
.m6l5_img_2b {
	margin-left: 43px;
}
.m6l5_cpation_font_c1 {
	font-size: 12px;
	margin-left: 48px;
	width: 279px;
}
.m6l5_cpation_font_c {
	float: left;
	font-size: 12px;
	width: 295px;
}
.m6l5_cpation_font_01a {
	font-size: 12px;
	margin-left: 48px;
	width: 284px;
}
.m6l5_cpation_font_01b {
	width: 307px;
	float: left;
}
.m6l5_b_marginleft {
	margin-left:-140px;
}
.m6l2_disvideo_0 {
	height:152px;
}
.m6l2_disvideo_00 {
	height:185px;
}
.m6l2_disbtn_0 {
	height:142px;
}
.m6l2_g {
	margin: 20px 19px;
	position: absolute;
	float:left;
}
.left_g {
	margin: 170px 25px;
	position: absolute;
	width: 263px;
}
.m6l2_img1_g {
	margin-left:30px;
}
.m6l2_img_g1 {
	margin-left:46px;
}
.m6l2_marginleft_e {
	margin-left:-80px;
}
.m6l2_left_02b {
	float: left;
	margin-left: 42px;
}
.m6l2_cpation_font_02b {
	float: left;
	font-size: 12px;
	width: 301px;
}
.m6l2_cpation_font_02b_1 {
	font-size: 12px;
	margin-left: 26px;
	width: 326px;
}
.m6l2_cpation_font_02b_41 {
	font-size: 12px;
	margin-left: 100px;
	width: 300px;
}
.m6l1margin_01a {
	margin-left:-60px;
}
.m6l7swobject_01a {
	height: 351px;
	width: 745px;
}
.m6l7swobject_01b {
	height: 868px;
	width: 745px;
}
.copyright1 {
	margin: 160px 64px;
	position: absolute;
	font-size: 12px;
}
.copyright2 {
	margin: 160px 64px;
	position: absolute;
	font-size: 12px;
}
.bgRed {
	background-color:#FF0000 !important;
}
.bgWhite {
	background-color:#FFFFFF !important;
}
.bgGreen {
	background-color:#00CC00 !important;
}
.blk {
	color:#000000 !important;
	border:1px solid #666666;
}
.m6l8_c {
	margin-left:20px;
}
.width201 {
	width:201px;
!important;
	text-align:center;
}
/* ------------------------------------ Module 07 ------------------------------------- */







.m7l0_0 {
	margin-left:13px;
}
.m7l0font_18 {
	font-size:22px;
}
.m7l1_rightarea3_a {
	float: right;
	margin: 0 0px 0 30px;
	width: 273px;
}
.m7l1_rightarea3_7a {
	float: right;
	margin: 0 0px 0 30px;
	width: 200px;
}
.m7l1_rightarea3_75a {
	float: right;
	margin: 0 0px 0 30px;
	width: 300px;
}
.m7l1_rightarea3_abc {
	float: right;
	margin: 0 0px 0 30px;
	width: 180px;
}
.m7l1_rightarea4_abc {
	float: right;
	margin: 0 0px 0 30px;
	width: 270px;
}
.popUpNotes a {
	float:left;
	padding:2px;
	cursor:pointer;
	width:37px;
	height:48px;
	display:block;
	background:url(../imgs/icons/i_notes.png) no-repeat;
	text-indent:999;
}
.popUpNotespdf a {
	float:left;
	padding:2px;
	cursor:pointer;
	width:37px;
	height:48px;
	display:block;
	background:url(../imgs/icons/i_notes_pdf.png) no-repeat;
	text-indent:999;
}
.rightm7l2_2a {
	float: right;
	margin-right: 26px;
}
.rightm7l2_42a {
	float: right;
	margin-right: 0px;
	margin-left:-80px
}
.m7l2font_20 {
	font-size:20px;
}
.rightm7l2_2a_1 {
	float: right;
	margin-right: 13px;
}
.m7l3_cpation_font_00 {
	float: left;
	font-size: 12px;
	width: 175px;
}
.m7l2disbtn_0 {
	height: 151px;
}
.m7l2disvideo_0 {
	height: 162px;
}
.width551 {
	width:551px;
}
.width670 {
	width:670px;
}
.height140 {
	height:140px;
}
.height150 {
	height:150px;
}
.height155 {
	height:155px;
}
.Similarities {
	margin-left:55px;
}
.Differences {
	margin-left:55px;
}
.Differences1 {
	margin-left:30px;
}
.rightm7l9_2a_1 {
	float: right;
}
.m6l9_cpation_font_02b_1 {
	font-size: 12px;
	margin-left: 41px;
	width: 286px;
}
.m6l9_img_2b {
	margin-left: 57px;
}
.m7l5_para1 {
	margin-left:70px;
}
.m7_l2_dyk_div {
	float:left;
	display:inline;
	width:678px;
}
.m7_l2_dyk_divleft {
	float:left;
	display:inline;
	width:60px;
	background-color: #003366;
	height: 182px;
	padding-top:10px;
}
.m7_l2_dyk_divleft img {
	display:block;
	margin: 0 auto;
}
.m7_l2_dyk_divright {
	float:left;
	display:inline;
	padding: 5px;
	width: 605px;
	border: 1px solid #5799CD;
}
.swf_bordernull {
	border:0px!important;
}
.m7l6_left_01a {
	float: left;
	margin-left: 23px;
	width: 319px;
}
.m7l2_cdisvideo {
	height: 160px;
}
.m7l2_cdisbtn {
	height: 150px;
}
.m7l2_emarginleft {
	margin-left:-80px;
}
.m7l2_amarginleft {
	margin-left:-140px;
}
.m7l2_dmarginleft {
	margin-left:-50px;
}
.m7l3_rightarea3_a {
	float: right;
	margin: 0 47px 0 17px;
	width: 273px;
}
.m7l3_width01a {
	width:385px;
}
.m7l3_align01a {
	margin-left: 14px;
	width: 415px;
}
.m7l3_marginleft01d {
	margin-left:-160px;
}
.width190 {
	width:190px;
}
.m7l4_marginleft_01a {
	margin-left:-40px;
}
.m7l5disvideo_0 {
	height: 184px;
}
.m7l5disbtn_0 {
	height: 174px;
}
.m7l5_marginleft_01c {
	margin-left:-20px;
}
.m7l4disvideo_01d {
	height: 159px;
}
.m7l4disbtn_01d {
	height: 150px;
}
.m7l2_left_01a {
	float: left;
	margin-left: 28px;
	width: 222px;
}
.m7l2_cpation_font_010 {
	float: left;
	font-size: 12px;
	width: 213px;
}
.swf_width745_1 {
	height: 846px;
	width: 745px;
}
.m7l3_00 {
	margin-left: 62px;
	width: 215px;
}
.marginm7l3_0 {
	margin: 0 116px 0 17px;
}
.m7l6_img_1a {
	margin-left: 97px;
}
.rightm7l6_2a {
	float: right;
	margin-right: -64px;
}
.m7l6_img_02b {
	margin-left: 59px;
}
.m7l7_left_01a {
	margin-left:-30px;
}
.m7l7_01b {
	margin-left: -27px;
	width: 360px;
}
.m7l7_left_01b {
	margin-left:-80px;
}
.m7l7_left_01b1 {
	margin-left:-50px;
}
.center_img {
	margin:0 auto;
	display:block;
}
.m7l3_left_01d {
	float: left;
	margin-left: 20px;
	width:215px;
}
.m7l3_cpation_font_01d {
	width: 215px;
}
.m7l3_asses {
	line-height:28px!important;
}
.m7l2font_16 {
	font-size: 16px;
}
.m7l0_00height {
	height: 451px !important;
}
.m7l1_0margintop40 {
	margin-top: 66px !important;
}
.m7l1_4margintop40 {
	margin-top: 60px !important;
}
.m7l3_00a_divright {
	width:385px;
}
.m7l3_00a_divleft {
	width: 415px;
}
.m7l4_5margintop40 {
	height:266px;
	width:745px;
}
.m7l0line {
	line-height:30px;
}
.m7l1_align_01a {
	margin-left: -40px;
}
.m7l8_tophead {
	line-height: 25px;
	margin-top: -10px;
}
.m7l8align {
	margin-left: 38px;
}
.m7l8_asslist {
	list-style:none;
}
.m6l5_cpation_font_marleft {
	margin-left:20px;
}
.m8l1disbtn1 {
	height: 150px;
}
.m8l1disvideo1 {
	height: 160px;
}
/* ------------------------------------ Module 08 ------------------------------------- */



.m8l8_02a {
	margin-left: 10px;
}
.m8l0_pg3 {
	float: left;
	margin-left: 45px;
	width: 299px;
}
.m8l0_cpation_font_1 {
	float: left;
	font-size: 12px;
	width: 325px;
}
.m8l0_0 {
	margin-left: 50px;
}
.m8l0_ctxt {
	width: 447px;
}
.m8l0_c2 {
	float: right;
	margin-top: 51px;
	width: 387px;
}
.m8l0c3 {
	width: 430px;
}
.m8l0_c4 {
	margin-left: 67px;
}
.width530 {
	width:530px;
}
.ins_txt {
	float:right;
	width:200px;
	color:#984842;
	font-size:12px;
	font-style:italic;
}
.ins_txt1 {
	float:right;
	width:145px;
	color:#984842;
	font-size:12px;
	font-style:italic;
}
.m8l2_00a {
	margin-left: -10px;
	clear:left;
}
.m8l8_02a {
	margin-left:6px;
}
.m8l0_01c {
	width:467px;
}
.m8l7_00width {
	width: 680px;
}
.m8l7_01acaption {
	margin-left: 51px;
	text-align: left;
	width: 269px;
}
.w150 {
	width:150px;
}
.m8l7marginleft52 {
	margin-left: 52px;
}
.m8l7rightarea13 {
	float: right;
}
.m8l7width_01b {
	width:240px;
}
.m8l7_02a {
	font-size: 12px;
	margin-left: 21px;
	width: 341px;
}
.m8l7_00top {
	margin-top:-29px;
}
.m8l6disvideo_00a {
	height: 162px!important;
}
.m8l6disbtn_00a {
	height: 150px;
}
.m8l6width_300 {
	margin-top: 22px;
	width: 370px;
}
.m8l6width_480 {
	float: left;
	margin-left: 10px;
	width: 375px;
}
.m8l6_width_01g {
	margin-left: 10px;
	text-align: left;
	width:300px;
}
.m8l6_width_2 {
	margin-left: 14px;
	text-align: left;
	width: 321px;
}
.m8l7width745 {
	width:663px !important;
}
.m8l6_infoBox1 {/*background: url("../imgs/info_icon.jpg") no-repeat scroll 0 0 transparent;*/
	color: #984842;
	margin: 10px 0 0 374px;
	min-height: 30px;
	padding: 4px 0 0 36px;
}
.m8l6mag {
	bottom: 7px;
	right: 8px;
}
.m8l6_top {
	margin-top: -133px;
}
.m8l6_tj {
	height: 72px;
}
.m8l6jb {
	height: 50px;
}
.m8l7left_1a {
	margin-left: 34px;
}
.m8l7height0 {
	min-height:0px!important;
}
.m8l6_infoBox2 {
	color: #984842;
	margin: 10px 0 0 400px;
	min-height: 30px;
	padding: 4px 0 0 36px;
}
.mrglft455 {
	margin-left:455px;
}
.m8l6top {
	margin-top:-38px;
}
.m8l6height810 {
	height:810px;
}
.m8l601e_1 {
	margin-left:55px;
}
.m8l6color {
	color:#984842
}
/* ------------------------------------ Module 08 Lesson_04------------------------------------- */











.m8_l4 {
	line-height:25px;
}
.int_height663 {
	width:745px;
	height:683px;
}
.m8l4_00a {
	margin-left:-78px;
}
.m8l4_01c {
	margin-left:-40px;
}
/* ------------------------------------ Module 08 Lesson_04 ends------------------------------------- */	







.m8_l3_1d_div {
	width:360px;
}
.m8_l3_1d_div img {
	display:block;
	margin:0 auto;
}
.m8_03_objglos {
	margin-left:-140px;
}
.margintop-100 {
	margin-top:-100px;
}
/*---------------------------------------m8-6-----------------------*/







.discoveryVideo1 {
	width:696px;
	height:142px;
	border:1px solid #b2ccdd;
	background-color:#ebf7ff;
	margin:0 auto;
	padding:5px 6px 5px 6px;
	position:relative;
}
.discoveryVideo1a {
	width:743px;
	height:192px;
	border:1px solid #b2ccdd;
	background-color:#ebf7ff;
	margin:0 auto;
	padding:5px 6px 5px 6px;
	position:relative;
}
/*.width_300{width:370px;}*/







.rightarea2aa {
	float:right;
	width:280px;
	margin:0px 0 0 10px
}
.m6l2_cpation_font_02b_1a {
	font-size: 12px;
	margin-left: 26px;
	width: 390px;
}
.width230 {
	width:230px !important;
}
.height860 {
	height:860px;
}
.question1 {
	display:inline;
}
.question2, .question3, .question4, .question5 {
	display:none;
}
.checkAnswer1 {
	color:#d00000;
	font-size:12px;
	font-weight:bold;
	cursor:pointer;
	display:inline;
	text-decoration:underline;
}
.checkAnswer1:hover {
	text-decoration:none;
}
.checkAnswer2, .checkAnswer3, .checkAnswer4, .checkAnswer5 {
	color:#d00000;
	font-size:12px;
	font-weight:bold;
	cursor:pointer;
	display:none;
	text-decoration:underline;
}
.checkAnswer2:hover, .checkAnswer3:hover, .checkAnswer4:hover, .checkAnswer5:hover {
	text-decoration:none;
}
.answerPage1, .answerPage2, .answerPage3, .answerPage4, .answerPage5 {
	display:none;
	min-height:400px;
}
.previousPage1, .previousPage2, .previousPage3, .previousPage4, .previousPage5 {
	display:none;
}
.previousPage1, .previousPage2, .previousPage3, .previousPage4, .previousPage5 {
	color:#d00000;
	font-size:12px;
	font-weight:bold;
	cursor:pointer;
	margin:0 0 20px 0;
	text-decoration:underline;
	height:15px;
	padding-bottom:10px;
}
.previousPage1:hover, .previousPage2:hover, .previousPage3:hover, .previousPage4:hover, .previousPage5:hover {
	text-decoration:none;
}
.nextPage1, .nextPage2, .nextPage3, .nextPage4, .nextPage5 {
	color:#d00000;
	font-size:12px;
	font-weight:bold;
	cursor:pointer;
	display:none;
	text-decoration:underline;
}
/* Customize Tooltip 



	- BACKGROUND-COLOR



	- COLOR



	- BORDER-COLOR



*/



.tooltip-inner {
	background-color:#e0376e;
}
.tooltip.top .tooltip-arrow {
	border-top-color:#e0376e;
}
.tooltip.left .tooltip-arrow {
	border-left-color:#e0376e;
}
.tooltip.bottom .tooltip-arrow {
	border-bottom-color:#e0376e;
}
.tooltip.right .tooltip-arrow {
	border-right-color:#e0376e;
}
/* customize text-version



background-color



*/



div#content div.textVersionPop {
	margin: 0px auto;
	margin-bottom: 20px;
	text-align: center;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	width: 140px;
	padding: 5px;
	border: 0px;
}
.btn-txtversion {
	border-color: #2b669a;
	background-image: linear-gradient(to bottom, #125A9C 0%, #174E80 100%);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
	border-radius: 4px;
	color: #fff;
	padding:10px;
}
.btn-txtversion:visited {
	color: #fff;
}
.btn-txtversion:hover {
	background-image: linear-gradient(to bottom, #125A9C 0%, #174E80 10%);
	color: #fff;
	text-decoration:none;
}
div.btn-txtversion a {
	color: #fff;
	text-decoration:none;
}
div.icon_local {
	margin-top:12px;
}


/*flvs*/
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #000;
}


.tooltip-inner {
  background-color: #000;
}
.tooltip.top .tooltip-arrow {
	border-top-color:#000;
}
.tooltip.left .tooltip-arrow {
	border-left-color:#000;
}
.tooltip.right .tooltip-arrow {
	border-right-color:#000;
}

#margin
{
    padding:10px;
}