@charset "UTF-8";
/* CSS Document */

/* module menu */
#nav_menu .nav_menu_modules li a.modlink {
	background-color: #999;
	color: #fff;
	font-size: 14px;
	width: 225px;
	padding: 8px;
	border: none;
	border-bottom: solid 1px #bdbab5;
	margin: 0px;
}

/* lesson menu */

#nav_menu .nav_menu_modules li .nav_menu_lessons {
	left: 235px;
}

.nav_menu_lessons li a {
	float: left;
	width: 160px;
	height: 140px;
	margin: 0px;
	padding: 10px;
	background-color: #ccc;
	border: none;
	line-height: 18px;
}

.nav_menu_lessons li a:hover {
	background-color: #135673;
	text-decoration: none;
}

.nav_menu_lessons li a.odd {
	background-color: #efefef;
}

.nav_menu_lessons li a.odd:hover {
	background-color: #135673;
	text-decoration: none;
}

.prevt {
	background-color:#135673;
	background-image: url(../images/global/prev.png);
}

.nextt {
	background-color:#135673;
	background-image: url(../images/global/next.png);
}

.nav_menu_lessons li a .lesson_title {
	font-size: 12px;
	padding-top: 0;
	line-height: 14px;
	  margin-bottom: 7px;
}

.nav_menu_lessons li a .lesson_num {
	font-size: 24px;
	color: #000;
	font-weight: bold;
	margin-bottom:7px;
}