/*======================================
CSS DOCUMENT FOR LOOK and FEEL
======================================*/
body {
	background: url(../images/global/body_bkgd.jpg) top center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	line-height: 1.7;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: lighter;
	background-color: #465770;
}
#content {
	background-color: #ffffff;
	border-top: none;
	border-left: none;
	border-right: none;
}
#container {
}
.breadcrumbs {
	padding: 20px 30px 10px;
	line-height: 22px;
	font-size: 14px;
	color: #154654;
	text-transform: uppercase;
	margin-top: 40px;
}
.breadcrumbs_course, .breadcrumbs_module, .breadcrumbs_lesson {
	color: #000;
}
#breadcrumbs {
	margin: 0 20px;
	padding: 20px;
	position: relative;
	border: none;
}
#footer_copyright {
	background-color: transparent;
	border: none;
	text-align: center;
}
#footer_copyright span {
	color: #fff;
	font-size: 10px;
}
h1.bs {
	padding: 10px;
	background-color: #f7941e;
	border-radius: 5px;
	color: #fff;
}
.bs-example {
	margin: 10px 0px;
	background-color: #fff;
	border: 1px solid #b4b4b4;
	border-radius: 4px 4px 0 0;
	box-shadow: none;
	padding: 15px;
	position: relative;
}
.highlight {
	padding: 9px 14px;
	margin-bottom: 14px;
	background-color: #e4e4e4;
	border: 1px solid #b4b4b4;
	border-radius: 4px;
}
.bs-example+.highlight {
	margin-top: -16px;
	margin-left: 0;
	margin-right: 0;
	border-width: 1px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	padding: 15px;
}
.highlight pre {
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;
	background-color: transparent;
	border: 0;
}
img {
	max-width: none;
}
/*****AFFIX STYLES*********/



/*****AFFIX STYLES*********/



#affix-nav {
	margin-top: 10px;
}
ul.nav.sidenav.affix, #affix-nav {
	width: 160px;
}
.affix {
	top: 40px;
}
/* First level of nav */







#affix-nav .nav {
	padding-bottom: 10px;
	background-color: #f7941e;
	border-radius: 5px;
	border: 1px solid #f7941e;
}
#affix-nav .nav h3 {
	text-align: center;
	color: #ffffff;
}
/* All levels of nav */



#affix-nav .nav li a {
	padding-top: 5px;
	color: #ffffff;
}
#affix-nav .nav > li > a:hover,  #affix-nav .nav > li > a:focus {
	text-decoration: none;
	background-color: #f7b260;
	color: #333;
}
#affix-nav .nav > .active > a,  #affix-nav .nav > .active:hover > a,  #affix-nav .nav > .active:focus > a {
	font-weight: bold;
	color: #000000;
	background-color: #faf6ef;
	text-shadow: none;
}
#affix-nav .nav > li.active > ul {
	display: block;
	background-color: #e5e3e9;
	padding-bottom: 10px;
	list-style: none;
}
#affix-nav .nav > li.active > ul > li > a {
	color: #f7941e;
	margin-left: -20px;
}
#affix-nav .nav > .active > a.back-to-top {
	background-color: #f7941e;
	color: #ffffff;
}
#affix-nav .nav > li > ul {
	display: none;
}
/*****EXAMPLE STYLES*********/



.show-grid {
	margin-bottom: 15px;
}
 .show-grid > [class^=col-] {
 padding-top: 10px;
 padding-bottom: 10px;
 background-color: #eee;
 background-color: rgba(86,61,124,.15);
 border: 1px solid #ddd;
 border: 1px solid rgba(86,61,124,.2);
}
.color-swatches {
	margin: 0 -5px;
	overflow: hidden;
}
.color-swatch {
	width: 60px;
	height: 60px;
	border-radius: 3px;
}
.color-swatch.brand-primary {
	background-color: #428bca;
}
.color-swatch.brand-success {
	background-color: #5cb85c;
}
.color-swatch.brand-info {
	background-color: #5bc0de;
}
.color-swatch.brand-warning {
	background-color: #f0ad4e;
}
.color-swatch.brand-danger {
	background-color: #d9534f;
}
.color-swatch.gray-darker {
	background-color: #222;
}
.color-swatch.gray-dark {
	background-color: #333;
}
.color-swatche.gray {
	background-color: #555;
}
.color-swatch.gray-light {
	background-color: #999;
}
.color-swatch.gray-lighter {
	background-color: #eee;
}
.bs-glyphicons {
	margin: 10px;
}
.bs-glyphicons-list {
	padding-left: 0;
	list-style: none;
}
.bs-glyphicons li {
	float: left;
	width: 10%;
	height: 115px;
	padding: 10px;
	font-size: 10px;
	line-height: 1.4;
	text-align: center;
	border: 1px solid #fff;
	background-color: #f9f9f9;
}
.bs-glyphicons .glyphicon {
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 24px;
}
.bs-glyphicons .glyphicon-class {
	display: block;
	text-align: center;
	word-wrap: break-word;
}
.scrollspy-example {
	position: relative;
	height: 200px;
	overflow: auto;
}
/*******************MATH*******************/



/* These styles are subject to change and are based on the Algebra 2 course of 2013-2014 school year */



.math-sum.red, .redunderline {
	border-bottom: #a20000 1px solid;
}
.math-sum.blue {
	border-bottom: #0066cc 1px solid;
}
.math-sum, .math_sum {
	border-bottom: black 1px solid;
}
.red, .red-num .fm-num-frac, .red-den .fm-den-frac {
	color: #a20000;
}
/*****************colorbox fix for line-height******************/



#cboxTitle {
	line-height: normal
}
#breadcrumbs {
	background: rgba(204, 204, 204, 0.7);
	line-height: 22px;
	text-transform: uppercase;
}
#content {
	background-color: #ffffff;
	border-top: none;
	border-left: none;
	border-right: none;
}
a.blue {
	padding: 2px 5px;
	background-color: #4184c2;
	font-size: 14px;
	color: #333;
	border: solid 1px #1b5e9c;
}
a.blue:hover {
	background-color: #114575;
}
a.green {
	padding: 2px 5px;
	background-color: #6ca663;
	font-size: 14px;
	color: #333;
	border: solid 1px #46803d;
}
a.green:hover {
	background-color: #508a47;
}
/*.jp-interface .jp-controls a {



  padding-bottom: 0px;



  text-indent: -9999px;



  margin: 0px;



  padding-left: 0px;



  padding-right: 0px;



  display: block;



  height: 20px;



  overflow: hidden;



  padding-top: 0px;



}



.jQPlayer {



  width: 20px;



  height: 20px;



  margin: -2px 5px 0 0;



  position: relative;



  float: left;



}



.jp-type-single .jQPlayer{



  background: url(../imgs/iconLibrary/play.jpg) no-repeat;



}



jp-type-single .jp-controls a {



  width: 20px;



}*/



/*****************CSS Added by ES Team******************/



.audioheight {
	height: 18px;
}
.nav_menu_lessons li {
	margin-left: -20px;
}
.nav_menu_lessons li a {
	line-height: 17px;
}
.nav_menu_lessons li a .lesson_title {
	width: 147px;
}
#nav_menu .nav_menu_modules li a.modlink {
	width: 160px;
	padding: 10px 10px;
	margin: 0 0 0px;
	line-height: 20px;
}
.nav_menu_lessons li a {
	width: 160px;
	height: 135px;
	margin: 0 0px 0px;
	padding: 10px;
}
.audioSlide {
	bottom: 0px;
	left: 10px;
}
.btn-info {
	width: 100%;
	text-align: left;
	margin-bottom: 8px;
}
div.icon_local {
	margin: 26px 10px !important;
}
.ooShell {
	margin-bottom: 15px;
}
div.activeInteractive {
	border: none;
	margin: 20px 0px 5px 0px !important;
}
.glyphicon {
	display: inherit;
	margin-left: 1px !important;
}
.infobox .content {
  margin-left: 40px;
}
table {
  margin: 0px auto;
  width: 95% !important;
  border: 1px solid #5799cd;
}
.btn-txtversion a.pop {
  color: #fff;
}
a {
  font-weight: bold;
}
.mejs-container.audioBtn {
  margin: 0px 5px 0px 0px;
}


/*Karthik*/

.travelJournal .left{
	margin-top:-10px;
}

.width_sec_area {
  border: 2px solid #569AC9;
  background: #EAF7FF;
  margin: 0 0 20px 20px;
  width: 730px;
}
.popUpNotes a {
  margin-left: 5px;
}
.margin-auto{
	margin:auto !important;
}
/*anush*/
.panel-default>.panel-heading {
  background-image: -webkit-linear-gradient(top,#2188a7 0,#2188a7 100%);
  background-image: linear-gradient(to bottom,#2188a7 0,#2188a7 100%);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2188a7', endColorstr='#2188a7', GradientType=0);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x;
  border-color: #1c728c;
  color: #fff;
  font-weight: 800;
  width: 100%;
  text-align: left;
}

.panel-default>.panel-heading:hover {
      color: #fff;
  font-weight: 800;
  background-color: #1f7f9c;
  background-position: 0 -15px;
}

.panel-default>.panel-heading:active{
      color: #262626;
  font-weight: 800;
  background-color: #2aabd2;
  border-color: #28a4c9;
  background-image: none;
    outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.panel-title {
  margin: 0px !important;
}