﻿.audioTip {
  visibility: visible;
}
.instr_txt {
  font-size: 12px;
  font-style: italic;
  color: #881401;
  margin: 9px 0 0 0px!important;
}

.topZero2{
	margin-left:20px !important;
}
.red{
	background-color:#FF0000 !important;
}