﻿.ui_interactive .mejs-audio .mejs-controls .mejs-time-rail, .ui_interactive .mejs-audio .mejs-controls .mejs-time-rail .mejs-time-total {
	width: 130px !important;
}
/*
.ui_interactive .ui-navigation-header .mejs-container .mejs-controls
{
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
    bottom: 0;
    left: 0;
    height: 30px;
    width: 159%;
}

*/
/*.mejs-container .mejs-controls {
	bottom: 8px;
	width: 301px !important;
	margin-left: -12px;
}*/
.ui_interactive .ui-navigation-tracker {
	right: 218px;
}
.copyrights_bottom {
	margin-top: 10px;
	text-align: center;
	margin-right: 303px;
}
.copyright_bottom {
	margin-top: 10px;
	text-align: center;
	margin-right: 379px;
}
.txt_right {
	float: left;
	margin-left: 350px;
	margin-top: -276px;
	width: 260px;
}
.txt_bottom {
	font-size: 12px;
	font-style: italic;
	color: #881401;
	float: left;
	margin-left: 286px;
	margin-top: -170px;
	width: 342px;
}
.txt_right2 {
	float: left;
	margin-left: 268px;
	margin-top: -274px;
	width: 347px;
}
.topZero {
	top: 0px !important;
	position: relative !important;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.topZero2 {
	color: #984842;
}
.ui_interactive .copyright {
	margin-top: 7px;
}
.copyrights {
	position: absolute;
	margin-left: 332px;
	margin-top: -55px;
}
.img_left {
	width: 324px;
}
.img_left1 {
	width: 244px;
}
.playerOver {
	height: 423px;
	width: 701px;
	position: absolute;
	top: 0px;
	padding: 30% 0% 0% 44%;
	background: rgba(235, 235, 235, 0.83);
	z-index: 12;
}
.playerText {
	margin-left: -22px;
	margin-top: -15px;
	position: absolute;
	font-style: italic;
}
.playerOver img {
	cursor: pointer;
}
#mep_0 .mejs-controls {
  width: 18px !important;
}

/*flvs*/
.audioTip {
  visibility: visible;
}