﻿.customPopUp
{
    position: absolute;
    width: 578px;
    padding:10px;
    margin-left: 25px;
    height: 105px;
    border: 1px solid;
    background: #EBEBEB;
    margin-top: 124px;
}
.close1
    {
    position: absolute;
    right: -11px;
    background-image: url("../images/01_03_05_btnClose.png");
    background-repeat: no-repeat;
    top: -11px;
    z-index: 10;
    height: 26px;
    width: 25px;
    cursor:pointer;
}
.customDivCall
{
cursor:pointer;
}
.hd
{
    font-weight: bold;
margin-bottom: 11px;
}
.topZero
{
top:0px !important;
}
.topContent
{
    color:#984842;
}

.botImage
{float: left;
position: absolute;
     width:60px; 
}
.customHolder
{
 position: absolute;
bottom: 100px;
width: 254px;
left: 13px;
}
.divtxt
{
   float: left;
position: absolute;
left: 41px;
width: 147px;
top: 6px;
}
.shia
{
    top: 40px;
position: absolute;
}
.copywright
{
padding-left: 44%;
position: absolute;
bottom: 0px;
}