﻿
.ui_interactive #head
{
    display:none;    
}

div.ui_interactive {
height: 507px !important;
}

.ui_interactive .copyright {
height: 93px;
width: 227px;
font-size: 14px;
font-style: italic;
line-height: 14px !important;
margin-left: 33px;
position: relative;
text-align: left !important;
margin-top: 10px;
}



.txt_right
{
   float: left;
width: 300px;
margin-top: -239px;
margin-left: 287px;
}

.img_left
{
	height: 240px;
	width: 272px;
	float:left;
	text-align:center;
}
.ui_interactive .left
{
    margin:0px;
}


.ui_interactive .jTimeline .timelineInfo .item 
{
    height: 100% !important;
}

.ui_interactive .jTimeline .jcarousel-skin 
{
    bottom: 90px!important;
}

.ui_interactive .jTimeline .jspPane 
{
    top: 0px !important;
    
}

.ui_interactive .jTimeline .jspPane 
{
position: static !important;

}
.ui_interactive .jTimeline
{
    height:510px !important;    
}

.ui_interactive .copy
{
    text-align:center;
    margin-top: -165px;
}
