﻿.DropsC
{
width: 662px !important;
float: left;
margin: 0px 0px 0px 0px;
}
.DragC
{
width: 686px;
float: left;
margin-top: 11px;
margin-left: -14px;
}

.DragC > .draggable
{
width: 141px;
height: 6px;
text-align: left;
padding: 6px 0px 8px 5px;
cursor: pointer;
opacity: 1 !important;
background: #d7eefe;
margin-bottom: -13px;
line-height: 9px;
color: #1a1a1a;
border: 1px solid #cfcfcf;
}
.droppables
{
width: 150px;
min-height: 40px;
margin: 4px;
padding: 0px;
float: left;
background-color: #4f81bd;
color: White;
text-align: center;
margin-left: -9px;
line-height: 37px;
}
.drop_txt
{
width: 492px;
height: 31px;
float: left;
margin: 5px;
padding: 0;
border: none;
font-size: 12px;
line-height: 16px;
padding: 1px 1px 1px 8px;
background-color: #d0d8e8;
margin-left: -1px;
margin-top: -2px;
border: 1px #cfcfcf !important;
}
.drop_txts
{
width: 503px;
min-height: 40px;
margin: 5px;
padding: 0px;
float: left;
background-color: #4f81bd;
color: White;
text-align: center;
margin-left: -1px;
margin-top: 4px;
line-height: 37px;
}
.ui_interactive .bin
{
background-color: #d0d7e7;
height: 30px;
padding: 1px;
color: #000;
margin-top: -1px;
}
.DropsC ul
{
list-style-type: none;
line-height: 26px;
margin-left: -1px;
margin-top: 1px;
padding-left: 1px;
}
.DropsC ul li
{
background: rgb(153, 255, 204);
padding: 0px 0px 0px 5px;
line-height: 17px;
margin-top: 5px;
height: 17px;
margin-left: 2px;
width: 138px;
border: 1px solid #cfcfcf !important;
}
.ui_interactive .draggable
{
opacity: 1 !important;
cursor: pointer;
}
.ui_interactive .draggable p
{
padding-right: 0px !important;
line-height: 8px;
}
.wid
{
min-height: 29px;
background: #d0d7e7;
width: 150px;
margin-left: -9px;
margin-top: -1px;
}
.top
{
position: absolute !important;
top: 0px !important;
left: 0px !important;
}

.ui_interactive hr
{
display: none;
}
.ui_interactive .ui_edge_buttons
{
position: relative;
float: right;
margin: 46px;
margin-top: 35px !important;
}
.ui_interactive .ui-slideshow-item {
overflow: inherit !important;
}
.copyrightact
{
margin-left: 310px;
}
.ui_interactive .ui_reset
{
display: none;
}
.main_txt
{
text-align: center;
}
.ui_interactive .ui-dialog
{
top: 143px !important;
left: 178px !important;
}
.height1
{
height: 35px !important;
padding: 3px 0px 0px 7px !important;
}
.height1 p
{
padding-right: 0px !important;
line-height: 16px !important;
}
.height2
{
height: 47px;
}
.height3
{
height: 47px !important;
}
.ui_interactive .ui-draggable-dragging{z-index:1222;}

.qwe ul li
{
background: rgb(153, 255, 204);
padding: 3px 0px 0px 6px;
line-height: 14px;
margin-top: -4px;
height: 29px;
margin-left: 1px;
}

.awe ul li
{
background: rgb(153, 255, 204);
padding-left: 3px;
line-height: 13px;
margin-top: 10px;
padding: 5px 0px 0px 5px;
width: 137px;
}
.drop, .ui_interactive .droppable
{
box-shadow: none;
border: none;
}
.pos1
{
top: 332px;
left: -4px;
position: absolute !important;
}
.pos2
{
top: 332px;
left: 164px;
position: absolute !important;
}
.pos3
{
top: 332px;
left: 330px;
position: absolute !important;
}
.pos4
{
top: 332px;
left: 496px;
position: absolute !important;
}
.pos5
{
top: 358px;
left: -4px;
position: absolute !important;
}
.pos6
{
top: 358px;
left: 330px;
position: absolute !important;
}
.pos7
{
top: 358px;
left: 164px;
position: absolute !important;
}
