﻿.topZero
{
    top: 0px !important;
    position: relative !important;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    }
     .topZero2
   {
       color: #984842;
       
   }
.ui_custom_dialog_trigger{
cursor:pointer;
}

.ui-slideshow-slide {

margin-left: -14px;
}

.ui-dialog-buttonset
{
display:none;
}

.ui-dialog{
width: 600px !important;
top: -1px !important;
left: 1px !important;
margin-left: 44px;
margin-top: 218px;
height:243px !important;
}
 .Img1
{
    margin-left: 9px;
    
}
.one
{
   height: 192px;
margin: 0 auto;
margin-left: -2px;
width: 680px;
}
.two
{
   height: 192px;
margin: 0 auto;
margin-left: -2px;
width: 680px;
}
.third
{
   height: 192px;
margin: 0 auto;
margin-left: -2px;
width: 680px; 
 
}
.firstRow
   {

height: 101px;
float: left;
margin-left: 15px;
   }
   .SecondRow
   {float: left;
margin-left: 14px;
margin-top: 50px;
   }
   .ThirdRow1
    {
       float: left;
margin-left: 12px;
margin-top: 114px;
text-align: center;
position: absolute;

    }
    
    .ThirdRow2
    {float: left;
margin-left: 178px;
margin-top: 114px;
text-align: center;
position: absolute;
    }
    .copyright
   {
        color: Black;
font-size: 11px;
text-align: center;
line-height: 1.4em;

   }
   .heading
   {
      font-weight: bold;
text-align: center;
font-size: 12px;
   }
   .sub_txt
{
   margin-left: 27px;
margin-top: 21px;
width: 523px;
font-size: 12px;
}
.head
{
    font-weight:bold;
    font-size:18px;
    margin-left: 25px;
}
#img_1
{
  position: absolute;
height: 196px;
width: 150px;
top: 25px;
left: 32px;
}
#img_2
{
  position: absolute;
height: 196px;
width: 150px;
top: 25px;
left: 197px;
}
#img_3
{
position: absolute;
height: 196px;
width: 150px;
top: 25px;
left: 362px;
}
#img_4
{
  position: absolute;
height: 196px;
width: 150px;
top: 25px;
left: 527px;
}
#img_5
{
   position: absolute;
height: 196px;
width: 150px;
top: 268px;
left: 32px;
}
#img_6
{position: absolute;
height: 196px;
width: 150px;
top: 268px;
left: 197px;
}
#img_7
{
 position: absolute;
height: 196px;
width: 150px;
top: 268px;
left: 362px;
}
#img_8
{position: absolute;
height: 196px;
width: 150px;
top: 268px;
left: 527px;
}
#img_9
{
 position: absolute;
height: 196px;
width: 150px;
top: 523px;
left: 30px;
}
#img_10
{
  position: absolute;
height: 196px;
width: 150px;
top: 523px;
left: 194px;
}
.TxtI
{
    font-style:italic;
}
.copyrights
{
  position: absolute;
margin-top: -18px;
font-size: 12px;
margin-left: 296px;
color: black;
}