﻿.topSort li {
	margin: 0px 3px 3px;
	padding: 0.4em 0.4em 0.4em 1.5em;
	font-size: 1em;
	width: 530px !important;
	display: inline-block;
}
.termDiv {
	width: 24%;
	float: left;
	margin-left: -7px !important;
}
.descriptionDiv {
	float: left;
	width: 70%;
	position: absolute;
	margin-left: 143px;
}
.descriptionDiv h2 {
	text-align: center;
	font-size: medium;
	font-size: 1em;
	line-height: 10px;
}
.termDiv li {
	background-color: #D0D8E8;
	height: 13px;
	margin: 3px;
	border: 2px solid #D0D0D0;
	list-style: outside none none;
	color: #000;
	padding: 9px;
	line-height: 11px;
	font-size: 13px;
	margin-top: -1px;
}
.ui-state-default {
	color: #ffffff;
}
.ui-sortable-helper {
	width: 430px !important;
}
.ui_assessment hr {
	display: none;
}
.termDiv h2 {
	text-align: center;
}
.h3 {
	text-align: center;
	color: #FFF !important;
	font-weight: bold;
	border: 2px solid #D0D0D0;
	background: none repeat scroll 0% 0% #4F81BC;
	line-height: 2;
	width: 427px;
	margin-left: 10px;
	margin-bottom: 3px;
}
.ui_sortable {
	width: 464px !important;
}
#item_11, #item_12, #item_13, #item_14, #item_15, #item_16, #item_17, #item_18, #item_19, #item_20, #item_21, #item_22, #item_23, #item_24, #item_25, #item_26 {
	border: 2px solid #D0D0D0;
	color: #000;
	cursor: pointer;
	font-size: 13px;
	opacity: 1;
	z-index: 0;
	background-color: #E9EDF4;
	margin-top: -1px;
	height: 27px !important;
	position: relative;
	line-height: 13px;
	padding: 2px 0px 2px 2px;
}
.topZero {
	top: 0px !important;
	position: relative !important;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.topZero2 {
	color: #984842;
}
.ui_edge_buttons {
	margin-right: 45px !important;
	top: 630px !important;
}
.sortable li {
	width: 96% !important;
}
.sortable {
	width: 97.4% !important;
	margin-bottom: 0px !important;
	margin-left: 15px;
}
.assignment {
	margin-bottom: 0px;
	height: 50px;
}
.copyrightact {
	margin-top: -30px;
	position: absolute;
	text-align: center;
	width: 650px;
	color: #000;
	font-size: 10px;
}
.ui-dialog {
	top: 200px !important;
}
.numbers {
	width: 14px;
	height: 150px;
	float: left;
}
.h3-wid {
	width: 134px;
}
