﻿.topZero
{
    top: 0px !important;
    position: relative !important;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    }
     .topZero2
   {
       color: #984842;
       
   }
   .firstRow
   {
       
   }
   .top_heading
   {
width: 100%;
float: left;
font-weight: bold;
text-align: center;
line-height: 25px;
   }
   .ui_flip {
border-color: #F8F8F8;
height: 234px;
text-align: center;
margin-left: -4px;
margin-top: -4px;
border: 1px;
width: 190px;
}

/*div.ui_interactive {
    height: 650px !important;
}*/
.ui_card {
height: 234px !important;
text-align: center;
margin-left: 25px;
margin-top: 10px;
margin-bottom: 20px;
}
.flip-back1
{
   font-size: 16px;
margin: 0px -3px !important;
}

.btRow
{
padding-left: 95px;
}
.trim
{
    width:630px;
    height:600px;
}