﻿.margin {
	margin: 6px 6px -6px 0px;
}
/*.image-container-normal
{
    margin-top:17px;
}*/
.img {
	max-width: none !important;
	width: 234px;
	height: 120px;
	border-color: #F00;
}
.right11 {
	float: left;
	text-align: left;
	width: 380px;
	margin-top: -109px;
	margin-left: 258px;
}
.left11 {
	width: 272px;
	float: left;
	text-align: center;
}
.ui-slideshow-slide {
	margin: 0px !important;
}
.h3 {
	text-align: center;
	color: #FFF;
	font-weight: bold;
}
.topZero {
	top: 0px !important;
}
ui_interactive ui-widget ui-widget-content ui-corner-all {
	width: 717px !important;
}
.t2 {
	margin-top: -220px !important;
}
.right1 {
	float: left;
	text-align: left;
	width: 358px;
	margin-top: -229px;
	margin-left: 261px;
}
.h2 {
	color: #003366;
	font-size: 16px;
}
.copyright {
	margin-top: 10px;
}
