﻿.topZero {
	top: 0px !important;
	position: relative !important;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.topZero2 {
	color: #984842;
}
.DropsC {
	width: 610px !important;
	float: left;
	margin: 0px 0px 0px 0px;
}
.DragC {
	width: 600px;
	float: left;
	margin-top: 12px;
	margin-left: -7px;
}
.DragC .draggable {
	width: 80px;
	height: 12px;
	text-align: center;
	padding: 4px;
	cursor: pointer;
	opacity: 1 !important;
	color: rgb(8, 50, 90);
	background: none repeat scroll 0% 0% #CCC;
	border: 1px solid rgb(8, 50, 90);
}
.droppables {
	background: url('../imgs/02_01_08a_drop_bg.png') no-repeat;
	height: 285px;
	margin-left: -10px;
}
.drop_txt {
	width: 136px;
	min-height: 44px;
	float: left;
	margin-left: -10px;
	border: medium none;
	font-size: 12px;
	line-height: 1.4em;
	padding: 28px 4px 0px 9px;
	background-color: #D0D8E8;
}
.drop_txts {
	width: 385px;
	min-height: 40px;
	margin: 4px 5px 5px -1px;
	padding: 0px;
	background-color: #4F81BD;
	color: #FFF;
	text-align: center;
	line-height: 37px;
	float: left;
}
.bin {
	background-color: transparent;
	padding: 2px !important;
}
.DropsC ul {
	list-style-type: none;
	line-height: 8px;
	text-align: center;
	padding: 1px !important;
	margin: 0px;
}
.DropsC ul li {
	line-height: 8px;
	height: 11px;
	font-weight: bold;
	font-size: 12px;
}
.draggable {
	opacity: 1 !important;
	cursor: pointer;
}
.wid {
	min-height: 15px;
	width: 96px;
	margin-top: 0px;
	float: left;
	margin-right: 0px;
	margin-left: 3px;
	box-shadow: none !important;
	position: absolute;
}
.top {
	position: absolute !important;
	top: 0px !important;
	left: 0px !important;
}
.assignment {
	margin-bottom: 0px;
	height: 50px;
}
.ui_assessment hr {
	display: none;
}
.ui_reset {
	display: none !important;
}
.copyrightact {
	margin-top: -30px;
	position: absolute;
	text-align: center;
	width: 650px;
	color: #000;
	font-size: 10px;
}
.ui_interactive .draggable p {
	padding-right: 0px !important;
	line-height: 12px;
	font-size: 12px;
	font-weight: bold;
}
.ui-dialog {
	top: 100px !important;
}
.ui-state-highlight {
	background: transparent !important;
	border-color: transparent !important;
}
.disableDiv {
	background-color: #d0d8e8;
}
#pos1 {
	top: 63px;
	left: 98px;
}
#pos2 {
	top: 63px;
	left: 408px;
}
#pos3 {
	top: 113px;
	left: 68px;
}
#pos4 {
	top: 113px;
	left: 438px;
}
#pos5 {
	top: 163px;
	left: 36px;
}
#pos6 {
	top: 163px;
	left: 470px;
}
#pos7 {
	top: 203px;
	left: -2px;
}
#pos8 {
	top: 203px;
	left: 508px;
}
.topDrop {
	margin-left: 200px;
	height: 35px;
}
#dragPos1 {
	left: 203px;
	position: absolute;
}
#dragPos2 {
	left: 305px;
	position: absolute;
}
#dragPos3 {
	left: 0px;
	position: absolute;
}
#dragPos4 {
	left: 102px;
	position: absolute;
}
#dragPos5 {
	left: 203px;
	position: absolute;
}
#dragPos6 {
	left: 305px;
	position: absolute;
}
#dragPos7 {
	left: 408px;
	position: absolute;
}
#dragPos8 {
	left: 510px;
	position: absolute;
}
.copyrightact {
	font-size: 12px;
	line-height: 10px;
	text-align: center;
	display: block;
	bottom: 10px;
}
.drop, .ui_interactive .droppable {
	-webkit-box-shadow: 0 0px 0px rgba(0,0,0,.3), 0 0 40px rgba(0,0,0,.1) inset;
	-moz-box-shadow: 0 0px 0px rgba(0,0,0,.3), 0 0 40px rgba(0,0,0,.1) inset;
	box-shadow: 0 0px 0px rgba(0,0,0,.3), 0 0 40px rgba(0,0,0,.1) inset;
	border: 0px #ccc solid;
}
.bin {
	height: 22px;
}
.cpy_right {
	position: absolute;
	display: inline;
	font-size: 11px;
	color: #0A0B0C;
	margin: 374px 0 0 284px;
	z-index:5;
}
