﻿.img
{  
text-align:center;
font-weight: bold;
color: #000000;
float: left;
margin-bottom: 2px;
margin-left: -12px;  
}
.down_txt
{
float: left;
margin-top: 8px;
width: 604px;
font-size: 12px;
font-family: Arial, Helvetica, sans-serif;
line-height: 18px;
font-style: italic;
}
.copyright1
{
margin-top: 545px;
text-align: center;
position: absolute;
margin-left: 405px;  
}
.copyrights
{
position: absolute;
margin-top: -43px;
font-size: 15px;
margin-left: 215px;
color: #ffffff;
}
 