﻿.customPopUp {

	background: #EBEBEB;

	border: 1px solid;

	margin-left: 104px;

	padding: 10px;

	position: absolute;

	top: 445px;

	width: 424px;

}

.topZero {

	top: 0px !important;

	position: relative !important;

	float: left;

	margin-left: 10px;

	margin-right: 10px;

}

.topZero2 {

	color: #984842;

	height: 45px;

}

.main {

	text-align: center;

	font-weight: bold;

}

.redcolor {

	color: #881401;

}

.map {

	padding-top: 10px;

	text-align: center;

}

.copyrights {

	margin-top: 40px;

	font-size: 15px;

	width: 650px;

	text-align: center;

}

.num {

	width: 24px;

	height: 24px;

	text-align: center;

	color: #3b3b3b;

	border: 1px solid #000;

	position: absolute;

	cursor: pointer;

}

.num:hover {

	border: 2px solid red;

}

#num1 {

	background: #00CC00;

	margin-left: 576px;

	margin-top: -313px;

}

#num2 {

	background: #9BFF37;

	margin-left: 576px;

	margin-top: -274px;

}

#num3 {

	background: #0099FF;

	margin-left: 576px;

	margin-top: -237px;

}

#num4 {

	background: #999999;

	margin-left: 576px;

	margin-top: -200px;

}

.close1 {

	position: absolute;

	right: -11px;

	background-image: url("../imgs/07_04_01a_btnClose.png");

	background-repeat: no-repeat;

	top: -11px;

	z-index: 10;

	height: 26px;

	width: 25px;

	cursor: pointer;

}

.customDivCall {

	cursor: pointer;

}

.hd {

	font-weight: bold;

	margin-bottom: 11px;

}

.botImage {

	float: left;

	position: absolute;

	width: 60px;

}

.customHolder {

	position: absolute;

	bottom: 100px;

	width: 254px;

	left: 13px;

}

.divtxt {

	float: left;

	position: absolute;

	left: 41px;

	width: 147px;

	top: 6px;

}

.copywright {

	padding-left: 44%;

	position: absolute;

	bottom: 0px;

}

.blurdiv {

	height: 166px;

	width: 2px;

	position: absolute;

	top: 0px;

	padding: 6% 0% 0% 10%;

	z-index: -1;

	opacity: 0.5;

	margin-left: 557px;

	margin-top: 112px;

}

div.ui_interactive {

	height: 630px !important;

}

