﻿.red
{
    color: #881401;
    margin-left: 45px !important;
}
.topSort li
{
    margin: 0px 7px 3px;
    padding: 0.4em 0.4em 0.4em 1.5em;
    font-size: 1em;
    height: 40px !important;
    width: 400px !important;
    display: inline-block;
    padding-left: 15px;
}
.zeroTop
{
    top: 0px !important;
    margin-left: 10px;
}
.ui_edge_buttons
{
    margin-top: 105px !important;
    margin-right: 35px !important;
}
.left1
{
    height: 360px;
    width: 184px;
    float: left;
    margin-left: -14px !important;
    color: #003366;
}

.right1
{
    float: left;
    height: 350px;
    width: 479px;
    margin-left: 144px;
    margin-top: -360px;
    color: #003366;
}
.right1 h2
{
    text-align: center;
    font-size: medium;
    font-size: 1em;
    line-height: 10px;
}

.left1 li
{
    background-color: #003466;
    height: 39px;
    margin: 3px 3px 3px -11px;
    border: 2px solid;
    list-style: outside none none;
    color: #FFF;
    padding: 5px;
    line-height: 35px;
    text-align: center;
    width: 150px;
    font-weight: bold;
    font-size: 13px;
}
.ui-state-default
{
    color: #ffffff;
}
.ui_assessment hr
{
    display: none;
}
.left1 h2
{
    text-align: center;
}


.h3
{
    text-align: center;
    color: black;
    font-weight: bold;
    margin-top: 10px;
}

.right11
{
    float: right;
    height: 240px;
    width: 473px;
}

.left11
{
    height: 240px;
    width: 320px;
    float: left;
    margin-left: -28px !important;
}

.margin
{
    margin: 6px 6px -6px 0px;
}

.ui_sortable
{
    width: 464px !important;
}

#item_1, #item_2, #item_3, #item_4, #item_5, #item_6, #item_7, #Li1, #Li2, #Li3, #Li4
{
    display: block;
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 14px;
    height: 40px;
    padding: 3px;
    position: relative;
    margin-bottom: 6px;
    opacity: 1;
    z-index: 0;
    background-color: rgb(1, 113, 186);
    margin-top: 4px;
    border: 2px solid #000000;
}


.screenlt
{
    height: 360px;
    width: 292px;
    float: left;
}

.screenrt
{
    float: left;
    height: 358px;
    width: 415px;
}

.left1 h3
{
    color: #003366;
}
.right1 h3
{
    color: #003366;
}

/*flvs*/

.right1
{
    margin-left: 194px;
    width: 440px;
}

.left1
{
    margin-left: 0px !important;
}
