﻿.topZero{top: 0px !important;position: relative !important;float: left;margin-left: 10px;margin-right: 10px;}
.topzero2{color: #CCCC;height: 73px;}
.margin{margin: 6px 6px -6px 0px;}
.img{height:189px;width:270px;border-color:#F00;}
.right_txt{float: right;height: 240px;width: 383px;margin-top: -225px;font-family: Arial, Helvetica, sans-serif;}
.left_con{height: 240px;width: 272px;float:left;margin-left: 22px;}
.ui_interactive .ui-slideshow-slide {margin: 0px !important;}
.ui_interactive .image-container-normal{margin-top:16px;} 
.ui_interactive .copyright {font-size: 12px;line-height: 10px;margin-left: -67px;text-align: center;display: block;margin-top: 2px;}
.redcolor{color: #881401;}
.ui_interactive .ui_slides{margin-top: -24px !important;}