﻿body {
}

.MultiChoice
{
    display:block;
    width:745px; 
    height:auto;
    font-family:Arial;
    color:#000000;
    position:relative;
    line-height:14px;
	
}

.MultiChoice .InterBody
{
}

.fl
{
    float:left;
}

.fr
{
    float:right;
}

.clr
{
    clear:both;
}

.mgTop10
{
    margin-top:15px;
}

.mgTop8
{
    margin-top:6px;
}

.hide
{
    display:none;
}

.MCHead
{
    float:left;
    padding:0 10px 10px 25px;
}

.MCInstruction
{
    font-family:Arial;
    font-size:13px;
    font-style:italic;
    color:#984842;
    margin:7px 0 0 10px;
	float:left;
}

.MCBody
{
    clear: left;
    float: left;
	padding: 0 0 0 10px;
    width: 715px;
}

.MCFoot
{
    height:40px;
}

.MCOption
{
	float: left;
    margin: 5px 0 30px 0px;
	clear:left;
	width:680px;
}

.MCButton
{
    margin:7px 0px 8px 8px;
    cursor:pointer;
}

.MCSubmit
{
    background:url(../imgs/submit_btn.png) no-repeat;
    height:24px;
    width:116px;
}

.MCPager
{
    height: 15px;
    margin: 12px 0 0 24px;
    text-align: center;
    width: 46px;
	font-size:13px;
}


.MCButtonRight
{
    width:37px;
    margin: 8px 30px 0 8px;
}
.MCButtonRight1
{
    width:37px;
    margin: 8px 3px 0 8px;
}
.MCForward
{
    background:url(../imgs/forward_btn.png) no-repeat;
    height:24px;
    width:37px;
    cursor:pointer;
    display:none;
}

.MCRestart
{
    background:url(../imgs/restart_btn.png) no-repeat;
    height:24px;
    width:116px;
    display:none;
}

.MCTryAgain
{
    background:url(../imgs/tryagain_btn.png) no-repeat;
    height:24px;
    width:116px;
    margin-right:35px;
    cursor:pointer;
}

input{cursor:pointer;}

.RevealCopyRight
{
    width: 88px;
    margin:0 auto;
}

.RevealCopyRight .rtxt
{
   font-family:Arial;
    font-size:10px;
    color: #000000;
    line-height: 17px;
}

.MCFeedback
{
    background-color: #F8F1EB;
    border: 1px solid #685128;
    height: 85px;
    position: absolute;
    right:30px;
    top: 220px;
    width: 200px;
    z-index:2;
    display:none;
}

.MCFeedtxt
{
   float: left;
   padding: 20px 0;
   text-align: center;
   width: 200px;
}

.MCFeedtxt span
{
    display:none;
}

.MCFeedImg
{
    height:15px;
    width:16px; 
}

.MCCorrect
{
    background:url(../imgs/correct.png) no-repeat;
}

.MCinCorrect
{
    background:url(../imgs/incorrect.png) no-repeat 0 4px;
}

.MCOverlay
{
    background-color:#ffffff;
    opacity:0;
    filter: alpha(opacity=0);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    z-index:1;
    position:absolute;
    top:0px;
    left:0px;
    width:720px;
    height:316px;
    display:none;
}

.MCDisable
{
     opacity:0.2;
    filter: alpha(opacity=20);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    cursor:default;
}

.MCOpTxt
{
    margin:3px 0 0 5px;
    display:block;
}

.contentTopBg{
	float:left;
    background: url("../imgs/content_topbg.png") no-repeat scroll 0 0 transparent;
    height: 28px;
    width: 745px;
}

.contentMiddleBg{
	float:left;
    background: url("../imgs/content_middlebg.png") repeat-y scroll 0 0 transparent;
	height: 290px;
    width: 745px;
	font-size:13px;
}

.contentBottomBg1a{
    background: url("../imgs/content_botbg.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 54px;
    width: 745px;
}

.mc_con{ margin-left:25px; clear:left;}

.ques{ float:left; }

.MCC{ float: left;
    margin-top: 15px; width:200px; text-align:center;}
	
.text_div{ float:left; display:inline; width:465px;}	

.img_div{ display: inline;
    float: left;
    margin-top: 0px;
    padding-bottom: 20px;
    width: 0px;}

.smalWidth{ line-height: 15px;
    float:left;
    width: 283px;}

.copyrt{ font-size:12px; text-align:center; float:left; width:284px;}

.intr_cpyrt{ float: left;
    font-size: 12px;
    margin: 12px 0 0 245px;}
	
	
.MCReverse
{
    background:url(../imgs/reverse_btn.png) no-repeat;
    height:24px;
    width:37px;
    cursor:pointer;
    display:none;
}

.img_ins{ color:#984842; font-size:12px; font-style:italic;}

.MCINC2{ float: left;
    margin-top: 15px;
    text-align: center;
    width: 200px;}
/*	
.left1{  float: left;
    font-size: 12px;
    margin: -52px 100px;
    text-align: center;
    width: 244px;}*/	
	
	.zoom_img{ position:absolute; background:#000000; height:372px; width:745px;      opacity:0.5;
    filter: alpha(opacity=50);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; z-index:9; display:none; margin:0px; left:0px; top:0px;
}

.zoom_img1{ position:absolute; z-index:10; display:none;  margin:0px; left:0px; top:0px;}

.map_big{ position:absolute; margin: 70px 0 0 179px; top:0px; left:0px;}

.zoom_close{ position:absolute; cursor:pointer;   margin: 17px 0 0 700px;}

.ques_img1{ margin:4px 0 0 30px; position:relative;}

.img_con{ width:200px; position: relative;}

.img_cpy{ float:left; text-align:center; width:270px; margin-top:3px;}


.magGlass{width:32px;height:31px;background-image:url("../imgs/enlarge.png");position:absolute;bottom:40px;right:60px; cursor:pointer; 
    width: 32px; right: 36px;
    top: 260px;
}	

.ques_img{  position:relative; cursor:pointer;}

.m8l8_1{ float: left; margin: 0px 0 0 5px; width: 333px;}

.one{margin-left:-20px; }
.two{margin-left:35px; }
.three{ margin-left:34px;}
.four{ margin-left:30px;}
.imgm8l8{margin: 23px 57px; }
.imgui{width:146px; color:#984842;  margin: -27px 0 0 54px;}