﻿.ui_custom_dialog_trigger{
cursor:pointer;
}

.ui-dialog{
width: 601px;
height: 295px !important;
top: 34px !important;
left: 1px !important;
}
.ui-dialog-buttonset{
display:none;
}
.topZero{top: 0px !important;position: relative !important;float: left;margin-left: 10px;margin-right: 10px;}
.topZero2{color: #984842;}
.copyrights
{
position: absolute;
margin-left: 300px;
margin-top: -29px;
}

.left1
{
position: absolute;
text-align: center;
left: 27px;
top: 12px;
line-height: 22px;
}

.right1
{
position: absolute;
text-align: center;
right: 98px;
top: 14px;
line-height: 22px;
}
.poptxt
{
margin-top: 5px;
width: 574px;    
}
    
.lefttxt
{
margin-top: 24px;
margin-left: 96px;  
}
.copyrights
{
position: absolute;
margin-left: 259px;
margin-top: 392px;
}