.txt1 {
	position: absolute;
	margin-left: 289px;
	margin-top: -192px;
	width: 310px;
}
.txt2 {
	position: absolute;
	margin-left: 0px;
	margin-top: -14px;
	width: 296px;
}
.left1 {
	width:270px;
}
.copyright {
  position: absolute;
  margin: 10px 0 0 78px;
}