﻿.topZero
{
top: 0px !important;
}
.topZero2
{
color: #984842;
position:relative;
}
.t3565
{
margin-top: -17px;  
}
.ui_interactive .jMatch
{
width: 680px !important;
background: none !important;
}
.ui_interactive .jMatch h2 {
color: #984842;
}
.ui_interactive .jMatch .innerInstructions {
margin-top: 1em;
width: 98%;
padding: 0 10px;
clear: both;
font-style: italic;
}
.ui_interactive .jMatch #title1 {
margin-top: -4px;
margin-left: 58px;
}
.ui_interactive .jMatch #title2 {
margin-top: -4px;
margin-right: 195px;
}
.ui_interactive .jMatch .t3565Left {
position: relative;
float: left;
width: 150px;
height: 65%;
padding: 1.5em;
margin-left: -1px;
margin-top: -13px;
overflow: hidden;
border: 0px solid #333 !important;
-moz-border-radius: 6px;
-o-border-radius: 6px;
-ms-border-radius: 6px;
-khtml-border-radius: 6px;
border-radius: 0px;
background-color: #fff;
}
.ui_interactive .jMatch .words {
overflow: hidden;
width: 338px !important;
}
.ui_interactive .jMatch .word {
width: 137px !important;
height: 30px;
display: block;
text-align: left;
padding: 8px 3px 6px 9px;
line-height: 14px;
margin-bottom: 4px;
}
.ui_interactive .jMatch .t3565Right {
position: relative;
float: left;
margin-top: 8px;
margin-left:-8px;
width: 70%;
overflow: hidden;
}
.ui_interactive .jMatch .definition {
background: #fff;
height: 30px;
margin: 0 0 4px;
line-height: 15px;
padding: 8px 3px 6px 9px;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
-o-border-radius: 6px;
-ms-border-radius: 6px;
-khtml-border-radius: 6px;
border-radius: 0px;
}
.ui_interactive .jMatch .definitions {
width: 105%;
}
.ui_interactive .ui-dialog {
top: 154px !important;
left: 180px !important;
}