﻿body {
}
.MultiChoice {
	display: block;
	width: 745px;
	height: auto;
}
.MultiChoice .InterBorder {
	order: solid 10px #569ac9;
}
.MultiChoice .InterBody {
	font-family: Arial;
	font-size: 12px;
	color: #000000;
	width: 745px;
	height: auto;
	position: relative;
	ackground-color: #eff8ff;
	line-height: 14px;
}
.mouse_icon {
	float: left;
	display: inline;
	margin: 0px 0 5px 25px;
}
.instr_txt {
	font-size: 12px;
	font-style: italic;
	color: #881401;
	float: left;
	display: inline;
	width: 635px;
	margin: 0px 0 5px 15px!important;
}
.con_div {
	float: left;
	display: inline;
	height: 446px;
	width: 737px;
	margin: 25px 0 0 0;
	order-bottom: 1px dashed #025286;
}
.footer_div {
	float: left;
	display: inline;
	width: 737px;
	ackground: #C5E8FE;
	height: 50px;
}
.cpy_right {
	float: left;
	display: inline;
	font-size: 11px;
	color: #0A0B0C;
	margin: 10px 0 0 355px;
}
.select_ul {
	padding: 0px;
	margin: 0px!important;
}
.select_ul li {
	margin-left: 10px!important;
	list-style: none;
	float: left;
	color: #fff;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15px;
	text-align: center;
	background: url(../imgs/1_3_3_8_btn01.png) no-repeat center;
	width: 112px;
	height: 34px;
	line-height: 34px;
	cursor: pointer;
}
.map1_bg {
	float: left;
	background: url(../imgs/1_3_3_8_map.png) no-repeat 60px 0;
	width: 700px;
	height: 365px;
	margin: -20px 0 0 0;
}
.selecion {
	float: left;
	width: 700px;
	height: auto;
	padding-left: 45px;
	margin: 20px 0 0 0;
}
.width {
	width: 100%;
	float: left;
}
.flt {
	float: left;
}
.pop_up {
	position: absolute;
	height: 550px;
	width: 710px;
	margin: -10px 0 0 18px;
	background: #cdf4ff;
	display: none;
}
.popup_close {
	position: absolute;
	margin: 10px 0 0 669px;
	cursor: pointer;
}
.popup_head {
	margin: 20px 0 0 20px;
	position: absolute;
	font-size: 22px;
	border-bottom: 1px solid #92bedc;
	padding-bottom: 16px;
	width: 630px;
	line-height:10px;
}
.popup_img {
	position: absolute;
	background: url(../imgs/1_3_3_8_map_01.png) no-repeat;
	width: 613px;
	height: 373px;
	margin: 60px 0 0 55px;
}
.popup_Txt {
	position: absolute;
	margin: 436px 30px 0;
	font-size: 13px;
	line-height: 17px;
	border: 2px solid #569AC9;
	padding: 3px 5px 3px 8px;
	width: 638px;
}
.contentTopBg {
	float: left;
	background: url("../imgs/content_topbg.png") no-repeat scroll 0 0 transparent;
	height: 28px;
	width: 745px;
}
.contentMiddleBg {
	float: left;
	background: url("../imgs/content_middlebg.png") repeat-y scroll 0 0 transparent;
	min-height: 338px;
	width: 745px;
}
.contentBottomBg1a {
	background: url("../imgs/content_botbg1a.png") no-repeat scroll 0 0 transparent;
	float: left;
	height: 58px;
	width: 745px;
}
