﻿.topZero
{
    top: 0px !important;
    position: relative !important;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    }
.topZero2{color: #984842;}

.img
{
    position: absolute;
margin-left: -11px;
margin-top: 22px;
}
.customPopDiv
{

position: absolute;
top: 8px;
left: 302px;
padding: 10px;
width: 312px;
border: 1px solid #000000;
background-color: #EFEFEF;
display: none;
}

.customPopDiv > .head1
{
    font-weight: bolder;
margin-bottom: 10px;
width: 287px;
}
.customPopDiv > .content1
{
width: 308px;
float: right;
font-size: 13px;
}
.customPopDiv > .copyrights
{
    width: 332px;
    float: right;
    font-size: 13px;
}
.clickarea
{
    cursor:pointer;
}


    

.left {
float: left;
margin: 20px;
margin-left: 1px;
margin-top: 2px;
}
.close1
{
width: 20px;
height: 20px;
background: black;
position: absolute;
margin-left: 310px;
margin-top: -19px;
z-index: 8355555444;
border-radius: 16px;
}

.close2
{
    background-position: -309px 2px;
}

.copyrights
{
position: absolute;
margin-top: 243px;
margin-left: 34px;
   
}
.rights
{
position: absolute;
margin-top: 453px;
margin-left: 257px;

}