﻿.ui-dialog-buttonset {
	display: none;
}
.topZero {
	top: 0px !important;
	position: relative !important;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.topZero2 {
	color: #984842;
	height: 45px;
}
.map {
	width: 650px;
	text-align: center;
	margin-top: 5px;
}
.mapOverlay {
	width: 650px;
	text-align: center;
	height: 450px;
	position: absolute;
	z-index: 0;
	top: 0px;
	left: 10px;
}
.copyrights {
	position: absolute;
	margin-top: 40px;
	font-size: 15px;
	margin-left: 278px;
}
.labels span {
	position: absolute;
	font-size: 12px; 
	color: #0033FF;
	font-weight: bold;
	cursor: pointer;
}
.labels span:hover {
	position: absolute;
	font-size: 12px; 
	color: #861200;
	font-weight: bold;
	cursor: pointer;
}
.label1 {
	margin: -363px 0 0 226px;
}
.label2 {
	margin: -246px 0px 0px 280px;
}
.label3 {
	margin: -282px 0 0 394px;
}
.label4 {
	margin: -267px 0 0 428px;
}
.label5 {
	margin: -254px 0 0 449px;
}
.label6 {
	margin: -237px 0 0 466px;
}
.label7 {
	margin: -228px 0px 0px 264px;
}
.label8 {
	margin: -194px 0px 0px 303px;
}
.label9 {
	margin: -155px 0px 0px 378px;
}
.label10 {
	margin: -184px 0 0 424px;
}
.label11 {
	margin: -123px 0px 0px 319px;
}
.label12 {
	margin: -110px 0 0 466px;
}
.label13 {
	margin: -47px 0 0 396px;
}
.label14 {
	margin: -94px 0 0 454px;
}
.customPopDiv {
	position: absolute;
	top: 28px;
	left: 47px;
	padding: 10px;
	width: 496px;
	border: 1px solid #000000;
	background-color: #EFEFEF;
	z-index: 12;
}
.customPopDiv > .head1 {
	margin-bottom: -1px;
	margin-top: -5px;
}
.close1 {
	width: 26px;
	height: 25px;
	position: absolute;
	margin-left: 491px;
	margin-top: -19px;
	z-index: 11;
	background-image: url("../imgs/06_01_02a_btnclose.png");
	cursor: pointer;
}
.close2 {
	width: 26px;
	height: 25px;
	position: absolute;
	margin-left: 242px;
	margin-top: -19px;
	z-index: 11;
	background-image: url("../imgs/06_01_02a_btnclose.png");
	cursor: pointer;
}
.hiddentool {
	width: 249px;
	min-height: 50px;
	position: absolute;
	top: 50px;
	left: 347px;
	z-index: 106;
	padding: 10px;
	background: #6d4672;
	border-radius: 9px;
}
#chkTool {
	font-weight: bold;
	cursor: pointer;
	color: #537FA1;
}
.hiddencontent {
	color: #fff;
}
.customPopDiv strong {
	color: #000;
}
