﻿.redcolor
{
    color: #881401;
 }

.icon
{
    margin-top: 26px;
 }
.img
{  
  
    text-align:center;
  
}


 .main_title
 {
   margin-bottom: 23px;
font-weight: bold;
color: #000000;
text-align: center;
margin-top: -12px;

}


 .down_txt
 {
    float: left;
margin-top: 8px;
width: 604px;
font-size: 12px;
font-style: italic;
line-height: 18px;
color: #003366;

 }
 .copyright1
 {
    margin-top: 6px;
    text-align: center;
    margin-left: -4px;
 }
 
 
.copyrights
{
    position: absolute;
margin-top: 540px;
font-size: 15px;
margin-left: 215px;
color: #ffffff;


 }
.close2 {
	position: absolute;
	right: -9px;
	background-image: url("../imgs/05_02_02a_btnclose.png");
	background-repeat: no-repeat;
	top: -11px;
	z-index: 103;
	height: 26px;
	width: 25px;
	cursor: pointer;
}
 
.hiddentool {
  width: 249px;
  min-height: 50px;
  position: absolute;
  top: 206px;
  left: 99px;
  z-index: 106;
  padding: 10px;
  background: #6d4672;
  border-radius: 9px;
}
#chkTool {
  color: #003366;
  font-weight: bold;
  cursor: pointer;
  line-height: 1.3em;
  border-bottom: 1px dotted #003366;
}


.hiddencontent
{
      
color:#fff;
}
.close2{position: absolute;right: -9px;background-image: url("../images/btnClose.png");background-repeat: no-repeat;top: -11px;z-index: 103;height: 26px;width: 25px;cursor:pointer;}   
.tabby