/* CSS Document */

.carousel-inner {
  margin-bottom: 0;
}

.slidesjs-container, .image-container{
	width:300px !important;
	height:300px !important;
}

ul.slidesjs-pagination, .slidesjs-navigation {
      display:none;
}

.image-container.border {
  padding: 0;
  width:300px !important;
  height:300px !important;
}


