﻿.fl{float:left;}
.fr{ float:right;} 
.clr{clear:both;}
.btnpos {
    bottom: 23px;
    position: absolute;
    right: 30px;
}
.pageNo {
    bottom: 27px;
    color: #025286;
    left: 40px;
    position: absolute;
}
.contentTopBg{
	background:url(../intmedia/content_topbg.png) no-repeat;
	 width:745px; 
	 height:28px;
}
.contentMiddleBg{
	background:url(../intmedia/content_middlebg.png) repeat-y; height:525px;
	 width:745px; 
}
.contentBottomBg1{
	background:url(../intmedia/content_botbg1.png) no-repeat;
	 width:745px; 
	 height:28px;
}
.popup{
	position:absolute;
	top:185px;
	left:83px;
	padding:10px;
	width:570px;
	border:1px solid #999999;
	background-color:#efefef;
	display:none;
	z-index:99;
}
.imgwidth{float:left; min-width:250px; margin:10px 0 0 0;}
.contentWdth{float: right;
    height: 305px;
    margin: 15px 0 0;
    overflow-y:auto;
    width: 390px;}
.contentWdth1{width:305px; float:left; margin:0 0 0 10px;}
.captionWth{ padding:5px 25px 0px 25px; }
.pdTop10{padding-top:10px;}

[disabled] {
	opacity:0.4;
}
.hide{display:none;}
.MCHead {
    height: 25px;
    padding: 0px 10px 10px 24px;
}
.MCInstruction {
    color: #984842;
    font-family: Arial;
    font-size: 13px;
    font-style: italic;
    margin-left: 10px;
	margin-top: 5px;
	width:600px;
}


.circleImg{margin: 30px 0 0 27px;
    width: 700px;
   }

.circleImg img{ margin:0 0px 0px 0; position:absolute;}

.circleImg span{ position:absolute;}

.click_area, .zoom_map{cursor:pointer;}

.black_star{  background:url(../intmedia/star1.gif) no-repeat; width:20px; height:20px;  margin: 110px 0 0 368px;}

.yellow_star{  background:url(../intmedia/star2.gif) no-repeat; width:20px; height:20px; margin: 207px 0 0 363px;}

/*.purple_star{  background:url(../intmedia/star4.gif) no-repeat; width:20px; height:20px;  margin: 267px 0 0 332px;}

.orange_star{  background:url(../intmedia/star3.gif) no-repeat; width:20px; height:20px; margin:227px 0 0 663px;}
*/
.purple_star{  background:url(../intmedia/star4.gif) no-repeat; width:20px; height:20px;  margin:227px 0 0 663px ;}

.orange_star{  background:url(../intmedia/star3.gif) no-repeat; width:20px; height:20px; margin:267px 0 0 332px;}
.map_area{  background:url(../intmedia/map_thumbnail.png) no-repeat; width:50px; height:40px;  margin: 49px 0 0 321px;}

.map_blink{background:url(../intmedia/map1.gif) no-repeat; width:121px; height:82px;  margin: 29px 0 0 277px;}



.overlay{ position:absolute; width:737px; height:574px; margin:-25px 0 0 4px; display:none; z-index:10; background:#ffffff; 	filter: alpha(opacity = 50);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; opacity:0.5;
}

.overlay1{ position:absolute; z-index:11;   width: 729px; display:none;}
.overlay1 img{ margin: 2px 0 0 41px; position:absolute;}

.red_star{  background:url(../intmedia/star5.gif) no-repeat; width:20px; height:20px;  margin: 288px 0 0 164px; z-index:12; position:absolute;}

.blue_star{  background:url(../intmedia/star6.gif) no-repeat; width:20px; height:20px; margin: 366px 0 0 306px; z-index:12;  position:absolute;}

.green_star{  background:url(../intmedia/star7.gif) no-repeat; width:20px; height:20px; margin: 286px 0 0 409px; z-index:12;  position:absolute;}

.green_dot{  background:url(../intmedia/dot2.gif) no-repeat; width:20px; height:20px; margin:295px 0 0 198px; z-index:12;  position:absolute;}
.purple_dot{  background:url(../intmedia/dot3.gif) no-repeat; width:20px; height:20px; margin:302px 0 0 215px; z-index:12;  position:absolute;}
.red_dot{  background:url(../intmedia/dot4.gif) no-repeat; width:20px; height:20px; margin:312px 0 0 200px; z-index:12;  position:absolute;}
.black_dot{  background:url(../intmedia/dot5.gif) no-repeat; width:20px; height:20px; margin:321px 0 0 224px; z-index:12;  position:absolute;}
.orange_dot{  background:url(../intmedia/dot1.gif) no-repeat; width:20px; height:20px; margin:256px 0 0 372px; z-index:12;  position:absolute;}
.blue_dot{  background:url(../intmedia/dot6.gif) no-repeat; width:20px; height:20px;     margin:423px 0 0 429px; z-index:12;  position:absolute;}
.yellow_dot{  background:url(../intmedia/dot7.gif) no-repeat; width:20px; height:20px;     margin:287px 0 0 226px; z-index:12;  position:absolute;}
.pop_head{ margin:15px 0 0 0px!important; font-size: 13px;}

.popup img{ display:block; margin:10px auto 0 auto;}

.caption{font-size:12px; margin:15px 0 15px 0!important; color:#444444; }

.btnClose{ position:absolute; background:url(../intmedia/btnclose.png) no-repeat; cursor:pointer; width:25px; height:25px; right:10px;}
.over_close{ position:absolute; background:url(../intmedia/btnclose.png) no-repeat; width:25px; height:25px; right:5px; top:0px;}
.btnClose1{cursor:pointer; }
.margintop10{margin-top:10px;}

.glos_left{ margin-left:-100px;}

/*.copyright{ clear:left; position:absolute;  }
*/

.copyright_intr{margin:394px 0 0 0;}
.copyright_intr1{margin:489px  0 0 328px !important; clear:left; position:absolute; }


/*flvs*/
.toolTipClose {
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  top: -8px;
  right: -8px;
  background: url(../intmedia/btnClose.png) no-repeat;
  cursor:pointer;
}