﻿
.nxt{
	 background:url(../imgs/next.png) no-repeat;
	 width:37px; 
	 height:24px;
	 border:0px;
	 cursor:pointer;
}
.prev{
	 background:url(../imgs/previous.png) no-repeat;
	 width:37px; 
	 height:24px;
	 border:0px;
	 cursor:pointer;
}
.fl{float:left;}
.fr{ float:right;} 
.clr{clear:both;}
.btnpos1{
    bottom: 23px;
    position: absolute;
    right: 30px;
}
.btnpos1 img{
	margin-right:10px;
}
.btnpos{
    bottom: 23px;
    position: absolute;
    right: 30px;
	z-index:10000;
}

.pageNo {
    bottom: 27px;
    color: #025286;
    left: 40px;
    position: absolute;
}
.contentTopBg2{
	background:url(../imgs/content_topbg.png) no-repeat;
	 width:745px; 
	 height:28px;
}
.contentMiddleBg2{
	background:url(../imgs/content_middlebg.png) repeat-y;
	 width:745px; 
}
.contentBottomBg2{
	background:url(../imgs/content_botbg1.png) no-repeat;
	 width:745px; 
	 height:28px;
}

.rightContent p{margin:0px; padding:0px;}

.rightContent h2{
	 color: #003366;
    font-size: 16px;
	padding:10px;
	margin:0px;
	text-align:center;
}
.caption{font-size:11px; }
.captionWth{width:270px; text-align:center; }
.pdTop10{padding-top:10px;}

[disabled] {
	opacity:0.4;
}
.hide{display:none;}
.set{padding:0px 25px 0px 25px;}
.pd10{padding:10px}

.popupBg{width:300px; height:60px; position:absolute; display:none; z-index:9999; background-color:#E6F5FF;  border:2px solid #025286; bottom:350px; right:100px; text-align:center;}
.popupBg img{ float:right; margin-bottom:5px; margin-right:5px;}
.popupBg h2{font-size:14px; font-weight:bold; margin:0px; padding:0px; line-height:18px;}
.removeDrag {
    display: none;
    height: 570px;
    position: absolute;
    width: 697px;
    z-index: 9998;
	filter: alpha(opacity = 0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	background:#FFFFFF;
	opacity:0;
}
.dropBg5{
	width:480px;
	height:68px;
	border:2px solid #000000;
	position:relative;
	float:left;
	margin:2px 0px 5px 2px;
}

.dropBgWth1{
	margin-left:30px;
    width: 490px;
	float:left;
}
.dropBgWth2{
	margin-left:30px;
    width: 350px;
	float:left;
}
.dragBg5 {
    background-color: #0171BA;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 12px;
   	height: 60px;
    padding: 3px 20px 3px 3px;
    position: relative;
    width: 455px;
  margin-bottom: 10px;
  line-height:15px;
}

#shuffleStatic{ width:160px; float:left; margin-left:10px;}
#shuffleStatic ul{ width:160px; padding:0px!important; margin:0px!important;}
#shuffleStatic ul li{ width:140px; min-height:38px; margin:3px 0 0 0; background:#003466;  color:#FFFFFF;border:2px solid #000; text-align:center; list-style:none; padding:15px;}

#shuffleStatic1{ width:275px; float:left; margin-left:10px;}
#shuffleStatic1 ul{ width:275px; padding:0px!important; margin:0px!important;}
#shuffleStatic1 ul li{ width:256px; min-height:30px; margin:3px 0 0 0; background:#003466;  color:#FFFFFF;border:2px solid #000; list-style:none; padding:2px;}

.dragDropContent5{
	padding-bottom:20px;
}
.Opacity10 {
    cursor: default;
    opacity: 0.5;
	filter: alpha(opacity = 50);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

}
.iconPos{
    position: absolute;
    z-index: 101;
	bottom:2px;
	right:2px;
}
.MCHead2 {
    height: 25px;
    padding: 0px 10px 10px 2px;
}
.MCInstruction2 {
    color: #984842;
    font-family: Arial;
    font-size: 13px;
    font-style: italic;
    margin-left: 10px;
	width:620px;
}
.stopDrag{
	position:absolute; 
	width:100%; 
	top:0px; 
	height:100%; 
	z-index:1002; 
}
.hand{cursor:pointer}
.toolTipClose {
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  top: -8px;
  right: -8px;
  background: url(../imgs/btnClose.png) no-repeat;
  cursor:pointer;
}