﻿.topZero
{top: 0px !important;
position: relative !important;
float: left;
margin-left: 10px;
margin-right: 10px;
}
.topZero2
{
color: #984842;
}
.ui_interactive hr,.ui_interactive .ui_reset{display:none;}
.DropsC
{
width: 605px !important;
float:left;
margin:0px 0px 0px 0px;
margin-left: 20px;
}
.DragC
{
width: 610px;
margin-left: 38px;
}
        
.DragC>.draggable
{
width: 170px;
height: 16px;
padding: 8px 0px 12px 6px;
cursor: pointer;
opacity: 1 !important;
margin-left: 2px;
background: none repeat scroll 0% 0% #D7EEFE;
border: 1px solid #CFCFCF;  
box-shadow: none !important;         
}
 .DragC>.draggable p
{
    font-size:12px;
}   
    
    
.ui_interactive .droppables
{
width: 178px;
min-height: 40px;
margin: 4px;
padding: 0px;
float: left;
background-color: #4f81bd;
color: White;
text-align: center;
margin-left: -10px;
line-height: 37px;  
font-weight: bold; 
}
.drop_txt
{
color: #000;
width: 415px;
min-height: 19px;
float: left;
margin: -1px 5px 5px -2px;
border: medium none;
font-size: 12px;
line-height: 1.4em;
padding: 3px 3px 4px 9px;
background-color: #D0D8E8;
}
.drop_txts
{
width: 427px;
min-height: 40px;
margin: 5px;
padding: 0px;
float: left;
background-color: #4f81bd;
color: White;
text-align: center;
margin-left: -1px;
margin-top: 4px;
line-height: 37px; 
font-weight: bold;
}
.ui_interactive .bin
{
background-color: transparent;
margin-top: 6px;
}
.DropsC ul
{
list-style-type: none;
line-height: 26px;
padding: 0px 0px 0px 5px;
background: none repeat scroll 0% 0% #9FC;
margin: 0px 0px;
}
.ui_interactive .draggable{ 
opacity: 1 !important;
cursor:pointer;

}
.ui_interactive .wid
{
min-height: 40px;
background: none repeat scroll 0% 0% #D1DBEF;
width: 178px;
margin-left: -10px;
margin-top: -1px;
box-shadow: none !important;
border: medium none !important;
}
.ui_interactive .top
{
position: absolute !important;
top: 0px !important;
left: 0px !important;
}
   .DropsC ul li
{color: #000;display: table-cell;
vertical-align: middle;line-height: 18px;
height: 20px;}
.ui-dialog{margin-top: 400px;}
.copyrightact{
bottom: 15px;
font-size: 12px;
text-align: center;
}

.bin1 {
margin-top: 21px !important;
}
.bin2 {
margin-top: 11px !important;
}
.bin3 {
margin-top: 0px !important;
}
.ui_interactive .ui-draggable-dragging{z-index:2000;}   
.ui-slideshow-item { margin-left: -20px;
}
.one{min-height: 26px !important;}
.three{min-height: 57px !important;}
.four{min-height: 74px !important}
.spacingtxt{word-spacing: 1px;}

@media screen and (-webkit-min-device-pixel-ratio:0) 
{
.ui_interactive .wid{min-height: 39px;}
.one{min-height: 26px !important;}
.three{min-height: 55px !important;}
.four{min-height: 71px !important;}
}

.ui_dialog{
	top:-148px !important;
}