﻿/* CSS Document */

#Img2,#Img3,#Img4,#Img5,#Img6,#Img7,#Img8,#Img9,#Img10,#Img11,#Img01,#Img02,#Img03,#Img04,#Img05,#Img06,#Img07,#Img08,#Img09,#Img010,#Img011{opacity:0.3;}

.customPopUp
{
position: absolute;
width: 600px;
margin-left: 51px;
height: 345px;
border: 1px solid;
background: none repeat scroll 0% 0% #EBEBEB;
top: 63px;
left: -46px;
z-index: 103;
}
.close1{position: absolute;right: -9px;background-image: url("../img/03_02_03_btnClose.png");background-repeat: no-repeat;top: -11px;z-index: 103;height: 26px;width: 25px;cursor:pointer;}
.hd{font-weight: bold;margin-bottom: 11px;margin-left: 28px;}

.topZero
{
    top: 0px !important;
  
    }
.topZero2
{
    color: #984842;
    position:relative;
    
    }
.map
{
 position: absolute;
top: 7px;
left: 59px;
text-align: center;
line-height: 18px;    
}
#Img1
{
position: absolute;
cursor: pointer;
top: 169px;
left: 261px;

}
#Img2
{
position: absolute;
top: 96px;
left: 274px;

}
#Img3
{
position: absolute;
top: 136px;
left: 416px;

}
#Img4
{
position: absolute;
top: 207px;
left: 308px;

}
#Img5
{
position: absolute;
top: 248px;
left: 418px;

}
#Img6
{
position: absolute;
top: 427px;
left: 374px;

}
#Img7
{
position: absolute;
top: 380px;
left: 391px;

}
#Img8
{
position: absolute;
top: 328px;
left: 125px;

}
#Img9
{
position: absolute;
top: 347px;
left: 233px;

}
#Img10
{
position: absolute;
top: 315px;
left: 394px;

}
#Img11
{
position: absolute;
top: 263px;
left: 258px;
}
.leftimg
{
position: absolute;
top: 20px;
left: 4px;
width: 337px;
text-align: center;
font-size: 12px;
line-height: 26px;
}
.rightxt
{
position: absolute;
left: 329px;
top: 15px;
width: 254px;
font-size: 13px;
}
.overlay {
position: absolute;
width: 645px;
height: 725px;
z-index: 100;
margin: 1px 4px;
display: none;
opacity: 0.8;
background: #ffffff;
}

  
  
  .hiddentool
  {
width: 249px;
min-height: 50px;
position: absolute;
top: 267px;
left: 347px;
z-index: 106;
padding: 10px;
background: #6d4672;
border-radius: 9px;
  }
  #chkTool
  {
   font-weight: bold;
cursor: pointer;
  }
  .hiddencontent
  {
      color:#fff;
  }
  .close2{position: absolute;right: -9px;background-image: url("../img/03_02_03_btnClose.png");background-repeat: no-repeat;top: -11px;z-index: 103;height: 26px;width: 25px;cursor:pointer;}
 .ii
    {
        font-style:italic;
    }