﻿

.flip{
    margin:0 auto;
    width:710px;
    padding:5px;
}
.card1, .card2, .card3, .card4, .card5, .card6, .card7, .card8, .card9, .card10{
   float: left;
    height: 250px;
    margin-left: 9px;
    margin-right: 11px;
    position: relative;
    width: 152px;
}


.imgTxt1 {
    margin: 10px 0 0 5px;
    padding: 5px;
    position: absolute;
    width: 225px;
    z-index: 1020;
	display:none;
}
body {
}
img{ border:0px;}
.SlideShow
{
    display:block;
    width:757px; 
}

.SlideShow .InterBody
{
    font-family:Arial;
    font-size:12px;
    color:#000000;
    width:736px; 
    height:634px;
    position:relative;
    background-color:#eff8ff;
    line-height:14px;
}
.hide{ display:none;}
.contentMiddleBg{	background:url(../imgs/content_middlebg.png) repeat-y; width:745px; float:left;}

.contentTopBg{	background:url(../imgs/content_topbg.png) no-repeat; float:left; width:745px; 	 height:28px; }

.contentBottomBg{	background:url(../imgs/content_botbg.png) no-repeat;  float:left; width:745px; height:53px;}

.mouse_icon{ float:left; display:inline;  margin:0 0 0 24px;}

.instr_txt{ font-size:12px; font-style:italic; color:#881401; float:left; display:inline; width:635px; margin:5px 0 0 10px!important;}

.con_div{ display: inline;
    float: left;
    margin: 25px 0 -3px 30px;
    width: 700px;}

.footer_div{ float:left; display:inline; width:737px; height:50px;}

.cpy_right{ float:left; display:inline; font-size:11px; color:#0A0B0C; margin:11px 0 0 365px;}

.width{width:100%; float:left;}
.flt{float:left;}
.img_txt{
	font-size: 13px;
   display:none; line-height: 18px;
}
	
.copyright {
    border: 0 none;
    color: #003366;
    width: 130px;
	text-align:center;
	display:block;
}

.tooltip{
	margin:0 3px;
}

.dlinkimg{ width:10px !important; height:12px !important}

.popup{
	background-color: #EEEEEE;
    border: 1px solid #000000;
    display: none;
    height: 265px;
    left: 27px;
    padding: 10px;
    position: absolute;
    top: 163px;
    width: 670px;
    z-index: 101;
	
}

.popup_close{background: url("../imgs/btnclose.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 25px;
    position: absolute;
    right: -8px;
    top: -8px;
    width: 25px;
	cursor:pointer;
}	

.popup_txt{ padding:20px; width:610px; float:left;}

.overlay{position:absolute; height:629px; width:745px; z-index:100; display:none; opacity:0.6;
     filter: alpha(opacity=60); top:0px; left:0px;
     -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; background:#ffffff;}
	 
.pop_head{ font-size:17px; color:#003366;}	 

.Img1{ cursor:pointer;}
