﻿.copyrights
{
    position: absolute;
    margin-top: -75px;
    margin-left: 260px;
    font-size: 15px;
    color: white;
}


.head_txt
{
    color: #881401;
}


.left11
{
    position: absolute;
    margin-top: 23px;
    margin-left: -7px;
    text-align: center;
}

.right11
{
    position: absolute;
    margin-left: 230px;
    margin-top: 12px;
    width: 360px;
}
.left12
{
    position: absolute;
    margin-top: 0px;
    margin-left: -7px;
    text-align: center;
}

.right12
{
    position: absolute;
    margin-left: 230px;
    margin-top: -6px;
    width: 360px;
}
.left21
{
    position: absolute;
    /*margin-top: 36px;*/
    margin-left: -7px;
    text-align: center;
}

.right21
{
    position: absolute;
    margin-left: 325px;
    /*margin-top: 38px;*/
    width: 276px;
}

.left22
{
    position: absolute;
    /*margin-top: 36px;*/
    margin-left: -7px;
    text-align: center;
}

.right22
{
    position: absolute;
    margin-left: 361px;
    /*margin-top: 36px;*/
    width: 238px;
}
.left23
{
    position: absolute;
    /*margin-top: -10px;*/
    margin-left: -7px;
    text-align: center;
}

.right23
{
    position: absolute;
    margin-left: 361px;
    /*margin-top: -8px;*/
    width: 238px;
}
.left31
{
    position: absolute;
    margin-top: 19px;
    margin-left: -7px;
    text-align: center;
}

.right31
{
    position: absolute;
    margin-left: 246px;
    margin-top: 17px;
    width: 354px;
}

.imgrights
{
    padding-top: 5px;
}

.img32a
{
    position: absolute;
    margin-top: -2px;
    margin-left: -7px;
    text-align: center;
}

.img32b
{
    position: absolute;
    margin-top: -1px;
    margin-left: 238px;
    text-align: center;
}

.txt32
{
    position: absolute;
    margin-top: 329px;
    margin-left: -6px;
    width: 608px;
}

/*flvs*/
.padding10px
{
    padding: 10px;
}
