﻿.ui_interactive hr {
	display: none;
}
.topZero {
	top: 0px !important;
}
.topZero2 {
	margin-top: -13px !important;
}
.ui_interactive .ui_edge_buttons {
/*	margin-top: 55px !important;*/
	margin-right: 45px !important;
}
.questionText {
	font-weight: bold;
	text-align: center;
}
.selectable {
	width: 87% !important;
}
.selectable li {
	height: auto;
	cursor: pointer;
}
.copyright {
	text-align: center;
	margin-bottom: 20px;
}
.trim {
	margin-top: 20px;
}
.width {
	width: 760px;
}
.tab_3 {
	height: 42px;
	line-height: 3;
}
.top {
	margin-top: -50px;
}
.ui_interactive, .activeInteractive {
	margin-bottom: 0px !important;
}

.ui_interactive {
background-color: #fff;
color: #000;
}