﻿.topZero1 {
	color: #984842;
	font-size: 14px;
	line-height: 16px;
	font-style: italic;
}
.topZero {
	top: 0px !important;
	position: relative !important;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.topZero2 {
	color: #984842;
}
.resize {
	width: 287px;
	margin-left: 11px;
	text-align: center;
}
.width314 {
	margin:0 auto 20px;
	width: 314px;
}

.discoveryVideo {
width: 696px;
height: 142px;
border: 1px solid #b2ccdd;
background-color: #ebf7ff;
margin: 0 auto;
padding: 5px 6px 5px 6px;
position: relative;
}

.width670 {
width: 670px;
}

.height150 {
height: 214px;
}

.copyright {
color: #003366;
margin-left: 3px;
border: 0px;
}

.discoveryButton {
position: relative;
background: #FFFFFF;
float: left;
width: 590px;
height: 130px;
margin: 0 0 0 10px;
text-align: center;
padding-top: 10px;
}

.width551 {
width: 551px;
}

.height140 {
height: 140px;
}

.discoveryLogo {
float: left;
width: 94px;
height: 57px;
}

/*flvs*/
.audioTip {
  visibility: visible;
}

.right {
  margin: 0px;
}