﻿

.flip{
    margin:0 auto;
    width:710px;
    padding:5px;
}

.card1_con{   
float: left;
    height: 245px;
    margin-left: 25px;
    margin-right: 21px;
    position: relative;
    width: 122px;
}


.card1, .card2, .card3, .card4, .card5, .card6, .card7, .card8, .card9, .card10{
    float:left;
    position:relative;
}
.card1 img, .card2 img, .card3 img, .card4 img, .card5 img, .card6 img, .card7 img, .card8 img, .card9 img, .card10 img{
		cursor:pointer;
}

.card_container{    
}


.imgTxt1 {
    margin: 10px 0 0 5px;
    padding: 5px;
    position: absolute;
    width: 225px;
    z-index: 1020;
	display:none;
}
body {
}
img{ border:0px;}
.SlideShow
{
    display:block;
    width:757px; 
}

.SlideShow .InterBody
{
    font-family:Arial;
    font-size:12px;
    color:#000000;
    width:736px; 
    height:869px;
    position:relative;
    background-color:#eff8ff;
    line-height:14px;
}
.hide{ display:none;}
.contentMiddleBg{	background:url(../imgs/content_middlebg.png) repeat-y;height:787px;	 width:745px; float:left; }

.contentTopBg{	background:url(../imgs/content_topbg.png) no-repeat;	 width:745px; 	 height:28px; float:left; }

.contentBottomBg{	background:url(../imgs/content_botbg.png) no-repeat;	 width:745px; 	 height:53px; float:left}

.mouse_icon{ float:left; display:inline;  margin:0px 0 0 24px;}

.instr_txt{ font-size:12px; font-style:italic; color:#881401; float:left; display:inline; width:635px; margin:4px 0 0 10px!important;}

.con_div{ float:left; display:inline; width:737px; margin:25px 0 0 0;}

.footer_div{ float:left; display:inline; width:737px; height:50px;}

.cpy_right{ float:left; display:inline; font-size:11px; color:#0A0B0C; margin:11px 0 0 355px;}

#submit{ background:url(../imgs/submit_btn.png) no-repeat; height:24px; width:116px; margin:7px 13px 0 0; opacity:0.6; float:right;}

#restart{ background:url(../imgs/restart_btn.png) no-repeat; height:24px; width:116px; margin:7px 13px 0 0; float:right; display:none; cursor:pointer;}

.width{width:100%; float:left;}
.flt{float:left;}

.slide_prev{ float:left; margin:123px 0 0 39px; }

.slide_next{ float:left; margin:123px 0 0 23px; cursor:pointer;}

.slide_con{ float:left;width:708px; margin:0px 0 0 20px; }

.slide_img{ float:left; display:inline; margin:0 0 0 165px;}

.slide_caption{ float:left; clear:left;font-size:13px; margin:5px 0 0 20px !important; width:540px;}

.slide_copyright{ float:left; clear:left; font-size: 12px;  text-align: center; width:569px; margin-top:5px;}

.slide, .slide2, .slide3, .slide4, .slide5, .slide6, .slide7, .slide8{ float:left; display:inline;}


.btnpos{position: absolute;}

.nxt{
position:absolute;
	 background:url(../imgs/next.png) no-repeat;
	 width:35px; 
	 height:33px; 
	 border:0px;
	 cursor:pointer;
	  margin:471px 0 0 636px;
}
.prev{
position:absolute;
	 background:url(../imgs/previous.png) no-repeat;
	 width:35px; 
	 height:34px;
	 border:0px;
	 margin:471px 0 0 0;
}
.img_txt{   font-size: 12px;
    padding: 10px;
    position: absolute;
    z-index: 1001; display:none; line-height: 13px; }
	
.pageNo { background-image: url("../imgs/counter_btn.png");
    color: #025286;
    font-size: 14px;
    height: 20px;
    margin: 6px 0 0 33px;
    padding: 5px 8px 0 11px;
    float: left;
    width: 24px;
}
	
.copy_right1{ font-size:11px; text-align:center; width:145px; margin:8px 0 0 25px; clear:left;}	

.flip_head{ padding-bottom:5px; width:150px;}

.popup{
	background-color: #EEEEEE;
    border: 1px solid #000000;
    display: none;
    height: 205px;
    left: 117px;
    padding: 10px;
    position: absolute;
    top: 269px;
    width: 510px;
    z-index: 101;
}

.popup_close{background: url("../imgs/btnclose.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 25px;
    position: absolute;
    right: -8px;
    top: -8px;
    width: 25px;
	cursor:pointer;
}	

.popup_txt{ padding:20px;}

.overlay{position:absolute; height:859px; width:745px; z-index:100; display:none; opacity:0.6;
     filter: alpha(opacity=60);
     -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; background:#ffffff; top:0px; left:0px;   }
	 
.imgtxt_head{ font-size:15px;} 