﻿.nxt {
	background: url(../imgs/next.png) no-repeat;
	width: 37px !important;
	height: 24px;
	border: 0px;
	cursor: pointer;
	float: left;
	margin: 0 0 0 10px;
}
.prev {
	background: url(../imgs/previous.png) no-repeat;
	width: 37px !important;
	height: 24px;
	border: 0px;
	float: left;
	filter: alpha(opacity = 30);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.clr {
	clear: both;
}
.btnpos {
	float: right;
	padding: 6px 30px 0 0;
}
.pageNo {
	color: #025286;
	position: absolute;
	margin: 9px 0 0 27px;
	width: 42px;
	text-align: center;
}
.rightContent {
	padding: 5px;
	margin-left: 10px;
	width: 400px;
	height: 250px;
}
.rightContent1 {
	padding: 5px;
	margin-left: 10px;
	width: 300px;
	height: 250px;
}
.rightContent p {
	margin: 0px;
	padding: 0px;
}
.rightContent h2 {
	color: #003366;
	font-size: 16px;
	padding: 0px;
	margin: 0px;
}
.caption {
	font-size: 11px;
}
.captionWth {
	width: 270px;
	text-align: center;
}
.pdTop10 {
	padding-top: 10px;
}
 [disabled] {
 opacity:0.4;
}
.hide {
	display: none;
}
.set {
	padding: 0px 0px 0px 0px;
	width: 714px;
	height: 350px;
	margin: 0 0 0 16px;
}
.para1 {
	width: 300px;
}
.para2 {
	width: 300px;
}
.contentMiddleBg {
	background: url(../imgs/content_middlebg.png) repeat-y;
	height: 412px;
	width: 745px;
	float: left;
}
.contentTopBg {
	background: url(../imgs/content_topbg.png) no-repeat;
	width: 745px;
	height: 28px;
	float: left;
}
.contentBottomBg {
	background: url(../imgs/content_botbg.png) no-repeat;
	width: 745px;
	height: 53px;
	float: left
}
.forheight {
	height: 420px !important
}
.manImg {
	height: 261px;
	width: 192px;
	margin: 0 20px 0 0;
	position: absolute;
}
.womanImg {
	height: 261px;
	width: 192px;
	margin: 0 0 0 505px;
	position: absolute;
}
.messageBox {
	background: none repeat scroll 0 0 #8BB0C7;
	border: 2px solid #4F81BD;
	min-height: 40px;
	margin: 35px 0 0 165px;
	padding: 5px 5px;
	position: absolute;
	width: 350px;
	z-index: 11
}
.calloutman {
	background: url("../imgs/calloutman.png") no-repeat scroll 0 0 transparent;
	height: 27px;
	position: absolute;
	width: 27px;
}
.callout_woman {
	background: url("../imgs/callout1.png") no-repeat scroll 0 0 transparent;
	position: absolute;
	height: 27px;
	margin: 30px 0 0 353px;
	width: 27px;
}
/* jPlayer */


.jp-audio-in {
	width: 93px;
}
.jp-interface-in {
	position: relative;
	width: 100%;
}
.jp-audio-in .jp-interface-in {
	height: 24px;
}
.jp-interface-in .jp-controls-in {
	padding-bottom: 0px;
	list-style-type: none;
	padding-left: 0px;
	padding-right: 0px;
	height: 24px;
	overflow: hidden;
	padding-top: 0px;
	width: 150px;
}
.jp-audio-in .jp-controls-in {
	margin: 0px auto;
}
.jp-interface-in .jp-controls-in a {
	padding-bottom: 0px;
	text-indent: -9999px;
	padding-left: 0px;
	padding-right: 0px;
	display: block;
	height: 24px;
	overflow: hidden;
	padding-top: 0px;
	float: left;
	margin-left: 8px;
}
.jp-type-single-in .jp-controls-in a {
	width: 38px;
}
.jp-type-single-in .jp-play-in {
	background: url(../imgs/play_btn.png) no-repeat;
}
.jp-type-single-in .jp-pause-in {
	background: url(../imgs/pause_btn.png) no-repeat;
}
.jp-type-single-in .jp-mute-in {
	background: url(../imgs/audio_on_btn.png) no-repeat 0px 0px;
}
.jp-type-single-in .jp-unmute-in {
	background: url(../imgs/audio_off_btn.png) no-repeat 0px 0px;
}
.jp-jplayer-in {
	width: 0px;
	height: 0px;
	background-color: #000000;
}
.clk1, .clk2, .clk3 {
	cursor: pointer;
}
.clk1:hover, .clk2:hover, .clk3:hover {
	cursor: pointer;
	color: #58aafb;
}
.popup {
	position: absolute;
	top: 80px;
	left: 35px;
	padding: 10px;
	width: 655px;
	border: 1px solid #000000;
	background-color: #EFEFEF;
	display: none;
	z-index: 100;
}
.popup h2 {
	color: #000000;
	font-size: 13px;
	padding: 0px;
	margin: 0px;
}
.startbtn {
	background: url("../imgs/start_btn.png") no-repeat scroll 0 0 transparent;
	cursor: pointer;
	float: left;
	font-size: 14px;
	font-weight: bold;
	height: 85px;
	margin: 0 0 0 31px;
	text-align: center;
	width: 85px;
}
.replaybtn {
	background: url("../imgs/replay_btn.png") no-repeat scroll 0 0 transparent;
	cursor: pointer;
	display: none;
	float: left;
	font-size: 14px;
	font-weight: bold;
	height: 94px;
	margin: 0 0 0 31px;
	text-align: center;
	width: 94px;
	z-index: 1000;
}
.container_bg {
	width: 715px;
	height: 461px;
	opacity: .7;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	background-color: white;
	left: 18px;
	right: 0;
	position: absolute;
	z-index: 999;
	top: 17px;
}
.playTxt {
	float: left;
	left: 0;
	text-align: center;
	top: 0;
	width: 150px;
}
.replayTxt {
	display: none;
	float: left;
	text-align: center;
	width: 150px;
}
.center_area {
	margin: 140px 0 0 300px;
	position: absolute;
	width: 150px;
	z-index: 1000;
	top: 0px;
	left: 0px;
}
.MCHead {
	height: 25px;
	padding: 0 10px 10px 25px;
}
.MCInstruction {
	color: #984842;
	font-family: Arial;
	font-size: 13px;
	font-style: italic;
	margin-left: 10px;
	width: 620px;
}
p {
	margin: 20px;
}

/* ----*/
