﻿.topZero {
	top: 0px !important;
	position: relative !important;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.topZero2 {
	color: #984842;
}
.DropsC {
	width: 653px !important;
	float: left;
	margin-top: 81px;
	margin-left: 20px;
}
.DragC {
	width: 653px !important;
	float: left;
	margin-top: 61px;
}
.DragC>.draggable {
	width: 18px;
	height: 25px;
	text-align: center;
	padding: 5px;
	cursor: pointer;
	opacity: 1 !important;
}
.droppables {
	min-height: 40px;
	margin: 0px 12px 4px -24px;
	padding: 0px;
	float: left;
	color: #FFF;
	text-align: center;
	line-height: 37px;
	font-weight: bold;
}
.drop_txt {
	width: 136px;
	min-height: 44px;
	float: left;
	margin-left: -10px;
	border: medium none;
	font-size: 12px;
	line-height: 1.4em;
	padding: 28px 4px 0px 9px;
	background-color: #D0D8E8;
}
.drop_txts {
	width: 385px;
	min-height: 40px;
	margin: 4px 5px 5px -1px;
	padding: 0px;
	background-color: #4F81BD;
	color: #FFF;
	text-align: center;
	line-height: 37px;
	float: left;
}
.ui_interactive .bin {
	background-color: transparent;
	padding: 0px !important;
	position: absolute;
	z-index: 1;
}
.DropsC ul {
	list-style-type: none;
	line-height: 18px;
	text-align: center;
	padding: 0px !important;
	margin: 0px;
}
.ui_interactive .draggable {
    cursor: pointer;
    opacity: 1 !important;
    width: 110px;
}
.wid {
	width: 200px;
	margin-top: 0px;
	float: left;
	margin-right: 0px;
	margin-left: 3px;
	box-shadow: none !important;
	position: absolute;
	border: 1px solid #4F81BD !important;
	background-color: #D0D8E8;
}
.top {
	position: absolute !important;
	top: 0px !important;
	left: 0px !important;
}
.ui_interactive .assignment {
	margin-bottom: 0px;
	height: 50px;
}
.ui_interactive .ui_assessment hr {
	display: none;
}
.copyrightact {
	margin-top: -30px;
	position: absolute;
	text-align: center;
	width: 650px;
	color: #000;
	font-size: 10px;
}
.ui_interactive .draggable p {
	padding-right: 0px !important;
	line-height: 12px;
	font-size: 12px;
}
.ui_interactive .ui-draggable-dragging {
	z-index: 2000;
}
.ui_interactive .ui-state-highlight {
	background: #D0D8E8 !important;
}
.ui_interactive .ui-dialog {
	top: 200px !important;
}
.disableDiv {
	background-color: #d0d8e8;
}
.pos1 {
	height: 168px;
	left: 0px;
	top: 130px;
}
.pos2 {
	height: 140px;
	left: 52px;
	top: 367px;
}
.pos3 {
	min-height: 28px;
	padding-top: 1px;
	left: 321px;
	top: 465px;
	width: 209px!important;
}
.pos4 {
	height: 140px;
	left: 440px;
	top: 261px;
}
.pos5 {
	left: 0px;
	top: 36px;
	height: 55px;
}
.pos6 {
	left: 439px;
	top: 80px;
	height: 55px;
}
.optDrg {
	margin: 0px 2px 6px !important;
	background-color: #FFF;
	width: 190px;
	text-align: center;
	height: 21px !important;
	padding: 7px 2px 0px 2px !important;
}
.og {
	padding: 2px 2px 5px 2px !important;
}
.Head {
	text-align: center;
	height: 80px;
	background-color: #4F81BD;
	margin-bottom: 4px;
	color: #FFF;
	line-height: 5;
	font-weight: bold;
	border: 1px solid #B9B3B7;
	width: 102px;
	float: left;
	margin-right: 5px;
}
.head2 {
	height: 124px;
	line-height: 9;
}
.blueCont {
	height: 50px;
	background-color: #e2f1f6;
	margin-left: 30px;
	padding-left: 5px;
	/*float: right;*/
	width: 133px;
	margin-bottom: 5px;
	border: 1px solid #B9B3B7;
}
.blueDrg {
	margin: 0px !important;
	background-color: #2bbdf1;
}
.pos1 .bin ul li, .pos2 .bin ul li, .pos3 .bin ul li, .pos4 .bin ul li, .pos5 .bin ul li, .pos6 .bin ul li {
	text-align: center;
	text-align: center;
	text-align: center;
	background-color: #9FC;
	line-height: 19px;
	margin: 4px 3px;
	padding-top: 2px;
	/* border-color: #537FA1; */
	padding-bottom: 7px;
	z-index: 6;
	width: 195px;
	height: 15px;
	font-size: 12px;
}
.pos3 .bin ul li {
	width: 204px!important;
}
.ui_interactive .bin ul li {
	background-color: #99FFCC;
	color: #000;
}
.dragArea {
	width: 594px;
	height: 166px;
	background-color: #D0D8E8;
	margin-bottom: 5px;
	padding: 5px;
	margin-left: -6px;
}
.dragArea2 {
	height: 128px;
}
.title1 {
	margin-left: 2px;
	margin-top: -18px;
	color: #000;
	font-weight: bold;
}
.title2 {
	margin-left: 14px;
	margin-top: -18px;
	color: #000;
	font-weight: bold;
}
.hiddenDiv {
	height: 27px;
	position: relative;
	z-index: 0;
	background-color: #D0D7E7;
	border-color: #4F81BD;
	margin-bottom: -3px;
	margin-top: 3px;
	border-bottom: 1px solid #4F81BD;
}
.ui_interactive .ui_edge_buttons {
	position: relative;
	float: right;
	margin: 10px;
	right: 13px!important;
}
