﻿.redcolor {
	color: #881401;
	position: relative;
}
.icon1 {
	margin-top: 18px !important;
}
.ui_interactive .ui_custom_dialog_trigger {
	cursor: pointer;
}
.ui_interactive .ui-slideshow-slide {
	margin-top: -37px;
}
.ui_interactive .ui-dialog-buttonset {
	display: none;
}
.ui_interactive .ui-dialog {
	width: 588px !important;
	top: 95px !important;
	margin-left: 17px;
}
.row1 {
	line-height: 1.5em;
	text-align: center;
	float: left;
	margin-left: 52px;
	margin-top: 10px;
}
.row2 {
	line-height: 1.5em;
	text-align: center;
	float: left;
	margin-left: 68px;
	margin-top: 38px;
}
.row21 {
	margin-left: 28px;
}
.title {
	margin-top: -13px;
	font-size: 15px;
	line-height: 3.4em;
	font-weight: bold;
}
.sub_title {
	font-size: 13px;
	color: #000000;
}
#popup_1, #popup_2, #popup_3, #popup_4, #popup_5 {
	background:url(../../../../../global/images/global/spacer.png) repeat;
	height: 183px;
	position: absolute;
}
#popup_1 {
	margin-left: -482px;
	margin-top: 11px;
	width: 211px;
}
#popup_2 {
	margin-left: -214px;
	margin-top: 11px;
	width: 211px;
}
#popup_3 {
	margin-left: -506px;
	margin-top: 246px;
	width: 130px;
}
#popup_4 {
	margin-left: -307px;
	margin-top: 246px;
	width: 130px;
}
#popup_5 {
	margin-left: -104px;
	margin-top: 246px;
	width: 130px;
}
