﻿.topZero{top: 0px !important;position: relative !important;float: left;margin-left: 10px;margin-right: 10px;}
.topZero2{color: #984842;}
.DropsC{width: 435px !important;float:left;margin:0px 0px 0px 0px;}
.DragC{width: 170px;float:left;margin-top: 4px;margin-left: -3px;font-size: 13px;}
.DragC>.draggable{width: 18px;height: 25px;text-align: center;padding: 5px;cursor: pointer;opacity: 1 !important;}
.droppables{width: 435px;
min-height: 40px;
margin: 4px 12px 4px -10px;
padding: 0px;
float: left;
color: #FFF;
text-align: center;
line-height: 37px;
font-weight: bold;}
.drop_txt{width: 136px;min-height: 44px;float: left;margin-left: -10px;border: medium none;font-size: 12px;line-height: 1.4em;padding: 28px 4px 0px 9px;background-color: #D0D8E8;}
.drop_txts{width: 385px;min-height: 40px;margin: 4px 5px 5px -1px;padding: 0px;background-color: #4F81BD;color: #FFF;text-align: center;line-height: 37px;float: left;}
.bin{background-color: transparent;padding: 0px !important;}
.DropsC ul{list-style-type: none;line-height: 18px;text-align: center;padding: 0px !important;margin: 0px;}
.draggable{opacity: 1 !important;cursor:pointer;}
.wid{min-height: 30px;
width: 30px;
margin-top: 0px;
float: left;
margin-right: 0px;
margin-left: 3px;
box-shadow: none !important;
position: absolute;}
.top{position: absolute !important;top: 0px !important;left: 0px !important;}
.assignment{margin-bottom: 0px;height: 50px;}
.ui_assessment hr{display: none;}
.ui_reset{display:none !important;}
.copyrightact{margin-top: -30px;position: absolute;text-align: center;width: 650px;color: #000;font-size: 10px;}
.ui_interactive .draggable p {padding-right: 0px !important;line-height: 12px;font-size: 12px;}
.ui-dialog {top: 200px !important;}
.disableDiv {background-color: #d0d8e8;}
.pos1 {left: 150px;top: 83px;border-color: #FF7567 !important;}
.pos2 {left: 282px;top: 94px;border-color: #FF7567 !important;}
.pos3 {left: 330px;top: 80px;border-color: #FF7567 !important;}
.pos4 {left: 252px;top: 147px;border-color: #FF7567 !important;}
.pos5 {left: 29px;top: 109px;border-color: #2bbdf1 !important;}
.pos6 {left: 177px;top: 108px;border-color: #2bbdf1 !important;}
.pos7 {left: 307px;top: 120px;border-color: #2bbdf1 !important;}
.redCont{
    height: 33px;
    line-height: 2.4;
    background-color: #FD9D93;
    margin-left: 30px;
    padding-left: 5px;
    /*float: right;*/
    width: 133px;
    margin-bottom: 5px;
    border: 1px solid #B9B3B7;
}
.redDrg {
margin: 0px !important;
background-color: #FF7567;
}
.redHead {
    text-align: center;
    height: 30px;
    background-color: #FF7567;
    margin-bottom: 4px;
    color: rgb(255, 255, 255);
    line-height: 2;
    font-weight: bold;
    border: 1px solid #B9B3B7;
}
.redDescrp {
    text-align: center;
    height: 30px;
    background-color: #2bbdf1;
    margin-bottom: 4px;
    color: rgb(255, 255, 255);
    line-height: 2;
    font-weight: bold;
    border: 1px solid #B9B3B7;
}
.blueCont{
    height: 50px;
    background-color: #e2f1f6;
    margin-left: 30px;
    padding-left: 5px;
    /*float: right;*/
    width: 133px;
    margin-bottom: 5px;
    border: 1px solid #B9B3B7;
}
.blueDrg {
margin: 0px !important;
background-color: #2bbdf1;
}
.pos1 .bin ul li,.pos2 .bin ul li,.pos3 .bin ul li,.pos4 .bin ul li {background-color: #FF7567;line-height: 30px;}
.bin ul li {background-color: #2bbdf1;line-height: 30px;color: #000;}
.copyright{margin-top: 66px;position: absolute;text-align: center;width: 588px;bottom: 10px;}