﻿.tabs div.panel
{
    background-color: #f8f8f8;
    border: 1px solid #bdbab5;
    padding: 10px;
}

.tabs a.tab
{
    float: left;
    display: block;
    color: #000;
    background-image: -webkit-linear-gradient(top,#25aae1 0,#8bc8e1 100%);
    background-image: linear-gradient(to bottom,#25aae1 0,#8bc8e1 100%);
    background-repeat: repeat-x;
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#25aae1', endColorstr='#8bc8e1', GradientType=0);
    padding: 10px 10px;
    margin-right: 1px;
    font-size: 14px;
}


.tabs a.active, .tabs a.tab:hover
{
    text-decoration: none;
    cursor: pointer;
    background: #135673;
    color: #fff;
    border-color: #bdbab5;
}

.instr_txt
{
    font-size: 12px;
    font-style: italic;
    color: #881401;
    float: left;
    display: inline;
    width: 580px;
    margin: 10px 0 5px 15px !important;
}

img.mouse_icon
{
    float: left;
}

.clear
{
    clear: both;
}
