﻿body {
}
img {
	border: 0px;
}
.contentMiddleBg {
	background: url(../imgs/content_middlebg.png) repeat-y;
	width: 745px;
	float: left;
	height: 654px;
}
.contentTopBg {
	background: url(../imgs/content_topbg.png) no-repeat;
	width: 745px;
	height: 28px;
}
.contentBottomBg {
	background: url(../imgs/content_botbg.png) no-repeat;
	width: 745px;
	height: 53px;
	float: left
}
.mouse_icon {
	float: left;
	display: inline;
	margin: 5px 0 0 24px;
}
.instr_txt {
	font-size: 12px;
	font-style: italic;
	color: #881401;
	float: left;
	display: inline;
	width: 635px;
	margin: 12px 0 0 10px!important;
}
.con_div {
	float: left;
	display: inline;
	width: 737px;
	margin: 25px 0 0 0;
}
.footer_div {
	float: left;
	display: inline;
	width: 737px;
	height: 50px;
}
.cpy_right {
	float: left;
	display: inline;
	font-size: 11px;
	color: #0A0B0C;
	margin: 11px 0 0 300px;
}
#submit {
	background: url(../imgs/submit_btn.png) no-repeat;
	height: 24px;
	width: 116px;
	margin: 7px 13px 0 0;
	opacity: 0.6;
	float: right;
}
#restart {
	background: url(../imgs/restart_btn.png) no-repeat;
	height: 24px;
	width: 116px;
	margin: 7px 13px 0 0;
	float: right;
	display: none;
	cursor: pointer;
}
.width {
	width: 100%;
	float: left;
}
.flt {
	float: left;
}
.termarea {
	float: left;
	width: 682px;
	height: auto;
	padding: 15px 0 5px 32px;
}
.term-desc1 {
	float: left;
	width: 682px;
	height: auto;
	background: #4f81bc;
	background: #4f81bc;
	margin: 0 0 3px 0;
	font-size: 14px;
	font-weight: bold;
}
.term1 {
	float: left;
	width: 135px;
	height: 28px;
	background: #4f81bc;
	text-align: center;
	color: #fff;
	line-height: 28px;
	padding-left: 3px;
}
.desc1 {
	float: left;
	width: 530px;
	background: #4f81bc;
	text-align: center;
	color: #fff;
	border-left: 2px solid #eaf7ff;
	height: 28px;
	line-height: 28px;
}
.term-desc2 {
	float: left;
	width: 682px;
	height: auto;
	background: #d0d7e7;
	margin: 0 0 2px 0;
	font-size: 13px;
}
.desc2 {
	float: left;
	width: 530px;
	background: #d0d7e7;
	border-left: 2px solid #eaf7ff;
	color: #000;
	min-height: 16px;
	line-height: 16px;
	padding: 5px;
}
.term2 {
	float: left;
	width: 135px;
	min-height: 16px;
	background: #d0d7e7;
	padding-left: 3px;
}
.dragarea {
	float: left;
	width: 690px;
	height: auto;
	padding: 0 27px 10px 29px;
}
.drag-sec {
	float: left;
	background: #d7eefe;
	height: 13px;
	width: 120px;
	font-size: 13px;
	line-height: 13px;
	color: #1a1a1a;
	border: 1px solid #cfcfcf;
	padding: 5px;
	cursor: pointer;
}
.finalFB, .corctFB {
	display: none;
}
.feed_div {
	background-color: #E6F5FF;
	border: 2px solid #025286;
	bottom: 332px;
	display: none;
	height: 60px;
	position: absolute;
	right: 202px;
	width: 328px;
	z-index: 9999;
}
.overlay {
	display: none;
	height: 100%;
	position: absolute;
	width: 724px;
	z-index: 9998;
	background-color: #ffffff;
	opacity: 0;
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.feed_close {
	color: #025286;
	cursor: pointer;
	float: right;
	font-size: 14px;
	font-weight: bold;
	margin: 5px 10px 0 0;
}
.dragarea div {
	float: left;
	width: 137px;
	height: 30px;
}
.btn_pos {
	float: right;
	margin: 6px 31px 0 0;
}
.prev {
	background: url(../imgs/previous.png) no-repeat;
	height: 24px;
	width: 37px !important;
	border: none;
}
.next {
	background: url(../imgs/next.png) no-repeat;
	height: 24px;
	width: 37px !important;
	border: none;
}
 [disabled] {
 opacity:0.4;
 filter: alpha(opacity=40);
 -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
}
.hide {
	display: none;
}
.pageNo {
	float: left;
	display: inline;
	margin: 9px 0 0 38px;
}
.drop9, .drop24, .drop25, .drop31, .drop40, .drop60 {
	height: 40px;
}
.drop9 span, .drop24 span, .drop25 span, .drop31 span, .drop40 span, .drop60 span {
	margin: 9px 0;
}
