﻿.topZero{top: 0px !important;position: relative !important;float: left;margin-left: 10px;margin-right: 10px;}
.topZero2{color: #984842;}
.ui_interactive .ui_reset, .ui_interactive .ui_assessment hr{display:none;}
.DropsC{width: 488px !important;float: left;margin: 0px 0px 0px -10px;}
.DragC{width: 171px;float: left;margin-top: 0px;margin-left: -10px;}        
.DragC>.draggable{width: 160px;height: 21.78px;padding: 1px 0px 2px 3px;cursor: pointer;opacity: 1 !important;margin: 1px;background: none repeat scroll 0% 0% #D7EEFE;border: 1px solid #CFCFCF;box-shadow: none !important;}
.ui_interactive .draggable p{font-size: 12px;padding: 0px;}    
.empty{width: 142px !important;}
.droppables{margin: 1px;padding: 0px;float: left;background-color: #4F81BD;color: #FFF;text-align: center;line-height: 20px;width: 160px;height: 141px;}
.drop_txt{width: 135px;min-height: 22px;float: left;border: medium none;font-size: 14px;line-height: 23px;background-color: #D0D8E8;font-weight: bold;margin: 2px 5px 1px 1px;padding: 3px 1px 4px 6px;}
.bin{background-color: transparent; font-size: 11px !important;}
.DropsC ul{list-style-type: none;line-height: 26px;padding: 0px 0px 0px 5px;background: none repeat scroll 0% 0% #9FC;margin: 0px;}
.ui_interactive .draggable{opacity: 1 !important;cursor:pointer;}
.wid{width: 158px;min-height: 28px;box-shadow: none !important;float: left;margin: 2px 2px 1px -4px;font-size: 12px;line-height: 23px;padding: 0px 0px 0px 0px;background-color: #D0D8E8;border: medium none;}
.top{position: absolute !important;top: 0px !important;left: 0px !important;}
.DropsC ul li{color: #000;display: table-cell;vertical-align: middle;line-height: 22px;}
.ui_interactive .ui-dialog{top: 104px !important;}
.dropdiv{width: 162px;float: left;}
.textdiv{width: 144px;float: left;margin-right: 5px;}
.copyrightimg{font-size: 12px;}
.ui-state-highlight{border: #D0D8E8 !important;background: #D0D8E8 !important;}