﻿body {
}
img{ border:0px;}
 
.contentMiddleBg_1{	background:url(../intmedia/content_middlebg.png) repeat-y;  width:745px; height:690px;}

.contentTopBg{	background:url(../intmedia/content_topbg.png) no-repeat;	 width:745px; 	 height:28px; }

.contentBottomBg1{	background:url(../intmedia/content_botbg.png) no-repeat;	 width:745px; 	 height:28px;}

.mouse_icon{ float:left; display:inline;  margin:5px 0 0 24px;}

.instr_txt{ font-size:12px; font-style:italic; color:#881401; float:left; display:inline; width:635px; margin:12px 0 0 10px!important;}

.con_div{ float:left; display:inline; width:737px; margin:25px 0 0 0;}

.footer_div{ float:left; display:inline; width:737px; height:50px;}

.cpy_right{ float:left; display:inline; font-size:11px; color:#0A0B0C; margin:11px 0 0 355px;}

#submit{ background:url(../intmedia/submit_btn.png) no-repeat; height:24px; width:116px; margin:7px 13px 0 0; opacity:0.6; float:right;}

#restart{ background:url(../intmedia/restart_btn.png) no-repeat; height:24px; width:116px; margin:7px 13px 0 0; float:right; display:none; cursor:pointer;}

.width{width:100%; float:left;}
.flt{float:left;}

 
.termarea{float:left; width:682px; height:auto; padding:15px 0 0px 32px;}
.term-desc1{float:left; width:682px; height:auto; margin:0 0 3px 0; font-size:12px;}
.term1{float:left; width:177px; height:28px; background:#4f81bc; text-align:center; color:#fff; line-height:28px; padding-left:3px;}
.desc1{float:left; width:500px; background:#4f81bc; text-align:center; color:#fff; border-left:2px solid #eaf7ff; height:28px; line-height:28px; }
.term-desc2{float:left; width:682px; height:auto; background:#d0d7e7; margin:0 0 2px 0; font-size:13px;}
.desc2{float:left; width:487px; background:#d0d7e7; border-left:2px solid #eaf7ff; color:#000; min-height:28px; line-height:16px; padding:5px;}
.term2{float:left; width:330px; height:410px; border:2px solid #d0d7e7; margin:10px 0 0 5px;}
.dragarea{float:left; width:690px; height:auto; padding:0 27px 10px 29px;}
.drag-sec{float:left; background:#d7eefe; min-height:50px; width:310px; font-size:13px; margin:5px 3px; line-height:16px; color:#1a1a1a; border:1px solid #cfcfcf; padding:5px; cursor:pointer; display:none;}



.drop4{  height: 52px;
    padding: 18px 0 0 3px;}
	
.finalFB, .corctFB{ display:none;}	

.feed_div{
	background-color: #E6F5FF;
    border: 2px solid #025286;
    bottom: 59px;
    display: none;
    height: 60px;
    position: absolute;
    right: 202px;
    width: 328px;
    z-index: 9999;
	
}	

.overlay{ display: none;
    height: 100%;
    position: absolute;
    width: 724px;
    z-index: 9998;    
	background-color:#ffffff;
    opacity:0;
    filter: alpha(opacity=0);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.feed_close {
    color: #025286;
    cursor: pointer;
    float: right;
    font-size: 14px;
    font-weight: bold;
    margin: 5px 10px 0 0;
}

.dragarea div{ float:left; width:330px; margin:0 175px;}
.img_1{
	float:left;
	margin:0 130px;
}
.img_2{
	float:left;
	margin:0 110px;
}
.term2 div{ margin:5px; background:none repeat scroll 0 0 #D7EEFE;}
.footer_div {
    display: inline;
    float: left;
    height: 50px;
    width: 737px;
}
.cpy_right {
    color: #0A0B0C;
    display: inline;
    float: left;
    font-size: 11px;
    margin: 10px 0 0 355px;
}
.cross-bot-btn {
    cursor: pointer;
    float: right;
    height: 25px;
    margin: 7px 25px 0 0;
    padding: 0;
    width: 116px;
}
.contentBottomBg1a {
    background: url("../intmedia/content_botbg1a.png") no-repeat scroll 0 0 transparent;
    height: 53px;
    width: 745px;
}
.hidee {
    cursor: default;
    opacity: 0.5;
}

.author{ display:none; font-weight:bold;}


.dropItem div{background:#99FFCC url(../intmedia/right.png) no-repeat bottom right; padding:5px; }

/*flvs*/
.dropItem div {
  line-height: 18px;
}