﻿body {
}

.MultiChoice
{
    display:block;
    width:745px; 
    height:auto;
}
.MultiChoice .InterBorder
{
     order:solid 10px #569ac9;
}
.MultiChoice .InterBody
{
    font-family:Arial;
    font-size:12px;
    color:#000000;
    width:745px; 
    height:auto;
    position:relative;
     ackground-color:#eff8ff;
    line-height:14px;
}

.mouse_icon{ float:left; display:inline; margin:0px 0 5px 25px;}

.instr_txt{ font-size:12px; font-style:italic; color:#881401; float:left; display:inline; width:635px; margin:0px 0 5px 15px!important;}


.con_div{ float:left; display:inline; height:483px; width:737px; margin:5px 0 0 0; border-bottom:0px dashed #025286;}

.footer_div{ float:left; display:inline; width:737px; background:none; height:50px;}

.cpy_right{ float:left; display:inline; font-size:11px; color:#0A0B0C; margin:10px 0 0 355px;}

#drop_con{  float:left;  width: 487px; background:url(../imgs/1_3_8_8_map.png) left no-repeat; height:295px;}

.Battuta_img{ width: 207px; background:url(../imgs/Battuta.png) left no-repeat; height:295px; float:left; margin: 0 0 0 27px;}

.drop_ul{ padding:0px; margin:0px!important;}

.dropItem{ position:absolute; width:123px; height:31px; list-style:none; text-align:center; line-height:30px; font-size:13px; font-weight:bold; color:#ffffff; border:0px solid;}

.drop1{ margin:53px 0 0 33px;}

.drop2{ margin:143px 0 0 28px;}

.drop3{ margin:214px 0 0 12px;}

.drop4{ margin:25px 0 0 173px;}

.drop5{ margin:175px 0 0 102px;}

.drop6{ margin:210px 0 0 138px;}

.drop7{ margin:25px 0 0 302px;}

.drop8{ margin:103px 0 0 358px;}

.drop9{ margin:142px 0 0 298px;}

.drop10{ margin:203px 0 0 349px;}

.drop11{ margin:248px 0 0 354px;}

#drag_con{ float:left; width:245px; height:315px; margin:0 0 0 10px;}

.drag_ul{ padding:0px; margin:5px 0 0 21px !important; width: 700px;}

.drag_ul div{ width:105px; height:18px; float:left; margin:6px 5px;}

.drag_ul li{  margin:0px !important; list-style:none; width:105px;  background:#4EA3F6; border:1px solid #ffffff; height:18px; padding:2px; line-height:18px; text-align:center; color:#000; font:bold 13px Arial, Helvetica, sans-serif; opacity:0.6;}

 
.select_bg{ float:left; height:auto; margin: 0 9px; width: 725px;}  
.drag_area{float:left; width:178px; border-right:1px solid #ccc; border-bottom:1px solid #ccc; height:47px; text-align:center; background:#fff;}
.drag_wrapper{float:left; width:116px; height:auto;}
.content_sction {background: none repeat scroll 0 0 #EFEFEF; border: 1px solid #003366; float: left; font-family: Arial,Helvetica,sans-serif;  margin:10px 0 0 20px; padding: 5px; width: 695px;}
.content_area {color: #444444; float: left; font-size: 12px; height: auto; line-height: 16px; width: 580px;}
h2 {color: #333333; float: left; font-size: 15px; font-weight: bold; margin: 0; padding: 0; width: 98%;}
.button_area{float:right; width:96px; height:auto; padding:70px 0 0 0;}
.button-p{float:left; background:url(../imgs/prev-h.png) no-repeat; width:40px; height:25px; opacity:0.5; filter: alpha(opacity = 50);  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
.button-n{float:left; background:url(../imgs/next-h.png) no-repeat right; width:40px; height:25px; margin-left:10px; cursor:pointer;}


.margintop10{margin-top:10px;}
.margintop50{margin-top:50px;}
.width{float:left; width:100%;}
.frt{float:right;}
.flt{float:left;}

.overlay{ position:absolute; width:737px; height:470px;  z-index: 100;     margin: 70px 0 0; display:none;}

.feedback{   height: 121px; margin:227px 0 0 499px; width:229px; background:#E6F5FF url(../imgs/feedbg.png) no-repeat; position:absolute; z-index:101; display:none;}

.try_again{ cursor:pointer; float:left; clear:left; margin:30px 0 0 62px;}

.pos_txt{ margin:48px 0 0 15px; float:left; width: 168px;}

.neg_txt1{ float:left; margin:15px 0 0 15px;}

.neg_txt2{margin:48px 0 0 15px; float:left; width: 168px;}

.drag_ul1, .drag_ul2{ display:none;}

.con_txt{ float:left; margin-top:5px;}

.drag_droparea{ float:left; display:inline;  width: 737px;}

.feed_close{  color: #569AC9; cursor: pointer; font-size: 25px; font-weight: bold; margin: 10px 0 0 19px; position: absolute;}


.contentTopBg{
	float:left;
    background: url("../imgs/content_topbg.png") no-repeat scroll 0 0 transparent;
    height: 28px;
    width: 745px;
}

.contentMiddleBg{
	float:left;
    background: url("../imgs/content_middlebg.png") repeat-y scroll 0 0 transparent;
	mini-height:338px;
    width: 745px;
}

.contentBottomBg1a{
    background: url("../imgs/content_botbg1a.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 58px;
    width: 745px;
}
