﻿.ui_interactive .ui-draggable-dragging
{z-index:   2000;}
.topZero{top: 0px !important;position: relative !important;float: left;margin-left: 10px;margin-right: 10px;}
.topZero2{color: #984842;height: 45px;}
.DropsC{width: 682px !important;float: left;margin-top: -17px;margin-left: -20px;}
.DragC{float: left;margin-top: 42px;
margin-left: -54px;}
.DragC>.draggable{width: 18px;height: 25px;text-align: center;padding: 5px;cursor: pointer;opacity: 1 !important;}
.drop_txt{width: 136px;min-height: 20px;float: left;margin-left: -10px;border: medium none;font-size: 12px;line-height: 1.4em;padding: 28px 4px 0px 9px;background-color: #D0D8E8;}
.drop_txts{width: 385px;min-height: 20px;margin: 4px 5px 5px -1px;padding: 0px;background-color: #4F81BD;color: #FFF;text-align: center;line-height: 37px;float: left;}
.ui_interactive .bin{background-color: transparent;padding: 0px !important;position: absolute;z-index: 1;}
.DropsC ul{list-style-type: none;line-height: 18px;text-align: center;padding: 0px !important;margin: 0px;}
.ui_interactive .draggable{opacity: 1 !important;cursor:pointer !important;}
.wid
{
width: 102px;
margin-top: 2px;
float: left;
margin-right: 0px;
margin-left: 2px;
box-shadow: none !important;
position: absolute;
min-height: 24px;
border-bottom: 1px solid black;
}
.top{position: absolute !important;top: 0px !important;left: 0px !important;}
.ui_interactive hr {display: none;}
.copyrightact{margin-top: -30px;position: absolute;text-align: center;width: 650px;color: #000;font-size: 10px;}
.ui_interactive .draggable p {padding-right: 0px !important;line-height: 20px;font-size: 13px;}
.ui_interactive .ui-dialog {top: 177px !important;}
.disableDiv {background-color: #d0d8e8;}
.optDrg 
{
margin:-5px 4px 7px !important;
width: 100px;
background: #EFEFEF;
border: 1px solid black;
text-align: center;
min-height: 17px !important;
padding: 2px !important;
}
.blueDrg {
margin: 0px !important;
background-color: #2bbdf1;
}
.pos1 .bin ul li,.pos2 .bin ul li,.pos3 .bin ul li,.pos4 .bin ul li,.pos5 .bin ul li,.pos6 .bin ul li,.pos7 .bin ul li,.pos8 .bin ul li,.pos9 .bin ul li,.pos10 .bin ul li,.pos11 .bin ul li{
background-color: #9FC;
margin: 7px 1px;
z-index: 6;
position: absolute;
top: -8px;
left: -1px;
width: 102px;
height: 24px;
font-size: 13px;
text-align: center;
border: 1px solid #000;
line-height: 23px;
}
.ui_interactive .ui-slideshow-item {
overflow: inherit !important;
}
.ui_interactive .bin ul li {background-color: #99FFCC;color: #000;}
.dragArea{
margin-top: -31px;
width: 682px;
height: 212px;
margin-bottom: 5px;
padding: 4px;
margin-left: 38px;
}
.droppables{min-height: 20px;
margin: 0px 12px 4px -24px;
padding: 0px;
float: left;
color: #FFF;
text-align: center;
line-height: 37px;
font-weight: bold;}

.pos1 {left: 19px;top: 0px;}
.pos2 {left: 9px;top: 58px;}
.pos3 {left: 126px;top: 89px;}
.pos4 {left: 353px;top: 89px;}
.pos5 {left: 187px;top: 179px;}
.pos6 {left: 478px;top: 205px;}
.pos7 {left: 119px;top: 266px;}
.pos8 {left: 380px;top: 388px;}
.pos9 {left:156px;top: 418px;
}
.main_txt
{
width: 630px;
float: left;
line-height: 30px;
font-size: 12px;
margin-top: 5px;
margin-left: 18px;
}
.blank
{
margin-left: 108px;
}
.wrong
{
color: black;
}
.ui_interactive .droppable
{
border: none;
border-bottom: 1px solid black;
z-index: 1000;
}
.ui-slideshow-item {
  margin: 0 10px 0 15px;
}