﻿body {
}
img{ border:0px;}

.InterBody{ position:relative;}
 
.contentMiddleBg{	background:url(../imgs/content_middlebg.png) repeat-y;  width:745px; float:left;}

.contentTopBg{	background:url(../imgs/content_topbg.png) no-repeat;	 width:745px; 	 height:28px;  float:left;}

.contentBottomBg{	background:url(../imgs/content_botbg.png) no-repeat;	 width:745px; 	 height:28px; float:left}

.mouse_icon{ float:left; display:inline;  margin:5px 0 0 24px;}

.instr_txt{ font-size:12px; font-style:italic; color:#881401; float:left; display:inline; width:635px; margin:12px 0 0 10px!important;}

.con_div{ float:left; display:inline; width:737px; margin:25px 0 0 0;}

.footer_div{ float:left; display:inline; width:737px; height:50px;}

.cpy_right{ float:left; display:inline; font-size:11px; color:#0A0B0C; margin:11px 0 0 355px;}

#submit{ background:url(../imgs/submit_btn.png) no-repeat; height:24px; width:116px; margin:7px 13px 0 0; opacity:0.6; float:right;}

#restart{ background:url(../imgs/restart_btn.png) no-repeat; height:24px; width:116px; margin:7px 13px 0 0; float:right; display:none; cursor:pointer;}

.width{width:100%; float:left;}
.flt{float:left;}

 
.termarea{float:left; width:725px; height:auto; position:relative;}
.term-desc1{float:left; width:280px; height:auto; margin:0 0 3px 0; font-size:14px; font-weight:bold;}
.term1{float:left; width:134px; height:28px; background:#4f81bc; text-align:center; color:#fff; line-height:28px; padding-left:3px; margin-left:2px;}
.term-desc2{float:left; width:725px; height:auto; margin:0 0 2px 0; font-size:13px;}
.drop1{float:left; width:137px; background:#d0d7e7; margin:10px 0 0 23px; height:224px;}
.drop2{float:right; width:137px; background:#d0d7e7; margin:14px 2px 0 0px; height:220px;}
.drop3{float:left; width:137px; background:#d0d7e7; margin:14px 0px 0 310px; height:220px;}

.dragarea{float:left; width:690px; height:auto; padding:0 27px 10px 27px;}
.drag-sec{float:left; background:#d7eefe; width:126px; font-size:13px;  line-height:16px; color:#1a1a1a; border:1px solid #cfcfcf; padding:2px 2px 2px 5px; cursor:pointer; margin:1px 0 0px 1px;}

.dragarea .drag-sec{  height:36px;}

.finalFB, .corctFB{ display:none;}	

.feed_div{
	background-color: #E6F5FF;
    border: 2px solid #025286;
    display: none;
    height: 60px;
    position: absolute;
    width: 328px;
    z-index: 9999;
	 left: 0px;
	 top: 0px;
	 margin:200px 0 0 198px;
}	

.overlay{ display: none;
    height: 825px;
    position: absolute;
    width: 724px;
    z-index: 9998;    
	background-color:#ffffff;
    opacity:0;
    filter: alpha(opacity=0);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	top:0px; left:0px;
}

.feed_close {
    color: #025286;
    cursor: pointer;
    float: right;
    font-size: 18px;
    font-weight: bold;
    margin: 5px 10px 0 0;
}

.dragarea div{ float:left; width:auto; height:auto; margin:2px 0px;}

.leftimg{ position:absolute; top:0px; left:0px;	margin:5px 0 0 146px;}
.midimg{ position:absolute; top:0px; left:0px;	margin:31px 0 0 326px;}
.rightimg{ position:absolute; top:0px; left:0px; margin:5px 0 0 371px;}