﻿.topZero
{
    top: 0px !important;
    position: relative !important;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}
.topZero2
{
    color: #984842;
}
.DropsC
{
    width: 650px !important;
    float: left;
    margin: 0px 0px 0px 0px;
}
.DragC
{
    width: 636px;
    float: left;
    margin-top: 12px;
    margin-left: -7px;
}
.DragC .draggable
{
    width: 125px;
    padding: 5px;
    cursor: pointer;
    opacity: 1 !important;
    text-align: left;
    background-color: rgb(233, 237, 244);
    border: 1px solid #999;
    font-weight: normal;
    margin: 2px;
}
.droppables
{
    width: 135px;
    min-height: 45px;
    margin: 4px 13px 4px -10px;
    padding: 0px;
    float: left;
    background-color: #4F81BD;
    color: #FFF;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    padding-top: 4px;
}
.drop_txt
{
    width: 82px;
    min-height: 79px;
    float: left;
    margin-left: -10px;
    border: medium none;
    font-size: 14px;
    line-height: 1.4em;
    padding: 3px 4px 0px 0px;
    background-color: #4F81BD;
    font-weight: bold;
    color: #FFF;
    text-align: left;
}
.drop_txts
{
    width: 385px;
    min-height: 40px;
    margin: 4px 5px 5px -1px;
    padding: 0px;
    background-color: #4F81BD;
    color: #FFF;
    text-align: center;
    line-height: 37px;
    float: left;
}
.bin
{
    background-color: #d0d8e8;
}
.DropsC ul
{
    list-style-type: none;
    line-height: 18px;
    text-align: center;
    padding: 0px !important;
    margin: 0px;
}
.draggable
{
    opacity: 1 !important;
    cursor: pointer;
}
.wid
{
    min-height: 80px;
    width: 133px;
    float: left;
    margin: 0px 0px 3px 3px;
    box-shadow: none !important;
    background-color: #d0d8e8;
}
.top
{
    position: absolute !important;
    top: 0px !important;
    left: 0px !important;
}
.assignment
{
    margin-bottom: 0px;
    height: 50px;
}
.ui_assessment hr
{
    display: none;
}
.ui_reset
{
    display: none !important;
}
.copyrightact
{
    margin-top: -28px;
    position: absolute;
    text-align: center;
    width: 681px;
    color: #000;
    font-size: 11px;
}
.ui_interactive .draggable p
{
    padding-right: 0px !important;
    line-height: 15px;
    font-size: 12px;
}
.ui-dialog
{
    top: 200px !important;
    left: 168px !important;
}
.disableDiv
{
    background-color: #d0d8e8;
}
.topwid
{
    width: 86px;
}
.heading
{
    width: 155px;
    float: left;
    margin: 2px;
    text-align: center;
    font-weight: bold;
}
.ui_interactive .bin ul li
{
    width: 119px;
    padding: 3px;
    cursor: default;
    opacity: 1 !important;
    text-align: left;
    border: 1px solid #999;
    font-weight: normal;
    background: none repeat scroll 0% 0% #9FC;
    font-size: 12px;
    line-height: 15px;
    color: #000;
}
.ui_interactive .ui-state-highlight
{
    background: #D0D7E7 !important;
    border: 1px solid #D0D7E7 !important;
}
.txt
{
    font-size: 12px;
    margin-bottom: 5px !important;
    color: #000;
}
.ui_interactive .ui-slideshow-item
{
    overflow: inherit !important;
}
.ui_interactive .ui-draggable-dragging
{
    z-index: 1222 !important;
}
.bin ul li
{
    width: 119px;
    padding: 3px;
    cursor: pointer;
    opacity: 1 !important;
    text-align: left;
    border: 1px solid #999;
    font-weight: normal;
    background: none repeat scroll 0% 0% #9FC;
    font-size: 12px;
    line-height: 19px;
    color: #000;
}

/*flvs*/
.droppables
{
    margin: 4px 1px 4px 0px;
}

.drop_txt
{
    margin-left: 0px;
}

.DragC
{
    margin-left: -7px;
}
