﻿.topZero{top: 0px !important;position: relative !important;float: left;margin-left: 10px;margin-right: 10px;}
.topZero2{color: #984842;height: 45px;}
.DropsC{width: 690px !important;float: left;position: absolute;margin-left: 7px;}
.DragC{width: 690px;
float: left;
margin-left: 1px;
margin-top: 324px;
height: 330px;}
.DragC>.draggable{height: 82px;width: 119px;padding: 5px;cursor: pointer;opacity: 1 !important;margin: 1px;border: 1px solid #BDBDBF;background: none repeat scroll 0% 0% rgb(215, 238, 254);margin-bottom: 5px;}
.droppables{width: 131px;
min-height: 40px;
margin: 4px 6px 2px -4px;
padding: 0px;
float: left;
background-color: #025286;
color: #FFF;
text-align: center;
line-height: 37px;
font-weight: bold;}
.bin{background-color: transparent;padding: 0px !important;position: absolute;z-index: 83;}
.DropsC ul{list-style-type: none;line-height: 26px;margin-top: 5px;padding: 0px !important;margin: 0px;}
.ui_interactive .draggable{opacity: 1 !important;cursor:pointer;} 
.wid{min-height: 265px;width: 131px;margin-left: -4px;margin-top: 0px;background: none repeat scroll 0% 0% rgb(208, 216, 232);border: none !important;box-shadow: none !important;margin-right: 6px;}
.top{position: absolute !important;top: 0px !important;left: 0px !important;}
.ui_interactive .ui_assessment hr{display: none;}
.copyrightact{margin-top: -30px;position: absolute;text-align: center;width: 684px;color: #000;font-size: 12px;}
.ui_interactive .draggable p {padding-right: 0px !important;}
.ui_interactive .ui-dialog {
top: 171px !important;
margin-left: 18px !important;
width: 260px;}
.DropsC ul li {background: none repeat scroll 0% 0% rgb(153, 255, 204);;line-height: 16px;width: 118px;font-size: 11.5px;border: 1px solid #999;margin: 1px 1px 2px;padding: 4px;color: #000;}
.ui_reset {display: none;}
.DropsC ul p{padding: 0px;font-size: 12px;height: 44px;line-height: 1.3;text-align: center;}
.DragC > .draggable p{line-height: 14px;font-size: 12px;}
.trim {height: 515px;}
.ui_interactive .ui-state-highlight{background: #D0D8E8 !important;}
.ui_interactive .ui-slideshow-item {
margin-left: -15px;
}
.divclass{background: transparent;
height: 304px;
width: 670px;
position: absolute;
top: 330px;
z-index: 1225;}
.ui_interactive .ui-slideshow-item {overflow: inherit !important;}
.ui_interactive .ui-draggable-dragging{z-index:1222 !important;}