﻿
.fl{float:left;}
.fr{ float:right;} 
.clr{clear:both;}
.btnpos {
    bottom: 23px;
    position: absolute;
    right: 30px;
}
.pageNo {
    bottom: 27px;
    color: #025286;
    left: 40px;
    position: absolute;
}
.contentTopBg{
	background:url(../intmedia/content_topbg.png) no-repeat;
	 width:745px; 
	 height:28px;
}
.contentMiddleBg{
	background:url(../intmedia/content_middlebg.png) repeat-y; height:505px;
	 width:745px; 
}
.contentBottomBg1{
	background:url(../intmedia/content_botbg1.png) no-repeat;
	 width:745px; 
	 height:28px;
}
.popup{
	position:absolute;
	top:125px;
	left:155px;
	padding:10px;
	width:418px;
	border:1px solid #000000;
	background-color:#EEEEEE;
	display:none;
	z-index:500;
}

/*.num1{width:24px; height:24px; background:#FF0; text-align:center; line-height:24px; color:#3b3b3b; border:1px solid #000; position:absolute; z-index:100; margin:230px 0 0 -380px; cursor:pointer;}
.num2{width:24px; height:24px; background:#FF0; text-align:center; line-height:24px; color:#3b3b3b; border:1px solid #000; position:absolute; z-index:100; margin:136px 0 0 -400px; cursor:pointer;}
.num3{width:24px; height:24px; background:#FF0; text-align:center; line-height:24px; color:#3b3b3b; border:1px solid #000; position:absolute; z-index:100; margin:104px 0 0 -390px; cursor:pointer;}
.num4{width:24px; height:24px; background:#FF0; text-align:center; line-height:24px; color:#3b3b3b; border:1px solid #000; position:absolute; z-index:100; margin:70px 0 0 -380px; cursor:pointer;}
.num5{width:24px; height:24px; background:#FF0; text-align:center; line-height:24px; color:#3b3b3b; border:1px solid #000; position:absolute; z-index:100; margin:9px 0 0 -293px; cursor:pointer;}
.num6{width:24px; height:24px; background:#FF0; text-align:center; line-height:24px; color:#3b3b3b; border:1px solid #000; position:absolute; z-index:100; margin: 14px 0 0 -236px; cursor:pointer;}*/


.popup h2{
	color: #000000;
    font-size: 14px;
	padding:0px;
	margin:0px;
}
.caption{font-size:11px; }
.captionWth{ padding:5px 25px 0px 25px; }
.pdTop10{padding-top:10px;}

[disabled] {
	opacity:0.4;
}
.hide{display:none;}
.MCHead {
    height: 25px;
    padding: 0px 10px 10px 24px;
}
.MCInstruction {
    color: #984842;
    font-family: Arial;
    font-size: 13px;
    font-style: italic;
    margin-left: 10px;
}

.overlay{width:100%; height:100%; top:0px; display:none; position:absolute; z-index:101; opacity:0; background:#FFFFFF; filter: alpha(opacity=0);    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"}


.clk1{margin:210px 0 0 558px;}

.clk2{margin:357px 0 0 420px;}

.clk3{margin:230px 0 0 408px;}

.clk4{margin:230px 0 0 407px;}

.clk5{margin:273px 0 0 400px;}

.clk6{margin:200px 0 0 322px;}


.clk7{margin:313px 0 0 253px;}

.clk8{margin:83px 0 0 85px;}

.clk9{margin:244px 0 0 188px;}

.clk10{margin:189px 0 0 381px;}

.clk11{margin:196px 0 0 260px;}


.clk1, .clk2, .clk3, .clk4, .clk5, .clk6, .clk7, .clk8, .clk9, .clk10, .clk11{ position:absolute; cursor:pointer; top:0px; left:0px;}