﻿

.flip{
    margin:0 auto;
    width:710px;
    padding:5px;
}
.card1, .card2, .card3, .card4, .card5, .card6, .card7, .card8{
    width:270px;
    height:345px;
    float:left;
    position:relative;
    margin-left:8px;
    margin-right:11px;
}
.card1 img, .card2 img, .card3 img, .card4 img, .card5 img, .card6 img, .card7 img, .card8 img{
    width:270px;
    height:310px;
	cursor:pointer;
}

.imgTxt1 {
    margin: 10px 0 0 5px;
    padding: 5px;
    position: absolute;
    width: 225px;
    z-index: 1020;
	display:none;
}
body {
}
img{ border:0px;}
.SlideShow
{
    display:block;
    width:757px; 
}

.SlideShow .InterBody
{
    font-family:Arial;
    font-size:12px;
    color:#000000;
    width:736px; 
    height:481px;
    position:relative;
    background-color:#eff8ff;
    line-height:14px;
}
.hide{ display:none;}
.contentMiddleBg{	background:url(../imgs/content_middlebg.png) repeat-y;height:435px;	 width:745px; }

.contentTopBg{	background:url(../imgs/content_topbg.png) no-repeat;	 width:745px; 	 height:28px; }

.contentBottomBg{	background:url(../imgs/content_botbg.png) no-repeat;	 width:745px; 	 height:53px; float:left}

.mouse_icon{ float:left; display:inline;  margin:0px 0 0 24px;}

.instr_txt{ font-size:12px; font-style:italic; color:#881401; float:left; display:inline; width:635px; margin:4px 0 0 10px!important;}

.con_div{ float:left; display:inline; width:737px; margin:25px 0 0 0;}

.footer_div{ float:left; display:inline; width:737px; height:50px;}

.cpy_right{ float:left; display:inline; font-size:11px; color:#0A0B0C; margin:11px 0 0 265px;}

#submit{ background:url(../imgs/submit_btn.png) no-repeat; height:24px; width:116px; margin:7px 13px 0 0; opacity:0.6; float:right;}

#restart{ background:url(../imgs/restart_btn.png) no-repeat; height:24px; width:116px; margin:7px 13px 0 0; float:right; display:none; cursor:pointer;}

.width{width:100%; float:left;}
.flt{float:left;}

.slide_prev{ float:left; margin:123px 0 0 39px; }

.slide_next{ float:left; margin:123px 0 0 23px; cursor:pointer;}

.slide_con{ float:left;width:569px; margin:0px 0 0 20px; overflow:hidden; height:370px; }

.slide_img{ float:left; display:inline; margin:0 0 0 165px;}

.slide_caption{ float:left; clear:left;font-size:13px; margin:5px 0 0 20px !important; width:540px;}

.slide_copyright{ float:left; clear:left; font-size: 12px;  text-align: center; width:569px; margin-top:5px;}

.slide_con1{ width:3000px;}

.slide, .slide2, .slide3, .slide4, .slide5, .slide6, .slide7, .slide8{ float:left; display:inline;}


.btnpos{position: absolute;}

.nxt{
position:absolute;
	 background:url(../imgs/next.png) no-repeat;
	 width:35px; 
	 height:33px; 
	 border:0px;
	 cursor:pointer;
	  margin:471px 0 0 636px;
}
.prev{
position:absolute;
	 background:url(../imgs/previous.png) no-repeat;
	 width:35px; 
	 height:34px;
	 border:0px;
	 margin:471px 0 0 0;
}
.img_txt{
	font-size: 13px;
    padding: 15px;
    position: absolute;
    z-index: 1001; display:none; line-height: 13px; cursor:pointer;
}
	
.pageNo { background-image: url("../imgs/counter_btn.png");
    color: #025286;
    font-size: 14px;
    height: 20px;
    margin: 6px 0 0 33px;
    padding: 5px 8px 0 11px;
    float: left;
    width: 24px;
}
.copyright {
    border: 0 none;
    color: #003366;
    line-height: 25px;
    width: 270px;
	position:absolute;
	top:315px;
	text-align:center;
}
.scrollContent {
    height: 259px;
    margin-top: 10px;
    overflow: auto;
    width: 231px;
}
.dispHide { display:hide; }

.tooltip{
	margin:0 3px;
}
.width160 { width:160px; }
.hide{display:none;}