﻿.topZero {
	top: 0px !important;
	position: relative !important;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.topZero2 {
	color: #984842;
}
.ui_interactive .mejs-audio .mejs-controls .mejs-time-rail, .ui_interactive .mejs-audio .mejs-controls .mejs-time-rail .mejs-time-total {
	width: 130px !important;
}
/*
.ui_interactive .ui-navigation-header .mejs-container .mejs-controls {
	position: absolute;
	list-style-type: none;
	margin: 0;
	padding: 0;
	bottom: 0;
	left: 0;
	height: 30px;
	width: 159%;
}
*/
.mejs-container .mejs-controls {
	bottom: 8px; 
	width: 301px !important;
	margin-left: -12px;
}
.ui_interactive .ui-navigation-tracker {
	right: 218px;
}
.img_center {
	text-align: center;
}
.copyright__bottom {
	position: absolute;
	margin: 11px 0 0 70px;
}
.copyright__bottom1 {
	position: absolute;
	margin: 11px 0 0 109px;
}
.copyrights {
	position: absolute;
	margin-left: 283px;
	margin-top: -55px;
}
.playerOver {
	height: 423px;
	width: 701px;
	position: absolute;
	top: 0px;
	padding: 32% 0% 0% 44%;
	background: rgba(235, 235, 235, 0.83);
	z-index: 12;
}
.playerText {
	margin-left: -22px;
	margin-top: -15px;
	position: absolute;
	font-style: italic;
}
.playerOver img {
	cursor: pointer;
}
