﻿.copyright1
{
font-size: 13px;
line-height: 10px;
margin-top: 3px;
margin-left: 66px;
}
.icon
{
margin-top:27px;
}
.redcolor
{position:relative;
color: #881401;
}
.left_img
{
margin-top: -10px;
float: left;
margin-left: -9px;
}
.right_txt
{
float: left;
font-size: 14px;
line-height: 18px;
width: 246px;
margin-left: 19px;
margin-top: 3px
}
.copyrights
{
position: absolute;
margin-top: -43px;
font-size: 15px;
margin-left: 215px;
color: #ffffff;
}