﻿.redcolor {
	margin-top: 7px !important;
	color: #881401;
}
/*
.b-page-cover {
	background: transparent url(../imgs/01_03_06_book.png) no-repeat;
	background-size: 100%;
}
*/
.img_border {
	padding-bottom: 1px;
	border: 1px solid;
}
.left_img {
	margin-top: -10px;
	text-align: center;
}
.left_txt {
	height: 304px;
	padding-left: 15px;
	text-align: left;
	margin-top: 5px;
	font-size: 12px;
	width: 236px;
	position: absolute;
	float: left;
	line-height: 1.4em;
	border: 1px solid #d0d0d0;
	overflow-y: scroll;
	padding-right: 7px;
	margin-left: 7px;
}
.txt_hide {
	overflow-y: hidden;
}
.right_txt {
	height: 169px !important;
	padding-top: 35px;
	padding-bottom: 89px;
	width: 217px;
	padding-left: 20px;
	padding-right: 16px;
	margin-left: 6px;
	margin-top: 6px;
	border: 1px solid #c0c0c0;
}
.txt_scroll {
	height: 169px;
	overflow-y: scroll;
}
.bottom_copyright {
	margin-left: 237px;
}
.copyrights {
	margin-bottom: 5px;
	margin-left: 237px;
	font-size: 12px;
	margin-left: 287px;
}
.main_title {
	margin-top: 4px;
	text-align: center;
	font-weight: bold;
}
.copyright2 {
	margin-top: 27px;
}
/************************/
.outerSize {
	width: 650px !important;
}
div.ui_interactive {
	height: 400px !important;
}
.booklet {
	margin-top: 10px !important;
}
.copyright1 {
	bottom: 5px;
	font-size: 10px;
	margin-left: 240px;
	position: absolute;
}
a.tip-bottom {
	font-weight: bold !important;
}
#endBook:hover {
	color: #fff !important;
	text-decoration: none;
}
