﻿.circleimg

{

 text-align: center;

line-height: 16px;

top: 88px;

position: relative;

}

.topZero

{

    top: 0px !important;

  

    }

.topZero2

{

    color: #984842;

    position:relative;

    

    }

    .ui_custom_dialog_trigger{

cursor:pointer;

}

.ui-dialog-buttonset{

display:none;

}

.ui-dialog{

width: 626px;

height: 482px !important;

top: 35px !important;

left: 7px !important;

}

.ui_slide

{

    height:340px !important;

}

.slidehead

{

position: absolute;

top: -2px;

left: 0px;    

}

.img

{

 position: absolute;

top: 27px;

left: 0px;

text-align: center;

line-height: 30px;

}

.right1txt

{

 

position: absolute;

top: 26px;

left: 293px;

width: 266px;



}

.yscroll

{

  overflow-y: scroll;  

  height: 325px;

}

.e2

{

left: 362px !important;

width: 204px !important;    

}

.note

{

 position: absolute;

top: 310px;

left: 294px;

font-style: italic;

color: #881401;

}

.itali

{

 font-style:italic;   

}
.audioTip {
  visibility: visible;
}