div.assignment1{
	background-color:#FFF;
	border:2px solid #003366;
	-moz-border-radius:10px;
	border-radius:10px;
	width:738px;
}
div.assignment1 h4{font-family:Arial, Helvetica, sans-serif;font-size:20px;} 
div.assignment1 h4 span{ color:#5799cd; }
div.assignment1 h4{
padding-left:50px;
line-height:48px;
background-repeat:no-repeat;
background-image:url(../../imgs/iconLibrary/i_assignment.png);
}
div.assignment1{
margin:20px;
}

/* Lesson 00 */
.m5l0_e_img{ margin-left: 12px;}
.m5l0_right_0{width: 283px;}

/* Lesson 01 */


.m5l1margin_left-150{margin-left:-120px;}
.m5l1_a_marginleft{margin-left:30px;}

/* Lesson 02*/
.m5l2para1{text-align:left; margin-left:20px; font-size:12px;}
.m5l2height{height:172px;}
.m5l2interactive1{margin-top:40px;}
.m5l2traveljur_a{height:75px;}
.m5l2jurbtn_a{height:55px;}
.m5l2_disbtn{height:162px;}
.m5l2_info{text-align: left;}
.m5l2swobjecta{width:745px;height:490px;}


/* Lesson 03 */
.m5l3swfObject1{ width:745px;height:501px;}
.m5l3activeint1{margin-top:40px;}


/* Lesson 04 */
.m5l4img1{margin-left:30px;}
.m5l4swobject{width:745px;height:481px;}
.m5l4swobject_b{width:745px;height:481px;}
.m5l4down{ margin-top:35px;}

.m5l4right_0a{	width: 263px;}
.m5l4_swobjecta{width:745px;height:481px;}


/* Lesson 05 */
.m5l5_para{float: left;
    margin-left: 47px;
    width: 327px;
}
.m5l4right_0a{ width: 288px;}
.m5l5leftarea_c{ width: 426px;}
.m5l5_c1{ text-align: left; width:314px;}
.m5l5img{ margin-left:60px;}
.m5l5img1{ margin-left:63px;}
.m5l5_c{ text-align: left; width:400px;}
.cpation_font{ font-size:12px; margin-top:0px;}
.m5l5_d {width: 245px;}
.m5l5_d1 {margin-left: 23px;
    text-align: left;
    width: 722px;}
.m5l5right_c{ width: 301px;}
.m5l5_img_c{display:block; width:250px; margin:0 auto;}
.m5l5swfObjecte{width:745px;height:451px;}
.m5l5width_b{width:300px;}
.m5l5marginleft_d{ margin-left:40px;}


/* Lesson 06 */
.m5l6font{ font-size:19px;}
.m5l6_a{width:250px; margin:0px;}
.m5l6_a1{margin-left:20px;}
.m5l6_info_c{text-align: left;}
.travelJournalm5l6 {
    background: url("../imgs/journal_arrow.png") no-repeat scroll 698px 31px #91B1D0;
    height: 83px;
    margin: 0 auto;
    padding: 5px 6px;
    position: relative;
    width: 695px;
}

.journalButtonm5l6 {
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    height: 64px;
    margin: 0 0 0 5px;
    padding: 10px;
    position: relative;
    text-align: left;
    width: 596px;
}

.m5l6img_b{ border: 1px solid #D0D0D0;
    margin-left: 28px;
    margin-right: 0;}
	
.m5l6right_b{width:280px;}

.m5l6c1{margin-left:20px;}
.m5l6disvideo{height:172px;}
.m5l6disbtn{ height:162px;}
.m5l6_widtharea_c{border:2px solid #569AC9; background:#EAF7FF;  margin: 20px 0 20px 20px; width: 710px;}
.m5l6swobject_d{width:745px;height:545px;}
.m5l6swobject_e{width:745px;height:600px;}	

/* Lesson 07 */
.m5l7swobject_0{height:451px; width:745px;}
.m5l7font{font-size:22px;}
.m5l7marginleft{ margin-left:57px;}
.les_head1{ margin-top: -15px;  margin-bottom: 35px;}
.les_head1 span{ margin-left:64px; margin-top:5px;  line-height: 38px;}