﻿


.nxt{
	 background:url(../imgs/next.png) no-repeat;
	 width:37px; 
	 height:24px;
	 border:0px;
	 cursor:pointer;
/*	filter: alpha(opacity = 30);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
*/
}
.prev{
	 background:url(../imgs/previous.png) no-repeat;
	 width:37px; 
	 height:24px;
	 border:0px;
	/* cursor:pointer;*/
	filter: alpha(opacity = 30);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
}
.fl{float:left;}
.fr{ float:right;} 
.clr{clear:both;}
.btnpos {
   float:right;
	margin:6px 25px 0 0px;
}
.pageNo {
    color: #025286;
    position: absolute;
	margin:8px 0 0 38px;
}
.contentTopBg{
	background:url(../imgs/content_topbg.png) no-repeat;
	 width:745px; 
	 height:28px;
}
.contentMiddleBg{
	background:url(../imgs/content_middlebg.png) repeat-y;
	 width:745px; height:425px; 
}
.contentBottomBg{
	background:url(../imgs/content_botbg.png) no-repeat;
	 width:745px; 
	 height:53px;
}
.rightContent{
	height: 250px;
    margin: 15px 0 0 20px;
    padding: 5px;
    width: 415px;
}
.rightContent p{margin:0px; padding:0px;}

.rightContent h2{
	 color: #003366;
    font-size: 16px;
	padding:0px;
	margin:0px;
}

.rightContent1{
	height: 250px;
    margin: 15px 0 0 20px;
    padding: 5px;
    width: 295px;
}
.rightContent1 p{margin:0px; padding:0px;}

.rightContent1 h2{
	 color: #003366;
    font-size: 16px;
	padding:0px;
	margin:0px;
}

.caption{font-size:11px; }
.captionWth{width:270px; text-align:center; }
.pdTop10{padding-top:10px;}

[disabled] {
	opacity:0.4;
}
.hide{display:none;}
.set{padding:0px 25px 0px 25px;}


.rightImg{ margin:53px 0 0 13px;}

.cpy_right {
    font-size: 12px;
    margin:10px 0 0 300px;
    position: absolute;
}

.m8l7marginleft_60{ margin-left:-61px;}

.mouse_icon{ float:left; display:inline;  margin:25px 0 0 24px;}

.instr_txt{ font-size:12px; font-style:italic; color:#881401; float:left; display:inline; width:635px; margin:29px 0 0 10px!important;}

.navi_txt{ position:absolute; color: #569AC9;  margin: 10px 0 0 388px;}

.rtxt{margin:7px 0 0 301px; padding: 2px; font-size:12px; position:absolute;}