﻿.topZero{top: 0px !important;position: relative !important;float: left;margin-left: 10px;margin-right: 10px;}
.topZero2{color: #984842;height: 45px;}
.DropsC{width: 662px !important;loat:left;margin:0px 0px 0px 0px;}
.DragC{idth: 687px;float: left;argin-top: 11px;margin-left: -14px;}
.DragC>.draggable{width: 152px;height: 9px;text-align: left;padding: 9px 0px 8px 5px;cursor: pointer;opacity: 1 !important;background: #d7eefe;margin-bottom: -1px;line-height: 9px;color: #1a1a1a;}   
.droppables{width: 153px;min-height: 40px;margin: 4px;padding: 0px;float: left;background-color: #4f81bd;color: White;text-align: center;margin-left: -10px;line-height: 37px;}
.drop_txt{width: 492px;min-height: 18px;float: left;margin: 5px;padding: 0;border: none;font-size: 12px;line-height: 16px;padding: 1px 1px 1px 8px;background-color: #d0d8e8;margin-left: -1px;margin-top: -1px;color: black;}
.drop_txts{width: 503px;min-height: 40px;margin: 5px;padding: 0px;float: left;background-color: #4f81bd;color: White;text-align: center;margin-left: -1px;margin-top: 4px;line-height: 37px;}
.ui_interactive .bin{background-color:#d0d7e7; height: 16px; padding:1px; color: #000;}
.DropsC ul{list-style-type: none;line-height: 26px;margin-left: -1px;margin-top: 1px;padding-left: 1px;}
.DropsC ul li{background: rgb(153, 255, 204);padding-left: 3px; line-height: 14px;}
.ui_interactive .draggable{ opacity: 1 !important;cursor:pointer;}
.ui_interactive .draggable p{padding-right: 0px !important;line-height:8px;}
.wid{min-height: 17px;background: #d0d7e7;width: 150px;margin-left: -9px;margin-top: -1px;box-shadow: none !important;}
.top{position: absolute !important;top: 0px !important;left: 0px !important;}
.height1{height:29px !important;}
.height2{height:44px !important;}
.ui_interactive hr {display:none;}
.ui_interactive .ui_edge_buttons {position: relative;float: right;margin: 46px;margin-top: 35px !important;}
.copyrightact{margin-left: 310px;}
.ui_interactive .ui_reset {display:none}
.main_txt{text-align:center;}
.DropsC1{padding-left: 3px; line-height: 26px;}
.ui_interactive .ui-state-highlight{background: #D0D7E7 !important;border: #D0D7E7 !important;}
.bin1 ul li{width: 158px;margin-bottom: 2px;padding: 3px;cursor: pointer;opacity: 1 !important;text-align: left;font-weight: normal;background:none repeat scroll 0% 0% #9FC;font-size: 12px;line-height: 19px;color: #000;}           
.bin2 ul li{width: 158px;margin-top: 8px;padding: 3px;cursor: pointer;opacity: 1 !important;text-align: left;font-weight: normal;background: none repeat scroll 0% 0% #9FC;font-size: 12px;line-height: 19px;color: #000;}           
.ui_interactive .ui-dialog {top: 259px !important;left: 167px !important;}
.ui_interactive .ui-slideshow-item {overflow: inherit !important;}
.ui_interactive .ui-draggable-dragging{z-index:1222 !important;}