﻿.nxt{
	 background:url(../imgs/next.png) no-repeat;
	 width:37px !important; 
	 height:24px;
	 border:0px;
	 cursor:pointer;
	 float:left;
	 margin: 0 0 0 10px;
}
.prev{
	 background:url(../imgs/previous.png) no-repeat;
	 width:37px !important; 
	 height:24px;
	 border:0px;
	 float:left;
	opacity:0.3;
	filter: alpha(opacity = 30);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	 cursor:default;
}
.pageNo {
  bottom: 67px;
  color: #025286;
  margin-left: 38px;
  margin-top: 8px;
  display: inline-block;
}
.fl{float:left;}
.fr{ float:right;} 
.clr{clear:both;}
.btnpos1 {
    float:right;
	padding:6px 0 0 0;
}
.pageNo1{
    color: #025286;
    float:left;
	padding:8px 0 0 38px;
	width:30px;
}
.contentTopBg{
	background:url(../imgs/content_topbg.png) no-repeat;
	 width:745px; 
	 height:28px;
}
.contentMiddleBg{
	background:url(../imgs/content_middlebg.png) repeat-y;
	 width:745px; 
}
.contentBottomBg{	background:url(../imgs/content_botbg.png) no-repeat;	 width:715px; padding:0 30px 0 0; 	 height:53px; }
.rightContent{
	padding:5px;
	margin-left:10px;
	width:400px;
	height:250px;
}
.rightContent1{
	padding:5px;
	margin-left:10px;
	width:300px;
}

.rightContent2{width:680px; padding:10px; }
.rightContent p{margin:0px; padding:0px;}

.rightContent h2{
	 color: #003366;
    font-size: 16px;
	padding:0px;
	margin:0px;
}
.caption{font-size:11px; }
.captionWth{width:270px; text-align:center; }

.captionWth6{width:195px; text-align:center; }
.pdTop10{padding-top:10px;}

[disabled] {
	opacity:0.4;
}
.hide{display:none;}
.set{padding:0px 25px 0px 25px;}

.para1{ width:360px;}

.para2{ width:475px;}

.heading_r{ color: #881401;
    display: inline;
    float: left;
    font-size: 13px;
    margin: 0;
    padding: 5px 0 16px 15px;
    width: 650px;}
	
.flvs{width:150px; margin:10px 300px 0 0; float:right; font-size:11px;}



.jp-audio-in
{
    width:93px;
}
.jp-interface-in
{
	position: relative;
	width: 100%;
}
.jp-audio-in .jp-interface-in
{
	height: 24px;
}
.jp-interface-in .jp-controls-in
{
	padding-bottom: 0px;
	list-style-type: none;
	padding-left: 0px;
	padding-right: 0px;
	height: 24px;
	overflow: hidden;
	padding-top: 0px;
	width:150px;
}
.jp-audio-in .jp-controls-in
{
	margin: 0px auto;
}
.jp-interface-in .jp-controls-in a
{
	padding-bottom: 0px;
	text-indent: -9999px;
	padding-left: 0px;
	padding-right: 0px;
	display: block;
	height: 24px;
	overflow: hidden;
	padding-top: 0px;
	float:left;
	margin-left:8px;
}
.jp-type-single-in .jp-controls-in a
{
	width: 38px;
}
.jp-type-single-in .jp-play-in
{
	background: url(../imgs/play_btn.png) no-repeat;
}
.jp-type-single-in .jp-pause-in
{
	background: url(../imgs/pause_btn.png) no-repeat;
}
.jp-type-single-in .jp-mute-in
{
	background: url(../imgs/audio_on_btn.png) no-repeat 0px 0px;
}
.jp-type-single-in .jp-unmute-in
{
	background: url(../imgs/audio_off_btn.png) no-repeat  0px 0px;
}

.jp-jplayer-in
{
	width: 0px;
	height: 0px;
	background-color: #000000;
}

.startbtn {
    background: url("../imgs/start_btn.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 85px;
    margin: 0 0 0 31px;
    text-align: center;
    width: 85px;
}
.replaybtn {
    background: url("../imgs/replay_btn.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: none;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 94px;
    margin: 0 0 0 31px;
    text-align: center;
    width: 94px;
    z-index: 1000;
}

.container_bg{
	width: 714px;
	height: 418px;
	opacity: .7;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; 
	filter: alpha(opacity=70);
	background-color: white;
	left: 18px;
	right: 0;
	position: absolute;
	z-index: 999;
	top:17px;
}


.navi_txt {
    margin: 10px 0 0 285px;
    position: absolute;
	font-size:12px;
}

.playTxt {
    float: left;
    left: 0;
    text-align: center;
    top: 0;
    width: 150px;
}

.replayTxt {
    display: none;
    float: left;
    text-align: center;
    width: 150px;
}

.center_area {
    margin: 140px 0 0 300px;
    position: absolute;
    width: 150px;
    z-index: 1000;
}

.width_320{float:left; width:320px; margin:0 0 20px 0;}
.cpation_font{ font-size:12px; margin-top:0px;}

.mouse_icon{ float:left; margin-left:30px;}
