/* CSS Document */

.ui_custom_dialog_trigger{
cursor:pointer;
}
/*.ui_slide ui-slideshow-item
{
    width:690px !important;
}*/
.ui-slideshow-slide {
margin: 3px !important;
}
.ui-dialog{
width:435px;
height:358px !important ;
left: 63.5px! important;
}
.ui-dialog-buttonset{
display:none;
}
 .blink
 {
    top: 163px;
right: 234px;
position: absolute;
 }
 
 .constant-h
 {
   top: 167px;
right: 175px;
position: absolute;
 }
 
 .pop_img
 {
     margin-top: -9px;
     margin-right: 30px; 
     float: left; 
     padding-bottom: 6px;
 }
 .map
 {
   text-align: center;
position: absolute;
top: 57px;
 }
 .topZero{top: -22px !important;
position: relative !important;
float: left;
margin-left: -10px;
margin-right: 10px;}

.topZero2
{
 color: #984842;
 position: relative;
top: -17px;
}

.e1
{
   width: 220px;
     font-size: 12px; 
     line-height: 1.6em;
}