﻿.ui_custom_dialog_trigger{
cursor:pointer;
}
.topZero{top: 0px !important;position: relative !important;float: left;margin-left: 10px;margin-right: 10px;}
.topZero2{color: #984842;}


.ui-dialog-buttonset
{
display:none;
}

.redcolor
{
    color: #881401;
 }
 
.ui-dialog
 {
    width:650px;
    height:200px;
}

.sub_txt
{
    margin-left:275px;
}
.customPopDiv
{
   height: 96px;
padding: 20px;
width: 536px;
border: 1px solid #000;
border-radius: 11px;
margin-top: 62px;
margin-left: 7px;
-webkit-box-shadow: 1px 2px 9px 1px rgba(50, 50, 96, 0.72);
-moz-box-shadow: 1px 2px 9px 1px rgba(50, 50, 96, 0.72);
box-shadow: 1px 2px 9px 1px rgba(50, 50, 96, 0.72);
}

.customPopDiv > .head1
{font-weight: bolder;
margin-bottom: 10px;
}
.customPopDiv > .content1
{
}

.img
{
   margin-top: 11px;
margin-left: 90px;
}

.title_txt
{
     margin-top: -12px;
font-size: 16px;
font-weight: bold;
margin-left: 193px;
}


.king
{
 text-align: center;
font-size: 14px;
font-weight: bold;
margin-top: -178px;
margin-left: -131px;
color: #000;
}

.clickedArea
{
    cursor:pointer;
}
.freemen
{
    font-size: 16px;
font-weight: bold;
margin-top: 33px;
color: black;
margin-left: -133px;
text-align: center;
}

.slaves
{
    font-size: 16px;
font-weight: bold;
margin-top: 43px;
margin-left: 109px;
color: #000;
 }
 
.copyrights
{
   position: absolute;
font-size: 12px;
margin-top: -21px;
text-align: center;
width: 650px;

}