﻿.topZero
{top: 0px !important;
 position: relative !important;
 float: left;
 margin-left: 10px;
 margin-right: 10px;
 }
.topZero2
{
    color: #984842;
    height: 55px;
    }
.DropsC
{width: 590px !important;
 float: left;
 /*margin: 200px 0px 0px;*/
 position: absolute;
 margin-left: 7px;
 }
.DragC
{
    width: 590px;
    float: left;
    margin-left: 1px;
    margin-top: 265px;
    }
.DragC>.draggable
{
    width: 181px;
padding: 5px;
cursor: pointer;
opacity: 1 !important;
margin: 1px;
border: 1px solid #BDBDBF;
background: none repeat scroll 0% 0% rgb(215, 238, 254);
margin-bottom: 5px;}
.ui_interactive .droppables
{width: 192px;
 min-height: 40px;
 margin: 4px 6px 2px -4px;
 padding: 0px;
 float: left;
 background-color: #025286;
 color: #FFF;
 text-align: center;
 line-height: 37px;
 font-weight: bold;
 }
.drop_txt
{
   width: 372px;
   min-height: 41px;
   float: left;
   margin: -1px 5px 5px -1px;
   border: medium none;
   font-size: 12px;
   line-height: 1.4em;
   padding: 13px 4px 0px 9px;
   background-color: #D0D8E8;
   }
.drop_txts
{
    width: 385px;
    min-height: 40px;
    margin: 5px;
    padding: 0px;
    float: left;
    background-color: #4f81bd;
    color: White;
    text-align: center;
    margin-left: -1px;
    margin-top: 4px;
line-height: 37px;
}
.ui_interactive .bin
{
    background-color: transparent;
    padding: 0px !important;
    position: absolute;
    z-index: 83;
    }
.DropsC ul
{
    list-style-type: none;
    line-height: 26px;
    margin-top: 5px;
    padding: 0px !important;
    margin: 0px;
    }
.ui_interactive .draggable
{
    opacity: 1 !important;
 cursor:pointer;
 }
 
.ui_interactive .wid{min-height: 205px;width: 192px;margin-left: -4px;margin-top: 0px;background: none repeat scroll 0% 0% rgb(208, 216, 232);border: none !important;box-shadow: none !important;margin-right: 6px;}
.top{position: absolute !important;top: 0px !important;left: 0px !important;}
.ui_interactive .assignment{margin-bottom: 0px;height: 50px;}
.ui_interactive .ui_assessment hr{display: none;}
.copyrightact{margin-top: -30px;position: absolute;text-align: center;width: 650px;color: #000;font-size: 12px;}
.ui_interactive .draggable p {padding-right: 0px !important;}
.ui_interactive .ui-dialog {top: 50px !important;}
.ui_interactive .ui_reset{display:none;}
.map{width: 398px;float: left;margin-left: -4px;}
.DropsC ul li {background: none repeat scroll 0% 0% #9FC;
line-height: 16px;
width: 180px;
font-size: 11.5px;
height: 19px;
border: 1px solid #BDBDBF;
margin: 0px 1px 2px;
padding: 4px;
color: #000;
text-align: center;}
.ui_interactive .ui_edge_buttons {margin-right: 34px;}
.DropsC ul p{padding: 0px;font-size: 12px;height: 44px;line-height: 1.3;text-align: center;}
.DragC > .draggable p{line-height: 14px;font-size: 12px;}
.ui_interactive .trim {height: 400px;}
.hiddenDiv{height: 38px;position: relative;z-index: 0;border: 1px solid #CCC;margin-bottom: 2px;background-color: rgb(208, 215, 231);}
.ui_interactive .ui-state-highlight{background: #D0D8E8 !important;}
.ui_interactive .disable{height: 122px;}
.ui_interactive .ui-slideshow-item {overflow: inherit !important;}
.ui_interactive .ui-draggable-dragging{z-index:1222 !important;}

.displa
{
    display:none !important;
}