﻿body {
}

.MultiChoice
{
    display:block;
    width:745px; 
    height:740px;
}

.MultiChoice .InterBody
{
    font-family:Arial;
    font-size:12px;
    color:#000000;
    width:745px; 
    height:auto;
    position:relative;
    line-height:14px;
}

.mouse_icon{ float:left; display:inline; margin:0px 0 5px 25px;}

.instr_txt{ font-size:12px; font-style:italic; color:#881401; float:left; display:inline; width:635px; margin:0px 0 5px 15px!important;}


.con_div{ float:left; display:inline; height:670px; width:737px; margin:25px 0 0 0;}

.footer_div{ float:left; display:inline; width:737px; height:50px;}

.cpy_right{ float:left; display:inline; font-size:11px; color:#0A0B0C; margin:10px 0 0 355px;}

#submit{ background:url(../imgs/submit_btn.png) no-repeat; height:24px; width:116px; margin:7px 13px 0 0; opacity:0.6; float:right;      filter: alpha(opacity=60);
     -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}

#restart{ background:url(../imgs/restart_btn.png) no-repeat; height:24px; width:116px; margin:7px 13px 0 0; float:right; display:none; cursor:pointer;}

.drag_ul{ padding:0px; margin:20px 0 0 15px!important;}

.drag_ul div{ width:172px;  height:48px; float:left;  margin:2px;}

.dragItem{ list-style:none; width:166px; background:#d6eefe; border:1px solid #8796a0; height:35px; padding:4px 3px; line-height:18px; text-align:center; color:#000; font-size:11px; font-family:Arial, Helvetica, sans-serif; float:left; cursor:pointer; margin:0px!important;}

.select_bg{ float:left; height:auto; margin: 0 0 0 22px; width: 722px;}
.img_bg{float:left; background:#BCE4FE; padding:3px; margin:1px 1px 2px 0; width:169px; font-size:13px; line-height:24px; color:#333; font-weight:bold; text-align:center; height:196px;}
.drop_ul{float:left; width:700px; height:auto; border-left:1px solid #ccc; border-top:1px solid #ccc; margin: 0 22px!important; list-style:none; padding:0px!important;}
.dropItem{float:left; width:174px; border-right:1px solid #ccc; border-bottom:1px solid #ccc; height:45px; text-align:center; background:#fff; margin:0px!important;}
 .dropItem1{float:left; width:175px; height:46px; text-align:center;margin:0px!important;}
 
.margintop10{margin-top:10px;}
.margintop50{margin-top:50px;}
.width{float:left; width:100%;}
.flt{float:left;}

.overlay{ position:absolute; width:737px; height:450px;  z-index: 100;     margin: 70px 0 0; display:none; background:#ffffff; opacity:0; filter: alpha(opacity=0);
     -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";}

.feedback{   height: 121px; margin:508px 0 0 268px; width:229px; background:#E6F5FF url(../imgs/feedbg.png) no-repeat; position:absolute; z-index:101; display:none;}

.try_again{ cursor:pointer; float:left; clear:left; margin:52px 0 0 62px;}

.pos_txt{ margin:15px 0 0 15px; float:left;}

.neg_txt1{ float:left; margin:15px 0 0 15px;}

.neg_txt2{ float:left; margin:15px 0 0 15px;}

.drag_ul1, .drag_ul2{ display:none;}

.lastDrop{margin-left:178px!important; border-left: 1px solid #CCCCCC;}

 .contentTopBg {
	float:left;
    background: url("../imgs/content_topbg.png") no-repeat scroll 0 0 transparent;
    height: 28px;
    width: 745px;
}

.contentMiddleBg {
	float:left;
    background: url("../imgs/content_middlebg.png") repeat-y scroll 0 0 transparent;
	min-height:338px;
    width: 745px;
}

.contentBottomBg1a{
    background: url("../imgs/content_botbg1a.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 58px;
    width: 745px;
}

.img_cpy{ font-size:11px; font-weight:normal!important;} 
