﻿.nxt{
	 background:url(../imgs/next.png) no-repeat;
	 width:37px; 
	 height:24px;
	 border:0px;
	 cursor:pointer;
	 float:left;
	 margin: 0 0 0 10px;
}
.prev{
	 background:url(../imgs/previous.png) no-repeat;
	 width:37px; 
	 height:24px;
	 border:0px;
	 float:left;
	opacity:0.3;
	filter: alpha(opacity = 30);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	 cursor:default;
}

.mouse_icon{ float:left; display:inline;  margin:9px 0 0 24px;}

.instr_txt{ font-size:12px; font-style:italic; color:#881401; float:left; display:inline; width:635px; margin:9px 0 0 10px!important;}

.headTxt{height:40px;}

.fl{float:left;}
.fr{ float:right;} 
.clr{clear:both;}
.btnpos {
    float:right;
	margin:6px 0 0 0;
}
.pageNo {
    color: #025286;
    position: absolute;
	margin:8px 0 0 30px;
}
.contentTopBg1{
	background:url(../imgs/content_topbg.png) no-repeat;
	 width:745px; 
	 height:28px; float:left;
}
.contentMiddleBg1{
	background:url(../imgs/content_middlebg.png) repeat-y;
	 width:745px; height:auto; float:left;
}
.contentBottomBg1{	background:url(../imgs/content_botbg.png) no-repeat;	 width:715px; padding:0 30px 0 0; 	 height:53px; float:left; }
.rightContent{
	padding:5px;
	margin:15px 0 0 0;
	width:305px;
	font-size:13px;
}
.rightContent1{
	padding:5px;
	margin:35px 0 0 0;
	width:305px;
	font-size:13px;
}

.rightContent2{
	padding:5px;
	margin-left:10px;
	width:670px;
	height:250px;
}

.rightContent3{
	padding:5px;
	margin-left:10px;
	width:300px;
	height:530px;
}

.table div{
display:inline-block;
margin-top:0px;
width: 135px;
}


.box-1{
width:142px; float:left;
margin:15px 7px;
border:1px solid #000;
padding:4px;
}

.rightContent p{margin:0px; padding:0px;}

.rightContent h2{
	 color: #003366;
    font-size: 16px;
	padding:0px;
	margin:0px;
}
.caption{font-size:12px; text-align:left;}
.captionWth{text-align:center; }
.pdTop10{padding-top:10px;}

[disabled] {
	opacity:0.4;
}
.hide{display:none;}
.set{padding:0 25px 10px; background:url(../imgs/08_10_01c_img_bg.png) no-repeat; float:left; margin:0 50px; width:648px; height:375px;}



.heading_r{ color:#881401; font-size:14px; padding:5px 0 10px 25px; float:left; width:98%; margin:0px;}
.flvs{width:150px; margin:10px 300px 0 0; float:right; font-size:11px;}



.jp-audio-in
{
    width:93px;
}
.jp-interface-in
{
	position: relative;
	width: 100%;
}
.jp-audio-in .jp-interface-in
{
	height: 24px;
}
.jp-interface-in .jp-controls-in
{
	padding-bottom: 0px;
	list-style-type: none;
	padding-left: 0px;
	padding-right: 0px;
	height: 24px;
	overflow: hidden;
	padding-top: 0px;
	width:150px;
}
.jp-audio-in .jp-controls-in
{
	margin: 0px auto;
}
.jp-interface-in .jp-controls-in a
{
	padding-bottom: 0px;
	text-indent: -9999px;
	padding-left: 0px;
	padding-right: 0px;
	display: block;
	height: 24px;
	overflow: hidden;
	padding-top: 0px;
	float:left;
	margin-left:8px;
}
.jp-type-single-in .jp-controls-in a
{
	width: 38px;
}
.jp-type-single-in .jp-play-in
{
	background: url(../imgs/play_btn.png) no-repeat;
}
.jp-type-single-in .jp-pause-in
{
	background: url(../imgs/pause_btn.png) no-repeat;
}
.jp-type-single-in .jp-mute-in
{
	background: url(../imgs/audio_on_btn.png) no-repeat 0px 0px;
}
.jp-type-single-in .jp-unmute-in
{
	background: url(../imgs/audio_off_btn.png) no-repeat  0px 0px;
}

.jp-jplayer-in
{
	width: 0px;
	height: 0px;
	background-color: #000000;
}

.startbtn{
	background: url(../imgs/start_btn.png) no-repeat center;
	width:84px;
	position: absolute;
	z-index: 1008;
	text-align: center; 
	font-size: 14px;
	margin:188px 0 0 324px;
	cursor:pointer;
	left:0;
	top:0;
	padding-top:85px;
}

.replaybtn{
	background: url(../imgs/replay_btn.png) no-repeat;
	width: 94px;
	height: 95px;
	position: absolute;
	z-index: 1008;
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	margin: 180px 0 0 316px;
	cursor:pointer;
	display:none;
	/*padding-top: 98px;*/
}

.container_bg{
	width: 715px;
	height: 475px;
	opacity: .7;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; 
	filter: alpha(opacity=70);
	background-color: white;
	left: 18px;
	right: 0;
	position: absolute;
	z-index: 1001;
	top:17px;
}


.navi_txt {
    color: #C00000;
    margin: 10px 0 0 285px;
    position: absolute;
}

.align_left{ text-align:left;}

.m5l6_width_b{ width:160px; float:left}

.m5l6_width_b1{ width:200px; float:left}

.playTxt{ position:absolute; margin:277px 0 0 305px; z-index:1008; }

.replayTxt{ position:absolute; margin:285px 0 0 296px; z-index:1008; display:none; }


.leftContent{width:292px; text-align:center; margin-top:0px;}

.leftContentImg{margin:20px 0 0 0px;}

.copy_right{position:absolute; margin:10px 0 0 305px;}

.extrContent{ width:590px; font-size:13px; margin-top:15px;}

.headingTxt{ width:360px; text-align:center; float:left; margin:32px 0 0 0px;}

.extra_para{ font-size:12px; width:600px; margin:3px 0 0 5px;}

.extra_para1{ font-size:12px; width:600px; margin:0px 0 0 5px;}


.rightContent10{
	padding:5px;
	margin:0px 0 0 0;
	width:315px;
	font-size:12px;
}

.mtop-15{ margin-top:-15px !important;}