﻿.MultiChoice
{
    display:block;
    width:745px; 
	 height:1058px;
}


.mouse_icon1{ float:left; display:inline; margin:0px 0 5px 25px;}

.instr_txt1{ font-size:12px; font-style:italic; color:#881401; float:left; display:inline; width:635px; margin:0px 0 5px 15px!important;}

.footer_div{ float:left; display:inline; width:737px; height:50px;}

.cpy_right{ float:left; display:inline; font-size:11px; color:#0A0B0C; margin:10px 0 0 355px;}

#content_sction {background:#EFEFEF; border: 1px solid #003366; position:absolute; font-family: Arial,Helvetica,sans-serif;  margin:29px 0 0 510px; width:211px; z-index:10;}
.content_area {color: #444444; float: left; font-size:12px;  height: auto; line-height:20px; margin:0px; padding:5px 0;}
.content_area li{ float:left; width:150px; margin:0 0px 0 25px; padding:0px;}
#restart{ background:url(../intmedia/restart_btn.png) no-repeat; height:24px; width:116px; margin:13px 13px 0 0; float:right; opacity:0.5;}
#hint{ background:url(../intmedia/hint_btn.png) no-repeat; height:24px; width:116px; margin:20px 13px 0 70px; float:left;}
.cross-check{ background:url(../intmedia/check_btn.png) no-repeat; height:24px; width:116px; margin:10px 13px 0 330px; float:left; clear:right;}
#close{width:20px; height:20px; cursor:pointer; font-size:15px; color:#f00; text-align:center; line-height:20px; position:absolute; z-index:100; font-weight:bold; border: 1px solid #003366; margin:-1px 0px 0 -1px; background:#003366; color:#fff;}

.margintop10{margin-top:10px;}
.margintop50{margin-top:50px;}
.width{float:left; width:100%;}
.flt{float:left;}
.pointer{cursor:pointer;}

/*-----------------*/

.fl
{
    float:left;
}

.fr
{
    float:right;
}

.clr
{
    clear:both;
}
/*-------        Crosss Word Start  ---- */
.popup-bg{display:none; top:0px; margin:0px auto; left:0px; position:absolute; z-index:101; border:0px solid red; width:744px; height:720px; }
.popup-innerbg-hint{ display:none; margin:150px auto; padding:0px; width:355px; height:305px; border:1px solid #996600; background-color:#efefef;}

.popup-innerbg ul{ float:left; width:200px; height:auto; padding:0px; margin:20px 0 0 0px;list-style-type:none;}
.popup-innerbg ul li{ font-weight:normal; font-size:14px;  width:200px; height:auto; padding:0px 0 5px 22px; margin:0px 0 0 12px;background:url(../intmedia/arrow.jpg) no-repeat 0 0px; }

.close-bt{ float:right; padding:0px; margin:0px 0 0 0px ;display: block;width:28px;height: 24px;background:url(../intmedia/close-bt.jpg) no-repeat 0 -24px; cursor:pointer;}
.close-bt:hover{ background-position: 0 0px;}

.popup-innerbg-try{ display:none;position:relative;margin:535px 0 0 145px; padding:0px; width:440px; height:173px; border:2px solid #3B7AA4; background-color:#E6F5FF;}
.popup-innerbg-tryinner{ margin:7px auto; padding:0px; width:405px; height:138px; background-color:#E6F5FF; float:left;  text-align:left; padding:20px 0 0 20px;}
.popup-innerbg-tryinner span{margin:34px 0 0 0;width:400px; text-align:left; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000;padding:0px;  z-index:100; height:70px;}

.tryagain-bt{ float:left; padding:0px; margin:70px 0 0 86px; display: inline;width:116px;height: 24px;background:url(../intmedia/bt-try.png) no-repeat 0; cursor:pointer;}

.reset{ float:right; padding:0px; margin:70px 76px 0 0; display: inline;width:116px;height: 24px;background:url(../intmedia/reset.png) no-repeat 0; cursor:pointer;}
.popup-innerbg-tryinner p{ text-align:left; color:#000000; }


.popup-innerbg-showans{display:none;position:relative;margin:535px 0 0 145px; padding:0px; width:440px; height:173px; border:2px solid #3B7AA4; background-color:#E6F5FF;}
.popup-innerbg-showansinner{ margin:7px auto; padding:0px; width:405px; height:138px; background-color:#E6F5FF;  float:left;  text-align:left; padding:20px 0 0 20px;}
.popup-innerbg-showansinner span{margin:24px 0 0 0;width:430px;  text-align:left; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000;padding:0px;  z-index:100; height:70px;}
.showans-bt{padding:0px; margin:60px 0 0 147px ;display: block;width:122px;height: 30px;background:url(../intmedia/bt-show-answer.png) no-repeat 0 0px; cursor:pointer;}
.close-small-bt, .close_num{float:right; width:18px; height:18px; padding:0px; margin:10px 10px 0 0; cursor:pointer; font-size:20px; color:#277cb3; font-weight:bold;}


.popup-innerbg-correct{display:none;position:relative;margin:535px 0 0 145px; padding:0px; width:440px; height:173px; border:2px solid #3B7AA4; background-color:#E6F5FF;}
.popup-innerbg-correctinner{ margin:7px auto; padding:0px; width:405px; height:138px;background-color:#E6F5FF;  float:left;  text-align:left; padding:20px 0 0 20px;}
.popup-innerbg-correctinner span{margin:57px 0 0 133px;width:400px;  text-align:left; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000;padding:0px; text-align:left;  z-index:100; height:70px; display:block;}
.correct-bt{ float:left; padding:0px; margin:20px 0 0 147px ;display: block;width:122px;height: 30px;background:url(../intmedia/bt-show-answer.png) no-repeat 0 -30px; cursor:pointer;}
.correct-bt:hover{ background-position: 0 0px;}

.popup-innerbg-correct, .popup-innerbg-number{display:none;position:relative;margin:140px auto; padding:0px; width:440px; height:173px; border:2px solid #3B7AA4; background-color:#E6F5FF;}
.popup-innerbg-correctinner, .popup-innerbg-numberin{ margin:7px auto; padding:0px; width:425px; height:158px;background-color:#E6F5FF;}
.popup-innerbg-correctinner span, .popup-innerbg-numberin span{margin:30px 0 0 0;width:400px; float:left; text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000;padding:10px; }


.selectbg{ background-color:#999999;}

input { 
    border-style: none;
}
input[type="text"] {
	background:none; font-weight:bold;
}
.crossword{
    width:730px;
    margin: 10px 0px 0 0px;
    position:relative;
}
.crosswordleft{ float:left; padding:0px; margin:0px; width:710px; height:auto;}
.crosswordleftbg{padding:0px; margin:20px 0 0 73px; width:595px; height:422px;position:relative;background:url(../intmedia/crossword.png) no-repeat;}

.crosswordleftbg input{ border:0px solid; padding: 1px 0 0 3px; font-size:11px; color:#000000; width:14px; height:15px;   margin: 2px 0 0 2px; text-transform:uppercase;}
.crosswordleftbg input[disabled]{ color:#000000; background:#ced0d1; cursor:default;}
/*-------  First row  ---- */
.textbox1{ position:absolute; top:1px; left:331px; background-color:#FFFFFF; color:black; text-align:center;}
/*-------  Second row  ---- */
.textbox2{ position:absolute; top:22px; left:287px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox3{ position:absolute; top:22px; left:331px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox4{ position:absolute; top:22px; left:573px; background-color:#FFFFFF; color:#000; text-align:center;}

/*-------  Third row  ---- */
.textbox5{ position:absolute; top:43px; left:287px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox6{ position:absolute; top:43px; left:331px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox7{ position:absolute; top:43px; left:573px; background-color:#FFFFFF; color:#000; text-align:center;}

/*-------  Fourth row  ---- */
.textbox8{ position:absolute; top:64px; left:199px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox9{ position:absolute; top:64px; left:221px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox10{position:absolute; top:64px; left:243px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox11{ position:absolute; top:64px; left:265px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox12{ position:absolute; top:64px; left:287px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox13{ position:absolute; top:64px; left:309px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox14{ position:absolute; top:64px; left:331px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox15{ position:absolute; top:64px; left:353px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox16{ position:absolute; top:64px; left:375px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox17{ position:absolute; top:64px; left:573px; background-color:#FFFFFF; color:#000; text-align:center;}

/*-------  Fifth row  ---- */
.textbox18{ position:absolute; top:85px; left:89px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox19{ position:absolute; top:85px; left:287px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox20{ position:absolute; top:85px; left:331px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox21{ position:absolute; top:85px; left:419px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox22{ position:absolute; top:85px; left:441px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox23{ position:absolute; top:85px; left:463px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox24{ position:absolute; top:85px; left:485px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox25{ position:absolute; top:85px; left:507px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox26{ position:absolute; top:85px; left:529px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox27{ position:absolute; top:85px; left:551px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox28{ position:absolute; top:85px; left:573px; background-color:#FFFFFF; color:#000; text-align:center;}

/*-------  sixth row  ---- */
.textbox29{ position:absolute; top:106px; left:89px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox30{ position:absolute; top:106px; left:243px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox31{ position:absolute; top:106px; left:287px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox32{ position:absolute; top:106px; left:331px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox33{ position:absolute; top:106px; left:463px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox34{ position:absolute; top:106px; left:573px; background-color:#FFFFFF; color:#000; text-align:center;}

/*-------  seventh row  ---- */
.textbox35{ position:absolute; top:127px; left:89px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox36{ position:absolute; top:127px; left:243px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox37{ position:absolute; top:127px; left:287px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox38{ position:absolute; top:127px; left:331px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox39{ position:absolute; top:127px; left:463px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox40{ position:absolute; top:127px; left:551px; background-color:#FFFFFF; color:#000; text-align:center;}

/*-------  eight row  ---- */
.textbox41{ position:absolute; top:148px; left:89px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox42{ position:absolute; top:148px; left:177px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox43{ position:absolute; top:148px; left:199px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox44{ position:absolute; top:148px; left:221px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox45{ position:absolute; top:148px; left:243px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox46{ position:absolute; top:148px; left:265px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox47{ position:absolute; top:148px; left:287px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox48{ position:absolute; top:148px; left:309px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox49{ position:absolute; top:148px; left:331px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox50{ position:absolute; top:148px; left:353px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox51{ position:absolute; top:148px; left:375px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox52{ position:absolute; top:148px; left:397px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox53{ position:absolute; top:148px; left:463px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox54{ position:absolute; top:148px; left:507px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox55{ position:absolute; top:148px; left:551px; background-color:#FFFFFF; color:#000; text-align:center;}

/*-------  nine row  ---- */
.textbox56{ position:absolute; top:169px; left:89px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox57{ position:absolute; top:169px; left:243px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox58{ position:absolute; top:169px; left:287px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox59{ position:absolute; top:169px; left:331px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox60{ position:absolute; top:169px; left:463px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox61{ position:absolute; top:169px; left:507px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox62{ position:absolute; top:169px; left:551px; background-color:#FFFFFF; color:#000; text-align:center;}

/*-------  ten row  ---- */
.textbox63{ position:absolute; top:190px; left:89px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox64{ position:absolute; top:190px; left:243px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox65{ position:absolute; top:190px; left:287px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox66{ position:absolute; top:190px; left:375px; background-color:#FFFFFF; color:#000; text-align:center;}

.textbox67{ position:absolute; top:190px; left:419px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox68{ position:absolute; top:190px; left:441px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox69{ position:absolute; top:190px; left:463px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox70{ position:absolute; top:190px; left:485px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox71{ position:absolute; top:190px; left:507px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox72{ position:absolute; top:190px; left:529px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox73{ position:absolute; top:190px; left:551px; background-color:#FFFFFF; color:#000; text-align:center;}

/*-------  11th row  ---- */
.textbox74{ position:absolute; top:211px; left:1px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox75{ position:absolute; top:211px; left:23px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox76{ position:absolute; top:211px; left:45px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox77{ position:absolute; top:211px; left:67px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox78{ position:absolute; top:211px; left:89px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox79{ position:absolute; top:211px; left:111px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox80{ position:absolute; top:211px; left:133px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox81{ position:absolute; top:211px; left:155px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox82{ position:absolute; top:211px; left:177px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox83{ position:absolute; top:211px; left:199px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox84{ position:absolute; top:211px; left:221px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox85{ position:absolute; top:211px; left:243px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox86{ position:absolute; top:211px; left:287px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox87{ position:absolute; top:211px; left:375px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox88{ position:absolute; top:211px; left:463px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox89{ position:absolute; top:211px; left:507px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox90{ position:absolute; top:211px; left:551px; background-color:#FFFFFF; color:#000; text-align:center;}

/*-------  12th row  ---- */
.textbox91{ position:absolute; top:232px; left:1px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox92{ position:absolute; top:232px; left:89px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox93{ position:absolute; top:232px; left:243px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox94{ position:absolute; top:232px; left:375px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox95{ position:absolute; top:232px; left:463px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox96{ position:absolute; top:232px; left:507px; background-color:#FFFFFF; color:#000; text-align:center;}

/*-------  13th row  ---- */
.textbox97{ position:absolute; top:253px; left:1px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox98{ position:absolute; top:253px; left:89px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox99{ position:absolute; top:253px; left:111px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox100{ position:absolute; top:253px; left:133px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox101{ position:absolute; top:253px; left:155px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox102{ position:absolute; top:253px; left:177px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox103{ position:absolute; top:253px; left:199px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox104{ position:absolute; top:253px; left:221px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox105{ position:absolute; top:253px; left:243px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox106{ position:absolute; top:253px; left:265px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox107{ position:absolute; top:253px; left:287px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox108{ position:absolute; top:253px; left:309px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox109{ position:absolute; top:253px; left:331px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox110{position:absolute; top:253px; left:353px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox111{position:absolute; top:253px; left:375px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox112{position:absolute; top:253px; left:397px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox113{position:absolute; top:253px; left:419px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox114{position:absolute; top:253px; left:441px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox115{position:absolute; top:253px; left:463px; background-color:#FFFFFF; color:#000; text-align:center;}
/*.textbox116{position:absolute; top:253px; left:419px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox117{position:absolute; top:253px; left:441px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox118{position:absolute; top:253px; left:463px; background-color:#FFFFFF; color:#000; text-align:center;}
*//*-------  14th row  ---- */
.textbox119{position:absolute; top:274px; left:1px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox120{position:absolute; top:274px; left:89px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox121{position:absolute; top:274px; left:243px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox122{position:absolute; top:274px; left:375px; background-color:#FFFFFF; color:#000; text-align:center;}

/*-------  15th row  ---- */
.textbox123{position:absolute; top:295px; left:1px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox124{position:absolute; top:295px; left:89px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox125{position:absolute; top:295px; left:243px; background-color:#FFFFFF; color:#000; text-align:center;}

/*-------  16th row  ---- */
.textbox126{position:absolute; top:316px; left:1px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox127{position:absolute; top:316px; left:89px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox128{position:absolute; top:316px; left:155px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox129{position:absolute; top:316px; left:177px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox130{position:absolute; top:316px; left:199px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox131{position:absolute; top:316px; left:221px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox132{position:absolute; top:316px; left:243px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox133{position:absolute; top:316px; left:265px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox134{position:absolute; top:316px; left:287px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox135{position:absolute; top:316px; left:309px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox136{position:absolute; top:316px; left:331px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox137{position:absolute; top:316px; left:353px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox138{position:absolute; top:316px; left:375px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox139{position:absolute; top:316px; left:397px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox140{position:absolute; top:316px; left:419px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox141{position:absolute; top:316px; left:441px; background-color:#FFFFFF; color:#000; text-align:center;}

.textbox142{position:absolute; top:337px; left:89px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox143{position:absolute; top:337px; left:243px; background-color:#FFFFFF; color:#000; text-align:center;}

.textbox144{position:absolute; top:358px; left:221px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox145{position:absolute; top:358px; left:243px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox146{position:absolute; top:358px; left:265px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox147{position:absolute; top:358px; left:287px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox148{position:absolute; top:358px; left:309px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox149{position:absolute; top:358px; left:331px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox150{position:absolute; top:358px; left:353px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox151{position:absolute; top:358px; left:375px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox152{position:absolute; top:358px; left:397px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox153{position:absolute; top:358px; left:419px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox154{position:absolute; top:358px; left:441px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox155{position:absolute; top:358px; left:463px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox156{position:absolute; top:358px; left:485px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox157{position:absolute; top:358px; left:507px; background-color:#FFFFFF; color:#000; text-align:center;}

.textbox158{position:absolute; top:379px; left:243px; background-color:#FFFFFF; color:#000; text-align:center;}

.textbox159{position:absolute; top:400px; left:243px; background-color:#FFFFFF; color:#000; text-align:center;}

.crosswordright{float:left; padding:0px; margin:0px 0 0px 30px; width:470px; height:auto; }
.crosstxt{ font-family:Arial, Helvetica, sans-serif; font-size:14px;}
.crosstxt h1{ font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#00; text-align:left; padding:0px 0 0 5px; margin:0px; clear:right; line-height:30px; float:left;}

.crosstxtarea { float:left; padding:0px; margin:0px 0 2px 0; width:470px; height:auto;list-style-type:none; display:block; color:#000; border:1px solid #8796a0;  line-height: 15px;}
.crosstxtarea{height:auto; cursor:pointer;background-color:#d6eefe;display:block; }
.crosstxtarea:hover{background:none;  width:470px; height:auto; display:block;  line-height: 15px;}

.crosstxtarea.active{ width:470px; height:auto; display:block;  line-height: 15px;  background-color:#89cbf9!important;}
.crosstxtarea.done{width:470px; height:auto; display:block;  line-height: 15px; background-color:#74be00!important; color:#ffffff; opacity:1!important; filter: alpha(opacity=100)!important;
     -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"!important;}
.crosstxtarea.done .no{background-color:#508005;}

.crosstxtarea.active .no{background-color:#0a64a4;}


.crosstxtarea span{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000; text-align:left; padding:0px;}
.no{float:left;font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#000; text-align:center; padding:1px 0 0px 0px; margin:0px; width:15px; height:auto; background:#569ac9; color:#fff;}
.notxt{ float:left;font-family:Arial, Helvetica, sans-serif; font-size:11px;text-align:left; padding:0px 0 0px 5px; margin:0px; width:440px; height:auto;}

.cross-btn{ float:left; width:116px; height:25px; padding:0px; margin:17px 0 0 95px; cursor:pointer;}

.cross-check:hover
{ 
  background-position: 0 0px;
}
.cross-check.disabledd{
	opacity:0.5;
     filter: alpha(opacity=50);
     -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
.cross-bot-btn{ float:right; width:116px; height:25px; padding:0px; margin:7px 25px 0 0px;cursor:pointer; }
.hidee {
cursor:default;
	opacity:0.5;
     filter: alpha(opacity=50);
     -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}


.overlay{ position:absolute; background:#ffffff; opacity:0; height:735px; width:737px; display:none; z-index:9;      filter: alpha(opacity=0);
     -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.cross_numbers{ position:absolute;}

.cross_numbers span{ font-size:9px; position:absolute; color:#003366;    z-index: 10;}

.num_1{ margin:0px 0 0 333px;}

.num_2{ margin:20px 0 0 289px;}

.num_3{ margin:41px 0 0 575px;}

.num_4{ margin:62px 0 0 202px;}

.num_5{ margin:83px 0 0 422px;}

.num_6{ margin:83px 0 0 466px;}

.num_7{ margin:104px 0 0 92px;}

.num_8{ margin:104px 0 0 246px;}




.num_9{ margin:125px 0 0 554px;}

.num_10{ margin:146px 0 0 179px;}

.num_11{ margin:146px 0 0 509px;}

.num_12{ margin:188px 0 0 377px;}

.num_13{ margin:188px 0 0 421px;}

.num_14{ margin:209px 0 0 2px;}

.num_15{ margin:251px 0 0 91px;}

.num_16{ margin:314px 0 0 157px;}

.num_17{ margin:356px 0 0 223px;}

.cross_overlay{ position:absolute; height:423px; width:600px; z-index:8; display:none; opacity:0;
     filter: alpha(opacity=0);
     -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; background:#ffffff;}


 .contentTopBg1 {
	float:left;
    background: url("../intmedia/content_topbg.png") no-repeat scroll 0 0 transparent;
    height: 28px;
    width: 745px;
}

.contentMiddleBg1 {
	float:left;
    background: url("../intmedia/content_middlebg.png") repeat-y scroll 0 0 transparent;
	min-height:338px;
    width: 745px;
}

.contentBottomBg1a{
    background: url("../intmedia/content_botbg1a.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 58px;
    width: 745px;
}

.con_div1 {
    border-bottom: 0px dashed #025286;
    display: inline;
    float: left;
    height: 966px;
    margin-top: -30px;
    width: 737px;
}

.hint_head{ margin-left:13px;  font-size: 16px; padding-bottom:15px;}

.pad_btm{ padding-bottom:33px;}

.clues{ padding:0px; margin:0px!important;}
.clues li{ margin-bottom:0px!important;}

.pad_btm1{ padding-bottom:14px;}

.pop_over{ position:absolute; width:727px; height:971px; border:0px solid; z-index:100; display:none;  opacity:0;
     filter: alpha(opacity=0);
     -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; background:#ffffff;}
	 
.showentireans{ float:left; padding:0px; margin:10px 0 0 84px;display: block;width:122px;height: 24px;background:url(../intmedia/bt-show-answer.png) no-repeat 0 0px; cursor:pointer; display:none;}


.bggreen{background-color:#74be00!important; color:#ffffff!important;-webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    -ms-user-select: none;}

	 