﻿body {
}
img{ border:0px;}
 
.contentMiddleBg1{	background:url(../imgs/content_middlebg.png) repeat-y;  width:745px; float:left;}

.contentTopBg1{	background:url(../imgs/content_topbg.png) no-repeat;	 width:745px; 	 height:28px; }

.contentBottomBg{	background:url(../imgs/content_botbg.png) no-repeat;	 width:745px; 	 height:28px; float:left}

.mouse_icon1{ float:left; display:inline;  margin:5px 0 0 24px;}

.instr_txt1{ font-size:12px; font-style:italic; color:#881401; float:left; display:inline; width:635px; margin:12px 0 0 10px!important;}

.con_div{ float:left; display:inline; width:737px; margin:25px 0 0 0;}

.footer_div{ float:left; display:inline; width:737px; height:50px;}

.cpy_right1{ float:left; display:inline; font-size:11px; color:#0A0B0C; margin:11px 0 0 355px;}

#submit{ background:url(../imgs/submit_btn.png) no-repeat; height:24px; width:116px; margin:7px 13px 0 0; opacity:0.6; float:right;}

#restart{ background:url(../imgs/restart_btn.png) no-repeat; height:24px; width:116px; margin:7px 13px 0 0; float:right; display:none; cursor:pointer;}

.width{width:100%; float:left;}
.flt{float:left;}

 
.termarea{float:left; width:560px; height:auto; padding:15px 0 5px 30px;}
.term-desc1{float:left; width:535px; height:auto; background:#4f81bc; background:#4f81bc; margin:0 0 3px 0; font-size:14px; font-weight:bold;}
.term1{float:left; width:80px; height:28px; background:#4f81bc; text-align:center; color:#fff; line-height:28px; padding-left:3px; border-left:2px solid #eaf7ff;}
.desc1{float:left; width:440px; background:#4f81bc; text-align:center; color:#fff; border-left:2px solid #eaf7ff; height:28px; line-height:28px; }
.term-desc2{float:left; width:535px; height:auto; background:#d0d7e7; margin:0 0 2px 0; font-size:13px;}
.desc2{float:left; width:430px; background:#d0d7e7; border-left:2px solid #eaf7ff; color:#000; min-height:18px; line-height:16px; padding:5px;}
.term2{float:left; width:80px; height:28px; background:#d0d7e7; padding-left:0px; border-left:2px solid #eaf7ff;}
.dragarea{float:left; width:480px; height:auto; padding:10px 0px 0px 160px;}
.drag-sec{float:left; background:#d7eefe; height:16px; width:79px; font-size:13px; line-height:16px; color:#1a1a1a; border:1px solid #cfcfcf; padding:5px; cursor:pointer; text-align:center;}

.drop1{ height: 28px;
   }

.drop4{  height: 28px;
    }
	
.finalFB, .corctFB{ display:none;}	

.feed_div{
	background-color: #E6F5FF;
    border: 2px solid #025286;
    display: none;
    height: 60px;
    position: absolute;
    width: 328px;
    z-index: 9999;
	top:0px;
	left:0px;
	margin:200px 0 0 200px;
	
}	

.overlay1{ display: none;
    height: 470px;
    position: absolute;
    width: 745px;
    z-index: 9998;    
	background-color:#ffffff;
    opacity:0;
    filter: alpha(opacity=0);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.feed_close {
    color: #025286;
    cursor: pointer;
    float: right;
    font-size: 14px;
    font-weight: bold;
    margin: 5px 10px 0 0;
}

.dragarea div{ float:left; width:110px; height:35px;}