﻿


.txt_right {
float: right;
height: 240px;
margin-top: 28px;
text-align:left;
width:290px;
}

.txt_left
{
	height: 240px;
	width: 50%;
	float:left;
	text-align: center;
	margin: 10px;
	margin-top: -10px;

}

.txt_cont
{
    margin-top: 240px;
    width: 700px;
}

.maincontainer
{
    width: 700px;
}




 .right_content
 {
     margin-top: -15px;
     font-weight:bold;
    
 }
 .ui_interactive img
 {
     margin-top: 13px;
 }
.ui_interactive .ui-slideshow-slide {
    margin: 00px !important;
}

.right_text
{
    
font-size: 15px;
    line-height: 1.5em;
    
}

.down_text
{
   font-weight: bold;
   text-align:left;
   font-size: 12px;
   color:#003366;
   margin-left: 19px;
   margin-top: 4px;
}

.ui_interactive .image-container .enlarge {

right: 3px;
margin-top: 16px;
}

.ui_interactive .image-container a.modal-pop {
    display: none !important;
}


.audioTip {
  visibility: visible;
}
.tooltip{
	  line-height: 1.4;
	  font-size:12px;
}