﻿.img {
	margin-top: 17px;
    position: relative;
    margin-left: 46px;
}
.left_txt {
	width: 242px;
	font-weight: bold;
	margin-top: -210px;
	margin-left: 21px;
	font-size: 12px;
	color: #000000;
}
.carousel {
	width: 700px;
	height: 300px;
	margin: 0 auto;
	margin-bottom: 15px;
	position: relative;
	padding: 0;
}
.ui-slideshow-item {
	margin-top: -27px;
}
.topZero {
	top: 0px !important;
	position: relative !important;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.topZero2 {
	color: #CCCS;
	font-size: 12px;
}
.copyright1 {
	font-size: 12px;
margin-top: 60px;
margin-left: 261px;
}
.ui_custom_dialog_trigger {
	cursor: pointer;
}
.ui-dialog-buttonset {
	display: none;
}
.ui-dialog {
	width: 510px;
	top: 11px !important;
	left: 64px !important;
	height: auto !important;
}
.sub_txt {
	font-size: 12px;
}
a:hover {
	text-decoration: none !important;
}
.ui_custom_dialog_trigger {
	cursor: pointer;
	color: #000;
	font-weight: bold;
}
a:hover {
	color: #000;
}
.ui-slideshow-item {
	margin-left: -16px;
}
.hiddentool {
	width: 249px;
	min-height: 50px;
	position: absolute;
	top: 206px;
	left: 99px;
	z-index: 106;
	padding: 10px;
	background: #6d4672;
	border-radius: 9px;
}
.hid {
	width: 249px;
	min-height: 50px;
	position: absolute;
	top: 262px;
	left: 95px;
	z-index: 1004;
	padding: 10px;
	background: #6d4672;
	border-radius: 9px;
}
.hiddentool2 {
	top: 326px;
	left: 95px;
}
.hiddentool3 {
	top: 251px;
	left: 95px;
}
.hiddentool4 {
	top: 141px;
	left: 110px;
}
#chkTool1 {
	color: #6d4672;
	font-weight: bold;
	cursor: pointer;
	line-height: 1.3em;
	text-decoration: underline;
}
#chkTool2 {
	color: #6d4672;
	font-weight: bold;
	cursor: pointer;
	line-height: 1.3em;
	text-decoration: underline;
}
#chkTool3 {
	color: #6d4672;
	font-weight: bold;
	cursor: pointer;
	line-height: 1.3em;
	text-decoration: underline;
}
#chkTool4 {
	color: #6d4672;
	font-weight: bold;
	cursor: pointer;
	line-height: 1.3em;
	text-decoration: underline;
}
#chkTool5 {
	color: #6d4672;
	font-weight: bold;
	cursor: pointer;
	line-height: 1.3em;
	text-decoration: underline;
}
.hiddencontent {
	color: #fff;
}
.close2 {
	position: absolute;
	right: -9px;
	background-image: url("../imgs/05_02_02a_btnclose.png");
	background-repeat: no-repeat;
	top: -11px;
	z-index: 103;
	height: 26px;
	width: 25px;
	cursor: pointer;
}
.a1 {
	color: #000 !important;
}


.carousel .cslider .card {
	background-color: #F7F7F7;
border: solid 1px #e8e8e8;
width: 600px;
/*height: 468px !important;*/
height: 488px !important;
padding: 10px;
float: left;
margin-right: 10px;
}

.carousel a:hover {
color: #6d4672;
color: #333333 !important;
}

.icon {
margin: 20px;
}

.ui_interactive .content {
	margin-left: 71px;
/* width: 300px; */
/* display: Block; */
}
.htmltext_version {
	width:650px !important;	
}

.ui_interactive {
	/*height: 586px !important;	*/
	height:650px !important;
}

.ui_interactive .copyright {
margin-top: 10px;
}

.carousel .carousel-prev {
display: none;
position: absolute;
left: -40px;
top: 150px;
font-size: 40px;
width: 48px;
height: 48px;
}

 .carousel-prev {
display: block;
position: absolute;
left: -40px;
top: 150px;
font-size: 40px;
width: 48px;
height: 48px;
}

.carousel-prev {
text-decoration: none;
}

.carousel .carousel-next {
display: none;
position: absolute;
right: -45px;
top: 150px;
font-size: 40px;
width: 48px;
height: 48px;
}

.carousel-next {
display: block;
position: absolute;
right: -45px;
top: 150px;
font-size: 40px;
width: 48px;
height: 48px;
}

.carousel .container {
/*width: 100%;
height: 100%;*/
overflow: hidden;
position: absolute;
top: 0;
left: 0;
}

.container {
padding-top: 0px;
margin-left:54px;
}

.carousel {
width: 700px;
height: 300px;
margin: 0 auto;
margin-bottom: 20px;
position: relative;
padding: 0;
}
.carousel {
line-height: 1;
}

.container {
width: auto;
width: 630px;
}

.main_txt
{
    margin-left: 70px;
}

  
   .carousel-control.right {
display: block;
position: absolute;
right: 0px;
top: 150px;
font-size: 48px;
width: 48px;
height: 48px;

}

.carousel-control
{
    background: rgba(34, 34, 34, 0);
color:#08c;
opacity: 1.5;
border: 3px solid rgba(255, 255, 255, 0);
font-size: 48px;
top:31%;
}

.ui_slide.ui-slideshow-item {
  width: 690px !important;
  height: 640px !important;
}