﻿body {
}

.MultiChoice
{
    display:block;
    width:745px; 
    height:auto;
}
.MultiChoice .InterBorder
{
     order:solid 10px #569ac9;
}
.MultiChoice .InterBody
{
    font-family:Arial;
    font-size:12px;
    color:#000000;
    width:745px; 
    height:auto;
    position:relative;
     ackground-color:#eff8ff;
    line-height:14px;
}

.mouse_icon{ float:left; display:inline; margin:0px 0 5px 25px;}

.instr_txt{ font-size:13px; font-style:italic; color:#984842; float:left; display:inline; width:635px; margin:0px 0 5px 15px!important;}


/*.con_div{ float:left; display:inline; height:685px; width:737px; margin:0x 0 0 0; border-bottom:0px dashed #025286;}
*/
.footer_div{ float:left; display:inline; width:737px; ackground:#C5E8FE; height:50px;}

.cpy_right{ float:left; display:inline; font-size:11px; color:#0A0B0C; margin:10px 0 0 355px;}

#content_sction {background:#EFEFEF; border: 1px solid #003366; position:absolute; font-family: Arial,Helvetica,sans-serif;  margin:168px 0 0 207px; width:329px; z-index:10;  height: 220px; z-index:100; display:none;}
.content_area {color: #444444; font-size:12px;  line-height:20px; margin:0px; padding:5px 0; position:absolute;}
.content_area li{ float:left; width:135px; margin:0 0px 0 25px; padding:0px;}
#restart{ background:url(../imgs/restart_btn.png) no-repeat; height:24px; width:116px; margin:13px 13px 0 0; float:right; opacity:0.5;}
#hint{ background:url(../imgs/hint_btn.png) no-repeat; height:24px; width:116px; margin:10px 13px 0 20px; float:left; cursor:pointer;}
.cross-check{ background:url(../imgs/check_btn.png) no-repeat; height:24px; width:116px; margin:10px 13px 0 95px; float:left; }
#close{width:20px; height:20px; cursor:pointer; font-size:15px; color:#f00; text-align:center; line-height:20px; position:absolute; z-index:1000; font-weight:bold; border: 1px solid #003366; margin:-1px 0px 0 -1px; background:#003366; color:#fff;}

.margintop10{margin-top:10px;}
.margintop50{margin-top:50px;}
.width{float:left; width:100%;}
.flt{float:left;}
.pointer{cursor:pointer;}

/*-----------------*/

.CRBody
{
    height:683px;
}
.fl
{
    float:left;
}

.fr
{
    float:right;
}

.clr
{
    clear:both;
}
/*-------        Crosss Word Start  ---- */
.popup-bg{display:none; top:0px; margin:0px auto; left:0px; position:absolute; z-index:9999; border:0px solid red; width:744px; height:720px; }
.popup-innerbg-hint{ display:none; margin:150px auto; padding:0px; width:355px; height:305px; border:1px solid #996600; background-color:#efefef;}

.popup-innerbg ul{ float:left; width:200px; height:auto; padding:0px; margin:20px 0 0 0px;list-style-type:none;}
.popup-innerbg ul li{ font-weight:normal; font-size:14px;  width:200px; height:auto; padding:0px 0 5px 22px; margin:0px 0 0 12px;background:url(../imgs/arrow.jpg) no-repeat 0 0px; }

.close-bt{ float:right; padding:0px; margin:0px 0 0 0px ;display: block;width:28px;height: 24px;background:url(../imgs/close-bt.jpg) no-repeat 0 -24px; cursor:pointer;}
.close-bt:hover{ background-position: 0 0px;}

.popup-innerbg-try{ display:none;position:relative;margin:140px auto; padding:0px; width:440px; height:173px; border:2px solid #3B7AA4; background-color:#E6F5FF;}
.popup-innerbg-tryinner{ margin:7px auto; padding:0px; width:425px; height:158px; background-color:#E6F5FF;}
.popup-innerbg-tryinner span{margin:34px 0 0 0;width:430px; float:left; text-align:left; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000;padding:10px; }

.tryagain-bt{ float:left; padding:0px; margin:40px 0 0 100px ;display: inline;width:116px;height: 24px;background:url(../imgs/bt-try.png) no-repeat 0; cursor:pointer;}

.reset{ float:right; padding:0px; margin:40px 76px 0 0; display: inline;width:116px;height: 24px;background:url(../imgs/reset.png) no-repeat 0; cursor:pointer;}

.popup-innerbg-tryinner p{ text-align:left; color:#000000; }


.popup-innerbg-showans{display:none;position:relative;margin:140px auto; padding:0px; width:440px; height:173px; border:2px solid #3B7AA4; background-color:#E6F5FF;}
.popup-innerbg-showansinner{ margin:7px auto; padding:0px; width:425px; height:158px; background-color:#E6F5FF;}
.popup-innerbg-showansinner span{margin:24px 0 0 0;width:430px; float:left; text-align:left; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000;padding:10px; }
.showans-bt{ float:left; padding:0px; margin:20px 0 0 147px ;display: block;width:122px;height: 30px;background:url(../imgs/bt-show-answer.png) no-repeat 0 0px; cursor:pointer;}
.close-small-bt, .close_num{float:right; width:18px; height:18px; padding:0px; margin:10px 10px 0 0; cursor:pointer; font-size:20px; color:#277cb3; font-weight:bold;}


.popup-innerbg-correct, .popup-innerbg-number{display:none;position:relative;margin:140px auto; padding:0px; width:440px; height:173px; border:2px solid #3B7AA4; background-color:#E6F5FF;}
.popup-innerbg-correctinner, .popup-innerbg-numberin{ margin:7px auto; padding:0px; width:425px; height:158px;background-color:#E6F5FF;}
.popup-innerbg-correctinner span, .popup-innerbg-numberin span{margin:30px 0 0 0;width:400px; float:left; text-align:center; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000;padding:10px; }
.correct-bt{ float:left; padding:0px; margin:20px 0 0 147px ;display: block;width:122px;height: 30px;background:url(../imgs/bt-show-answer.png) no-repeat 0 -30px; cursor:pointer;}
.correct-bt:hover{ background-position: 0 0px;}



.selectbg{ background-color:#999999;}

input { 
    border-style: none;
}
input[type="text"] {
	background:none; font-weight:bold;
}
.crossword{
    width:720px;
    height:683px;
    margin: 10px 0px 0 0px;
    position:relative;
}
.crosswordleft{ float:left; padding:0px; margin:0px; width:395px; height:auto;}
.crosswordleftbg{padding:0px; margin:42px 0 0 95px; width:551px; height:442px;position:relative;background:url(../imgs/crossword-selection.png) no-repeat;}

.crosswordleftbg input{ border:0px solid; padding:0px; font-size:11px; color:#000000;  width:17px; height:16px;   margin: 2px 0 0 2px;}
.crosswordleftbg input[disabled]{ color:#000000; background:#ced0d1; cursor:default;}
.textbox1{ position:absolute; top:1px; left:177px; background-color:#FFFFFF; color:black; text-align:center;}
.textbox2{ position:absolute; top:22px; left:177px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox3{ position:absolute; top:43px; left:133px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox4{ position:absolute; top:43px; left:177px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox5{ position:absolute; top:64px; left:133px; background-color:#FFFFFF; color:#000; text-align:center;}
/*-------  Second row  ---- */
.textbox6{ position:absolute; top:64px; left:155px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox7{ position:absolute; top:64px; left:177px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox8{  position:absolute; top:85px; left:133px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox9{  position:absolute; top:85px; left:331px; background-color:#FFFFFF; color:#000; text-align:center;}
/*-------  Third row  ---- */
.textbox10{  position:absolute; top:106px; left:1px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox11{ position:absolute; top:106px; left:23px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox12{ position:absolute; top:106px; left:45px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox13{  position:absolute; top:106px; left:67px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox14{  position:absolute; top:106px; left:89px; background-color:#FFFFFF; color:#000; text-align:center;}
/*-------  fourth row  ---- */
.textbox15{  position:absolute; top:106px; left:133px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox16{  position:absolute; top:106px; left:199px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox17{  position:absolute; top:106px; left:309px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox18{  position:absolute; top:106px; left:331px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox19{  position:absolute; top:106px; left:353px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox20{  position:absolute; top:106px; left:375px; background-color:#FFFFFF; color:#000; text-align:center;}


.textbox21{  position:absolute; top:106px; left:397px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox22{  position:absolute; top:106px; left:419px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox23{  position:absolute; top:106px; left:441px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox24{  position:absolute; top:106px; left:463px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox25{  position:absolute; top:106px; left:485px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox26{  position:absolute; top:106px; left:507px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox27{  position:absolute; top:106px; left:529px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox28{  position:absolute; top:127px; left:89px; background-color:#FFFFFF; color:#000; text-align:center;}
/*-------  fiveth row  ---- */
.textbox29{  position:absolute; top:127px; left:133px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox30{  position:absolute; top:127px; left:199px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox31{  position:absolute; top:127px; left:331px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox32{  position:absolute; top:148px; left:89px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox33{  position:absolute; top:148px; left:111px; background-color:#FFFFFF; color:#000; text-align:center;}
/*-------  six row  ---- */
.textbox34{  position:absolute; top:148px; left:133px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox35{  position:absolute; top:148px; left:155px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox36{  position:absolute; top:148px; left:177px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox37{  position:absolute; top:148px; left:199px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox38{  position:absolute; top:148px; left:221px; background-color:#FFFFFF; color:#000; text-align:center;}

/*-------  seven row  ---- */
.textbox39{ position:absolute; top:148px; left:243px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox40{ position:absolute; top:148px; left:265px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox41{ position:absolute; top:148px; left:287px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox42{ position:absolute; top:148px; left:309px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox43{ position:absolute; top:169px; left:89px; background-color:#FFFFFF; color:#000; text-align:center;}

/*-------  eight row  ---- */
.textbox44{  position:absolute; top:169px; left:133px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox45{  position:absolute; top:169px; left:199px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox46{  position:absolute; top:169px; left:243px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox47{  position:absolute; top:169px; left:287px; background-color:#FFFFFF; color:#000; text-align:center;}

.textbox48{  position:absolute; top:169px; left:331px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox49{  position:absolute; top:190px; left:89px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox50{ position:absolute; top:190px; left:133px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox51{ position:absolute; top:190px; left:199px; background-color:#FFFFFF; color:#000; text-align:center;}

/*-------  nine row  ---- */
.textbox52{ position:absolute; top:190px; left:287px; background-color:#FFFFFF; color:#000; text-align:center;}

.textbox53{ position:absolute; top:190px; left:331px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox54{ position:absolute; top:190px; left:397px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox55{ position:absolute; top:211px; left:89px; background-color:#FFFFFF; color:#000; text-align:center;}


/*-------  ten row  ---- */
.textbox56{ position:absolute; top:211px; left:133px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox57{ position:absolute; top:211px; left:287px; background-color:#FFFFFF; color:#000; text-align:center;}

.textbox58{ position:absolute; top:211px; left:331px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox59{ position:absolute; top:211px; left:397px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox60{ position:absolute; top:232px; left:89px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox61{ position:absolute; top:232px; left:133px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox62{ position:absolute; top:232px; left:331px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox63{ position:absolute; top:232px; left:397px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox64{ position:absolute; top:253px; left:265px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox65{ position:absolute; top:253px; left:287px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox66{ position:absolute; top:253px; left:309px; background-color:#FFFFFF; color:#000; text-align:center;}

.textbox67{ position:absolute; top:253px; left:331px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox68{ position:absolute; top:253px; left:353px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox69{ position:absolute; top:253px; left:375px; background-color:#FFFFFF; color:#000; text-align:center;}

/*-------  11th row  ---- */
.textbox70{  position:absolute; top:253px; left:397px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox71{  position:absolute; top:253px; left:419px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox72{  position:absolute; top:253px; left:441px; background-color:#FFFFFF; color:#000; text-align:center;}


.textbox73{  position:absolute; top:274px; left:331px; background-color:#FFFFFF; color:#000; text-align:center;}

/*-------  12th row  ---- */
.textbox74{  position:absolute; top:274px; left:397px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox75{  position:absolute; top:295px; left:287px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox76{ position:absolute; top:295px; left:309px; background-color:#FFFFFF; color:#000; text-align:center;}



.textbox77{ position:absolute; top:295px; left:331px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox78{ position:absolute; top:295px; left:397px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox79{  position:absolute; top:316px; left:331px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox80{  position:absolute; top:316px; left:397px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox81{  position:absolute; top:337px; left:331px; background-color:#FFFFFF; color:#000; text-align:center;}

/*-------  13th row  ---- */
.textbox82{ position:absolute; top:337px; left:397px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox83{ position:absolute; top:358px; left:133px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox84{ position:absolute; top:358px; left:155px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox85{ position:absolute; top:358px; left:177px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox86{ position:absolute; top:358px; left:199px; background-color:#FFFFFF; color:#000; text-align:center;}
/*-------  14th row  ---- */
.textbox87{ position:absolute; top:358px; left:221px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox88{ position:absolute; top:358px; left:243px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox89{ position:absolute; top:358px; left:265px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox90{ position:absolute; top:358px; left:287px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox91{ position:absolute; top:358px; left:309px; background-color:#FFFFFF; color:#000; text-align:center;}


.textbox92{ position:absolute; top:358px; left:331px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox93{ position:absolute; top:358px; left:397px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox94{ position:absolute; top:379px; left:331px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox95{ position:absolute; top:379px; left:397px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox96{ position:absolute; top:400px; left:287px; background-color:#FFFFFF; color:#000; text-align:center;}



.textbox97{ position:absolute; top:400px; left:309px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox98{ position:absolute; top:400px; left:331px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox99{ position:absolute; top:421px; left:331px; background-color:#FFFFFF; color:#000; text-align:center;}

.textbox100{ position:absolute; top:148px; left:331px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox101{ position:absolute; top:253px; left:463px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox102{ position:absolute; top:400px; left:397px; background-color:#FFFFFF; color:#000; text-align:center;}

.textbox103{ position:absolute; top:253px; left:463px; background-color:#FFFFFF; color:#000; text-align:center;}

.crosswordright{float:left; padding:0px; margin:0px 0 10px 0 5px; width:685px; height:auto; clear:left; margin:0 0 0 30px;}
.crosstxt{ font-family:Arial, Helvetica, sans-serif; font-size:14px;}
.crosstxt h1{ font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#00; text-align:left; padding:0px 0 0 5px; margin:0px; clear:right; line-height:40px;}

.crosstxtarea { float:left; padding:0px; margin:0px 0 3px 0; height:auto;list-style-type:none; display:block; color:#000; border:1px solid #8796a0;}
.crosstxtarea{width:675px; min-height:20px; cursor:pointer;background-color:#d6eefe; }

/*.crosstxtarea:hover{background:#EAF7FF;  width:310px; height:auto;min-height:30px;display:block;}
*/
.crosstxtarea.active{ width:675px; height:auto;min-height:20px;display:block; opacity:1;  background-color:#89cbf9!important;}
.crosstxtarea.done{width:675px; height:auto;min-height:20px;display:block; background-color:#74be00!important; color:#ffffff; opacity:1!important; filter: alpha(opacity=100)!important;
     -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"!important;}

.crosstxtarea.done .no{background-color:#508005;}

.crosstxtarea.active .no{background-color:#0a64a4;}

.crosstxtarea span{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000; text-align:left; padding:0px;}
.no{float:left;font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#000; text-align:left; padding:3px 0 3px 3px; margin:0px; width:20px; height:auto; background:#569ac9; color:#fff;}
.notxt{ float:left;font-family:Arial, Helvetica, sans-serif; font-size:11px;text-align:left; padding:3px 0 3px 5px; margin:0px; width:645px; height:auto;}

.brdline{float:left;width:714px;height:1px; background:url(../imgs/cross-brdline.jpg) repeat-x;}

.cross-btn{ float:left; width:116px; height:25px; padding:0px; margin:17px 0 0 95px; cursor:pointer;}

.cross-check:hover
{ 
  background-position: 0 0px;
}
.cross-check.disabledd{
	opacity:0.5;
     filter: alpha(opacity=50);
     -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
.cross-bot-btn{ float:right; width:116px; height:25px; padding:0px; margin:7px 25px 0 0px;cursor:pointer; }
.hidee {
cursor:default;
	opacity:0.5;
     filter: alpha(opacity=50);
     -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}


.overlay{ position:absolute; background:#ffffff; opacity:0; height:735px; width:737px; display:none; z-index:11;  filter: alpha(opacity=0);
     -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.cross_numbers{ position:absolute;}

.cross_numbers span{ font-size:9px; position:absolute; color:#003366; z-index:10;}

.num_1{ margin:1px 0 0 180px;}

.num_5{ margin:106px 0 0 4px;}

.num_6{ margin:106px 0 0 92px;}

.num_8{ margin:106px 0 0 312px;}

.num_12{  margin:190px 0 0 399px;}

.num_15{ margin:358px 0 0 135px;}

.num_7{ margin:106px 0 0 202px;}

.num_2{ margin:43px 0 0 136px;}

.num_3{ margin:64px 0 0 136px;}

.num_4{ margin:85px 0 0 334px;}

.num_9{ margin:148px 0 0 92px;}

.num_10{ margin:148px 0 0 244px;}

.num_11{ margin:148px 0 0 289px;}

.num_13{ margin:253px 0 0 267px;}

.num_14{ margin:295px 0 0 289px;}

.num_16{ margin:400px 0 0 289px;}

.cross_overlay{ position:absolute; height:398px; width:330px; z-index:8; display:none; opacity:0;
     filter: alpha(opacity=0);
     -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; background:#ffffff;}


 .contentTopBg {
	float:left;
    background: url("../imgs/content_topbg.png") no-repeat scroll 0 0 transparent;
    height: 28px;
    width: 745px;
}

.contentMiddleBg {
	float:left;
    background: url("../imgs/content_middlebg.png") repeat-y scroll 0 0 transparent;
	min-height:338px;
    width: 745px;
}

.contentBottomBg1a{
    background: url("../imgs/content_botbg1a.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 53px;
    width: 745px;
}

.con_div {
    border-bottom: 0px dashed #025286;
    display: inline;
    float: left;
    height: 1020px;
    margin-top: -30px;
    width: 737px;
}

.hint_head{ margin-left:13px;  font-size: 16px; width:100px; float:left; margin-top:10px;}

.clues{ padding:0px; margin:10px 0 0 0!important; clear:left; float:left;}

.clues li{ margin-bottom:0px!important;}

.showentireans{ float:left; padding:0px; margin:10px 0 0 84px;display: block;width:122px;height: 24px;background:url(../imgs/bt-show-answer.png) no-repeat 0 0px; cursor:pointer; display:none;}


.bggreen{background-color:#74be00!important; color:#ffffff!important;-webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    -ms-user-select: none;}

.hint_close{ float:right; margin:10px; font-size:16px; font-weight:bold; color:#000000; cursor:pointer;  position: relative;
    z-index: 100;}






