﻿.redcolor
{
    color: #881401;
    position:relative;
}


.icon1
{
    margin-top: 18px !important;
}
.map_left   
{
   width: 316px;
float: left;
height: 326px;
}

.map_left   
{   line-height: 1.5em;
   width: 316px;
float: left;
height: 326px;
text-align: center;
font-size: 12px;
}
.left_text
{   margin-top: 3px;
text-align: left;
float: left;
font-size: 12px;
width: 300px;
 }

.map_right  
{
   margin-top: -333px;
margin-left: 339px;
width: 316px;
float: left;
}

.ui_custom_dialog_trigger{
cursor:pointer;
}

.ui-slideshow-slide {

margin-top: -37px;
}

.ui-dialog-buttonset
{
display:none;
}

.ui-dialog
 {
 width: 588px !important;
height: 90px !important;
top: 95px !important;
margin-left: 17px;

}

.copyrights
{
    text-align:center;
    font-size:12px;
  }

.img_pop
{
   margin-left: 54px;
margin-top: 6px;
 }
.pop_txt
{
   margin-left: 65px;
top: 18px;
position: absolute;
 }
.pop_txt2
{
   margin-left: 36px;
top: 18px;
position: absolute;
 }
#popup_1
    {
   position: absolute;
height: 75px;
width: 74px;
margin-left: 32px;
margin-top: 1px;
}

#popup_2
{
 position: absolute;
height: 73px;
width: 74px;
margin-left: 31px;
margin-top: 92px;
}

#popup_3

 {
 position: absolute;
height: 75px;
width: 75px;
margin-left: 121px;
margin-top: 92px;
}

#popup_4

 {
 position: absolute;
height: 74px;
width: 75px;
margin-left: 32px;
margin-top: 182px;
}

#popup_5

 {
 position: absolute;
height: 74px;
width: 151px;
margin-left: 120px;
margin-top: 182px;
}

#popup_6

 {
 position: absolute;
height: 74px;
width: 75px;
margin-left: 32px;
margin-top: 273px;
}

#popup_7

 {
position: absolute;
height: 74px;
width: 147px;
margin-left: 122px;
margin-top: 272px;
}