﻿.img {
	text-align: center;
	top: 26px;
	left: 1px;
	line-height: 19px;
	position: relative;
}
.topZero {
	top: 2px !important;
}
.topZero2 {
	color: #984842;
	position: relative;
}
.ui_interactive .ui_custom_dialog_trigger {
	cursor: pointer;
}
.ui_interactive .ui-dialog-buttonset {
	display: none;
}
.ui_interactive .ui-dialog {
	width: 657px;
	height: 446px !important;
	top: 53px !important;
	left: 7px !important;
}
.popimg {
	position: absolute;
	left: 1px;
	top: 1px;
	text-align: center;
	line-height: 26px;
}
.right1txt {
	position: absolute;
	top: 1px;
	left: 367px;
	width: 230px;
}
.right2txt {
	position: absolute;
	top: 1px;
	left: 230px;
	width: 362px;
}
.right3txt {
	position: absolute;
	top: 1px;
	left: 347px;
	width: 250px;
}
.bottomtxt {
	position: absolute;
	top: 295px;
	left: 1px;
	width: 586px;
}
.bottomtxt2 {
	position: absolute;
	top: 285px;
	left: 1px;
	width: 586px;
}
.rights {
	position: relative;
	top: 33px;
	left: 305px;
}
