﻿.topZero
{
    top: 0px !important;
    position: relative !important;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}
.topZero2
{
    color: #984842;
    height: 45px;
}
.img
{
    text-align: center;
    font-weight: bold;
    color: #000000;
    float: left;
    margin-bottom: 2px;
    margin-left: 25px;
}
.down_txt
{
    float: left;
    margin-top: 8px;
    width: 604px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 18px;
}
.copyright1
{
    margin-top: 485px;
    text-align: center;
    margin-left: -4px;
}
.con
{
    color: #984842;
}
.copyrights
{
    position: absolute;
    margin-top: -43px;
    font-size: 15px;
    margin-left: 241px;
    color: #000000;
    text-align: center;
}

/*flvs*/
.img
{
    margin: 0px auto 2px;
    float: none;
}

.down_txt {
  color: #003366;
  width: auto;
}