﻿.ui_custom_dialog_trigger {
	cursor: pointer;
	top: 15px;
	left: 10px;
}
.ui-dialog {
	width: 517px;
	height: 107px !important;
	top: 79px !important;
	left: 52px !important;
}
.ui-dialog-buttonset {
	display: none;
}
.topZero {
	top: 0px !important;
	position: relative !important;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	height: 60px;
}
.topZero2 {
	color: #984842;
}
.map {
	position: absolute;
	margin-left: 1px;
	margin-top: -10px;
}
#id1 {
	height: 33px;
	width: 33px;
	position: absolute;
	margin-top: 176px;
	margin-left: 103px;
}
#id2 {
	height: 33px;
	width: 33px;
	position: absolute;
	margin-top: 112px;
	margin-left: 75px;
}
#id3 {
	height: 33px;
	width: 33px;
	position: absolute;
	margin-top: 67px;
	margin-left: 87px;
}
#id4 {
	height: 33px;
	width: 33px;
	position: absolute;
	margin-top: 36px;
	margin-left: 115px;
}
#id5 {
	height: 33px;
	width: 33px;
	position: absolute;
	margin-top: -4px;
	margin-left: 175px;
}
#id6 {
	height: 33px;
	width: 33px;
	position: absolute;
	margin-top: -3px;
	margin-left: 213px;
}
.imgwid {
	width: 550px;
}
.width533 { 
    text-align: center;
    width: 533px;
}