﻿.topZero{top: 0px !important;

position: relative !important;

float: left;

margin-left: 15px;

margin-right: 10px;

margin-top: 6px;}

.topZero2{color: #984842;

height: 50px;

background-color: #F8F8F8;

margin-top: 15px;

padding-right: 0px;}

.DropsC{width: 400px !important;float: left;margin: 200px 0px 0px;position: absolute;}

.topZero2 p{padding-right: 0px;}

.DragC{width: 200px;float: left;margin-left: 4px;margin-top: 25px;}

.DragC>.draggable{width: 180px;height: 25px;text-align: center;padding: 5px;cursor: pointer;opacity: 1 !important;z-index: 1222;}

.droppables{width: 197px;min-height: 40px;margin: 4px 7px 4px -4px;padding: 0px;float: left;background-color: #025286;color: #FFF;text-align: center;line-height: 37px;}

.drop_txt{width: 372px;min-height: 41px;float: left;margin: -1px 5px 5px -1px;border: medium none;font-size: 12px;line-height: 1.4em;padding: 13px 4px 0px 9px;background-color: #D0D8E8;}

.drop_txts{width: 385px;min-height: 40px;margin: 5px;padding: 0px;float: left;background-color: #4f81bd;color: White;text-align: center;margin-left: -1px;margin-top: 4px;

line-height: 37px;}

.bin{background-color: transparent;padding: 0px !important;position: absolute;}

.DropsC ul{list-style-type: none;line-height: 26px;margin-top: 5px;text-align: center;padding: 0px !important;margin: 0px;}

.draggable{opacity: 1 !important;cursor:pointer;}

.wid{min-height: 302px;width: 198px;margin-left: -4px;margin-top: 0px;background: none repeat scroll 0% 0% transparent;border: none !important;box-shadow: none !important;}

.top{position: absolute !important;top: 0px !important;left: 0px !important;}

.assignment{margin-bottom: 0px;height: 50px;}

.ui_assessment hr{display: none;}

.ui_reset{display:none !important;}

.copyrightact{margin-top: -30px;position: absolute;text-align: center;width: 650px;color: #000;font-size: 12px;}

.ui_interactive .draggable p {padding-right: 0px !important;}

.ui-dialog {top: 200px !important;}

.map{width: 398px;float: left;margin-left: -4px;}

.DropsC ul li {background-color: transparent;line-height: 16px;width: 197px;font-size: 11.5px;height: 45px;margin: 0px 1px;}

.ui_edge_buttons {margin-right: 27px;}

.DropsC ul p{padding: 0px;font-size: 12px;height: 44px;line-height: 1.3;text-align: center;}

.DragC > .draggable p{line-height: 14px;}

.trim {height: 515px;margin-left: 35px;}

.hiddenDiv{height: 50px;position: relative;z-index: 0;border: 1px solid #CCC;}

/*--------Green Image---------*/

.greenImg{background: url("../imgs/01_05_07a_circle_img2g.png") no-repeat scroll 0% 0% transparent;height: 239px;width: 194px;float: left;margin-left: 120px;cursor: pointer;}

.imgGreen{background: url("../imgs/01_05_07a_circle_img2gr.png") no-repeat scroll 0% 0% transparent !important;width: 194px;cursor: default;}

/*--------Green Image---------*/

/*--------Dark Green Image---------*/

.darkgreenImg{background: url("../imgs/01_05_07a_circle_img3g.png") no-repeat scroll 0% 0% transparent;height: 188px;width: 90px;float: left;margin-top: 25px;margin-left: -44px;cursor: pointer;}

.imgDarkgreen{background: url("../imgs/01_05_07a_circle_img3gr.png") no-repeat scroll 15% 0% transparent !important;width: 90px;cursor: default;}

/*--------Dark Green Image---------*/

/*--------Red Image---------*/

.redImg{background: url("../imgs/01_05_07a_circle_img4g.png") no-repeat scroll 0% 0% transparent;height: 239px;width: 195px;float: left;margin-left: -46px;cursor: pointer;}

.imgRed{background: url("../imgs/01_05_07a_circle_img4gr.png") no-repeat scroll 0% 0% transparent !important;width: 195px;cursor: default;}

/*--------Red Image---------*/

.greenText{position: absolute;margin-top: 103px;width: 140px;text-align: center;color: #fff;font-weight: bold;margin-left: 126px;cursor: pointer;}

.darkgreenText{position: absolute;margin-top: 103px;width: 140px;text-align: center;color: #fff;font-weight: bold;margin-left: 245px;cursor: pointer;}

.redText{position: absolute;margin-top: 103px;width: 140px;text-align: center;color: #fff;font-weight: bold;margin-left: 362px;cursor: pointer;}

.common{width: 205px;float: left;margin-top: 30px;display: none;position: absolute;}  

.common ul li{list-style-image: url("../imgs/01_05_07a_dot-o.png");margin-bottom: 8px;}

.leftBorder{position: absolute;

margin-top: -150px;

margin-left: 48px;}

.middleBorder {position: absolute;

margin-top: -56px;

margin-left: 102px;}

.redBorder {position: absolute;

margin-top: -150px;

margin-left: 90px;}

.commonUnhide{display: block;}

.left_li{margin-top: 268px;}

.middle_li{margin-top: 268px;

margin-left: 212px;}

.right_li{margin-top: 268px;

margin-left: 418px;}