﻿.txt_pan1 {

	font-size: 14px;

	line-height: 18px;

	margin-left: 19px;

	margin-top: 24px;

	width: 614px;

}

.txt_pan2 {

	font-size: 14px;

	line-height: 18px;

	margin-left: 15px;

	margin-top: 2px;

	width: 623px;

}

.tabs div.panel {

	width: 700px;

}

.img {

	text-align: center;

	line-height: 1.5em;

}

.down_txt {

	color: #003366;

	line-height: 18px;

	font-style: italic;

	font-size: 12px;

	text-align: left;

}

.down_copy {

	position: absolute;

	margin-top: -15px;

	font-size: 12px;

	margin-left: 237px;

	color: black;

}

.topZero {

	top: -1px !important;

	position: relative !important;

	float: left;

	margin-left: 7px;

	margin-right: 10px;

	font-style: italic;

	color: #984842;

}

.topZero2 {

	color: #984842;

	font-size: 13px;

}

.topZero2a {

	position: relative !important;

	color: #984842;

	font-size: 14px;

	line-height: 18px;

	font-style: italic;

	text-align: center;

}

.MainFrame {

    background-color: white;

    border: thin solid black;

    height: 490px;

    margin-left: 1px;

    margin-top: 39px;

    width: 654px;

}

.main_img {

	text-align: center;

	margin-top: -25px;

}

.clk1, .clk2, .clk3, .clk4, .clk5 {

	border: 1px solid #9b9b9b;

	cursor: pointer;

	float: left;

	height: 14px;

	margin-top: 20px;

	padding: 9px;

	line-height: 14px;

	width: 100px;

}

.clk1 {

	background: url(../imgs/04_06_02a_bg.jpg) repeat-x;

}

.clk2 {

	background: url(../imgs/04_06_02a_bg.jpg) repeat-x;

}

.clk3 {

	background: url(../imgs/04_06_02a_bg.jpg) repeat-x;

}

.clk4 {

	background: url(../imgs/04_06_02a_bg.jpg) repeat-x;

}

.clk5 {

	background: url(../imgs/04_06_02a_bg.jpg) repeat-x;

}

.red-b {

	float: left;

	background: #ff0000;

	width: 14px;

	height: 14px;

	border: 1px solid #fff;

}

.c_name {

	float: left;

	padding: 0 0 4px 10px;

}

.black-b {

	float: left;

	background: #010101;

	width: 14px;

	height: 14px;

	border: 1px solid #fff;

}

.main_clk {

    margin-left: 27px;

    margin-top: -19px;

}

.orange-b {

	float: left;

	background: #EB6911;

	width: 14px;

	height: 14px;

	border: 1px solid #fff;

}

.purple-b {

	float: left;

	background: #683199;

	width: 14px;

	height: 14px;

	border: 1px solid #fff;

}

.blue-b {

	float: left;

	background: #747BFF;

	width: 14px;

	height: 14px;

	border: 1px solid #fff;

}

.customPopDiv {

	background-color: #EFEFEF;

	border: 1px solid #000000;

	display: none;

	left: 30px;

	padding: 10px;

	position: absolute;

	top: 230px;

	width: 562px;

	z-index: 2;

}

.tabbyb {

	font-weight: bold !important;

	width: 203px;

	height: 63px;

}

.customPopDiv > .head1 {

	font-weight: bold;

	margin-bottom: -1px;

	width: 561px;

	margin-top: -1px;

	color: #000000;

	font-size: 14px;

}

.customPopDiv > .content1 {

	width: 541px;

	font-size: 14px;

	margin-top: 18px;

	margin-left: 21px;

	line-height: 18px;

}

.clickarea {

	cursor: pointer;

}

.close1 {

	width: 26px;

	height: 25px;

	position: absolute;

	margin-left: 559px;

	margin-top: -19px;

	z-index: 11;

	background-image: url("../imgs/04_06_02a_btnclose.png");

	cursor: pointer;

}

.close2 {

	background-position: -310px 2px;

}

.text-center {

	text-align: center;

	margin-top: -10px;

	line-height: 7px;

}

a.modal-pop, a.pop {

	/*line-height: 7px !important;*/

}

.txt {

	text-align: center;

	margin-top: 12px;

	line-height: 7px;

}

.htmltext_version_a {

	margin-top: -22px;

}

.devideo { text-align:center; }

.cpation_font
{
    font-size: 10px;
line-height: 10px;
text-align: center;
display: block;
}
.inner-activity{
	float:left;
}
.audioTip {
  visibility: visible;
}