﻿.topZero{top: 0px !important;position: relative !important;float: left;margin-left: 10px;margin-right: 10px;}
.topZero2{color: #984842;}
.customPopUp
{
    position: absolute;
    width: 370px;
   padding: 10px 10px 10px 0px;
    margin-left: 25px;
    border: 1px solid;
    background: #EBEBEB;
    margin-top: 124px;
}
.close1
    {
    position: absolute;
    right: -11px;
    background-image: url("../imgs/01_02_02a_btnclose.png");
    background-repeat: no-repeat;
    top: -11px;
    z-index: 10;
    height: 26px;
    width: 25px;
    cursor:pointer;
}
.customDivCall
{
cursor:pointer;
}
.hd
{
    font-weight: bold;
    margin-left: 28px;
}
.topZero
{
top:0px !important;
}
.topContent
{
    color:#984842;
}

.botImage
{float: left;
position: absolute;
     width:60px; 
}
.customHolder
{
 position: absolute;
bottom: 100px;
width: 254px;
left: 13px;
}
.divtxt
{
   float: left;
position: absolute;
left: 41px;
width: 147px;
top: 6px;
}
.shia
{
    top: 40px;
position: absolute;
}
.copywright
{
position: absolute;
bottom: 50px;
font-size: 12px;
width: 682px;
text-align: center;
}
.lastText{
position: absolute;
margin-top: 335px;
bottom: 0px;
height: 50px;
margin-left: 12px;
}
.trim{height:460px;}