﻿.ui_interactive hr{display:none;}

.topZero{top:0px !important;}

.topZero2{margin-top:-13px !important;}

.ui_edge_buttons{margin-top: 55px !important;margin-right: 45px !important;}

.questionText{font-weight: bold;text-align: center;}

.selectable {width: 87% !important;}

.selectable li {height: auto;cursor: pointer;}

.copyright{margin-top: -36px;position: absolute;text-align: center;width: 590px;color: #ffffff;}

.trim{width:550px;height:190px;margin-top: 35px;}

.tableDiv{ float:left; display:inline; font-size: 13px; margin: 20px 0px 20px 0px;}

.causeDiv{float:left; display:inline; background:#eeeeee; border:1px solid #666666; padding:8px; width:165px; height:110px;}

.arrowDiv{float:left; display:inline; background:#eeeeee; border-top:1px solid #666666; border-bottom:1px solid #666666; padding:8px; width:165px;height:110px;text-align: center;}

.effectDiv{float:left; display:inline; background:#eeeeee; border:1px solid #666666; padding:8px; width:165px; height:110px;}

.arrowImg{ display:block; margin:31px auto 0 auto;}

.multi-choice input[type=checkbox], .multi-choice input[type=radio] {
position: relative;
top: 0;
left: -25px;
}