﻿.ui_interactive hr{display:none;}
.topZero{top: 10px !important;float: left;margin-left: 10px;margin-right: 10px;}
.topZero2{color: #984842;margin-left: 55px !important;height: 45px;}
.ui_interactive .ui_edge_buttons{margin-top: 55px !important;margin-right: 45px !important;}
.ui_interactive .ui_reset{display: none;}
.questionText{font-weight: bold;text-align: center;}
.ui_interactive .selectable {width: 87% !important;}
.ui_interactive .selectable li {height: auto;cursor: pointer;}
.ui_interactive .copyright{margin-top: -36px;position: absolute;text-align: center;width: 590px;color: #ffffff;}
.trim{width: 515px;height: 150px;margin-top: 12px;}
.ui_interactive .ui-dialog {top: 50px !important;}
.redContent{color: #984842;font-family: Arial;font-size: 13px;font-style: italic;margin-left: 10px;width: 620px;line-height: 18px;}
.DropsC{width: 372px !important;float:left;margin: 32px 0px 0px;}
.DragC{width: 138px;float:left;margin-top: 32px;}
.DragC>.draggable{width: 200px;height: 35px;border: 1px solid #999999;cursor: pointer;opacity: 1 !important;padding: 0px;text-align: center;background-color: #FFF;
margin-bottom: 1px !important;margin-top: 1px !important;margin-left: 14px !important;}
.droppables{width: 153px;min-height: 40px;margin: 4px;padding: 0px;float: right;background-color: #4f81bd;color: White;text-align: center;margin-left: -10px;line-height: 37px;}
.drop_txt{width: 189px;float: left;border: medium none;font-size: 12px;padding-bottom: 6px;margin: 5px 4px 4px;min-height: 24px;line-height: 1.14;font-weight: bold;}
.drop_txts{width: 240px;min-height: 40px;margin: 5px;padding: 0px;float: left;background-color: #4f81bd;color: White;text-align: center;margin-left: -1px;margin-top: 4px;line-height: 37px;}
.ui_interactive .bin{background-color:#cdd5e5;padding: 1px !important;font-size: 12px;}
.DropsC ul{list-style-type:none;line-height: 26px;margin-left: 12px;margin-top: 1px;}
.ui_interactive .draggable{opacity: 1 !important;cursor:pointer;}
.wid{min-height: 35px;background: none repeat scroll 0% 0% #D1DBEF;width: 170px;float: right;}
.top{position: absolute !important;top: 0px !important;left: 0px !important;}
.dnd {margin-top: 50px;}
.mul {margin-top: 40px;}
.ui_interactive .timeline{width: 5%;float: left;}
.ui_interactive p, .activeInteractive p {padding-right: 0px !important;}
.ui_interactive .bin ul {margin: 0px !important;text-align: center;padding-left: 0px;height: 33px;}
.ui_interactive .bin ul li {line-height: normal;width: 165px;height: 31px;padding-top: 0px;color: #333;vertical-align: middle;display: inline-block;background-color: #E9EDF4;border: 1px solid #999;}    
.ui_reset{display: none !important;}
.ui_interactive .draggable p{font-size: 12px;line-height: 13px;}
.ui_interactive .droppable{margin: 1px;box-shadow: none !important;opacity: 1 !important;}
.single{padding-top: 8px;}
.double{padding-top: 4px;}
.ui_interactive .ui-slideshow-item {margin-top: -21px;}
.ui_interactive .draggable p {margin-bottom: 0;margin-top: 0px;}
.ui_interactive .ui-state-highlight{background: #D1DBEF !important;border: #D1DBEF !important;}
.ui_interactive .ui-slideshow-item {overflow: inherit !important;}
.ui_interactive .ui-draggable-dragging{z-index:1222 !important;}