﻿.topZero
{
    top: 0px !important;
    position: relative !important;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}
.topZero2
{
    color: #984842;
}
.img_centr
{
    height: 570px;
    line-height: 230px;
    text-align: center;
}
.ii
{
    font-style: italic;
}
.ui_custom_dialog_trigger
{
    cursor: pointer;
}
.ui-dialog-buttonset
{
    display: none;
}
.img
{
    position: absolute;
    top: 26px;
    left: -1px;
}
.ui-dialog
{
    width: 660px;
    height: auto !important;
    top: 72px !important;
    left: 17px !important;
}
.titleTag
{
    margin-left: -11px;
}
.image-container span.copyright
{
    font-size: 13px !important;
    display: block;
    margin-top: 7px !important;
}
.txt_right
{
    color: #000;
    margin-left: 320px;
    margin-top: 23px;
    position: absolute;
    width: 310px;
}
.txt_right1
{
    width: 310px;
    margin-left: 320px;
    margin-top: 23px;
    color: #000;
}
.txt_right2
{
    width: 371px;
    margin-left: 187px;
    margin-top: 22px;
    color: #000;
}
.txt_bottom
{
    margin-top: 22px;
    width: 574px;
    margin-left: -8px;
    color: #000;
}
.txt_bottom1
{
    margin-top: 10px;
    width: 571px;
    margin-left: -10px;
    color: #000;
}
.txt_bottom2
{
    margin-top: 10px;
    width: 571px;
    margin-left: -10px;
    color: #000;
}
.img_copyright
{
    margin-left: 93px;
    margin-top: 137px;
}

#popUp1
{
    height: 320px !important;
}
#popUp2
{
    height: 320px !important;
}
#popUp3
{
    height: 360px !important;
}
#popUp4
{
    height: 500px !important;
}
#popUp5
{
    height: 420px !important;
}
#popUp6
{
    height: 420px !important;
}
#popUp7
{
    height: 470px !important;
}


/*flvs*/
.clearfix
{
    clear: both;
}

.txt_black
{
    color: #000;
}

.left
{
    margin-bottom: 0;
}

.audioTip
{
    visibility: visible;
}

#tooltip_A2 .tooltip-inner
{
    max-width: 300px;
}

#popUp4 {
  height: 400px !important;
}