﻿.ui_interactive hr{display:none;}
.topZero{top: 0px !important;position: relative !important;float: left;margin-left: 10px;margin-right: 10px;}
.topZero2{color: #984842;}
.ui_interactive .ui_edge_buttons{margin-top: 10px !important;margin-right: 54px !important;}
.questionText{font-weight: bold;text-align: center;width: 555px;}
.selectable {width: 87% !important;}
.selectable li {height: auto;cursor: pointer;}
.ui_interactive .copyright{margin-top: 66px;position: absolute;text-align: center;width: 588px;}
.content ul, .content ol {padding-left: 22px !important;}
.assignment{margin-top: -25px;margin-left: -21px;}
.trim{height: 430px;}