﻿.topZero{top: 0px !important;position: relative !important;float: left;margin-left: 10px;margin-right: 10px;}
.topZero2{color: #984842;}
.DropsC{width: 605px !important;float:left;margin:0px 0px 0px 0px;}
.DragC{width: 600px;float:left;margin-top: 20px;margin-left: -6px;}
.DragC>.draggable{width: 180px;height: 20px;text-align: center;padding: 5px;cursor: pointer;opacity: 1 !important;}
.droppables{width: 218px;min-height: 40px;margin: 4px 5px 4px -10px;padding: 0px;float: left;background-color: #4f81bd;color: White;text-align: center;line-height: 37px;}
.drop_txt{width: 372px;min-height: 41px;float: left;margin: -1px 5px 5px -1px;border: medium none;font-size: 12px;line-height: 1.4em;padding: 13px 4px 0px 9px;background-color: #D0D8E8;}
.drop_txts{width: 385px;min-height: 40px;margin: 5px;padding: 0px;float: left;background-color: #4f81bd;color: White;text-align: center;margin-left: -1px;margin-top: 4px;
line-height: 37px;}
.bin{background-color:#cdd5e5;}
.DropsC ul{list-style-type: none;line-height: 26px;margin-top: 10px;text-align: center;padding: 0px !important;}
.draggable{opacity: 1 !important;cursor:pointer;}
.wid{min-height: 49px;background: #D1DBEF;width: 215px;margin-left: -9px;margin-top: 0px;}
.top{position: absolute !important;top: 0px !important;left: 0px !important;}
.assignment{margin-bottom: 0px;height: 50px;}
.ui_assessment hr{display: none;}
.ui_reset{margin-right: 30px !important;}
.ui_interactive .draggable p {padding-right: 0px !important;}
.ui-dialog {top: 200px !important;}
.ui-state-highlight{background: #D1DBEF !important;border: 1px solid #CCC !important;}
   