﻿.ui_interactive hr{display:none;}
.topZero{top:0px !important;}
.topZero2{margin-top:-13px !important;color: #881401;}
.ui_interactive .ui_edge_buttons{margin-top: 55px !important;margin-right: 45px !important;}
.questionText{font-weight: bold;text-align: center;}
.ui_interactive .selectable {width: 87% !important;}
.ui_interactive .selectable li {height: auto;cursor: pointer;}
.ui_interactive .copyright{margin-top: -36px;position: absolute;text-align: center;width: 590px;color: #ffffff;}
.trim{width:550px;height: 95px;margin-top: 60px;}