﻿.topZero {
	top: -9px !important;
	position: relative !important;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.topZero2 {
	color: #984842;
}
.first_row {
	padding-left: 3px;
	float: left;
	text-align: center;
	line-height: 2.4em;
	font-size: 12px;
	margin-top: -10px;
	margin-bottom: 21px;
}
.second_row {
	padding-left: 3px;
	float: left;
	text-align: center;
	line-height: 2.4em;
	font-size: 12px;
	margin-bottom: 21px
}
.third_row {
	padding-left: 3px;
	float: left;
	text-align: center;
	line-height: 2.4em;
	font-size: 12px;
}
.ui_custom_dialog_trigger {
	cursor: pointer;
}
.ui-dialog-buttonset {
	display: none;
}
.ui-dialog {
	width: 654px;
	top: 197px !important;
	left: 1px !important;
	height: 350px !important;
}
.sub_txt {
	position: absolute;
	margin-top: -218px;
	margin-left: 254px;
	width: 367px;
	height: 206px;
}
.sub_txt1 {
	font-size: 13px;
	position: absolute;
	margin-top: -220px;
	margin-left: 254px;
	width: 367px;
	height: 201px;
}
.pop_img {
	margin-top: 34px;
	margin-left: 16px;
}

#img_1, #img_2, #img_3, #img_4, #img_5, #img_6, #img_7, #img_8, #img_9 {
	background-image: url(../images/spacer.png);
	background-repeat:repeat;
}

#img_1 {
	position: absolute;
	height: 233px;
	width: 203px;
	left: 16px;
	margin-top: -9px;
}
#img_2 {
	position: absolute;
	height: 233px;
	width: 203px;
	left: 229px;
	margin-top: -7px;
}
#img_3 {
	position: absolute;
	height: 233px;
	width: 203px;
	left: 442px;
	margin-top: -8px;
}
#img_4 {
	position: absolute;
	height: 233px;
	width: 203px;
	left: 15px;
	margin-top: 276px;
}
#img_5 {
	position: absolute;
	height: 233px;
	width: 203px;
	left: 229px;
	margin-top: 276px;
}
#img_6 {
	position: absolute;
	height: 233px;
	width: 203px;
	left: 442px;
	margin-top: 276px;
}
#img_7 {
	position: absolute;
	height: 233px;
	width: 203px;
	left: 15px;
	margin-top: 559px;
}
#img_8 {
	position: absolute;
	height: 233px;
	width: 203px;
	left: 231px;
	margin-top: 559px;
}
#img_9 {
	position: absolute;
	height: 233px;
	width: 203px;
	left: 442px;
	margin-top: 559px;
}
.sub_txt_head {
	position: absolute;
	font-weight: bold;
	font-size: 15px;
	color: #000000;
	margin-bottom: 17px;
}
.ui_interactive .copyright {
	margin-top: 3px;
}
