﻿
.JournalText #mep_0
{
  width: 24px;
  height: 18px;
}

.journalButton {
  position: relative;
  background: #FFFFFF;
  float: left;
  width: 617px;
  height: 90px !important;
  margin: 0 0 0 5px;
  text-align: left;
  padding: 10px;
}

.height70 {
  height: 110px;
}