﻿.topZero{top: 0px !important;position: relative !important;float: left;margin-left: 10px;margin-right: 10px;}

.topZero2{color: #984842;}

.DropsC{width: 340px !important;float: left;position: absolute;margin-left: 7px;margin-top: 7px;}

.DragC{width: 300px;float: right;margin-right: 22px;margin-top: 9px;}

.DragC>.draggable{padding: 0px;cursor: pointer;opacity: 1 !important;z-index: 12;margin: 2px;position: absolute;}

.droppables{width: 170px;min-height: 40px;margin: 4px 15px 2px -15px;padding: 0px;float: left;background-color: #025286;color: #FFF;text-align: center;line-height: 37px;font-weight: bold;}

.drop_txt{width: 372px;min-height: 41px;float: left;margin: -1px 5px 5px -1px;border: medium none;font-size: 12px;line-height: 1.4em;padding: 13px 4px 0px 9px;background-color: #D0D8E8;}

.drop_txts{width: 385px;min-height: 40px;margin: 5px;padding: 0px;float: left;background-color: #4f81bd;color: White;text-align: center;margin-left: -1px;margin-top: 4px;

line-height: 37px;}

.bin{background-color: transparent;padding: 0px !important;position: absolute;z-index: 83;margin-left: 5px;margin-top: 1px;}

.DropsC ul{list-style-type: none;line-height: 26px;margin-top: 5px;padding: 0px !important;margin: 0px;}

.draggable{opacity: 1 !important;cursor:pointer;}

.wid{min-height: 400px;width: 165px;margin-left: -15px;margin-top: 46px;background: none repeat scroll 0% 0% transparent;border: 2px solid #9CBCD1 !important;box-shadow: none !important;position: absolute;background-color: #D7EEFE;}

.top{position: absolute !important;top: 0px !important;left: 0px !important;}

.assignment{margin-bottom: 0px;height: 50px;margin-top: -23px;margin-left: -21px;}

.ui_assessment hr{display: none;}

.ui_interactive .draggable p {padding-right: 0px !important;}

.ui-dialog {top: 62px !important;width: 610px;left: 8px !important;height: 380px !important;}

.map{width: 398px;float: left;margin-left: -4px;}

.DropsC ul li {line-height: 16px;font-size: 11.5px;margin: 0px 1px;padding: 4px;color: #000;}

.ui_edge_buttons {margin-right: 34px;}

.DropsC ul p{padding: 0px;font-size: 12px;height: 44px;line-height: 1.3;text-align: center;}

.DragC > .draggable p{line-height: 14px;font-size: 12px;}

.trim {height: 515px;}

.hiddenDiv{position: relative;z-index: 0;height: 100px;background-color: rgb(215, 238, 254);}

.ui-state-highlight{background: transparent !important;}

.marTop{margin-top: 10px !important;margin-left: 0px !important;}

.copyrightact {margin-top: -41px;margin-left: 285px;color: rgb(255, 255, 255);font-size: 12px;text-align: center;position: absolute;}

.ryt {margin-left: 156px;}

.rightTxt {line-height: 18px;color: #3C3C3C;margin-right: 13px;float: right;width: 254px;margin-top: 22px;font-size: 12px;}

.leftImg {float: left;margin-top: 22px;font-size: 12px;}

.copyrightactPop {color: rgb(0, 0, 0);font-size: 12px;text-align: center;margin-top: 10px;}

.ui-dialog-buttonset{display: none;}

.imgPos2{top: 19px;

left: 495px;}

.imgPos3{top: 116px;

left: 348px;}

.imgPos4{top: 116px;

left: 495px;}

.imgPos5{top: 213px;

left: 348px;}

.imgPos6{top: 213px;

left: 495px;}

.imgPos7{top: 310px;

left: 348px;}

.ui_reset{display: none;}

img {max-width: none;}



.tab_A1{text-align: center;background: url("../imgs/02_04_05a_page1Img.jpg") no-repeat scroll 50% 100% transparent;margin: 0px auto;height: 400px;z-index: 2;position: absolute;margin: -38px auto 0px;}

.tabs{width: 653px;margin-left: -10px;margin-top: 20px;}

.tabs div.panel{height: 390px !important;}

.tabs a.tab {font-size: 13px;height: 35px;text-align: center;}

.tabWid{width: 60px;}

.tab_A1 span{background-color: #EFEFEF;border: 1px solid #000000;min-height: 20px;padding: 5px;position: absolute;text-align: left;}



.pos1{position: absolute;margin-top: 78px;margin-left: 352px;}

.pos1 span{left: 120px;margin-top: -23px;}



.pos2{position: absolute;margin-top: 254px;margin-left: 522px;}

.pos2 span{left: 35px;margin-top: -28px;}

.window{border: 2px solid red;width: 120px;height: 30px;margin-left: -123px;margin-top: -8px;position: absolute;}



.pos3{margin-top: 321px;position: absolute;margin-left: 100px;}

.pos3 span{left: 240px;margin-top: -28px;width: 170px;}

.ground{border-bottom: 2px solid red;width: 436px;height: 30px;}



.pos4{margin-top: 299px;position: absolute;margin-left: 18px;}

.pos4 span{left: -22px;margin-top: -6px;width: 90px;}

.window1{border: 2px solid #F00;width: 38px;height: 21px;margin-top: -20px;position: absolute;margin-left: 119px;}



.pos5{margin-top: 215px;position: absolute;margin-left: 112px;}

.pos5 span{left: -115px;margin-top: -6px;width: 107px;}



.pos6{margin-top: 197px;position: absolute;margin-left: 143px;}

.pos6 span{left: -110px;margin-top: -6px;width: 107px;}



.pos7{margin-top: 143px;position: absolute;margin-left: 206px;}

.pos7 span{left: -125px;margin-top: -6px;width: 114px;}











.tab_B1{text-align: center;background: url("../imgs/02_04_05a_page2Img.jpg") no-repeat scroll 45% 100% transparent;margin: 0px auto;height: 400px;z-index: 2;position: absolute;margin: -38px auto 0px;}

.tabs
{
width: 657px;
margin-left: 18px;
margin-top: 20px;
}

.tabs div.panel{height: 390px !important;}

.tab2 a.tab {font-size: 13px;height: 50px;text-align: center;}

.tabWid{width: 60px;}

.tab_B1 span{background-color: #EFEFEF;border: 1px solid #000000;min-height: 20px;padding: 5px;position: absolute;text-align: left;}



.pos11{position: absolute;margin-top: 71px;margin-left: 372px;}

.pos11 span{left: 40px;margin-top: -269px;width: 200px;}



.pos12{position: absolute;margin-top: 245px;margin-left: 346px;}

.pos12 span{left: 64px;margin-top: -23px;width: 144px;}



.pos13{position: absolute;margin-top: 247px;margin-left: 364px;}

.pos13 span{left: 63px;margin-top: -21px;width: 137px;}



.pos14{margin-top: 104px;position: absolute;margin-left: 322px;}

.pos14 span{left: 63px;margin-top: -47px;width: 115px;}



.pos15{margin-top: 308px;position: absolute;margin-left: 162px;}

.pos15 span{left: -103px;margin-top: -6px;}



.pos16{margin-top: 320px;position: absolute;margin-left: 161px;}

.pos16 span{left: -142px;margin-top: -6px;}



.pos17{margin-top: 116px;position: absolute;margin-left: 158px;}

.pos17 span{left: -165px;margin-top: 9px;width: 152px;}



.bg_img{margin-left: 45px;margin-top: 13px;}



.bg_img2 {margin-left: 154px;

margin-top: 13px;}



.ques{width: 620px;margin-bottom: 40px;}



.copyrightact2 {color: #000;

font-size: 12px;

text-align: center;

bottom: 0px;}



.ui-draggable-dragging{z-index:1222 !important;}