﻿


.nxt{
	 background:url(../intmedia/next.png) no-repeat;
	 width:37px; 
	 height:24px;
	 border:0px;
	 cursor:pointer;
}
.prev{
	 background:url(../intmedia/previous.png) no-repeat;
	 width:37px; 
	 height:24px;
	 border:0px;
	 filter: alpha(opacity = 30);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	 /*cursor:pointer;*/
}
.fl{float:left;}
.fr{ float:right;} 
.clr{clear:both;}
.btnpos {
	margin:6px 0px 0 0px;
	float:right;
}

.MCHead
{
    height:45px;
    padding:0px 10px 0px 20px;
}

.MCInstruction
{
    font-family:Arial;
    font-size:13px;
    font-style:italic;
    color:#984842;
    margin-left:55px;
	padding-top:0px;
}

.pageNo {
    color: #025286;
    position: absolute;
	 margin: 10px 0 0 38px;
}
.contentTopBg2{
	background:url(../intmedia/content_topbg.png) no-repeat;
	 width:745px; 
	 height:28px;
}
.contentMiddleBg2{
	background:url(../intmedia/content_middlebg.png) repeat-y;
	 width:745px; height:auto; 
}
.contentBottomBg2{
	background:url(../intmedia/content_botbg.png) no-repeat;
	 width:715px; 
	 height:53px;
	 padding:0 30px 0 0px;

}
.rightContent{
	padding:5px;
	margin-left:10px;
	width:347px;
	height:auto;
}
.rightContent p{margin:0px; padding:0px;}

.rightContent h2{
	 color: #003366;
    font-size: 16px;
	padding:0px;
	margin:0px;
}
.caption{font-size:11px; }
.captionWth{width:270px; text-align:center; }
.pdTop10{padding:10px;}

[disabled] {
	opacity:0.4;
}
.hide{display:none;}
.set{padding:0px 33px;}

.navi_txt{ position:absolute; color: #569AC9;  margin: 10px 0 0 355px;}


.slide1Div{border:0px;}

.slide1Div{width:620px; height:210px;}
.leftDiv{width:200px; height:200px; border:1px solid; background:#CCCCCC; float:left; margin-left:100px; padding:3px 0 0 12px;}

.rightDiv{width:200px; height:200px; border:1px solid; background:#CCCCCC; float:left; padding:3px 0 0 12px; border-left:none; 	}

.slide2Div{width:620px; height:210px;}
.leftDiv2{width:130px; height:140px; border:1px solid; background:#CCCCCC; float:left; margin-left:100px; padding:3px 0 0 12px;}

.rightDiv2{width:130px; height:140px; border:1px solid; background:#CCCCCC; float:left; padding:3px 0 0 12px; border-left:none; 	}
.rightDiv2a{width:130px; height:140px; border:1px solid; background:#CCCCCC; float:left; padding:3px 0 0 12px; border-left:none; 	}

.slide3Div{width:620px; height:210px;}
.leftDiv3{width:145px; height:245px; border:1px solid; float:left; margin-left:265px; padding:3px 0 0 12px;}

.rightDiv3{width:145px; height:245px; border:1px solid; float:left; margin-left:265px; padding:3px 0 0 12px;}

.slide4Div{width:720px; height:210px;}
.leftDiv4{width:380px; height:180px; border:1px solid; background:#CCCCCC; float:left; padding:3px 0 0 12px; margin-left:160px;}


.slide4Tab{ border:0px !important; width:330px;}

.slide4Tab td{ border:0px !important; vertical-align:middle;}

.magClassWH {float:right;width:306px;height:300px;}

.cpy_right {
    color: #0A0B0C;
    font-size: 11px;
    margin: 10px 0 0 325px;
	position:absolute;
}

.rightContent_big{width:490px !important;}

.s_heading{  color: #C50219;
    font-size: 15px;
    font-weight: bold;
    height: 35px;
    text-align: center;}

.m8l6_width171{margin-top: -171px;}	

.btnpos input[type=button] {
  width: 38px;
}

.audioTip {
  visibility: visible;
}