﻿.ui_interactive hr {
	display: none;
}
.topZero {
	top: 0px !important;
}
.topZero2 {
	margin-top: -13px !important;
}
.ui_edge_buttons {
	margin-right: 45px !important;
}
.questionText {
	font-weight: bold;
	text-align: center;
}
.selectable {
	width: 87% !important;
}
.selectable li {
	height: auto;
	cursor: pointer;
}
.copyright {
	margin-top: -36px;
	position: absolute;
	text-align: center;
	width: 590px;
	color: #ffffff;
}
.trim {
	width: 550px;
	margin-top: 30px;
}
