﻿.topZero
{
    top: 0px !important;
    position: relative !important;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}
.topzero2
{
    color: #984842;
    height: 73px;
}
.img1
{
    height: 230px;
    width: 370px;
    float: left;
    margin-left: 114px;
}
.left_txt
{
    font-size: 12px;
    font-style: italic;
    line-height: 18px;
    color: #CCF7FF;
    font-weight: bold;
}
.down_txt
{
    float: left;
    margin-top: 33px;
    width: 536px;
    font-size: 12px;
    font-style: italic;
    line-height: 18px;
    color: #003366;
}
.copyright1
{
    text-align: center;
    margin-left: -100px;
}
/*flvs*/
.img1
{
    height: 230px;
    width: auto;
    float: none;
    margin: 0px;
    text-align: center;
}

.copyright1
{
    text-align: center;
    margin-left: 0px;
}
