﻿.ui_interactive hr{display:none;}
.topZero{top: 0px !important;position: relative !important;float: left;margin-left: 10px;margin-right: 10px;}
.topZero2{color: #984842;height: 45px;}
.ui_edge_buttons{margin-top: 55px !important;margin-right: 45px !important;}
.questionText{font-weight: bold;text-align: center;}
.selectable {width: 87% !important;}
.selectable li {height: auto;cursor: pointer;}
.trim{width: 550px;height:190px;}
.ui-dialog {
    top:80px !important;
}