﻿.topZero {
	top: 0px !important;
	position: relative !important;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.topZero2 {
	color: #984842;
}
.top_margin {
	margin-top: -14px;
}
.ui_interactive .ui_custom_dialog_trigger {
	cursor: pointer;
}
.ui_interactive .ui-dialog-buttonset {
	display: none;
}
.ui_interactive .ui-dialog {
	width: 600px;
	top: -1px !important;
	left: 1px !important;
	margin-top: 114px;
}
.img1 {
	margin-left: -9px;
}
.firstRow {
	float: left;
	margin-left: 15px;
}
.SecondRow {
	float: left;
	margin-left: 15px;
	margin-top: 8px;
}
.ThirdRow {
	text-align: center;
	margin-left: 154px;
}
.imgDiv {
	float: left;
	margin: 8px;
}
#img_1, #img_2, #img_3, #img_4, #img_5, #img_6, #img_7, #img_8, #img_9, #img_10 {
	background-image: url(../images/spacer.png);
	background-repeat:repeat;
}

#img_1 {
	position: absolute;
	height: 185px;
	width: 132px;
	top: 11px;
	left: 17px;
}
#img_2 {
	position: absolute;
	height: 185px;
	width: 132px;
	top: 11px;
	left: 163px;
}
#img_3 {
	position: absolute;
	height: 185px;
	width: 132px;
	top: 11px;
	left: 312px;
}
#img_4 {
	position: absolute;
	height: 185px;
	width: 132px;
	top: 11px;
	left: 460px;
}
#img_5 {
	position: absolute;
	height: 185px;
	width: 132px;
	top: 215px;
	left: 16px;
}
#img_6 {
	position: absolute;
	height: 185px;
	width: 132px;
	top: 215px;
	left: 165px;
}
#img_7 {
	position: absolute;
	height: 185px;
	width: 132px;
	top: 215px;
	left: 312px;
}
#img_8 {
	position: absolute;
	height: 185px;
	width: 132px;
	top: 215px;
	left: 460px;
}
#img_9 {
	position: absolute;
	height: 185px;
	width: 132px;
	top: 418px;
	left: 164px;
}
#img_10 {
	position: absolute;
	height: 185px;
	width: 132px;
	top: 418px;
	left: 311px;
}
.sub_txt {
	margin-left: 149px;
	margin-top: 30px;
	width: 401px;
}
.pop_img {
	float: left;
	width: 135px;
	text-align: center;
}
