﻿


.fl{float:left;}
.fr{ float:right;} 
.clr{clear:both;}

.contentTopBg{
	background:url(../imgs/content_topbg.png) no-repeat;
	 width:745px; 
	 height:28px;
	 float:left;
}
.contentMiddleBg{
	background:url(../imgs/content_middlebg.png) repeat-y;
	 width:745px; height:auto;
	 float:left;
}
.contentBottomBg{
	background:url(../imgs/content_botbg1.png) no-repeat;
	 width:745px; 
	 height:28px;
	 float:left;
}

.mouse_icon{ float:left; display:inline;  margin:0px 0 0 24px;}

.instr_txt{ font-size:12px; font-style:italic; color:#881401; float:left; display:inline; width:635px; margin:4px 0 0 10px!important;}

.caption{font-size:11px; }
.captionWth{width:270px; text-align:center; }
.pdTop10{padding-top:10px;}

.hide{display:none;}
.set{padding:0px 25px 0px 25px;}

.map_bg{ background:url(../imgs/wh_02_02d_map.png) no-repeat center; width:745px; height:428px; float:left; margin:5px 0 0 25px;}

.click_map{ position:absolute; width:10px; height:10px; border:0px solid; cursor:pointer;}

.click1{ margin:217px 0 0 225px; top:0px; left:0px;}

.click2{ margin:345px 0 0 338px; top:0px; left:0px; }

.click3{ margin:279px 0 0 365px; top:0px; left:0px; }

.click4{ margin:295px 0 0 270px; top:0px; left:0px; }

.click5{ margin:326px 0 0 335px;top:0px; left:0px; }

.click6{ margin:282px 0 0 286px; top:0px; left:0px; }

.data_bg{ background:#e6e6e6; border:1px solid #586c6b; width:655px; height:360px; position:absolute; z-index:10; margin:100px 0 0 46px; display:none;}

.dat_head{ position:absolute; margin:14px 0 0 25px; font-weight:bold;}

.dat_img{ position:absolute;   margin: 40px 0 0; }

.dat_txt{  font-size: 13px; margin: 35px 0 0 382px;position: absolute; width: 257px;  line-height: 1.4;}

.dat_copy{ position:absolute; margin:290px 0 0 132px; font-size:12px;}

.data_close{ position:absolute; margin:-11px 0 0 637px; cursor:pointer;}

.copys{float:left; width:740px; text-align:center; font-size:11px;}