﻿.ui_interactive .ui-draggable-dragging
{z-index:   2000;}
.topZero{top: 0px !important;position: relative !important;float: left;margin-left: 10px;margin-right: 10px;}
.topZero2{color: #984842;}
.DropsC{width: 663px !important;
float: left;
margin: -5px 0px 0px -1px;}
.DragC{width: 638px;
float: left;
margin-top: 1px;
margin-left: 33px;}
.DragC .draggable{width: 85px;
padding: 4px;
cursor: pointer;
opacity: 1 !important;
text-align: center;
background-color: rgb(247, 215, 164);
border: 1px solid rgb(244, 160, 29);
font-weight: normal;
height: 14px;
margin-left: 16px;
margin-bottom: 13px;
color: #1a1a1a}
.drop_txt{width: 82px;min-height: 92px;float: left;margin-left: -10px;border: medium none;font-size: 14px;line-height: 1.4em;padding: 3px 4px 0px 0px;background-color: #4F81BD;font-weight: bold;color: #FFF;text-align: left;}
.drop_txts{width: 385px;min-height: 40px;margin: 4px 5px 5px -1px;padding: 0px;background-color: #4F81BD;color: #FFF;text-align: center;line-height: 37px;float: left;}
.ui_interactive .bin{background-color: #d0d8e8;}
.DropsC ul{list-style-type: none;line-height: 18px;text-align: center;padding: 0px !important;margin: -3px;}
.ui_interactive .draggable{opacity: 1 !important;cursor:pointer;}
.wid{min-height: 23px;
width: 94px;
float: left;
margin-right: 2px;
margin-left: 411px;
box-shadow: none !important;
position: absolute;
margin-top: -40px;
background: transparent !important;
z-index: 35;
border: transparent !important;
}
.ui_interactive .top{position: absolute !important;top: 0px !important;left: 0px !important;}
.ui_interactive .assignment{margin-bottom: 0px;height: 50px;}
.ui_interactive .ui_assessment hr{display: none;}
.ui_interactive .ui_reset{margin-top: 311px;
margin-right: 60px;}
.ui_interactive .draggable p {padding-right: 0px !important;line-height: 15px;font-size: 13px;}
.ui_interactive .ui-dialog {top: 97px !important;
left: 185px !important;
}
.disableDiv {background-color: #d0d8e8;}
.topwid{width: 86px;}
.ui_interactive .heading{width: 155px;float: left;margin: 2px;text-align: center;font-weight: bold;}
.ui_interactive .ui-state-highlight{background: #D0D7E7 !important;}
.txt{font-size: 12px;margin-bottom: 5px !important;}
.ui_interactive .ui-slideshow-item {
overflow: inherit !important;
margin-left: 3px;padding-left: 30px;
}
.ui_interactive .Image
{
width: 670px;
margin-left: -5px;
}
.leftmar {
margin-left: -10px !important;
}
.ui_interactive .bin {
background-color: transparent;
padding: 2px;
  margin-top: 15px;
}
.ui_interactive .bin ul li{width: 88px;text-align: center;margin-bottom: 0px;
padding: 3px;opacity: 1 !important;border: 1px solid rgb(244, 160, 29);
font-weight: normal;background: none repeat scroll 0% 0% rgb(247, 215, 164);
font-size: 13px;line-height: 18px;color: #1a1a1a;}
.wid1 {
margin-left: 308px;
margin-top: -41px;
}
.wid2 {
margin-left: 568px;
margin-top: -192px;
}
.wid3 {
margin-left: 568px;
margin-top: -227px;
}
.wid4 {
margin-left: 568px;
margin-top: -292px;
}
.wid5 {
margin-left: 292px;
margin-top: -342px;
}
.wid6 {
margin-left: -1px;
margin-top: -253px;
}
.wid7 {
margin-left: -1px;
margin-top: -211px;
}
.wid8{
margin-left: -1px;
margin-top: -178px;
}
.wid9 {
margin-left: 0px;
margin-top: -144px;
}