﻿.topZero
{
top:0px !important;
}
.topContent
{
color:#984842;
}

.redcolor
{
    color: #881401;
 }
 
 .map
 {
    text-align: center;
    margin-top: 5px;
 }
   
  .copyrights
{
 position: absolute;
margin-top: 5px;
font-size: 15px;
margin-left: 278px;
}



.num {
width: 24px;
height: 24px;
text-align: center;
color: #3b3b3b;
border: 1px solid #000;
position: absolute;
cursor: pointer;
}


#num1 
{
      background: #FF0000;
    margin-left: 14px;
    margin-top: 11px;
}
#num2 
{
       background: #00B0F0;
    margin-left: 14px;
    margin-top: 48px;
}


#num3 
{
        background: #92D050;
    margin-left: 14px;
    margin-top: 86px;
}



#num4 
{
      margin-left: 14px;
    margin-top: 122px;
    background: #FFFF00;
}

#num5{
    width: 54px;
    height: 24px;
    background: #CCCCCC;
    text-align: center;
    line-height: 24px;
    color: #3b3b3b;
    border: 1px solid #000;
    position: absolute;
    cursor: pointer;
    padding: 2px;
    margin: 155px 0 0 55px;
}

.resetmap{
    width: 54px;
    height: 24px;
    background: #CCCCCC;
    text-align: center;
    line-height: 24px;
    color: #3b3b3b;
    border: 1px solid #000;
    position: absolute;
    cursor: pointer;
    padding: 2px;
    margin: 155px 0 0 55px;
}






.copywright
{
padding-left: 44%;
position: absolute;
bottom: 0px;
}





.table_box
{
   top: 124px;
left: 436px;
width: 167px;
height: 196px;
border: 1px solid;
position: absolute;
background: #EDEDDC;
 }
 
 .box1
 {
     float: left;
  }
  .txt1
  {
   margin-left: 54px;
top: 14px;
position: absolute;   
   }
   
   .txt2
  {
 left: 54px;
top: 52px;
position: absolute;   
   }
   
   
   .txt3
  {
  left: 54px;
top: 92px;

position: absolute;   
   }
   
   .txt4
  {
   left: 54px;
top: 123px;
position: absolute; 
   }
   
   
   
.sub_title
{   height: 0px;
    margin-top: -20px;
text-align: center;
font-size: 14px;
font-weight: bold;
    
 }
 .head
 {
     text-align:center;
    color: #003366;
font-size: 16px;
font-weight:bold;
   }
   
blockquote { width: 450px; }