﻿body {
}

.MultiChoice
{
    display:block;
    width:740px; 
    height:auto;
}

.MultiChoice .InterBody
{
    font-family:Arial;
    font-size:12px;
    color:#000000;
    width:720px; 
    height:auto;
    position:relative;
    line-height:14px;
}

.fl
{
    float:left;
}

.fr
{
    float:right;
}

.clr
{
    clear:both;
}

.mgTop10
{
    margin-top:15px;
}

.mgTop8
{
    margin-top:6px;
}

.MCSet
{
    display:none;
}

.MCHead
{
    float:left;
    padding:0 10px 10px 25px;
}

.MCInstruction
{
    font-family:Arial;
    font-size:13px;
    font-style:italic;
    color:#984842;
    margin:7px 0 0 10px;
	float:left;
	width:610px;
}

.MCBody
{
   float:left;
    padding:0px 10px;
}

.MCFoot
{
     order-top:dashed 1px #025286;
    height:40px;
     ackground-color:#bce4fe;
}

.MCOption
{
	float: left;
    margin: 5px 0 30px 0px;
	width:200px;
}

.MCButton
{
    margin:8px 0px 8px 8px;
    cursor:pointer;
}

.MCSubmit
{
    background:url(../imgs/submit_btn.png) no-repeat;
    height:24px;
    width:116px;
}

.MCPager
{
    height: 15px;
    margin: 9px 0 0 24px;
    text-align: center;
    width: 46px;
}


.MCButtonRight
{
    width:37px;
    margin: 8px 30px 0 8px;
}
.MCButtonRight1
{
    width:37px;
    margin: 8px 3px 0 8px;
}
.MCForward
{
    background:url(../imgs/forward_btn.png) no-repeat;
    height:24px;
    width:37px;
    cursor:pointer;
    display:none;
}

.MCRestart
{
    background:url(../imgs/restart_btn.png) no-repeat;
    height:24px;
    width:116px;
    display:none;
}

.MCTryAgain
{
    background:url(../imgs/tryagain_btn.png) no-repeat;
    height:24px;
    width:116px;
    margin-right:35px;
    cursor:pointer;
}

input{cursor:pointer;}



.MCFeedback
{
    background-color: #F8F1EB;
    border: 1px solid #685128;
    height: 85px;
    position: absolute;
    right:0px;
    top: 166px;
    width: 200px;
    z-index:2;
    display:none;
}

.MCFeedtxt
{
   float: left;
   padding: 20px 0;
   text-align: center;
   width: 200px;
}

.MCFeedtxt span
{
    display:none;
}

.MCFeedImg
{
    height:15px;
    width:16px; 
}

.MCCorrect
{
    background:url(../imgs/correct.png) no-repeat;
}

.MCinCorrect
{
    background:url(../imgs/incorrect.png) no-repeat 0 4px;
}

.MCOverlay
{
    background-color:#ffffff;
    opacity:0;
    filter: alpha(opacity=0);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    z-index:1;
    position:absolute;
    top:0px;
    left:0px;
    width:720px;
    height:220px;
    display:none;
}

.MCDisable
{
     opacity:0.2;
    filter: alpha(opacity=20);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    cursor:default;
}

.MCOpTxt
{
    margin:3px 0 0 5px;
    display:block;
}

.contentTopBg1{
	float:left;
    background: url("../imgs/content_topbg.png") no-repeat scroll 0 0 transparent;
    height: 28px;
    width: 745px;
}

.contentMiddleBg1{
	float:left;
    background: url("../imgs/content_middlebg.png") repeat-y scroll 0 0 transparent;
	height: 285px;
    width: 745px;
}

.contentBottomBg1a{
    background: url("../imgs/content_botbg.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 54px;
    width: 745px;
}

.mc_con{ margin-left:25px; clear:left;}

.ques{ float:left; margin-top:10px;}

.MCC{ float: left;
    margin-top: 15px; width:200px; text-align:center;}
	
.text_div{ float:left; display:inline; width:370px;}	

.img_div{ float:left; display:inline; margin-top:10px; width:300px; padding-bottom:20px;}

.smalWidth{ width:315px;}

.copyrt{ font-size:11px; text-align:center; float:left; width:300px;}

.intr_cpyrt{ float: left;
    font-size: 12px;
    margin: 8px 0 0 245px;}
	
	
.MCReverse
{
    background:url(../imgs/reverse_btn.png) no-repeat;
    height:24px;
    width:37px;
    cursor:pointer;
    display:none;
}
