﻿.topZero {
	top: 0px !important;
	position: relative !important;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.topZero2 {
	color: #984842;
	height: 45px;
}
.DropsC {
	width: 636px !important;
	float: left;
	margin-left: -20px;
}
.DragC {
	width: 570px;
	float: left;
	margin-left: 28px;
	height: 51px;
	margin-top: 10px;
}
.DragC>.draggable {
	height: 13px;
	width: 120px;
	padding: 5px;
	cursor: pointer;
	opacity: 1 !important;
	z-index: 1222;
	margin: 1px;
	border: 1px solid #BDBDBF;
	background-color: #d7eefe;
	margin-bottom: 4px;
	text-align: center;
}
.droppables {
	width: 135px;
	min-height: 28px;
	margin: 3px 6px 2px -4px;
	padding: 0px;
	float: left;
	background-color: #4F81BD;
	color: #FFF;
	line-height: 28px;
	text-align: center;
	font-weight: bold;
}
.definition {
	width: 499px !important;
}
.bin {
	background-color: transparent;
	padding: 0px !important;
	position: absolute;
	z-index: 83;
}
.DropsC ul {
	list-style-type: none;
	line-height: 26px;
	margin-top: 5px;
	padding: 0px !important;
	margin: 0px;
}
.ui_interactive .draggable {
	opacity: 1 !important;
	cursor: pointer;
}
.wid {
	min-height: 16px;
	width: 135px;
	margin-left: -4px;
	margin-top: 0px;
	background: none repeat scroll 0% 0% transparent;
	border: medium none !important;
	box-shadow: none !important;
	margin-right: 6px;
}
.top {
	position: absolute !important;
	top: 0px !important;
	left: 0px !important;
}
.ui_interactive hr {
	display: none;
}
.drag1 .draggable p {
	padding-right: 0px !important;
	line-height: 14px;
}
.ui_interactive .ui-dialog {
	top: 150px !important
}
.DropsC ul li {
	font-size: 13px;
	background: rgb(153, 255, 204);
	line-height: 10px;
	width: 116px;
	margin: 2px 1px 2px 5px;
	border: 1px solid #cfcfcf;
	padding: 7px 4px 4px;
	color: #000;
	height: 13px;
}
.ui_interactive .ui-slideshow-item {
	overflow: inherit !important;
}
/*
.ui_interactive .ui_reset {display: none;}
*/
.DropsC ul p {
	padding: 0px;
	font-size: 12px;
	height: 44px;
	line-height: 1.3;
	text-align: center;
}
.DragC > .draggable p {
	line-height: 14px;
	font-size: 12px;
	padding-right: 0px !important;
}
.trim {
	margin-left: 15px;
}
.ui_interactive .ui-state-highlight {
	background: transparent !important;
}
.hiddenDiv {
	height: 28px;
	position: relative;
	z-index: 0;
	border: 1px solid #CCC;
	margin-bottom: -3px;
	background-color: #D0D7E7;
}
.hiddenDiv2 {
	height: 42px;
	position: relative;
	z-index: 0;
	border: 1px solid #CCC;
	margin-bottom: -3px;
	background-color: #D0D7E7;
}
.hiddenslide_2 {
	margin-bottom: -4px !important;
	height: 57px !important;
}
.hiddenslide_2a {
	height: 42px !important;
}
.hiddenslide_3a {
	height: 58px !important;
}
.ui_interactive body {
	cursor: default !important;
}
.body_height {
	height: 42px !important;
}
.right_txt {
	font-size: 13px;
	width: 486px;
	height: 28px;
	float: left;
	padding: 0px 5px;
	background-color: #D0D7E7;
	margin-left: -4px;
	border: 1px solid #CCC;
	margin-bottom: 2px;
}
.right_txt1 {
	height: 42px !important;
}
.right_txt2 {
	height: 58px !important;
}
.content2 {
	float: left;
	width: 497px;
}
.content1 {
	float: left;
	margin-left: 1px;
	width: 137px;
}
.nextCover {
	position: absolute;
	top: 821px;
	right: 18px;
	background: rgba(118, 88, 121, 0.64);
	height: 35px;
	width: 87px;
}
.divclass {
	background: transparent;
	height: 304px;
	width: 670px;
	position: absolute;
	top: 330px;
	z-index: 1225;
}
.slide2_bin ul li {
	height: 26px !important;
	margin-left: 4px;
	width: 119px;
	line-height: 13px !important;
}
.ui_interactive .ui-draggable-dragging {
	z-index: 2000;
}