﻿.topZero{top: 0px !important;position: relative !important;float: left;margin-left: 10px;margin-right: 10px;}
.topZero2{color: #984842;height: 45px;}
.c_icon
{
margin-left: 109px;
margin-top: -14px;
}
.u_img
{
background: url("../images/08_10_04a_img_bg.png") no-repeat;        
margin-left: -18px;
height: 514px;
margin-top: 4px;        
}
.main1
{
margin-top: 35px;
position: absolute;
padding-left: 20%;
font-weight: bold;
}
.text_left
{
position: absolute;
margin-left: 44px;
width: 283px;
margin-top: 63px;
font-style: italic;
font-size: 13px;    
}
.right_img
{
margin-left: 374px;
margin-top: 50px;
position: absolute;      
}
.width_img
{
margin-left: 344px;
margin-top : 49px;
position: absolute;            
}
.botn_txt
{
position: absolute;
margin-left: 41px;
width: 566px;
margin-top: 299px;
font-style: italic;
font-size: 13px;                
}
.extrawid{width: 300px;}