﻿body
{
}

.MultiChoice
{
    display: block;
    width: 745px;
    height: 306px;
}

.MultiChoice .InterBody
{
    font-family: Arial;
    font-size: 12px;
    color: #000000;
    width: 745px;
    height: auto;
    position: relative;
    line-height: 14px;
}
.fl
{
    float: left;
}

.fr
{
    float: right;
}

.clr
{
    clear: both;
}

.MCHead
{
    height: 25px;
    padding: 0px 10px 20px 20px;
}

.MCInstruction
{
    font-family: Arial;
    font-size: 13px;
    font-style: italic;
    color: #984842;
    margin-left: 55px;
    padding-top: 7px;
}

.MCBody
{
    height: 235px;
    padding: 0px 10px;
}

.RevealCopyRight
{
    width: 85px;
    margin: 10px 0 0 330px;
}

.RevealCopyRight .rtxt
{
    font-family: Arial;
    font-size: 11px;
    color: #000000;
    line-height: 17px;
}

.imgCont
{
    width: 700px;
    height: 100px;
    margin-left: 15px;
}
.scroller_bg
{
    background: url(../intmedia/bg.png) no-repeat;
    width: 546px;
    height: 61px;
    margin: 0 0 0 90px;
}

.scroll_img img
{
    display: block;
    margin: 0 auto;
}
.scrollimg_txt
{
    float: left;
    width: 325px;
    padding: 20px 0;
}

.slide_head
{
    font-weight: bold;
    padding-bottom: 10px;
    margin-top: 10px;
}

.font15
{
    font-size: 15px;
}
.slidebar
{
    background: url(../intmedia/timeline.png) no-repeat;
    position: absolute;
    height: 48px;
    margin: 6px 0 0 12px;
    width: 499px;
    z-index: 10;
}
#slidingButton
{
    background: url(../intmedia/timeline_arrow.png) no-repeat;
    position: absolute;
    height: 11px;
    top: 178px;
    left: 136px;
    width: 13px;
    cursor: pointer;
    z-index: 11;
}
.timeline
{
    width: 675px;
    height: 30px;
    margin: 0 0 0 12px;
}
.timeline div
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    float: left;
    width: 100px;
    padding: 10px 0 0 28px;
    text-align: center;
}

.contentTopBg
{
    float: left;
    background: url("../intmedia/content_topbg.png") no-repeat scroll 0 0 transparent;
    height: 28px;
    width: 745px;
}

.contentMiddleBg
{
    float: left;
    background: url("../intmedia/content_middlebg.png") repeat-y scroll 0 0 transparent;
    height: 250px;
    width: 745px;
}

.contentBottomBg1a
{
    background: url("../intmedia/content_botbg1.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 28px;
    width: 725px;
    padding: 0 20px 0 0;
}

.scroll_cpy
{
    text-align: center;
    width: 100%;
    font-size: 12px;
    margin-top: 5px;
    text-align: center;
}

.slide
{
    display: none;
}

.slide_left
{
    float: left;
    display: inline;
    width: 335px;
}

.slide_right
{
    float: left;
    display: inline;
    width: 320px;
    margin-left: 40px;
}
/*flvs*/
.slide_head
{
    margin-top: 10px !important;
}
