﻿.ui_interactive .mejs-audio .mejs-controls .mejs-time-rail, .ui_interactive .mejs-audio .mejs-controls .mejs-time-rail .mejs-time-total {
	width: 130px !important;
}
/*
.ui-navigation-header .mejs-container .mejs-controls {
	position: absolute;
	list-style-type: none;
	margin: 0;
	padding: 0;
	bottom: 0;
	left: 0;
	height: 30px;
	width: 159%;
}
*/
.mejs-container .mejs-controls {
/*	bottom: 8px; */
	width: 301px !important;
	/*margin-left: -12px;*/
}
.tooltip-inner .mejs-container .mejs-controls {
	width:20px !important;
}
.ui-navigation-tracker {
  right: 210px;
}
.heading {
	color: #881401;
	width: 689px;
	margin-left: 9px;
}
.left1 {
	margin-left: -13px;
	margin-top: -12px;
}
.rights {
	font-size: 13px;
	margin-left: 95px;
	line-height: 17px;
	margin-top: 2px;
}
.right1 {
	margin-top: -216px;
	margin-left: 305px;
	width: 328px;
}
.right_tilte {
	font-weight: 700;
}
.bottom_content1 {
	width: 635px;
	padding: 10px;
	margin-top: 42px;
	margin-left: -17px;
	margin-right: 18px;
}
.bottom_content2 {
	width: 635px;
	padding: 10px;
	margin-top: 71px;
	margin-left: -19px;
	margin-right: 18px;
}
.right1_4 {
	margin-left: 309px;
	margin-top: -158px;
	width: 342px;
}
.bottom_content_4 {
	width: 648px;
	padding: 10px;
	margin-top: 9px;
	margin-left: -17px;
	margin-right: 18px;
}
.rights5 {
	margin-top: -4px;
	margin-left: 49px;
}
.right1_5 {
	margin-left: 193px;
	margin-top: -345px;
	width: 460px;
}
.right1_3 {
	margin-top: -185px;
	margin-left: 305px;
	width: 350px;
}
.copyrights {
	position: absolute;
	margin-left: 332px;
	margin-top: -55px;
}
.playerOver {
	height: 510px;
	width: 701px;
	position: absolute;
	top: 0px;
	padding: 29% 0% 0% 44%;
	background: rgba(235, 235, 235, 0.83);
	z-index: 12;
}
.playerText {
	margin-left: -22px;
	margin-top: 5px;
	position: absolute;
	font-style: italic;
}
.playerOver img {
	cursor: pointer;
}

.audioTip {
  visibility: visible;
}