﻿body {
}

.MultiChoice
{
    display:block;
    width:745px; 
}

.MultiChoice .InterBody
{
    font-family:Arial;
    font-size:12px;
    color:#000000;
    width:736px; 
    height:603px;
    position:relative;
    background-color:#eff8ff;
    line-height:14px;
}
.contentMiddleBg{	background:url(../imgs/content_middlebg.png) repeat-y;height:579px;	 width:745px; }

.contentTopBg{	background:url(../imgs/content_topbg.png) no-repeat;	 width:745px; 	 height:28px; }

.contentBottomBg{	background:url(../imgs/content_botbg.png) no-repeat;	 width:745px; 	 height:53px; float:left}

.mouse_icon{ float:left; display:inline; margin:0px 0 0 20px;}

.instr_txt{ font-size:12px; font-style:italic; color:#881401; float:left; display:inline; width:635px; margin:7px 0 0 10px!important;}

.cpy_right{ float:left; display:inline; font-size:11px; color:#0A0B0C; margin:11px 0 0 355px;}

#submit{ background:url(../imgs/submit_btn.png) no-repeat; height:24px; width:116px; margin:6px 24px 0 0; opacity:0.6; float:right; 	filter: alpha(opacity = 60);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}

#restart{ background:url(../imgs/restart_btn.png) no-repeat; height:24px; width:116px; margin:6px 24px 0 0; float:right; display:none; cursor:pointer;}

.drag_ul{ padding:0px; margin:20px 0 0 22px!important; float:left; display:inline;}

.drag_ul div{ width:177px;  height:28px; float:left;  margin:2px 1px 2px 0;}

.dragItem{ list-style:none; width:155px; background:#d7eefe; border:1px solid #aabcc8; line-height:17px; color:#000; font-size:12px; float:left; cursor:pointer; margin:0px!important; padding-left:10px;}

.select_bg{ float:left; height:392px;  margin:10px 0 0 16px;  width: 713px; background:url(../imgs/02_06ba.png) no-repeat; position:relative;}


.drop_ul{ height:auto; margin:0px;  width: 713px; list-style:none; padding:0px 0 0 0; position:absolute; left:0px; top:20px;}
.dropItem{position:absolute; width:179px; height:20px; border:0px solid;}

.dropItem .dragItem{ margin-left:6px!important;}

.drop1{ margin:241px 0 0 142px;}
.drop2{ margin:264px 0 0 142px;}
.drop3{ margin:287px 0 0 142px;}
.drop4{ margin:309px 0 0 142px;}
.drop5{ margin:174px 0 0 335px;}
.drop6{ margin:195px 0 0 335px;}
.drop7{ margin:218px 0 0 335px;}
.drop8{ margin:241px 0 0 335px;}

.drop9{ margin:111px 0 0 531px;}
.drop10{ margin:134px 0 0 531px;}
.drop11{ margin:157px 0 0 531px;}
.drop12{ margin:179px 0 0 531px;}
 
.margintop10{margin-top:10px;}
.margintop50{margin-top:50px;}
.width{float:left; width:100%;}
.flt{float:left;}

.overlay{ position:absolute; width:737px; height:520px;  z-index: 100; margin: 70px 0 0; display:none;}

.feedback{   height: 121px; margin:390px 0 0 268px; width:229px; background:#E6F5FF url(../imgs/feedbg.png) no-repeat; position:absolute; z-index:101; display:none;}

.try_again{ cursor:pointer; float:left; clear:left; margin:52px 0 0 62px;}

.pos_txt{ margin:50px 0 0 25px; float:left;}

.neg_txt1{ float:left; margin:15px 0 0 15px;}

.neg_txt2{ float:left; margin:52px 0 0 15px;}

.drag_ul1, .drag_ul2{ display:none;}

.lastDrop{margin-left:178px!important; border-left: 1px solid #CCCCCC;}
