﻿.topZero {
	top: 0px !important;
	position: relative !important;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.topZero2 {
	color: #984842;
	padding: 0px;
}
.DropsC {
	background: url("../imgs/04_06_04a_map1.png") no-repeat scroll 0% 0% transparent;
    height: 395px;
    margin-left: 55px;
    position: absolute;
    top: 0;
    width: 490px !important;
}
.DragC {
    height: 210px;
    margin-left: -35px;
    position: absolute;
    top: 390px;
    width: 655px;
}
.DragC>.img>.draggable {
	opacity: 1 !important;
	box-shadow: none !important;
	background-color: transparent;
	padding: 0px;
	width: 115px;
	height: 109px;
	margin-bottom: 13px;
	margin-right: 0px;
	margin-left: 10px;
}
.droppables {
	height: 320px;
	margin-left: 25px;
	margin-top: 50px;
}
.bin {
	background-color: transparent;
	padding: 0px !important;
	z-index: 83;
}
.DropsC ul {
	list-style-type: none;
	line-height: 26px;
	margin-top: 5px;
	padding: 0px !important;
	margin: 0px;
	display: block;
}
.draggable {
	opacity: 1 !important;
	cursor: pointer !important;
}
.wid {
	min-height: 295px;
	width: 219px;
	margin-left: -4px;
	margin-top: 0px;
	background: none repeat scroll 0% 0% transparent;
	border: medium none !important;
	box-shadow: none !important;
	margin-right: 10px;
}
.top {
	position: absolute !important;
	top: 0px !important;
	left: 0px !important;
}
.ui_assessment hr {
	display: none;
}
.drag .draggable p {
	padding-right: 0px !important;
	line-height: 13px;
}
.assignment {
	height: 45px;
}
.ui-dialog {
	top: 145px !important;
}
.DropsC ul li {
	float: left;
	margin: 8px;
	padding: 1px;
	display: inline-block;
	width: 95px;
	height: 95px;
	margin: 0px -3px 2px 10px;
}
.ui_reset {
	top: 540px;
}
.DropsC ul p {
	padding: 0px;
	font-size: 12px;
	height: 44px;
	line-height: 1.3;
	text-align: center;
}
.DragC > .img> .draggable p {
	padding-right: 0px !important;
	line-height: 14px;
	font-size: 12px;
	margin-left: 12px;
}
.trim {
	height: 515px;
	margin-left: 15px;
	margin-top: -16px;
}
.ui-state-highlight {
	background: transparent !important;
}
body {
	cursor: default !important;
}
.copyrightDrag {
    font-size: 11px;
    position: relative;
    text-align: center;
    top: 590px;
}
.img {
	position: absolute;
}
.pos2 {
	left: 108px;
}
.pos3 {
	left: 228px;
}
.pos4 {
	left: 350px;
}
.pos5 {
	left: 474px;
}
.pos6 {
	top: 104px;
}
.pos7 {
	top: 104px;
	left: 108px;
}
.pos8 {
	top: 104px;
	left: 228px;
}
.pos9 {
	top: 104px;
	left: 350px;
}
.ui_interactive .ui-draggable-dragging {
	z-index: 9000;
}
