﻿.ui-dialog-buttonset {
	display: none;
}
.img1 {
	margin-left: -9px;
}
.ui-slideshow-slide {
	margin: 20px;
	margin-top: -14px;
}
.redcolor {
	position: relative;
	color: #881401;
}
.icon1 {
	position: relative;
	margin-top: 9px !important;
}
.clickarea {
	cursor: pointer;
}
.area {
	z-index: 14;
}
.labels {
	position: absolute;
	top: 28px;
	left: -25px;
}
.labels li {
	position: absolute;
	font-size: 11px;
	color: #000000;
	font-weight: bold;
	cursor: pointer;
	text-transform: capitalize;
}
.label1 {
	margin: 272px 0 0 340px !important;
}
.label2 {
	margin: 205px 0 0 435px !important;
}
.label3 {
	margin: 238px 0 0 261px !important;
}
.label4 {
	margin: 327px 0 0 374px !important;
}
.label5 {
	margin: 332px 0 0 440px !important;
}
.label6 {
	margin: 310px 0 0 351px !important;
}
.label7 {
	margin: 390px 0 0 532px !important;
}
.label8 {
	margin: 251px 0 0 363px !important;
}
.label9 {
	margin: 178px 0 0 301px !important;
}
.label10 {
	margin: 139px 0 0 408px !important;
}
.label11 {
	margin: 68px 0 0 399px !important;
}
.label12 {
	margin: 274px 0 0 231px !important;
}
.label13 {
	margin: 276px 0 0 596px !important;
}
.label14 {
	margin: 227px 0 0 303px !important;
}
.label15 {
	margin: 371px 0 0 415px !important;
}
.label16 {
	margin: 285px 0 0 389px !important;
}
.label17 {
	margin: 46px 0 0 172px !important;
}
.label18 {
	margin: 198px 0 0 185px !important;
}
.label19 {
	margin: 343px 0 0 337px !important;
}
.label20 {
	margin: 158px 0 0 409px !important;
}
.label21 {
	margin: 282px 0 0 297px !important;
}
.label22 {
	margin: 179px 0 0 406px !important;
}
.label23 {
	margin: 254px 0 0 275px !important;
}
.label24 {
	margin: 343px 0 0 411px !important;
}
.label25 {
	margin: 414px 0 0 349px !important;
}
.label26 {
	margin: 267px 0 0 458px !important;
}
.label27 {
	margin: 320px 0 0 398px !important;
}
.label28 {
	margin: 214px 0 0 281px !important;
}
.label29 {
	margin: 120px 0 0 307px !important;
}
.label30 {
	margin: 228px 0 0 374px !important;
}
.label31 {
	margin: 350px 0 0 141px !important;
}
.label32 {
	margin: 298px 0 0 432px !important;
}
.label33 {
	margin: 96px 0 0 523px !important;
}
.label34 {
	margin: 310px 0 0 402px !important;
}
.label35 {
	margin: 269px 0 0 392px !important;
}
.label36 {
	margin: 294px 0 0 348px !important;
}
.label37 {
	margin: 370px 0 0 189px !important;
}
.label38 {
	margin: 86px 0 0 340px !important;
}
.label39 {
	margin: 295px 0 0 280px !important;
}
.label40 {
	margin: 236px 0 0 455px !important;
}
.label41 {
	line-height: 11px;
	margin: 215px 0 0 222px !important;
	width: 50px;
}
.labels ul {
	margin: 0px;
	padding: 0px;
}
.labels ul li {
	list-style: none;
	background: url(../imgs/05_01_02a_circle.png) left no-repeat;
	padding: 0 0 0 8px;
}
.customPopDiv {
	position: absolute;
	top: 6px;
	left: 154px;
	padding: 10px;
	width: 495px;
	border: 1px solid #000000;
	background-color: #EFEFEF;
	display: none;
	z-index: 2;
	margin-left: -56px;
	margin-top: -11px;
	height: 13px;
}
.customPopDiv > .head1 {
	margin-bottom: -1px;
	width: 409px;
	margin-top: -4px;
	color: #000;
}
.close1 {
	width: 26px;
	height: 25px;
	position: absolute;
	margin-left: 487px;
	margin-top: -19px;
	z-index: 11;
	background-image: url("../imgs/05_01_02a_btnclose.png");
	cursor: pointer;
}
.close2 {
	background-position: -310px 2px;
}
.width570 {
	width: 570px;
}
