﻿.fl{float:left;}
.fr{ float:right;} 
.clr{clear:both;}
.btnpos{
    bottom: 0px;
    position: absolute;
    right: 30px;
	z-index:10000;
}
.InterBody
{
    font-family:Arial;
    font-size:13px;
    color:#000000;
    width:745px; 
    position:relative;
    line-height:17px;
	height:437px;
}

.contentMiddleBg1{	background:url(../imgs/content_middlebg.png) repeat-y;  width:745px; float:left; height:355px;}

.contentTopBg1{	background:url(../imgs/content_topbg.png) no-repeat;	 width:745px; 	 height:28px; }

.contentBottomBg{	background:url(../imgs/content_botbg.png) no-repeat;	 width:745px; 	 height:53px; float:left}

.mouse_icon{ float:left; display:inline;  margin:0px 0 0 24px;}

.instr_txt{ font-size:13px; font-style:italic; color:#984842; float:left; display:inline; width:635px; margin:6px 0 0 10px!important;}

.rightContent p{margin:0px; padding:0px;}
.rightContent h2{
	 color: #003366;
    font-size: 16px;
	padding:10px;
	margin:0px;
	text-align:center;
}
.caption{font-size:11px; }
.captionWth{width:270px; text-align:center; }
.pdTop10{padding-top:10px;}
[disabled] {
	opacity:0.4;
}
.hide{display:none;}
.pd10{padding:10px}
.popupBg{width:328px; height:90px; position:absolute; display:none; z-index:9999; 	background-color: #E6F5FF;
    border: 2px solid #025286;
  margin: 193px 0 0 221px;}
.popupBg img{ float:right; margin-bottom:5px; margin-right:5px;}
.popupBg h2{font-size:14px; font-weight:bold; margin:0px; padding:0px; line-height:18px;}
.overlay{
    display: none;
    height: 705px;
    position: absolute;
    width: 732px;
    z-index: 9998;
	    opacity: 0;
	filter: alpha(opacity = 0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; background:#000000;

}
.desc_BgWth1{
	margin-left:5px;
    width: 415px;
	float:left;
}
#shuffleStatic{ width:270px; float:left; margin-left:26px;}
#shuffleStatic ul{ padding:0px!important; margin:0px!important;}
#shuffleStatic ul li{ width:255px; height:20px; margin:3px 0 0 0; background:#fff;  color:#000;border:2px solid #000; text-align:left; list-style:none; padding:3px 5px 0 5px; cursor:pointer; font-size:13px;}
.desc_BgWth1 ul{
	padding:0px!important; 
	margin:0px!important;
}
.desc_BgWth1 ul li{
	background-color:#FFFFFF;
    border:2px solid;
    color:#000000;
    list-style:none outside none;
    margin:3px 0 0;
    height:20px;
	padding:3px 0 0 5px;
	cursor:pointer;
	font-size:13px;
}
.match_cont{
	padding-bottom:20px;
}
.Opacity10 {
    cursor: default;
    opacity: 0.5;
	filter: alpha(opacity = 50);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
.MCHead
{
    height:25px;
    padding:3px 10px 10px 5px;
}
.MCInstruction
{
    font-family:Arial;
    font-size:13px;
    font-style:italic;
    color:#984842;
    margin-left:55px;
}
.hand{
	cursor:pointer;
}
.cpyRight{
	width:712px;
	font-size:12px;
	text-align:center;
	float:left;
	 margin:10px 0 0 0;
}
.adj_height{
	height:35px;
}