﻿.fl{float:left;}
.fr{ float:right;} 
.clr{clear:both;}
.btnpos {
    bottom: 23px;
    position: absolute;
    right: 30px;
}
.pageNo {
    bottom: 27px;
    color: #025286;
    left: 40px;
    position: absolute;
}
.contentTopBg{
	background:url(../imgs/content_topbg.png) no-repeat;
	 width:745px; 
	 height:28px;
}
.contentMiddleBg{
	background:url(../imgs/content_middlebg.png) repeat-y; height:710px;
	 width:745px; 
}
.contentBottomBg1{
	background:url(../imgs/content_botbg1.png) no-repeat;
	 width:745px; 
	 height:28px;
}
.popup{
	    background-color: #EFEFEF;
    border: 1px solid #999999;
    display: none;
    margin: 50px 0 0 60px;
    padding: 0;
    position: absolute;
    width: 630px;
    z-index: 99;
}
.imgwidth{
    width: 248px;}
.contentWdth{float: right;
    height: 305px;
    margin: 15px 0 0;
    overflow-y:auto;
    width: 390px;}
.contentWdth1{width:305px; float:left; margin:0 0 0 10px;}
.captionWth{ padding:5px 25px 0px 25px; }
.pdTop10{padding-top:10px;}

[disabled] {
	opacity:0.4;
}
.hide{display:none;}
.MCHead {
    height: 25px;
    padding: 0px 10px 10px 24px;
}
.MCInstruction {
    color: #984842;
    font-family: Arial;
    font-size: 13px;
    font-style: italic;
    margin-left: 10px;
	margin-top: 5px;
}



.rightTxt{float:right; width:145px; font-size:11px; font-family:Arial, Helvetica, sans-serif; }

.rightTxt1{float:right;  font-size:11px; font-family:Arial, Helvetica, sans-serif; }

.overlay{   background: none repeat scroll 0 0 #FFFFFF;
    display: none;
    height: 685px;
    margin: 10px 0 0 24px;
    opacity: 0.5;
    position: absolute;
    width: 696px;
    z-index: 10;  filter: alpha(opacity = 30);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; 
}

.pop_head{ margin:0px 0 0 10px!important; font-size: 13px;}

.popup img{ margin:10px auto 0 auto;}

.cpy_right{ font-size:12px; text-align:center; display:block; color:#444444;}

.caption{font-size:12px; margin:5px 0 0 0!important; color:#444444; min-height: 165px;}

.btn_pos{ position:absolute;  right: 15px; top: 358px;}




.btnClose{  background: url("../imgs/btnClose.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 25px;
    margin: 2px;
    position: absolute;
    right: 2px;
    width: 25px;}

.margintop10{margin-top:10px;}

.popup .set{ display:none; margin:5px;}

.center p{ color: #00489B;
    font-size: 16px;
    font-weight: bold;
    height: 35px;
    margin: 20px 0 5px !important;}

.imagecontainer img{ cursor:pointer}

.margintop_212{ margin-top: -212px; }
















