/* CSS Document */


.mejs-audio .mejs-controls .mejs-time-rail, .mejs-audio .mejs-controls .mejs-time-rail .mejs-time-total
{
width: 71px !important;
}
mejs-container .mejs-controls {
position: absolute;
list-style-type: none;
margin: 0;
padding: 0;
bottom: 0;
left: 0;
height: 30px;
width: 159%;
}

.mejs-container .mejs-controls {
bottom: 8px;
width: 301px !important;
margin-left: -17px;
}
.ui-navigation-tracker {
bottom: 14px;
position: absolute;
right: 218px;
}

.ui_interactive
{
background-position: 0% 0%;
background-repeat: no-repeat;
background: url("../imgs/01_00_01_bg.jpg") no-repeat scroll 0 0 transparent;
width: 714px;
height: 449px;
}
	
	
.messageBox {
background: none repeat scroll 0 0 #8BB0C7;
border: 2px solid #4F81BD;
min-height:45px;
margin: 34px 0 0 184px;
padding: 0 5px;
position: absolute;
width: 350px;
z-index: 11;
}

.calloutman {
background: url("../imgs/01_00_01_calloutman.png") no-repeat scroll 0 0 transparent;
height: 27px;
position: absolute;
width: 27px;
margin: 3px 0 0 -30px;

}

.ui-slideshow-item {
position: relative;
float: left;
line-height: normal;
width: 520px;
height: 430px;
margin: -9px 10px 0 0;
padding: 6px;
overflow: auto;
}


.callout_woman {
background: url("../imgs/01_00_01_callout1.png") no-repeat scroll 0 0 transparent;
position: absolute;
height: 27px;
margin: 30px 0 0 353px;
width: 27px;
margin: 2px 0 0 353px;
}
.copytext
{
	
	bottom: 31px;
position: absolute;
left: 36%;
}
.playerOver
{
height: 423px;
width: 701px;
position: absolute;
top: 0px;
padding: 17% 0% 0% 44%;
background: rgba(235, 235, 235, 0.83);
z-index: 12;
}
.playerText
{
    margin-left: -22px;
margin-top: -15px;
position: absolute;
font-style:italic;
}

.playerOver img
{
    cursor:pointer;
}