﻿


.btnpos .nxt{
	 background:url(../intmedia/next.png) no-repeat;
	 width:37px; 
	 height:24px;
	 border:0px;
	 cursor:pointer;
	 float:none;
}
.btnpos .prev{
	 background:url(../intmedia/previous.png) no-repeat;
	 width:37px; 
	 height:24px;
	 border:0px;
	 filter: alpha(opacity = 30);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	 float:none;
}
.fl{float:left;}
.fr{ float:right;} 
.clr{clear:both;}
.btnpos {
	margin:6px 0px 0 0px;
	float:right;
}
.pageNo {
    color: #025286;
    position: absolute;
	margin:9px 0 0 37px;
}
.contentTopBg2{
	background:url(../intmedia/content_topbg.png) no-repeat;
	 width:745px; 
	 height:28px;
}
.contentMiddleBg2{
	background:url(../intmedia/content_middlebg.png) repeat-y;
	 width:745px; height:430px; 
}
.contentBottomBg2{
	background:url(../intmedia/content_botbg.png) no-repeat;
	 width:715px; 
	 height:53px;
	 padding:0 30px 0 0px;

}
.caption{font-size:11px; }
.captionWth{width:270px; text-align:center; }
.pdTop10{padding-top:10px;}

[disabled] {
	opacity:0.4;
}
.hide{display:none;}
.set{padding:0px 25px 0px 25px; }

.navi_txt{ position:absolute; color: #569AC9;  margin: 10px 0 0 388px;}

.copy_right {
    font-size: 11px;
    margin: 10px 0 0 330px;
    position: absolute;
}

.mouse_icon{ float:left; display:inline;  margin:0px 0 0 24px;}

.instr_txt{ font-size:12px; font-style:italic; color:#881401; float:left; display:inline; width:635px; margin:4px 0 0 10px!important;}

.con_top{ float:left; display:block; width:670px;}

.con_top img{ margin:0 auto; display:block;}

.con_top .copyright{display:block; text-align:center;  margin-top: 5px;}

.con_btm{ float:left; display:block; margin-top:0px; width:690px;}

.con_top1{ float:left; display:block; width:180px; margin-left:270px;}

.con_top1 img{ margin:0 auto; display:block;}

.con_top1 .copyright{clear: left;
    display: block;
    margin-left: -40px;
    margin-top: 5px;
    text-align: center;
    width: 255px;}
	
.magGlass{bottom:0px !important;}

.pdTop10 {
  line-height: 18px;
}