﻿body {
}

.MultiChoice
{
    display:block;
    width:745px; 
    height:auto;
}
.MultiChoice .InterBorder
{
     order:solid 10px #569ac9;
}
.MultiChoice .InterBody
{
    font-family:Arial;
    font-size:12px;
    color:#000000;
    width:745px; 
    height:auto;
    position:relative;
     ackground-color:#eff8ff;
    line-height:14px;
}

.mouse_icon{ float:left; display:inline; margin:0px 0 5px 25px;}

.instr_txt{ font-size:12px; font-style:italic; color:#881401; float:left; display:inline; width:635px; margin:0px 0 5px 15px!important;}



.footer_div{ float:left; display:inline; width:737px; ackground:#C5E8FE; height:50px;}

.cpy_right{ float:left; display:inline; font-size:11px; color:#0A0B0C; margin:10px 0 0 355px;}

#content_sction {background:#EFEFEF; border: 1px solid #003366; float:left; font-family: Arial,Helvetica,sans-serif;  margin:20px 0 0 25px; width:360px; z-index:10;}
.content_area {color: #444444; float: left; font-size:12px;  height: auto; line-height:20px; margin:0px; padding:5px 0;}
.content_area li{ float:left; width:150px; margin:0 0px 0 25px; padding:0px;}
#restart{ background:url(../imgs/restart_btn.png) no-repeat; height:24px; width:116px; margin:13px 13px 0 0; float:right; opacity:0.5;}
#hint{ background:url(../imgs/hint_btn.png) no-repeat; height:24px; width:116px; margin:20px 13px 0 70px; float:left;}
.cross-check{ background:url(../imgs/check_btn.png) no-repeat; height:24px; width:116px; margin:15px 13px 0 215px; float:left; clear:right;}
#close{width:20px; height:20px; cursor:pointer; font-size:15px; color:#f00; text-align:center; line-height:20px; position:absolute; z-index:100; font-weight:bold; border: 1px solid #003366; margin:-1px 0px 0 -1px; background:#003366; color:#fff;}

.margintop10{margin-top:10px;}
.margintop50{margin-top:50px;}
.width{float:left; width:100%;}
.flt{float:left;}
.pointer{cursor:pointer;}

/*-----------------*/

.fl
{
    float:left;
}

.fr
{
    float:right;
}

.clr
{
    clear:both;
}
/*-------        Crosss Word Start  ---- */
.popup-bg{display:none; top:0px; margin:0px auto; left:0px; position:absolute; z-index:99; border:0px solid red; width:744px; height:720px; }
.popup-innerbg-hint{ display:none; margin:150px auto; padding:0px; width:355px; height:305px; border:1px solid #996600; background-color:#efefef;}

.popup-innerbg ul{ float:left; width:200px; height:auto; padding:0px; margin:20px 0 0 0px;list-style-type:none;}
.popup-innerbg ul li{ font-weight:normal; font-size:14px;  width:200px; height:auto; padding:0px 0 5px 22px; margin:0px 0 0 12px;background:url(../imgs/arrow.jpg) no-repeat 0 0px; }

.close-bt{ float:right; padding:0px; margin:0px 0 0 0px ;display: block;width:28px;height: 24px;background:url(../imgs/close-bt.jpg) no-repeat 0 -24px; cursor:pointer;}
.close-bt:hover{ background-position: 0 0px;}

.popup-innerbg-try{ display:none;position:relative;margin:519px 0 0 54px; padding:0px; width:440px; height:173px; border:2px solid #3B7AA4; background-color:#E6F5FF;}
.popup-innerbg-tryinner{ margin:7px auto; padding:0px; width:425px; height:158px; background-color:#E6F5FF;}
.popup-innerbg-tryinner span{margin:34px 0 0 0;width:400px; float:left; text-align:left; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000;padding:10px; }

.tryagain-bt{ float:left; padding:0px; margin:40px 0 0 147px ;display: block;width:122px;height: 30px;background:url(../imgs/bt-try.png) no-repeat 0; cursor:pointer;}
.popup-innerbg-tryinner p{ text-align:left; color:#000000; }


.popup-innerbg-showans{display:none;position:relative;margin:519px 0 0 54px; padding:0px; width:440px; height:173px; border:2px solid #3B7AA4; background-color:#E6F5FF;}
.popup-innerbg-showansinner{ margin:7px auto; padding:0px; width:425px; height:158px; background-color:#E6F5FF;}
.popup-innerbg-showansinner span{margin:24px 0 0 0;width:430px; float:left; text-align:left; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000;padding:10px; }
.showans-bt{ float:left; padding:0px; margin:20px 0 0 147px ;display: block;width:122px;height: 30px;background:url(../imgs/bt-show-answer.png) no-repeat 0 0px; cursor:pointer;}
.close-small-bt{float:right; width:18px; height:18px; padding:0px; margin:10px 10px 0 0; cursor:pointer; font-size:20px; color:#277cb3; font-weight:bold;}


.popup-innerbg-correct{display:none;position:relative;margin:519px 0 0 54px; padding:0px; width:440px; height:173px; border:2px solid #3B7AA4; background-color:#E6F5FF;}
.popup-innerbg-correctinner{ margin:7px auto; padding:0px; width:425px; height:158px;background-color:#E6F5FF;}
.popup-innerbg-correctinner span{margin:30px 0 0 0;width:400px; float:left; text-align:left; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000;padding:10px; text-align:center;}
.correct-bt{ float:left; padding:0px; margin:20px 0 0 147px ;display: block;width:122px;height: 30px;background:url(../imgs/bt-show-answer.png) no-repeat 0 -30px; cursor:pointer;}
.correct-bt:hover{ background-position: 0 0px;}



.selectbg{ background-color:#999999;}

input { 
    border-style: none;
}
input[type="text"] {
	background:none; font-weight:bold;
}
.crossword{
    width:730px;
    margin: 10px 0px 0 0px;
    position:relative;
}
.crosswordleft{ float:left; padding:0px; margin:0px; width:532px; height:auto;}
.crosswordleftbg{padding:0px; margin:42px 0 0 24px; width:507px; height:400px;position:relative;background:url(../imgs/crossword-selection.jpg) no-repeat;}

.crosswordleftbg input{ border:0px solid; padding: 1px 0 0 3px; font-size:11px; color:#000000;}
.crosswordleftbg input[disabled]{ color:#000000; background:none;}
/*-------  First row  ---- */
.textbox1{ width:15px; height:16px; position:absolute; top:1px; left:376px; background-color:#FFFFFF; color:black; text-align:center;}

/*-------  Second row  ---- */
.textbox2{ width:15px; height:16px; position:absolute; top:22px; left:243px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox3{ width:15px; height:16px; position:absolute; top:22px; left:266px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox4{ width:15px; height:16px; position:absolute; top:22px; left:287px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox5{ width:15px; height:16px; position:absolute; top:22px; left:309px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox6{ width:15px; height:16px; position:absolute; top:22px; left:331px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox7{ width:15px; height:16px; position:absolute; top:22px; left:353px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox8{ width:15px; height:16px; position:absolute; top:22px; left:375px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox9{ width:15px; height:16px; position:absolute; top:22px; left:397px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox10{width:15px; height:16px; position:absolute; top:22px; left:419px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox11{ width:15px; height:16px; position:absolute; top:22px; left:441px; background-color:#FFFFFF; color:#000; text-align:center;}

/*-------  Third row  ---- */
.textbox12{ width:15px; height:16px; position:absolute; top:44px; left:376px; background-color:#FFFFFF; color:#000; text-align:center;}

/*-------  fourth row  ---- */
.textbox13{ width:15px; height:16px; position:absolute; top:64px; left:376px; background-color:#FFFFFF; color:#000; text-align:center;}

/*-------  fifth row  ---- */
.textbox14{ width:15px; height:16px; position:absolute; top:86px; left:199px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox15{ width:15px; height:16px; position:absolute; top:86px; left:221px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox16{ width:15px; height:16px; position:absolute; top:86px; left:243px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox17{ width:15px; height:16px; position:absolute; top:86px; left:265px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox18{ width:15px; height:16px; position:absolute; top:86px; left:287px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox19{ width:15px; height:16px; position:absolute; top:86px; left:309px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox20{ width:15px; height:16px; position:absolute; top:86px; left:331px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox21{ width:15px; height:16px; position:absolute; top:86px; left:353px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox22{ width:15px; height:16px; position:absolute; top:86px; left:375px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox23{ width:15px; height:16px; position:absolute; top:86px; left:397px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox24{ width:15px; height:16px; position:absolute; top:86px; left:419px; background-color:#FFFFFF; color:#000; text-align:center;}

/*-------  sixth row  ---- */
.textbox25{ width:15px; height:16px; position:absolute; top:106px; left:375px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox26{ width:15px; height:16px; position:absolute; top:106px; left:464px; background-color:#FFFFFF; color:#000; text-align:center;}


/*-------  seventh row  ---- */
.textbox27{ width:15px; height:16px; position:absolute; top:127px; left:221px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox28{ width:15px; height:16px; position:absolute; top:127px; left:375px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox29{ width:15px; height:16px; position:absolute; top:127px; left:464px; background-color:#FFFFFF; color:#000; text-align:center;}

/*-------  eight row  ---- */
.textbox30{ width:15px; height:16px; position:absolute; top:148px; left:134px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox31{ width:15px; height:16px; position:absolute; top:148px; left:199px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox32{ width:15px; height:16px; position:absolute; top:148px; left:221px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox33{ width:15px; height:16px; position:absolute; top:148px; left:243px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox34{ width:15px; height:16px; position:absolute; top:148px; left:265px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox35{ width:15px; height:16px; position:absolute; top:148px; left:287px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox36{ width:15px; height:16px; position:absolute; top:148px; left:309px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox37{ width:15px; height:16px; position:absolute; top:148px; left:331px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox38{ width:15px; height:16px; position:absolute; top:148px; left:375px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox39{ width:15px; height:16px; position:absolute; top:148px; left:419px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox40{ width:15px; height:16px; position:absolute; top:148px; left:464px; background-color:#FFFFFF; color:#000; text-align:center;}

/*-------  nine row  ---- */
.textbox41{ width:15px; height:16px; position:absolute; top:169px; left:134px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox42{ width:15px; height:16px; position:absolute; top:169px; left:221px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox43{ width:15px; height:16px; position:absolute; top:169px; left:375px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox44{ width:15px; height:16px; position:absolute; top:169px; left:419px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox45{ width:15px; height:16px; position:absolute; top:169px; left:464px; background-color:#FFFFFF; color:#000; text-align:center;}

/*-------  ten row  ---- */
.textbox46{ width:15px; height:16px; position:absolute; top:191px; left:134px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox47{ width:15px; height:16px; position:absolute; top:191px; left:221px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox48{ width:15px; height:16px; position:absolute; top:191px; left:375px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox49{ width:15px; height:16px; position:absolute; top:191px; left:419px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox50{ width:15px; height:16px; position:absolute; top:191px; left:464px; background-color:#FFFFFF; color:#000; text-align:center;}

/*-------  11th row  ---- */
.textbox51{ width:15px; height:16px; position:absolute; top:212px; left:133px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox52{ width:15px; height:16px; position:absolute; top:212px; left:199px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox53{ width:15px; height:16px; position:absolute; top:212px; left:221px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox54{ width:15px; height:16px; position:absolute; top:212px; left:243px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox55{ width:15px; height:16px; position:absolute; top:212px; left:265px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox56{ width:15px; height:16px; position:absolute; top:212px; left:287px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox57{ width:15px; height:16px; position:absolute; top:212px; left:309px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox58{ width:15px; height:16px; position:absolute; top:212px; left:331px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox59{ width:15px; height:16px; position:absolute; top:212px; left:354px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox60{ width:15px; height:16px; position:absolute; top:212px; left:375px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox61{ width:15px; height:16px; position:absolute; top:212px; left:397px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox62{ width:15px; height:16px; position:absolute; top:212px; left:419px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox63{ width:15px; height:16px; position:absolute; top:212px; left:441px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox64{ width:15px; height:16px; position:absolute; top:212px; left:463px; background-color:#FFFFFF; color:#000; text-align:center;}

/*-------  12th row  ---- */
.textbox65{ width:15px; height:16px; position:absolute; top:233px; left:24px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox66{ width:15px; height:16px; position:absolute; top:233px; left:46px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox67{ width:15px; height:16px; position:absolute; top:233px; left:68px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox68{ width:15px; height:16px; position:absolute; top:233px; left:90px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox69{ width:15px; height:16px; position:absolute; top:233px; left:112px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox70{ width:15px; height:16px; position:absolute; top:233px; left:134px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox71{ width:15px; height:16px; position:absolute; top:233px; left:156px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox72{ width:15px; height:16px; position:absolute; top:233px; left:221px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox73{ width:15px; height:16px; position:absolute; top:233px; left:331px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox74{ width:15px; height:16px; position:absolute; top:233px; left:419px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox75{ width:15px; height:16px; position:absolute; top:233px; left:463px; background-color:#FFFFFF; color:#000; text-align:center;}


/*-------  13th row  ---- */
.textbox76{ width:15px; height:16px; position:absolute; top:253px; left:134px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox77{ width:15px; height:16px; position:absolute; top:253px; left:221px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox78{ width:15px; height:16px; position:absolute; top:253px; left:288px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox79{ width:15px; height:16px; position:absolute; top:253px; left:331px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox80{ width:15px; height:16px; position:absolute; top:253px; left:419px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox81{ width:15px; height:16px; position:absolute; top:253px; left:463px; background-color:#FFFFFF; color:#000; text-align:center;}

/*-------  14th row  ---- */
.textbox82{width:15px; height:16px; position:absolute; top:274px; left:112px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox83{width:15px; height:16px; position:absolute; top:274px; left:134px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox84{width:15px; height:16px; position:absolute; top:274px; left:156px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox85{width:15px; height:16px; position:absolute; top:274px; left:178px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox86{width:15px; height:16px; position:absolute; top:274px; left:199px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox87{width:15px; height:16px; position:absolute; top:274px; left:221px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox88{width:15px; height:16px; position:absolute; top:274px; left:243px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox89{width:15px; height:16px; position:absolute; top:274px; left:265px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox90{width:15px; height:16px; position:absolute; top:274px; left:287px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox91{width:15px; height:16px; position:absolute; top:274px; left:331px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox92{width:15px; height:16px; position:absolute; top:274px; left:419px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox93{width:15px; height:16px; position:absolute; top:274px; left:463px; background-color:#FFFFFF; color:#000; text-align:center;}

/*-------  15th row  ---- */
.textbox94{width:15px; height:16px; position:absolute; top:296px; left:134px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox95{width:15px; height:16px; position:absolute; top:296px; left:221px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox96{width:15px; height:16px; position:absolute; top:296px; left:287px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox97{width:15px; height:16px; position:absolute; top:296px; left:331px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox98{width:15px; height:16px; position:absolute; top:296px; left:419px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox99{width:15px; height:16px; position:absolute; top:296px; left:463px; background-color:#FFFFFF; color:#000; text-align:center;}

/*-------  16th row  ---- */
.textbox100{width:15px; height:16px; position:absolute; top:316px; left:221px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox101{width:15px; height:16px; position:absolute; top:316px; left:287px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox102{width:15px; height:16px; position:absolute; top:316px; left:331px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox103{width:15px; height:16px; position:absolute; top:316px; left:419px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox104{width:15px; height:16px; position:absolute; top:316px; left:463px; background-color:#FFFFFF; color:#000; text-align:center;}

/*-------  17th row  ---- */
.textbox105{width:15px; height:16px; position:absolute; top:338px; left:221px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox106{width:15px; height:16px; position:absolute; top:338px; left:287px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox107{width:15px; height:16px; position:absolute; top:338px; left:419px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox108{width:15px; height:16px; position:absolute; top:338px; left:463px; background-color:#FFFFFF; color:#000; text-align:center;}

/*-------  18th row  ---- */
.textbox109{width:15px; height:16px; position:absolute; top:358px; left:287px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox110{width:15px; height:16px; position:absolute; top:358px; left:419px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox111{width:15px; height:16px; position:absolute; top:358px; left:463px; background-color:#FFFFFF; color:#000; text-align:center;}


/*-------  19th row  ---- */
.textbox112{width:15px; height:16px; position:absolute; top:379px; left:178px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox113{width:15px; height:16px; position:absolute; top:379px; left:199px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox114{width:15px; height:16px; position:absolute; top:379px; left:221px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox115{width:15px; height:16px; position:absolute; top:379px; left:243px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox116{width:15px; height:16px; position:absolute; top:379px; left:265px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox117{width:15px; height:16px; position:absolute; top:379px; left:287px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox118{width:15px; height:16px; position:absolute; top:379px; left:309px; background-color:#FFFFFF; color:#000; text-align:center;}
.textbox119{width:15px; height:16px; position:absolute; top:379px; left:463px; background-color:#FFFFFF; color:#000; text-align:center;}

.crosswordright{float:left; padding:0px; margin:0px 0 0px 5px; width:190px; height:auto; }
.crosstxt{ font-family:Arial, Helvetica, sans-serif; font-size:14px;}
.crosstxt h1{ font-family:Arial, Helvetica, sans-serif; font-size:16px; color:#00; text-align:left; padding:0px 0 0 5px; margin:0px; clear:right; line-height:40px;}

.crosstxtarea { float:left; padding:0px; margin:0px 0 3px 0; width:180px; height:auto;list-style-type:none; display:block; color:#000; border:1px solid #8796a0;}
.crosstxtarea{min-height:30px;height:auto; cursor:pointer;background-color:#d6eefe;display:block; }
.crosstxtarea:hover{background:url(../imgs/crossword-right-bg-hover.jpg) repeat-y;  width:180px; height:auto;min-height:30px;display:block;}

.crosstxtarea.active{ width:180px; height:auto;min-height:30px;display:block; opacity:0.5!important; filter: alpha(opacity=50)!important; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"!important;}
.crosstxtarea.done{width:180px; height:auto;min-height:30px;display:block;}


.crosstxtarea span{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#000; text-align:left; padding:0px;}
.no{float:left;font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#000; text-align:left; padding:3px 0 17px 3px; margin:0px; width:20px; height:auto; background:#569ac9; color:#fff;}
.notxt{ float:left;font-family:Arial, Helvetica, sans-serif; font-size:11px;text-align:left; padding:3px 0 3px 5px; margin:0px; width:150px; height:auto;}

.brdline{float:left;width:714px;height:1px; background:url(../imgs/cross-brdline.jpg) repeat-x;}

.cross-btn{ float:left; width:116px; height:25px; padding:0px; margin:17px 0 0 95px; cursor:pointer;}

.cross-check:hover
{ 
  background-position: 0 0px;
}
.cross-check.disabledd{
	opacity:0.5;
     filter: alpha(opacity=50);
     -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
.cross-bot-btn{ float:right; width:116px; height:25px; padding:0px; margin:7px 25px 0 0px;cursor:pointer; }
.hidee {
cursor:default;
	opacity:0.5;
     filter: alpha(opacity=50);
     -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}


.overlay{ position:absolute; background:#ffffff; opacity:0; height:735px; width:737px; display:none; z-index:9;      filter: alpha(opacity=0);
     -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.cross_numbers{ position:absolute;}

.cross_numbers span{ font-size:9px; position:absolute; color:#287CB8;}

.num_1{ margin:1px 0 0 378px;}

.num_5{ margin:125px 0 0 224px;}

.num_6{ margin:147px 0 0 136px;}

.num_8{ margin:147px 0 0 422px;}

.num_12{  margin:252px 0 0 288px;}

.num_15{ margin: 379px 0 0 1px;}

.num_7{ margin:148px 0 0 202px;}

.num_2{ margin:22px 0 0 246px;}

.num_3{ margin:85px 0 0 202px;}

.num_4{ margin:106px 0 0 466px;}

.num_9{ margin:211px 0 0 203px;}

.num_10{ margin:210px 0 0 332px;}

.num_11{ margin:231px 0 0 24px;}

.num_13{ margin:273px 0 0 112px;}

.num_14{ margin:378px 0 0 178px;}

.cross_overlay{ position:absolute; height:398px; width:505px; z-index:8; display:block; opacity:0;
     filter: alpha(opacity=0);
     -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; background:#ffffff;}


 .contentTopBg {
	float:left;
    background: url("../imgs/content_topbg.png") no-repeat scroll 0 0 transparent;
    height: 28px;
    width: 745px;
}

.contentMiddleBg {
	float:left;
    background: url("../imgs/content_middlebg.png") repeat-y scroll 0 0 transparent;
	min-height:338px;
    width: 745px;
}

.contentBottomBg1a{
    background: url("../imgs/content_botbg1a.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 58px;
    width: 745px;
}

.con_div {
    border-bottom: 0px dashed #025286;
    display: inline;
    float: left;
    height: 720px;
    margin-top: -30px;
    width: 737px;
}

.hint_head{ margin-left:13px;  font-size: 16px; padding-bottom:10px;}

.pad_btm{ padding-bottom:31px;}

.clues{ padding:0px; margin:0px!important;}
.clues li{ margin-bottom:0px!important;}
