﻿.topZero
{
    top: 0px !important;
  
    }
.topZero2
{
    color: #984842;
    position:relative;
    
    }
.t3565
{
  margin-top: -17px;  
}
.ui_interactive .jMatch
{
 width: 649px !important;
 background: none !important;
}
.ui_interactive .jMatch h2 {
color: #984842;
}
.ui_interactive .jMatch .innerInstructions {
margin-top: 1em;
width: 98%;
padding: 0 10px;
clear: both;
font-style: italic;
}
.ui_interactive .jMatch #title1 {
margin-top: -4px;
margin-left: 105px;
}
.ui_interactive .jMatch #title2 {
margin-top: -4px;
margin-right: 144px;
}

.ui_interactive .jMatch .t3565Left {
position: relative;
float: left;
width: 245px;
height: 65%;
padding: 1.5em;
margin-left: -1px;
margin-top: -13px;
overflow: hidden;
border: 0px solid #333 !important;
-moz-border-radius: 6px;
-o-border-radius: 6px;
-ms-border-radius: 6px;
-khtml-border-radius: 6px;
border-radius: 0px;
background-color: #fff;
}
.ui_interactive .jMatch .words {
overflow: hidden;
width: 338px !important;
}
.ui_interactive .jMatch .word {
width: 246px !important;
height: 30px;
display: block;
text-align: left;
padding: 3px 7px 5px;
line-height: 14px;
margin-bottom: 4px;
}
.ui_interactive .jMatch .t3565Right {
position: relative;
float: right;
margin-top: 8px;
width: 337px;
overflow: hidden;
margin-right: 11px;
}
.ui_interactive .jMatch .definition {
background: #fff;
width: 314px;
height: 30px;
margin: 0 0 4px;
line-height: 15px;
padding: 4px;
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
-o-border-radius: 6px;
-ms-border-radius: 6px;
-khtml-border-radius: 6px;
border-radius: 0px;
}
.ui_interactive .ui-dialog {
top: 154px !important;
left: 165px !important;
}