﻿.ui_interactive .copyright
{
    width: 340px;
}
.topZero2
{
color: #881401;
}
.left_img
{
margin: 53px 0 0 13px;
float:left;     
margin-top: 12px;      
}
.right_txt
{
font-size: 14px;
line-height: 18px;
font-family: Arial, Helvetica, sans-serif;
margin-top: -285px;
margin-left: 356px;
width: 240px;            
}
.topZero
{
top:0px !important;
}
.icon1
{
margin-left: 185px;
margin-top: -14px;
}
.icon2
{
margin-left: 108px;
margin-top: -14px;
}

.audioTip {
  visibility: visible;
}
     
     
    

   