﻿.topZero{top: 0px !important;position: relative !important;float: left;margin-left: 10px;margin-right: 10px;}
.topZero2{color: #CCCC;}
.img1
{
	    height: 230px;
    width: 370px;
    float: left;
    margin-left: 114px;
}

.left_txt
{
    font-size:12px;
    font-style:italic;
    line-height:18px;
    color:#CCF7FF;
    font-weight:bold;
}

.main
{
color: #003366;
font-size: 16px;
text-align: center;
font-weight: bold;
 }
 
 .down_txt
 {
    float: left;
    margin-top: 55px;
    width: 611px;
    font-size: 12px;
    font-style: italic;
    line-height: 18px;
    color: #003366;
 }
 .copyright1
 {
     text-align: center;
 }
 
 .copyrights
{
  position: absolute;
margin-top: 399px;
font-size: 15px;
margin-left: 215px;
color: #ffffff;
}
.wid{width: 700px;}