﻿.ui_interactive .mejs-audio .mejs-controls .mejs-time-rail, .ui_interactive .mejs-audio .mejs-controls .mejs-time-rail .mejs-time-total {
	width: 130px !important;
}
/*
.ui_interactive .ui-navigation-header .mejs-container .mejs-controls {
	position: absolute;
	list-style-type: none;
	margin: 0;
	padding: 0;
	bottom: 0;
	left: 0;
	height: 30px;
	width: 159%;
}
*/
.ui_interactive
{
    background-image:url('../img/07_02_06_img1.jpg');
}
.mejs-container .mejs-controls {
	bottom: 8px; 
	width: 301px !important;
	margin-left: -12px;
}
.ui_interactive .ui-navigation-tracker {
	right: 218px;
}

.ui_interactive {
	background-position: 0px 77px !important;
	background-repeat: no-repeat;
}
.top1 {
	top: 0px !important;
}
.messageBox {
	background: none repeat scroll 0 0 #e0ebff;
	border: 2px solid #13316f;
	min-height: 45px;
	margin: 8px 0 0 10px;
	padding: 6px 5px;
	position: absolute;
	width: 664px;
	z-index: 11;
	text-align: left;
	line-height: 15px;
	font-size: 13px;
}
.calloutman1 {
	background: url("../img/07_02_06_calloutman_left.png") no-repeat scroll 0 0 transparent;
	height: 53px;
	position: absolute;
	width: 44px;
	margin: 69px 0 0 102px;
	z-index: 11;
}
.calloutman2 {
	background: url("../img/07_02_06_calloutman_right.png") no-repeat scroll 0 0 transparent;
	height: 53px;
	position: absolute;
	width: 44px;
	margin: 69px 0 0 237px;
	z-index: 11;
}
.calloutman3 {
	background: url("../img/07_02_06_calloutman_left.png") no-repeat scroll 0 0 transparent;
	height: 53px;
	position: absolute;
	width: 44px;
	margin: 69px 0 0 348px;
	z-index: 11;
}
.calloutman3_1 {
	background: url("../img/07_02_06_calloutman_left1.png") no-repeat scroll 0 0 transparent;
	height: 32px;
	position: absolute;
	width: 27px;
	margin: 97px 0 0 365px;
	z-index: 12;
}
.calloutman4 {
	background: url("../img/07_02_06_calloutman_right.png") no-repeat scroll 0 0 transparent;
	height: 53px;
	position: absolute;
	width: 44px;
	margin: 69px 0 0 537px;
	z-index: 11;
}
.calloutman4_1 {
	background: url("../img/07_02_06_calloutman_right.png") no-repeat scroll 0 0 transparent;
	height: 53px;
	position: absolute;
	width: 44px;
	margin: 82px 0 0 548px;
	z-index: 11;
}
.ui_interactive .ui-slideshow-item {
	position: relative;
	float: left;
	line-height: normal;
	width: 520px;
	height: 430px;
	margin: -9px 10px 0 0;
	padding: 6px;
	overflow: auto;
}
.redcolor {
	color: #881401;
	padding-bottom: 30px !important;
}
.copytext {
	bottom: 31px;
	position: absolute;
	left: 45%;
}
.copyrights {
	position: absolute;
	margin-left: 332px;
	margin-top: -55px;
}
.play1 {
	position: absolute;
	margin-top: 404px;
	margin-left: 638px;
}
.topZero {
	top: -11px !important;
	position: relative !important;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.ui_interactive .ui-navigation-header {
	width: 700px !important;
}
.playerOver {
	height: 510px;
	width: 701px;
	position: absolute;
	top: 0px;
	padding: 17% 0% 0% 44%;
	background: rgba(235, 235, 235, 0.83);
	z-index: 12;
}
.playerText {
	margin-left: -22px;
	margin-top: -15px;
	position: absolute;
	font-style: italic;
}
.playerOver img {
	cursor: pointer;
}
