﻿.ui_interactive hr{display:none;}
.topZero{top:0px !important;}
.topZero2{margin-top:5px !important;color: #984842;}
.ui_edge_buttons{margin-top: 44px !important;margin-right: 45px !important;}
.questionText{font-weight: bold;text-align: center;}
.selectable {width: 87% !important;}
.selectable li {height: auto;cursor: pointer;}
.copyright{margin-top: -36px;position: absolute;text-align: center;width: 590px;color: #ffffff;font-size:14px}
.trim{width:550px;height:190px;margin-top: -1px;}
.ui-dialog{
top: 21px !important;

}