﻿.redcolor {
	color: #881401;
	position: relative;
}
.icon1 {
	margin-top: 18px !important;
}
.map {
	margin-top: 28px;
	margin-left: -8px
}
.copy {
	line-height: 2.4em;
	margin-left: -52px;
	text-align: center;
	color: #003366;
}
.bottom_txt {
	font-size: 12px;
	font-style: italic;
	color: #003366;
	width: 625px;
}
.ui_interactive .ui_custom_dialog_trigger {
	cursor: pointer;
}
.ui_interactive .ui-slideshow-slide {
	margin-top: -37px;
}
.ui_interactive .ui-dialog-buttonset {
	display: none;
}
.ui_interactive .ui-dialog {
	width: 588px !important;
	top: 95px !important;
	margin-left: 17px;
}
#popup_1 {
	position: absolute;
	height: 17px;
	width: 20px;
	margin-left: 388px;
	margin-top: -311px;
}
#popup_2 {
	position: absolute;
	height: 17px;
	width: 20px;
	margin-left: 237px;
	margin-top: -261px;
}
#popup_3 {
	position: absolute;
	height: 17px;
	width: 20px;
	margin-left: 196px;
	margin-top: -245px;
}
#popup_4 {
	position: absolute;
	height: 17px;
	width: 20px;
	margin-left: 167px;
	margin-top: -230px;
}
#popup_5 {
	position: absolute;
	height: 17px;
	width: 20px;
	margin-left: 268px;
	margin-top: -208px;
}
#popup_6 {
	position: absolute;
	height: 17px;
	width: 20px;
	margin-left: 276px;
	margin-top: -190px;
}
.cen1 {
	position: relative;
	left: 285px;
}
