﻿/* CSS Document */

.ui_custom_dialog_trigger{
cursor:pointer;
}

.ui-dialog{
width:500px;
}
.ui-dialog-buttonset{
display:none;
}

.ui-slideshow-slide {
margin: 0px !important;
}

  
.map
{
text-align:center;
}
.area
{
 z-index:14;   }
#area1{
height: 31px;
width: 275px;
position: absolute;
top: -24px;
left: 63px;
}

#area2
{
height: 31px;
width: 125px;
position: absolute;
top: -25px;
left: 463px;
}


#area3
{height: 30px;
width: 88px;
position: absolute;
top: -65px;
left: 511px;
}




 
.captionWth 
{
margin-left: 100px;
margin-top: 14px;
}
.topZero
{
    top: 0px !important;
  
    }
.topZero2
{
    color: #984842;
    position:relative;
    
    }

.img
{
position: absolute;
margin-left: 2px;
margin-top: 324px;
}
.customPopDiv
{
position: absolute;
top: 30px;
left: 29px;
padding: 10px;
width: 636px;
border: 1px solid #000000;
background-color: #EFEFEF;
display: none;
height: 210px;
}

.customPopDiv > .head1
{
  font-weight: bolder;
margin-bottom: 15px;
width: 287px;
position: relative;
left: 83px;
top: -9px;
}
.customPopDiv > .popimg
{
 position: relative;
top: -18px;
left: 5px;
}
.customPopDiv > .content1
{
 width: 331px;
float: right;
font-size: 13px;
}
.customPopDiv > .copyrights
{
    width: 332px;
    float: right;
   font-size: 11px;
}
.clickarea
{
    cursor:pointer;
}

.close1
{
width: 26px;
height: 25px;
/ background: #939393; /
position: absolute;
margin-left: 630px;
margin-top: -19px;
z-index: 11;
background-image: url("../img/03_04_02_btnClose.png");
cursor:pointer;
}



.close2
{
    background-position: -309px 2px;
}

.copyrights
{
position: absolute;
margin-top: -13px;
margin-left: 52px;
}
.rights
{
position: absolute;
margin-top: 290px;
margin-left: 308px;
}
.scroller_bg {
width: 698px;
height: 95px;
position: relative;
top: 254px;
left: -17px;
}
.Maya {
position: absolute;
width: 275px;
height: 30px;
margin: 46px 0 0 81px;
background-color: #D6E3BC;
text-align: center;
line-height: 30px;
border: 1px solid;
cursor: pointer;
}
.Inca {
position: absolute;
width: 125px;
height: 30px;
margin: 44px 0 0 481px;
background-color: #FBD4B4;
text-align: center;
line-height: 30px;
border: 1px solid;
cursor: pointer;
z-index: 10;
}
.Aztec {
position: absolute;
width: 85px;
height: 30px;
margin: 4px 0 0 531px;
background-color: #B6DDE8;
text-align: center;
line-height: 30px;
border: 1px solid;
cursor: pointer;
z-index: 10;
}
.line1 {
border-left: 1px solid;
border-right: 1px solid;
width: 85px;
height: 47px;
position: absolute;
margin: 32px 0 0 531px;
z-index: 9;
}