﻿.topZero
{
    top: 0px !important;
    position: relative !important;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -7px;
}
.topZero2
{
    color: #CCCC;
}
.ui_custom_dialog_trigger
{
    cursor: pointer;
}

.copyrights
{
    position: absolute;
    margin-top: -28px;
    font-size: 11px;
    margin-left: 302px;
    color: black;
    text-align: center;
}

.ui-dialog-buttonset
{
    display: none;
}

.ui-dialog
{
    width: 630px;
    top: -1px !important;
    left: 5px !important;
    height: 256px !important;
}


.top_margin
{
    margin-top: -14px;
    margin-left: 12px;
}
.copyright
{
    color: Black;
    font-size: 11px;
    text-align: center;
    line-height: 1.4em;
}
.Img1
{
    margin-left: -24px;
}
.firstRow
{
    height: 101px;
    float: left;
    margin-left: 15px;
}



#img_1
{
    position: absolute;
    height: 164px;
    width: 147px;
    top: 28px;
    left: 2px;
}
#img_2
{
    position: absolute;
    height: 164px;
    width: 147px;
    top: 28px;
    left: 167px;
}
#img_3
{
    position: absolute;
    height: 164px;
    width: 147px;
    top: 28px;
    left: 332px;
}
#img_4
{
    position: absolute;
    height: 164px;
    width: 147px;
    top: 28px;
    left: 496px;
}



.sub_txt
{
    margin-left: 245px;
    margin-top: 9px;
    width: 306px;
    font-size: 12px;
    color: #000000;
}
.sub_txt_a
{
    margin-left: 245px;
    margin-top: 23px;
    width: 306px;
    font-size: 12px;
}
.pop_img
{
    line-height: 22px;
    float: left;
    margin-top: 8px;
    text-align: center;
    font-size: 11px;
    margin-left: 36px;
}

.one
{
    height: 192px;
    margin: 0 auto;
}

.heading
{
    font-weight: bold;
    line-height: 1.4em;
    text-align: center;
    font-size: 12px;
}

.Pop_head
{
    font-size: 15px;
    font-weight: bold;
    margin-left: 37px;
}
.Pop_head_a
{
    font-size: 15px;
    font-weight: bold;
    margin-top: -10px;
    margin-right: 32px;
}

/*flvs*/
.audioTip
{
    visibility: visible;
}
