﻿/*Tabs*/
div#margin div.tabs{margin-top:40px;position:relative;zoom:1;}
div#margin div.tabs h3{margin:0px;padding-left:10px;padding-right:10px;line-height:30px;font-size:16px;display:block;font-weight:bold;text-decoration:none;outline:none;position:absolute;top:-30px;}
div#margin div.tabs h3.tabOn{color:#FFF;height:42px;line-height:42px;background-color:#003366;}
div#margin div.tabs h3.tabOff{
	color:#FFF;
	background-color:#09F;
	height:42px;line-height:42px;
}
div#margin div.tabs h3.tabOff:hover{color:#FFF;background-color:#000;cursor:pointer;}
div#margin div.tabs div.tab{padding:10px;background-color:#FFF;border:3px solid #003366; width:680px;}
div#margin div.tabs div.tab p{margin:20px;}

div.tabs h3.tabWth{text-align:center;}

.slideImages{width:300px; height:200px};
.Slideshow { position:relative; width:300px; height:200px; }
.Slideshow .slide { position: absolute; opacity:0; z-index:9; }
.Slideshow .slide.active { opacity:1; z-index: 11; }
.Slideshow .slide.last-active { z-index: 10; }

.fl{float:left;}
.fr{ float:right;} 
.clr{clear:both;}
.rightContenttab{
	padding:5px;
	margin-left:10px;
	width:600px;
	
}
.rightContenttab p{margin:0px 0 10px 0!important; padding:0px;}

.rightContenttab h2{
	 color: #003366;
    font-size: 16px;
	padding:0px;
	margin:0px;
}
.caption{font-size:12px; }
.captionWth{width:285px; }
.pdTop10{padding-top:10px;}

[disabled] {
	opacity:0.4;
}
.hide{display:none;}
.MCHead1 {
    height: 30px;
    padding: 5px 10px 0 24px;
}
.MCInstruction1 {
    color: #984842;
    font-family: Arial;
    font-size: 13px;
    font-style: italic;
    margin-left: 10px;
    width: 535px;
	text-align:left;
}

.religionTbl { width:640px;margin-left:20px;border:1px solid black;border-bottom:0; float:left; }
.tblHeader { border:1px solid black;border-left:0;background:url(../imgs/tblHead_bg.jpg) repeat-x;height:275px; float:left;}
.tblHeading { background-color:#f79646;line-height:25px;padding:5px;text-align:center;cursor:pointer;}
.tblHeader ul { padding:0;}
.tblHeader li { font-size:12px; padding:0px; width:100px;}
div.copyright { float:left;width:660px; text-align:center; line-height:25px; }
.tblContent { display:none; }


.video_infoBox{
	color:#984842;
	min-height:30px;
	margin:0px 0px 0px 20px;
	text-align: left;
}
.margin20px{ margin:20px;}