﻿body {
}

.ClickRevealStar
{
    display:block;
    width:745px; 
    height:auto;
	float:left;
}

.ClickRevealStar .InterBody
{
    border:solid 10px #569ac9;
    width:745px; 
    height:auto;
    position:relative;
	top:3px;
	left:3px;
}


.flip1{
     float:left;
     width:745px;
     padding:10px;
	 margin:0 0 20px 0;
}
.card1{
     width:239px;
     height:310px;
     float:left;
     position:relative;
	 cursor:pointer;
	 margin-left:90px;
}
.card1 img{
     width:239px;
     height:310px;
}

.card2{
     width:239px;
     height:310px;
     float:left;
     position:relative;
	 cursor:pointer;
	  margin-left:100px;
}
.card2 img{
     width:239px;
     height:310px;
}

.imgTxt1 {
    margin: 10px 0 0 5px;
    padding: 5px;
    position: absolute;
    width: 225px;
    z-index: 1020;
	display:none;
}
.mouse_icon{ float:left; display:inline; margin:0px 0 5px 25px;}

.instr_txt{ font-size:12px; font-style:italic; color:#881401; float:left; display:inline; width:635px; margin:0px 0 5px 15px!important;}

 .contentTopBg {
	float:left;
    background: url("../imgs/content_topbg.png") no-repeat scroll 0 0 transparent;
    height: 28px;
    width: 745px;
}

.contentMiddleBg {
	float:left;
    background: url("../imgs/content_middlebg.png") repeat-y scroll 0 0 transparent;
	min-height:450px;
    width: 745px;
}

.contentBottomBg1{
    background: url("../imgs/content_botbg1.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 28px;
    width: 745px;
}


.cpTxt1{ float:left; width:150px; margin:0 0 0 152px;}

.cpTxt2{  float: left;
    margin: 0 50px 0 173px;
    width: 178px;}

.cpy_right{ font-size:12px; position:absolute; margin:-7px 0 0 350px;}

 