﻿
.fl{float:left;}
.fr{ float:right;} 
.clr{clear:both;}
.btnpos {
    bottom: 23px;
    position: absolute;
    right: 30px;
}
.pageNo {
    bottom: 27px;
    color: #025286;
    left: 40px;
    position: absolute;
}
.contentTopBg{
	background:url(../imgs/content_topbg.png) no-repeat;
	 width:745px; 
	 height:28px;
}
.contentMiddleBg{
	background:url(../imgs/content_middlebg.png) repeat-y; height:480px;
	 width:745px; 
}
.contentBottomBg1{
	background:url(../imgs/content_botbg1.png) no-repeat;
	 width:745px; 
	 height:28px;
}
.popup {
    background-color: #EEEEEE;
    border: 1px solid #000000;
    display: none;
    padding: 10px;
    position: absolute;
    left: 35px;
    top: 33px;
    width: 660px;
	z-index:101;
}


.popup h2{
	color: #000000;
    font-size: 14px;
	padding:0px;
	margin:0px;
}
.caption{font-size:11px; }
.captionWth{ padding:5px 25px 0px 25px; }
.pdTop10{padding-top:10px;}

[disabled] {
	opacity:0.4;
}
.hide{display:none;}
.MCHead {
    height: 25px;
    padding: 0px 10px 10px 24px;
}
.MCInstruction {
    color: #984842;
    font-family: Arial;
    font-size: 13px;
    font-style: italic;
    margin-left: 10px;
	width:650px;
}
.mLeft30{
	margin-left:30px;
}
.img_copyright {
    clear: left;
    float: left;
    font-size: 12px;
    margin: 5px;
    text-align: center;
    width: 250px;
}
.img_copyright1 {
    clear: left;
    float: left;
    font-size: 12px;
    margin: 5px;
    text-align: center;
    width: 185px;
}
.popContWth{
	width:385px;
	margin:5px;
}
.popContWth1{
	width:450px;
	margin:5px;
}

.mTop50{
	margin-top:50px;
}

.overlay{ border:1px solid; opacity:0; width:500px; height:332px; 	filter: alpha(opacity = 0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; position:absolute;  margin: 0 0 0 110px; display:none; z-index:100; background:#FFFFFF;
}

#Map area, #Map{ cursor:pointer; border:none;}

.map_img{ position:absolute; z-index:10;}

.writingMap{ cursor:pointer;}

.politicsMap1{ border: 0px solid;
    height: 24px;
    margin: 165px 0 0 231px;
    position: absolute;
    width: 74px;
    z-index: 20; cursor:pointer;}
	
.politicsMap2{ border: 0px solid;
    height: 24px;
    margin:139px 0 0 238px;
    position: absolute;
    width: 74px;
    z-index: 20; cursor:pointer;}
	
.politicsMap3{ border: 0px solid;
    height: 24px;
    margin: 111px 0 0 255px;
    position: absolute;
    width: 74px;
    z-index: 20; cursor:pointer;}	
	
.politicsMap4{ border: 0px solid;
    height: 24px;
    margin: 82px 0 0 282px;
    position: absolute;
    width: 50px;
    z-index: 20; cursor:pointer;}	
	
.writingMap1{ border: 0px solid;
    cursor: pointer;
    height: 24px;
    margin: 58px 0 0 338px;
    position: absolute;
    width: 88px;
    z-index: 20;}
	
.writingMap2{  border: 0px solid;
    cursor: pointer;
    height: 24px;
    margin: 87px 0 0 342px;
    position: absolute;
    width: 121px;
    z-index: 20;}
	
.writingMap3{border: 0px solid;
    cursor: pointer;
    height: 24px;
    margin: 108px 0 0 348px;
    position: absolute;
    width: 101px;
    z-index: 20;}	
	

	
	
.religionMap1{ border: 0px solid;
    height: 24px;
    margin:148px 0 0 431px;
    position: absolute;
    width: 74px;
    z-index: 20; cursor:pointer;}
	
.religionMap2{ border: 0px solid;
    height: 24px;
    margin:176px 0 0 432px;
    position: absolute;
    width: 74px;
    z-index: 20; cursor:pointer;}
	
.religionMap3{ border: 0px solid;
    height: 24px;
    margin: 203px 0 0 432px;
    position: absolute;
    width: 74px;
    z-index: 20; cursor:pointer;}	
	
.religionMap4{ border: 0px solid;
    height: 24px;
    margin: 230px 0 0 455px;
    position: absolute;
    width: 43px;
    z-index: 20; cursor:pointer;}		
.religionMap5{	
border: 0px solid;
    cursor: pointer;
    height: 18px;
    margin: 128px 0 0 455px;
    position: absolute;
    width: 43px;
    z-index: 20;
}			

.publicMap1{ border: 0px solid;
    cursor: pointer;
    height: 49px;
    margin: 256px 0 0 350px;
    position: absolute;
    width: 110px;
    z-index: 20;}
	
.publicMap2{ border: 0px solid;
    cursor: pointer;
    height: 20px;
    margin: 307px 0 0 330px;
    position: absolute;
    width: 114px;
    z-index: 20;}
	

.economiucsMap1{ border: 0px solid;
    cursor: pointer;
    height: 52px;
    margin: 192px 0 0 233px;
    position: absolute;
    width: 74px;
    z-index: 20;}
	
.economiucsMap2{ border: 0px solid;
    cursor: pointer;
    height: 28px;
    margin: 246px 0 0 245px;
    position: absolute;
    width: 97px;
    z-index: 20;}
	
.economiucsMap3{  border: 0px solid;
    cursor: pointer;
    height: 24px;
    margin: 277px 0 0 282px;
    position: absolute;
    width: 53px;
    z-index: 20;}	
	
.toolTipClose {
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  top: -8px;
  right: -8px;
  background: url(../imgs/btnClose.png) no-repeat;
  cursor:pointer;
}
div{
	line-height:18px;
	color:#000;
}
.audioTip {
  visibility: visible;
}