﻿body {
}

.MultiChoice
{
    display:block;
    width:745px; 
    height:auto;
}

.MultiChoice .InterBody
{
    font-family:Arial;
    font-size:12px;
    color:#000000;
    width:745px; 
    height:auto;
    position:relative;
    line-height:14px;
}
 
.fl
{
    float:left;
}

.fr
{
    float:right;
}

.clr
{
    clear:both;
}

.mgTop10
{
    margin-top:9px;
}

.mgTop8
{
    margin-top:6px;
}

.MCSet
{
	margin:0px 0 0;
    display:none;
	float:left;
}

.MCHead
{
    height:25px;
    padding:0px 10px 10px 25px;
}

.MCInstruction
{
    font-family:Arial;
    font-size:13px;
    font-style:italic;
    color:#984842;
    margin-left:55px;
	padding-top:10px;
}

.MCBody
{
    height:180px;
    padding:0px 10px;
}

.MCFoot
{
    height:40px;
}

.MCOption
{
    margin:10px 0px 0px 20px;
	float:left;
	width:630px;
	clear:both;
}

.MCButton
{
    margin:8px 0px 8px 8px;
    cursor:pointer;
}

.MCSubmit
{
    background:url(../imgs/submit_btn.png) no-repeat;
    height:24px;
    width:116px;
}

.MCPager
{
   height: 15px;
    margin: 8px;
    padding: 2px 22px;
    width: 20px;
}


.MCButtonRight
{
    width:37px;
    margin:8px;
}

.MCForward
{
    background:url(../imgs/forward_btn.png) no-repeat;
    height:24px;
    width:37px;
    cursor:pointer;
    display:none;
}

.MCRestart
{
    background:url(../imgs/restart_btn.png) no-repeat;
    height:24px;
    width:116px;
    display:none;
}

.MCTryAgain
{
    background:url(../imgs/tryagain_btn.png) no-repeat;
    height:24px;
    width:116px;
    margin-right:5px;
    cursor:pointer;
}

input{cursor:pointer; margin:0 10px 0 0;}

.RevealCopyRight
{
    width: 88px;
    margin:10px 0 0 235px;
}

.RevealCopyRight .rtxt
{
   font-family:Arial;
    font-size:10px;
    color: #000000;
    line-height: 17px;
}

.MCFeedback
{
     background-color: #E6F5FF;
    border: 1px solid #025286;
    display: none;
    height: 40px;
    left: 464px;
    padding-top: 10px;
    position: absolute;
    text-align: center;
    top: 150px;
    width: 250px;
    z-index: 2;
}

.MCFeedtxt
{
    height:20px;
    padding:5px;
}

.MCFeedtxt span
{
    display:none;
}

.MCFeedImg
{
    height:15px;
    width:16px; 
}

.MCCorrect
{
    background:url(../imgs/correct.png) no-repeat;
}

.MCinCorrect
{
    background:url(../imgs/incorrect.png) no-repeat;
}

.MCOverlay
{
    background-color:#ffffff;
    opacity:0;
    filter: alpha(opacity=0);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    z-index:1;
    position:absolute;
    top:0px;
    left:0px;
    width:729px;
    height:215px;
    display:none;
}

.MCDisable
{
     opacity:0.2;
    filter: alpha(opacity=20);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    cursor:default;
}

.MCOpTxt
{
    margin-top:0px;
    display:block;
	width:560px;
}
.img_cont{
	width:290px;
	height:190px;
	border:1px solid #025286;
	background-color:#000000;
}
.img_txt{
	font-size:12px;
	text-align:center;
	position:absolute;
	width:220px;
	margin:78px 0 0;
	font-family:Arial, Helvetica, sans-serif;
	color:#ffffff;
	padding:0 35px;
	font-weight:bold;
}
.puzzle_imgCont{
	position:absolute;
	width:290px;
	height:190px;
}
.puzzle_img{
	float:left;
	display:none;
}
.puzzle{
	position:absolute;
	margin:50px 0 0 400px;
}

.contentTopBg {
	float:left;
    background: url("../imgs/content_topbg.png") no-repeat scroll 0 0 transparent;
    height: 28px;
    width: 745px;
}

.contentMiddleBg {
	float:left;
    background: url("../imgs/content_middlebg.png") repeat-y scroll 0 0 transparent;
	min-height:215px;
    width: 745px;
}

.contentBottomBg1a{
    background: url("../imgs/content_botbg.png") no-repeat scroll 0 0 transparent;
    float: left;
    height: 54px;
    width: 725px;
	padding:0 20px 0 0;
}
 
.ques_con{width:700px; margin-left:15px;}

.MCReverse
{
    background:url(../imgs/reverse_btn.png) no-repeat;
    height:24px;
    width:37px;
    cursor:pointer;
    display:none;
}

 