﻿.flip {
	margin: 0 auto;
	width: 710px;
	padding: 5px;
}
.card1, .card2, .card3, .card4, .card5, .card6, .card7, .card8, .card9, .card10, .card11, .card12, .card13, .card14, .card15, .card16, .card17, .card18, .card19, .card20, .card21, .card22, .card23, .card24, .card25, .card26, .card27, .card28, .card29, .card30 {
	width: 158px;
	height: 265px;
	float: left;
	position: relative;
	margin-left: 9px;
	margin-right: 11px;
}
.card1 img, .card2 img, .card3 img, .card4 img, .card5 img, .card6 img, .card7 img, .card8 img, .card9 img, .card10 img, .card11 img, .card12 img, .card13 img, .card14 img, .card15 img, .card16 img, .card17 img, .card18 img, .card19 img, .card20 img, .card21 img, .card22 img, .card23 img, .card24 img, .card25 img, .card26 img, .card27 img, .card28 img, .card29 img, .card30 img {
	cursor: pointer;
}
.imgTxt1 {
	margin: 10px 0 0 5px;
	padding: 5px;
	position: absolute;
	width: 225px;
	z-index: 1020;
	display: none;
}
body {
}
img {
	border: 0px;
}
.SlideShow {
	display: block;
	width: 757px;
}
.SlideShow .InterBody {
	font-family: Arial;
	font-size: 12px;
	color: #000000;
	width: 736px;
	height: 481px;
	position: relative;
	background-color: #eff8ff;
	line-height: 14px;
}
.hide {
	display: none;
}
.contentMiddleBg {
	background: url(../imgs/content_middlebg.png) repeat-y;
	height: 849px;
	width: 745px;
}
.contentTopBg {
	background: url(../imgs/content_topbg.png) no-repeat;
	width: 745px;
	height: 28px;
}
.contentBottomBg {
	background: url(../imgs/content_botbg.png) no-repeat;
	width: 745px;
	height: 53px;
	float: left
}
.mouse_icon {
	float: left;
	display: inline;
	margin: 0 0 0 24px;
}
.instr_txt {
	font-size: 12px;
	font-style: italic;
	color: #881401;
	float: left;
	display: inline;
	width: 635px;
	margin: 4px 0 0 10px!important;
}
.con_div {
	float: left;
	display: inline;
	width: 712px;
	margin: 25px 0 0 21px;
}
.footer_div {
	float: left;
	display: inline;
	width: 737px;
	height: 50px;
}
.cpy_right {
	float: left;
	display: inline;
	font-size: 11px;
	color: #0A0B0C;
	margin: 11px 0 0 265px;
}
.width {
	width: 100%;
	float: left;
}
.flt {
	float: left;
}
.slide_img {
	float: left;
	display: inline;
	margin: 0 0 0 165px;
}
.slide_caption {
	float: left;
	clear: left;
	font-size: 13px;
	margin: 5px 0 0 20px !important;
	width: 540px;
}
.slide_copyright {
	float: left;
	clear: left;
	font-size: 12px;
	text-align: center;
	width: 569px;
	margin-top: 5px;
}
.slide, .slide2, .slide3, .slide4, .slide5, .slide6, .slide7, .slide8 {
	float: left;
	display: inline;
}
.btnpos {
	position: absolute;
}
.img_txt {
	font-size: 13px;
	padding: 15px;
	position: absolute;
	z-index: 1001;
	display: none;
	line-height: 13px;
	cursor: pointer;
}
.pageNo {
	background: url("../imgs/counter_btn.png") no-repeat;
	color: #025286;
	font-size: 14px;
	height: 20px;
	margin: 6px 0 0 33px;
	padding: 5px 15px 0 11px;
	/*padding: 5px 8px 0 11px;*/
	float: left;
	width: 24px;
}
.copyright {
	border: 0 none;
	color: #003366;
	width: 142px;
	text-align: center;
}
.scrollContent {
	height: 259px;
	margin-top: 10px;
	overflow: auto;
	width: 231px;
}
.dispHide {
	display: hide;
}
.tooltip {
	margin: 0 3px;
}
.width160 {
	width: 160px;
}
.prev {
	background: url(../imgs/previous.png) no-repeat;
	height: 24px;
	width: 37px !important;
	border: none;
}
.next {
	background: url(../imgs/next.png) no-repeat;
	height: 24px;
	width: 37px !important;
	border: none;
	cursor: pointer;
}
 [disabled] {
 opacity:0.4;
 filter: alpha(opacity=40);
 -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
}
.btn_pos {
	float: right;
	margin: 6px 31px 0 0;
}
.popup {
	background-color: #EEEEEE;
	border: 1px solid #000000;
	display: none;
	height: 240px;
	left: 117px;
	padding: 10px;
	position: absolute;
	top: 269px;
	width: 510px;
	z-index: 101;
}
.popup_close {
	background: url("../imgs/btnClose.png") no-repeat scroll 0 0 transparent;
	display: block;
	height: 25px;
	position: absolute;
	right: -8px;
	top: -8px;
	width: 25px;
	cursor: pointer;
}
.popup_txt {
	padding: 20px;
}
.overlay {
	position: absolute;
	height: 921px;
	width: 745px;
	z-index: 100;
	display: none;
	opacity: 0.6;
	filter: alpha(opacity=60);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	background: #ffffff;
	margin: -23px 0 0 0;
}
.imgtxt_head {
	font-size: 15px;
}
.set{
	text-align:center;
}