﻿.topZero
{
top: 0px !important;  
}
.topZero2
{
color: #984842;
position:relative;    
}
.txt1
{
position: absolute;
margin-top: -245px;
margin-left: 300px;
width: 292px;
font-style: italic;
}
.rights
{
position: absolute;
margin-top: 7px;
margin-left: 21px;   
}
.txt2
{
position: absolute;
margin-top: -245px;
margin-left: 352px;
width: 252px;
font-style: italic;
}
.rights2
{
position: absolute;
margin-top: 7px;
margin-left: 66px;
}
.rights3
{
position: absolute;
margin-top: 7px;
margin-left: 105px;
}
.redcolor
{
color: #881401;
}
.ui_interactive .ui_custom_dialog_trigger{
cursor:pointer;
}
.ui_interactive .ui-dialog{
width: 617px;
height: 338px !important;
top: 0px !important;
left: 0px !important;
}
.ui_interactive .ui-dialog-buttonset{
display:none;
}
.headtitle
{
position: absolute;
top: 0px;
left: 212px;
}
.phone
{
position: absolute;
top: 43px;
left: 16px; 
}
.map1
{
position: absolute;
top: 104px;
left: 79px;   
}
.map2
{
position: absolute;
top: 104px;
left: 223px; 
}
.map3
{
position: absolute;
top: 104px;
left: 365px;  
}
.label1
{
text-align: center;
height: 16px;
color: #FF6600;
padding-top: 2px; 
}
.label2
{
text-align: center;
height: 16px;
cursor: pointer;
color: #FF6600;
padding-top: 2px; 
}
.label3
{
text-align: center;
height: 16px;
cursor: pointer;
color: #FF6600;
padding-top: 2px;  
}
#id1
{
height: 160px;
width: 127px;
position: absolute;
margin-top: 94px;
margin-left: 68px;
}
#id2
{
height: 160px;
width: 127px;
position: absolute;
margin-top: 94px;
margin-left: 213px;
}
#id3
{
height: 160px;
width: 127px;
position: absolute;
margin-top: 94px;
margin-left: 355px;
}
.copyrights
{   
position: absolute;
top: 350px;
left: 272px;
}
.poptxt
{
margin-top: 13px;
width: 598px;   
}
.left1{
    width: 230px;
}
.left11 {
    width: 325px;
}

/*flvs*/
.poptxt {
  color: #000000;
}