﻿.topZero

{

    top: 0px !important;

  

    }

.topZero2

{

    color: #984842;

    position:relative;

    

    }

.t3565

{

  margin-top: -17px;  

}

.jMatch

{

 width: 679px !important;

 background: none !important;

}

.jMatch h2 {

color: #984842;

}

.jMatch .innerInstructions {

margin-top: 1em;

width: 98%;

padding: 0 10px;

clear: both;

font-style: italic;

}

.jMatch #title1 {

margin-top: -4px;

margin-left: 98px;

}

.jMatch #title2 {

margin-top: -4px;

margin-right: 195px;

}



.jMatch .t3565Left {

position: relative;

float: left;

width: 215px;

height: 65%;

padding: 1.5em;

margin-left: -1px;

margin-top: -13px;

overflow: hidden;

border: 0px solid #333 !important;

-moz-border-radius: 6px;

-o-border-radius: 6px;

-ms-border-radius: 6px;

-khtml-border-radius: 6px;

border-radius: 0px;

background-color: #fff;

}

.jMatch .words {

overflow: hidden;

width: 338px !important;

}

.jMatch .word {

width: 214px !important;

height: 30px;

display: block;

text-align: left;

padding: 8px 3px 6px 9px;

line-height: 14px;

margin-bottom: 4px;

}

.jMatch .t3565Right {

position: relative;

float: left;

margin-top: 8px;

margin-left: 1px;

width: 60%;

overflow: hidden;

}



.jMatch .definition {

background: #fff;

height: 30px;

margin: 0 0 4px;

line-height: 15px;

padding: 8px 3px 6px 9px;

-moz-border-radius: 6px;

-webkit-border-radius: 6px;

-o-border-radius: 6px;

-ms-border-radius: 6px;

-khtml-border-radius: 6px;

border-radius: 0px;

}

.jMatch .definitions {

width: 105%;

}

.ui-dialog {

top: 154px !important;

left: 165px !important;

}

 .innerInstructions h2 {

line-height: 24px !important;

}