﻿.topZero {
	top: 0px !important;
	position: relative !important;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.topZero2 {
	color: #984842;
}
.ui_interactive .image-container .enlarge {
	right: 188px;
	margin-top: 5px;
}
.left_img {
	text-align: center;
}
.rightmain {
	font-weight: bold;
	text-align: left;
	color: #003366;
	font-size: 16px;
	margin-bottom: 5px;
}
.down_con {
	font-size: 12px;
	text-align: left;
	width: 590px;
	font-weight: 500;
	margin-top: 2px;
	line-height: 18px;
}
.copyrights1 {
	position: absolute;
	margin-top: -42px;
	font-size: 15px;
	margin-left: 266px;
	color: Black;
}
.topZero {
	top: 0px !important;
	position: relative !important;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.topZero2 {
	color: #984842;
}
.copyrights {
	position: absolute;
	margin-top: -43px;
	font-size: 15px;
	margin-left: 264px;
	color: #ffffff;
}
/*.ui_interactive .showcase {
	margin: 0px !important;
	width: 580px;
}*/
