﻿.ui_interactive .ui_custom_dialog_trigger{
cursor:pointer;
}

.ui_interactive .ui-dialog{
width: 655px;
height: 284px !important;
top: 79px !important;
left: 10px !important;
}
.ui_interactive .ui-dialog-buttonset{
display:none;
}
.topZero
{
top: 0px !important;
  
}
.topZero2
{
color: #984842;
position:relative;
    
}
.copyrights
{
position: absolute;
margin-left: 335px;
margin-top: -28px;
}
.map
{position: absolute;
margin-left: 0px;
margin-top: 0px;
}
#id1{
position: absolute;
margin-top: 139px;
margin-left: 590px;
}

#id2
{
position: absolute;
margin-top: 126px;
margin-left: 499px;
}


#id3
{
position: absolute;
margin-top: 207px;
margin-left: 399px;
}


#id4
{
position: absolute;
margin-top: 112px;
margin-left: 325px;
}


#id5
{
position: absolute;
margin-top: 109px;
margin-left: 298px;
}
#id6
{
position: absolute;
margin-top: 154px;
margin-left: 99px;
}
#id7
{
position: absolute;
margin-top: 152px;
margin-left: 47px;
}
.head1
{
position: relative;
top: 10px;
left: 227px;    
}
.poptxt
{margin-top: 11px;
width: 626px;
}

/*flvs*/
.poptxt {
  color: #000;
}