﻿/*Tabs*/

.InterBody{ width:745px;}
.fl{float:left;}
.fr{ float:right;} 
.clr{clear:both;}

[disabled] {
	opacity:0.4;
	 filter: alpha(opacity=40); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
}
.hide{display:none;}

.instr_txt{ font-size:12px; font-style:italic; color:#881401; float:left; display:inline; width:605px; margin:8px 0 0 10px !important;}

.contentMiddleBg{	background:url(../intmedia/content_middlebg.png) repeat-y;  width:745px; float:left;}

.contentTopBg{	background:url(../intmedia/content_topbg.png) no-repeat;	 width:745px; 	 height:28px; }

.contentBottomBg{	background:url(../intmedia/content_botbg.png) no-repeat;	 width:745px; 	 height:28px; float:left}

.mouse_icon{ float:left; display:inline;  margin:5px 0 0 24px;}

.timelineInteraction{height:545px; width:697px;}

.scrollimg_txt{
	float:left;
	width:680px;
}

.scroller_bg{
	margin: 0 0 0 4px;
	float:left; position:relative;   width: 712px;     height: 150px;
}

#slidingButton{ 
	background:url(../intmedia/timeline_arrow.png) no-repeat; 
	position:absolute;     
	height:20px; 
	top:69px; 
	left:33px; 
	width:19px; 
	cursor:pointer;
	z-index:11; 
}
.timeline{
	width:675px;
	height:30px;
	margin:0 0 0 12px;
}
.timeline div{
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bold;
	float:left;
	width:100px;
	padding:10px 0 0 28px;
	text-align:center;
}

.slidebar{
	background:url(../intmedia/timeline.png) no-repeat; 
	position:absolute;     
	height:148px;   
	width:712px;
	z-index:10; 
    margin: 0 0 0 13px;	
}
.imgCont{
  border: 2px solid #003366;
    float: left;
    height: 325px;
    margin: 10px 0 20px 40px;
    width: 645px;
	padding:10px 0 0 10px;
}

.RevealCopyRight
{
    width:85px;
    margin:15px 0 0 330px; font-size:12px;  float: left;
}
.scroll_cpy{ text-align:center; width:100%; font-size:12px; margin-top:5px; text-align:center;} 

.slide{ display:none;  float: left;
    height: 325px;
    position: relative;
    width: 645px;
}

.slide_left{ float:left; display:inline; width:335px;}

.slide_right{ float:left; display:inline; width:320px; margin-left:40px;}

.scroll_img{float:left;
	width:320px; display:inline;
	}

.scroll_img img{ display:block; margin:0 auto;}
.scroll_txt{
	float:left;
	width:305px;
	  margin: 10px 0 0 0;
	  height:285px; overflow:auto;
}

.slide_head{ font-weight:bold; padding-bottom:10px;}

.nxt{
	 background:url(../intmedia/next.png) no-repeat;
	 width:37px; 
	 height:24px; float:left;
	 border:0px;
	 cursor:pointer;
	 margin:0 0 0 10px;
}
.prev{
	 background:url(../intmedia/previous.png) no-repeat;
	 width:37px; 
	 height:24px; float:left;
	 border:0px;
	opacity:0.3;
	filter: alpha(opacity = 30);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	 cursor:default;
}
.btnpos{ margin: 265px 0 0 552px; position: absolute;}

.mar_left{ margin-left:10px;}

.instr_txt_img{ font-size:12px; font-style:italic; color:#881401; display:inline; float:left; width:305px;}

.width255{ width:255px !important;}

.marginleft_1940{ margin-left:-140px;}

.marginleft_1941{margin-left: -59px;
    margin-top: -100px;  }

.marginleft_1942{ margin-left:-50px; }	


.marginleft-40{ margin-left:-40px;}
.hideToolTip{ left:38px!important;}

/*flvs*/
.slide_head, .scroll_txt {
  color: #000;
  line-height: 18px;
}

.audioTip {
  visibility: visible;
}

.imgCont {
  height: 345px;
}