﻿body
{
}

.InterBody1
{
    height: 706px;
}
img
{
    border: 0px;
}

.contentMiddleBg1
{
    background: url(../intmedia/content_middlebg.png) repeat-y;
    width: 745px;
    float: left;
    height: 625px;
}

.contentTopBg1
{
    background: url(../intmedia/content_topbg.png) no-repeat;
    width: 745px;
    height: 28px;
}

.contentBottomBg
{
    background: url(../intmedia/content_botbg.png) no-repeat;
    width: 745px;
    height: 53px;
    float: left;
}

.mouse_icon
{
    float: left;
    display: inline;
    margin: 5px 0 0 24px;
}

.instr_txt
{
    font-size: 13px;
    font-style: italic;
    color: #984842;
    float: left;
    display: inline;
    width: 635px;
    margin: 12px 0 0 10px !important;
}

.con_div
{
    float: left;
    display: inline;
    width: 737px;
    margin: 25px 0 0 0;
}

.footer_div
{
    float: left;
    display: inline;
    width: 737px;
    height: 50px;
}

.cpy_right
{
    float: left;
    display: inline;
    font-size: 12px;
    color: #0A0B0C;
    margin: 11px 0 0 355px;
}

#submit
{
    background: url(../intmedia/submit_btn.png) no-repeat;
    height: 24px;
    width: 116px;
    margin: 7px 13px 0 0;
    opacity: 0.6;
    float: right;
}

#restart
{
    background: url(../intmedia/restart_btn.png) no-repeat;
    height: 24px;
    width: 116px;
    margin: 7px 30px 0 0;
    float: right;
    display: none;
    cursor: pointer;
}

.width
{
    width: 100%;
    float: left;
}
.flt
{
    float: left;
}

.drop_con
{
    float: left;
}
.drop_area
{
    width: 521px;
    height: 403px;
    background: url(../intmedia/wf_06_01_01a_map.png) no-repeat;
    margin: 20px 0 0 125px;
}

.dragarea
{
    float: left;
    padding: 0 0 10px 54px;
    width: 660px;
    margin: 10px 0 0 0;
}

.dragItem
{
    float: left;
    background: #d7eefe;
    width: 88px;
    font-size: 13px;
    line-height: 24px;
    color: #1a1a1a;
    border: 1px solid #cfcfcf;
    cursor: pointer;
    text-align: center;
}

.finalFB, .corctFB
{
    display: none;
}

.feed_div
{
    background-color: #E6F5FF;
    border: 2px solid #025286;
    bottom: 331px;
    display: none;
    height: 65px;
    position: absolute;
    right: 202px;
    width: 328px;
    z-index: 9999;
}

.overlay
{
    display: none;
    height: 100%;
    position: absolute;
    width: 724px;
    z-index: 9998;
    background-color: #ffffff;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.feed_close
{
    color: #025286;
    cursor: pointer;
    float: right;
    font-size: 18px;
    font-weight: bold;
    margin: 5px 10px 0 0;
}

.dragarea div
{
    float: left;
    width: 100px;
    height: 30px;
    margin: 5px 3px;
}

.drop_ul
{
    padding: 0px !important;
    margin: 0px !important;
}

.dropItem
{
    position: absolute;
    border: 0px solid;
    width: 88px;
    height: 23px;
    list-style: none;
}

.drop1
{
    margin: 38px 0 0 5px;
}

.drop2
{
    margin: 70px 0 0 42px;
}

.drop3
{
    margin: 101px 0 0 71px;
}

.drop4
{
    margin: 129px 0 0 84px;
}

.drop5
{
    margin: 165px 0 0 50px;
}

.drop6
{
    margin: 193px 0 0 91px;
}

.drop7
{
    margin: 224px 0 0 95px;
}

.drop8
{
    margin: 255px 0 0 104px;
}

.drop9
{
    margin: 6px 0 0 173px;
}

.drop10
{
    margin: 39px 0 0 323px;
}

.drop11
{
    margin: 67px 0 0 289px;
}

.drop12
{
    margin: 98px 0 0 373px;
}

.drop13
{
    margin: 125px 0 0 398px;
}

.drop14
{
    margin: 169px 0 0 426px;
}

.drop15
{
    margin: 210px 0 0 406px;
}

.drop16
{
    margin: 240px 0 0 417px;
}

.drop17
{
    margin: 278px 0 0 417px;
}

.drop18
{
    margin: 339px 0 0 398px;
}

.drag_ul1
{
    display: none;
}

/*flvs*/
p.corctFB {
  margin: 20px;
  color: #000;
}

