﻿/* CSS Document */

.topZero {
	top: 0px !important;
	position: relative !important;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}
.topZero2 {
	color: #984842;
}
.u_img {
	background: url("../imgs/07_06_05a_img_bg.png") no-repeat;
	height: 514px;
	padding: 10px;
}
.main1 {
	font-weight: bold;
	margin: 10px;
}
p {
	margin: 10px;
}
.image-container.right {
	margin-right:40px;
}

/*flvs*/
.audioTip {
  visibility: visible;
}