﻿body {
}
img{ border:0px;}

.InterBody{ position:relative;}
 
.contentMiddleBg{	background:url(../imgs/content_middlebg.png) repeat-y;  width:745px; float:left; position:relative;}

.contentTopBg{	background:url(../imgs/content_topbg.png) no-repeat;	 width:745px; 	 height:28px;  float:left;}

.contentBottomBg{	background:url(../imgs/content_botbg.png) no-repeat;	 width:745px; 	 height:28px; float:left}

.mouse_icon{ float:left; display:inline;  margin:5px 0 0 24px;}

.instr_txt{ font-size:12px; font-style:italic; color:#881401; float:left; display:inline; width:635px; margin:6px 0 0 10px!important;}

.con_div{ float:left; display:inline; width:737px; margin:25px 0 0 0;}

.footer_div{ float:left; display:inline; width:737px; height:50px;}

.cpy_right{ float:left; display:inline; font-size:11px; color:#0A0B0C; margin:30px 0 0 355px;}


.termarea{float:left; width:280px; height:auto; padding:15px 0 5px 23px; position:relative;}



.feed_div{
	background-color: #E6F5FF;
    border: 2px solid #025286;
    display: none;
    height: 130px;
    position: absolute;
    width: 430px;
    z-index: 9999;
	 left: 0px;
	 top: 0px;
	 margin:200px 0 0 165px;
}	

.overlay{ display: none;
    height: 564px;
    position: absolute;
    width: 724px;
    z-index: 9998;    
	background-color:#ffffff;
    opacity:0;
    filter: alpha(opacity=0);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	top:0px; left:0px;
}

.feed_close {
    color: #025286;
    cursor: pointer;
    float: right;
    font-size: 18px;
    font-weight: bold;
    margin: 5px 10px 0 0;
}


.drop_con{ float:left; position:relative; width:700px; height:125px; margin-left:30px;}

.dropItem{ border: 1px solid #003366;
    display: inline;
    float: left;
    height: 120px;
    margin: 0 2px;
    width: 130px; background:#ffffff;}

.corctFB{ display:none; font-size:13px;}

.dragarea{ float: left;
    height: auto;
    margin: 15px 0 15px 30px;
    width: 690px;}

.drag5_div{ clear:left;}

.drag_con{ float:left; display:inline; width:155px; margin-bottom: 15px; border:2px solid #4F81BC; padding:3px; margin:3px; background:#D0D7E7;}

.drag_head,.drag_head2{ float:left; text-align:center; display:block; font-weight:bold; width:155px;}

.drag_cpyrt{ float:left; display:block; text-align:center; font-size:12px; width:155px}
.drag_cpyrt2{ float:left; display:block; text-align:center; font-size:12px; width:155px}

.dragItem{ margin:0 auto; display:block; cursor:pointer;}

.drag_con1{ width:212px; float:left; display:inline; margin-bottom: 15px; border:2px solid #4F81BC; padding:3px; margin:3px; background:#D0D7E7;}

.drag_con1 .drag_head, .drag_con1 .drag_cpyrt { width:212px; }
.drag_cpyrt2 { width:326px; }
.drag_head2 { width:326px; }
.drag_con2{ width:326px; float:left; display:inline; margin-bottom: 15px; border:2px solid #4F81BC; padding:3px; margin:3px; background:#D0D7E7;}

.drag_con2 .drag_head, .drag_con2 .drag_cpyrt .drag_cpyrt2{ width:260px; }

.print_btn{ float:right; width:135px; line-height:30px; color:#ffffff!important; border:2px solid #ffffff; background:#C0504D; font-weight:bold; text-align:center;  margin: 10px 30px 0 0; cursor:pointer; text-decoration:none;}

.drag_con1 div{ float:left; margin:5px 0 0 0; width:212px; height:88px;}
.drag_con2 div{ float:left; margin:5px 0 0 0; width:326px; height:113px;}
.drag_con div{ float:left; margin:5px 0 0 0; width:155px; height:88px;}

.restart{ float:right; width:100px; line-height:30px; color:#ffffff!important; border:2px solid #ffffff; background:#C0504D; font-weight:bold; text-align:center;  margin: 10px 30px 0 0; cursor:pointer; text-decoration:none;}
.drag1{height:131px!important;}

.drag3{height:131px!important;}

.drag3 img, .drag1 img{ padding-top:10px;}

.dropItem img{ display:block; margin:0 auto;}