﻿.panel1_txt {
	margin-top: 10px;
	font-size: 14px;
	line-height: 18px;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 7px;
}
.tabs div.panel {
	border: solid 0px #e8e8e8 !important;
}
.main {
	font-size: 12px;
	font-style: italic;
	float: left;
	color: #881401;
}
.ui_flip {
	height: 300px;
	width: 280px;
	border: 3px solid #ffffff;
	margin-left: -9px;
}
.carousel .cslider .card {
	margin-top: 52px;
	height: 415px !important;
}
.carousel {
	width: 700px;
	height: 300px;
	margin: -34px auto;
}
.flip_txt {
	font-size: 12px;
	line-height: 12px;
	margin-left: 7px;
	margin-top: -290px;
	width: 257px;
	text-align: left;
}
.copyright {
	font-size: 12px;
	line-height: 10px;
	display: block;
	margin-top: 309px;
	margin-left: 36px;
	width: 204px;
}
.main {
	font-size: 12px;
	font-style: italic;
	float: left;
	margin-left: 75px;
	margin-top: 10px;
	width: 580px;
	color: #881401;
}
.ui_interactive {
	height: 428px!important;
}
.ui_flip {
	border: 3px solid #971a24;
}
.ui_flip p.flip-back {
	font-size: 16px;
	margin: 10px 15px !important;
	text-align: left;
}
.ui_flip p {
	padding: 0 5px;
}
.ui_card {
	width: 100% !important;
	height: 100% !important;
}
carousel .cslider .card {
	background-color: #F7F7F7;
	border: solid 1px #e8e8e8;
	width: 500px;
	height: 428px !important;
	padding: 10px;
	float: left;
	margin-right: 10px;
}
.carousel a:hover {
	color: #6d4672;
	color: #333333 !important;
}
.carousel .carousel-prev {
	display: block;
	position: absolute;
	left: -40px;
	top: 150px;
	font-size: 40px;
	width: 48px;
	height: 48px;
}
.carousel-prev {
	display: block;
	position: absolute;
	left: -40px;
	top: 150px;
	font-size: 40px;
	width: 48px;
	height: 48px;
}
.carousel-prev {
	text-decoration: none;
}
.carousel .carousel-next {
	display: block;
	position: absolute;
	right: -45px;
	top: 150px;
	font-size: 40px;
	width: 48px;
	height: 48px;
}
.carousel-next {
	display: block;
	position: absolute;
	right: -45px;
	top: 150px;
	font-size: 40px;
	width: 48px;
	height: 48px;
}
.carousel .container {
	/*width: 100%;
height: 100%;*/
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.container {
	padding-top: 0px;
	margin-left: 0px;
}
.carousel {
	width: 700px;
	height: 300px;
	margin: 0;
	margin-bottom: 20px;
	position: relative;
	padding: 0;
}
.carousel {
	line-height: 1;
}
.container {
	width: auto;
	width: 520px;
}
.carousel-control.right {
	display: block;
	position: absolute;
	right: 10px;
	top: 175px;
	font-size: 48px;
	width: 48px;
	height: 48px;
}
.carousel-control {
	background: rgba(34, 34, 34, 0);
	color: #08c;
	opacity: 1.5;
	border: 3px solid rgba(255, 255, 255, 0);
	font-size: 48px;
}
.carousel-inner {
	width: 600px !important;
	margin:50px auto 0 auto;
}
.item {
	width: 600px;
}
.item>div {
	float: left;
	margin-left: 8px;
	margin-right: 40px;
}
.audioTip {
  visibility: visible;
}
